Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix: job ordering for hs, initial commit
  src/v0/destinations/hs/transform.js
Due: js

feat: onboard Yandex Metrica Offline Events Destination (#3232)
  src/cdk/v2/destinations/yandex_metrica_offline_events/config.js
  src/cdk/v2/destinations/yandex_metrica_offline_events/procWorkflow.yaml
  src/cdk/v2/destinations/yandex_metrica_offline_events/utils.js
  test/integrations/destinations/yandex_metrica_offline_events/processor/data.ts
Due: js

feat(refiner): component test refactor (#3221)
  test/integrations/destinations/refiner/processor/data.ts
  test/integrations/destinations/refiner/processor/groupTestData.ts
  test/integrations/destinations/refiner/processor/identifyTestData.ts
  test/integrations/destinations/refiner/processor/pageTestData.ts
  test/integrations/destinations/refiner/processor/trackTestData.ts
  test/integrations/destinations/refiner/processor/validationTestData.ts
Due: none

fix: braze dedup for non-billable attributes
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/util.js
  test/integrations/destinations/braze/router/data.ts
Due: js

chore(release): 1.64.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: braze dedup update test description
  src/v0/destinations/braze/braze.util.test.js
Due: js

chore: update changelog
  CHANGELOG.md
Due: none

feat: unit test cases with minor edits
  src/cdk/v2/destinations/emersys/config.js
  src/cdk/v2/destinations/emersys/procWorkflow.yaml
  src/cdk/v2/destinations/emersys/utils.js
  src/cdk/v2/destinations/emersys/utils.test.js
  src/constants/destinationCanonicalNames.js
Due: js

fix: multiple event mappings in ortto
  src/cdk/v2/destinations/ortto/procWorkflow.yaml
  test/integrations/destinations/ortto/processor/data.ts
Due: none

feat: custom property support AWIN
  src/v0/destinations/awin/transform.js
  src/v0/destinations/awin/utils.js
  src/v0/destinations/awin/utils.test.js
  test/integrations/destinations/awin/data.ts
Due: js

feat: adding awin property pattern check logic
  src/v0/destinations/awin/utils.js
  src/v0/destinations/awin/utils.test.js
Due: js

feat: custom property support AWIN (#3325)
  src/v0/destinations/awin/transform.js
  src/v0/destinations/awin/utils.js
  src/v0/destinations/awin/utils.test.js
  test/integrations/destinations/awin/data.ts
Due: js

fix: emersys unit test cases
  src/cdk/v2/destinations/emersys/config.js
  src/cdk/v2/destinations/emersys/utils.js
  src/cdk/v2/destinations/emersys/utils.test.js
Due: js

chore: changelog edit for awin
  CHANGELOG.md
Due: none

fix: braze handle null for non billable attributes
  src/v0/destinations/braze/util.js
Due: js

fix: algolia add validation for currency fields
  src/cdk/v2/destinations/algolia/procWorkflow.yaml
  src/v0/destinations/algolia/util.js
  test/integrations/destinations/algolia/processor/data.ts
Due: js

fix: minor edit
  test/integrations/destinations/algolia/processor/data.ts
Due: none

fix: adding unit test cases for validate payload
  src/v0/destinations/algolia/util.js
  src/v0/destinations/algolia/util.test.js
Due: js

fix: algolia add validation for currency fields (#3329)
  src/cdk/v2/destinations/algolia/procWorkflow.yaml
  src/v0/destinations/algolia/util.js
  src/v0/destinations/algolia/util.test.js
  test/integrations/destinations/algolia/processor/data.ts
Due: js

chore: test
  sample.env
Due: none

fix: adding support for track call
  src/cdk/v2/destinations/emersys/procWorkflow.yaml
  src/cdk/v2/destinations/emersys/utils.js
  test/integrations/destinations/emersys/router/data.ts
Due: js

chore: fixed the checkout action in build docker image
  .github/workflows/build-push-docker-image.yml
Due: none

chore: added reconcile fn for openfaas fn pods
  src/util/customTransformer-faas.js
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
  test/__tests__/user_transformation.test.js
Due: js

fix: adding network hand;er support
  src/cdk/v2/destinations/emarsys/config.js
  src/cdk/v2/destinations/emarsys/procWorkflow.yaml
  src/cdk/v2/destinations/emarsys/rtWorkflow.yaml
  src/cdk/v2/destinations/emarsys/utils.js
  src/cdk/v2/destinations/emarsys/utils.test.js
  src/services/destination/nativeIntegration.ts
  src/v1/destinations/emarsys/networkHandler.js
Due: js, ts

fix: track batch handled
  src/cdk/v2/destinations/emarsys/utils.js
  src/cdk/v2/destinations/emarsys/utils.test.js
  src/constants/destinationCanonicalNames.js
  src/v1/destinations/emarsys/networkHandler.js
  test/integrations/destinations/emarsys/router/data.ts
Due: js

fix: latest changes
  src/cdk/v2/destinations/emarsys/config.js
  src/cdk/v2/destinations/emarsys/rtWorkflow.yaml
  src/cdk/v2/destinations/emarsys/utils.js
  test/integrations/destinations/emarsys/router/data.ts
Due: js

fix: auth0 error handling
  src/v0/sources/auth0/transform.js
  test/__tests__/data/auth0_source.json
Due: js

refactor: remove cdk v1 imports
  src/cdk/v2/destinations/emarsys/utils.js
Due: js

fix: onboard custom alais support for braze
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/transform.js
  src/v0/destinations/braze/util.js
  test/integrations/destinations/braze/processor/data.ts
Due: js

fix: identify batching final
  src/cdk/v2/destinations/emarsys/procWorkflow.yaml
  src/cdk/v2/destinations/emarsys/rtWorkflow.yaml
  src/cdk/v2/destinations/emarsys/utils.js
  src/cdk/v2/destinations/emarsys/utils.test.js
  src/constants/destinationCanonicalNames.js
  src/v0/destinations/emarsys/deleteUsers.js
  test/integrations/destinations/emarsys/router/data.ts
Due: js

feat: add json-data type support in redis
  src/v0/destinations/redis/transform.js
Due: js

fix: update the return data-structure
  src/v0/destinations/redis/transform.js
Due: js

feat: generate anonymousId and move to component testcases
  src/v0/sources/auth0/transform.js
  test/__tests__/auth0_source.test.js
  test/__tests__/data/auth0_source.json
  test/integrations/sources/auth0/data.ts
Due: js

fix: update contract for JSON data-type in redis
  src/v0/destinations/redis/transform.js
Due: js

chore: remove unnecessary comments
  src/v0/destinations/redis/transform.js
Due: js

chore: add logging for cm360
  src/controllers/delivery.ts
  src/interfaces/DestinationService.ts
  src/services/destination/nativeIntegration.ts
  src/v1/destinations/campaign_manager/networkHandler.js
Due: js, ts

chore: add logging for cm360
  src/controllers/delivery.ts
  src/services/destination/nativeIntegration.ts
Due: ts

chore: test case fix
  src/v1/destinations/campaign_manager/networkHandler.js
  test/integrations/destinations/campaign_manager/dataDelivery/business.ts
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
