Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: removed cart object
  test/integrations/sources/cordial/data.ts
Due: none

chore: add generated tests for gainsightpx
  go/webhook/testcases/testdata/testcases/gainsightpx/survey_track_call____multi_question_survey_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/survey_track_call____nps_.json
Due: none

chore: lint errors
  test/scripts/generateJson.ts
Due: none

fix: queryID aloglia discrepancy (#3597)
  src/cdk/v2/destinations/algolia/procWorkflow.yaml
  test/integrations/destinations/algolia/processor/data.ts
Due: none

chore: test cases updated and few minor fixes
  src/v1/sources/cordial/mapping.json
  src/v1/sources/cordial/transform.js
  test/integrations/sources/cordial/data.ts
Due: js

Include source attribute for identify messages
  src/cdk/v2/destinations/koala/procWorkflow.yaml
  test/integrations/destinations/koala/processor/data.ts
Due: none

chore: resolving comments
  src/cdk/v2/destinations/intercom/utils.js
Due: js

fix: added support for ga4 v2 hybrid mode (#3586)
  src/constants/destinationCanonicalNames.js
  src/v0/destinations/ga4/transform.js
  src/v0/destinations/ga4/utils.js
  src/v0/destinations/ga4_v2/customMappingsHandler.js
  src/v0/destinations/ga4_v2/transform.ts
  test/integrations/destinations/ga4_v2/processor/customMappings.ts
  test/integrations/testUtils.ts
Due: js, ts

fix: fb custom audience version upgrade
  src/v0/destinations/fb_custom_audience/config.js
  src/v0/destinations/fb_custom_audience/util.test.js
  test/integrations/destinations/fb_custom_audience/router/data.ts
Due: js

fix: fb pixel and fb app events version upgrade
  src/v0/destinations/facebook_pixel/config.js
  src/v0/destinations/fb/config.js
  test/integrations/destinations/facebook_pixel/processor/ecommTestData.ts
  test/integrations/destinations/facebook_pixel/processor/validationTestData.ts
  test/integrations/destinations/facebook_pixel/router/data.ts
Due: js

chore(release): 1.72.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: facebook conversion version upgrade
  src/v0/destinations/facebook_conversions/config.js
  test/integrations/destinations/facebook_conversions/processor/data.ts
  test/integrations/destinations/facebook_conversions/router/data.ts
Due: js

fix: batch logic to be more clear
  src/v0/destinations/klaviyo/batchUtil.js
  src/v0/destinations/klaviyo/batchUtil.test.js
  src/v0/destinations/klaviyo/klaviyoUtil.test.js
  src/v0/destinations/klaviyo/transformV2.js
  src/v0/destinations/klaviyo/util.test.js
  test/integrations/destinations/klaviyo/router/dataV2.ts
Due: js

fix: add parent namespace and cluster information
  src/util/openfaas/index.js
Due: js

chore: lint errors fix
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: test cases updated for d and _id
  src/v1/sources/cordial/transform.js
  test/integrations/sources/cordial/data.ts
Due: js

feat: onboard cordial source (#3593)
  src/v1/sources/cordial/config.js
  src/v1/sources/cordial/mapping.json
  src/v1/sources/cordial/transform.js
  test/integrations/sources/cordial/data.ts
Due: js

chore: add support for query parameters - chore: add tests generated for cordial source - chore: update headers method in adjust source
  go/go.sum
  go/webhook/testcases/testcases.go
  go/webhook/testcases/testdata/testcases/adjust/simple_track_call.json
  go/webhook/testcases/testdata/testcases/cordial/multiple_object_input_event_with_batched_payload.json
  go/webhook/testcases/testdata/testcases/cordial/simple_single_object_input_event_with_no_cid.json
  go/webhook/testcases/testdata/testcases/cordial/simple_single_object_input_event_with_normal_channel_and_action.json
Due: none

chore: log map
  go/webhook/testcases/testdata/testcases/gainsightpx/survey_track_call____multi_question_survey_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/survey_track_call____nps_.json
  src/warehouse/v1/util.js
Due: js

fix: apply map on transformer table
  src/warehouse/v1/util.js
Due: js

fix: skip tests
  .github/workflows/build-push-docker-image.yml
Due: none

fix: table name
  src/warehouse/v1/util.js
  test/__tests__/warehouse.test.js
Due: js

chore: address comments
  src/v0/destinations/klaviyo/batchUtil.js
  src/v0/destinations/klaviyo/batchUtil.test.js
Due: js

fix: rakuten for amount list
  src/cdk/v2/destinations/rakuten/utils.js
  test/integrations/destinations/rakuten/processor/track.ts
Due: js

fix: customerIo page call invalid name
  src/v0/destinations/customerio/util.js
  test/integrations/destinations/customerio/processor/data.ts
Due: js

Revert "fix: rakuten for amount list"
  src/cdk/v2/destinations/rakuten/utils.js
  test/integrations/destinations/rakuten/processor/track.ts
Due: js

fix: resolving comment
  src/cdk/v2/destinations/intercom/utils.js
Due: js

fix: customerio page undefined name (#3613)
  src/v0/destinations/customerio/util.js
  test/integrations/destinations/customerio/processor/data.ts
Due: js

fix: resolving comment
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  src/cdk/v2/destinations/intercom/utils.js
Due: js

fix: added env values for gunicorn workers and threads in openfaas
  src/util/openfaas/index.js
Due: js

fix: add gunicorn values in env vars
  src/util/openfaas/index.js
Due: js

fix: add env dns resolver
  src/util/openfaas/index.js
Due: js

chore: generate gainsightpx tests
  go/webhook/testcases/testdata/testcases/gainsightpx/custom_track_call_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/engagement_track_call_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/feature_match_track_call_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/feedback_track_call_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/identify_call.json
  go/webhook/testcases/testdata/testcases/gainsightpx/no_match_track_call_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/segment_io_s2_s_track_call_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/segment_match_track_call_and_no_user_id_and_yes_anonymous_id_as_event_session_id.json
  go/webhook/testcases/testdata/testcases/gainsightpx/survey_track_call____multi_question_survey_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/survey_track_call____nps_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/survey_track_call_to_multi_question_survey_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/survey_track_call_to_nps_.json
Due: none

chore: lint fixes - 1
  go/webhook/testcases/testdata/testcases/auth0/add_member_to_an_organization.json
  go/webhook/testcases/testdata/testcases/auth0/empty_batch.json
  go/webhook/testcases/testdata/testcases/auth0/missing_user_id.json
  go/webhook/testcases/testdata/testcases/auth0/missing_user_id_for_all_the_requests_in_a_batch.json
  go/webhook/testcases/testdata/testcases/auth0/successful_signup.json
  go/webhook/testcases/testdata/testcases/auth0/update_tenant_settings.json
  go/webhook/testcases/testdata/testcases/gainsightpx/custom_track_call_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/engagement_track_call_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/feature_match_track_call_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/feedback_track_call_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/identify_call.json
  go/webhook/testcases/testdata/testcases/gainsightpx/no_match_track_call_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/segment_io_s2_s_track_call_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/segment_match_track_call_and_no_user_id_and_yes_anonymous_id_as_event_session_id.json
  go/webhook/testcases/testdata/testcases/gainsightpx/survey_track_call____multi_question_survey_.json
  go/webhook/testcases/testdata/testcases/gainsightpx/survey_track_call____nps_.json
Due: none

fix: add line-break for passing test-case for gainsightpx
  go/webhook/testcases/testdata/testcases/gainsightpx/no_match_track_call_.json
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
