Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: refactor, address comment
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

fix: airship array handling (#4011)
  src/constants/destinationCanonicalNames.js
  src/v0/destinations/airship/transform.js
  src/v0/destinations/airship/utils.test.ts
  src/v0/destinations/airship/utils.ts
  test/integrations/destinations/airship/processor/business.ts
  test/integrations/destinations/airship/processor/data.ts
Due: js, ts

chore: add stat for non stitched events
  src/util/prometheus.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

chore: add transformation tags to input and output event stats (#3984)
  src/services/userTransform.ts
  src/util/prometheus.js
Due: js, ts

chore: update stat
  src/util/prometheus.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

chore: update stat
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

chore: remove unused stat
  src/util/prometheus.js
Due: js

fix: update google ads api version for gaoc
  src/v0/destinations/google_adwords_offline_conversions/config.js
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_offline_conversions/network.ts
  test/integrations/destinations/google_adwords_offline_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
Due: js

chore: add support for hashed cart token as anonymousid
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

chore: cart token hash in all events traits
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

chore: add tests
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  test/integrations/sources/shopify/mocks.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
Due: js

chore: use uuid from integrations lib
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
Due: js

chore: update lib version used
  package-lock.json
  package.json
Due: none

chore: add unit tests
  src/v0/destinations/google_adwords_offline_conversions/utils.test.js
Due: js

fix: update google ads api version for gaoc (#4047)
  src/v0/destinations/google_adwords_offline_conversions/config.js
  src/v0/destinations/google_adwords_offline_conversions/utils.test.js
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_offline_conversions/network.ts
  test/integrations/destinations/google_adwords_offline_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
Due: js

chore(release): 1.90.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
