Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: improve mp docs
  src/v0/destinations/mp/README.md
  src/v0/destinations/mp/docs/retl.md
Due: none

chore: improve customerio docs
  src/v0/destinations/customerio/README.md
  src/v0/destinations/customerio/docs/businesslogic.md
Due: none

fix: improve gzip creation function
  src/adapters/network.js
  src/adapters/network.test.js
  src/services/delivertTest/deliveryTest.ts
  src/v0/destinations/intercom/networkHandler.js
  src/v0/destinations/pardot/networkHandler.js
  src/v0/destinations/rakuten/networkHandler.js
  src/v0/destinations/snapchat_custom_audience/networkHandler.js
  src/v0/destinations/the_trade_desk/networkHandler.js
  test/integrations/destinations/mp/dataDelivery/proxyV1.ts
Due: js, ts

chore: add config restricted oct 2024 revision for klaviyo subscriptions
  src/v0/destinations/klaviyo/batchUtil.js
Due: js

chore: optimize usage of deepFreeze in compaction middlewares
  src/middlewares/destTransformCompactedPayloadV1.ts
  src/middlewares/routerTransformCompactedPayloadV1.ts
Due: ts

fix: handle newline for slack (#4357)
  src/v0/destinations/slack/transform.js
  test/integrations/destinations/slack/processor/data.ts
Due: js

chore(release): 1.101.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: add config restricted oct 2024 revision for klaviyo
  src/util/prometheus.js
  src/v0/destinations/klaviyo/config.js
  src/v0/destinations/klaviyo/util.js
  test/integrations/destinations/klaviyo/processor/identifyTestDataV2.ts
Due: js

fix: klaviyo add log for error scenario
  src/v0/destinations/klaviyo/util.js
Due: js

Revert "Revert "Merge branch 'develop' into main""
  src/types/rudderEvents.ts
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/customerio_audience/type.ts
  src/v0/destinations/customerio_audience/utils.test.ts
  src/v0/destinations/customerio_audience/utils.ts
  test/integrations/destinations/customerio_audience/router/data.ts
Due: ts

fix: klaviyo error logging
  src/v0/destinations/klaviyo/util.js
Due: js

chore: use batch processing in processor transformations
  src/index.ts
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  test/integrations/component.test.ts
  test/integrations/destinations/ga4/mocks.ts
  test/integrations/destinations/ga4/processor/validationTestData.ts
  test/integrations/destinations/moengage/processor/data.ts
  test/integrations/destinations/moengage/router/data.ts
  test/integrations/destinations/mp/processor/data.ts
Due: ts

chore: use batch processing in other transformations too
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
Due: ts

chore: dynamic config batch processing
  src/controllers/__tests__/destination.test.ts
  src/controllers/destination.ts
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/util/dynamicConfigParser.test.ts
  src/util/dynamicConfigParser.ts
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js, ts

chore: add safe batch processing to avoid blocking in highly batched destinations
  src/cdk/v2/destinations/bloomreach_catalog/rtWorkflow.yaml
  src/cdk/v2/destinations/bloomreach_catalog/transformRecord.ts
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/destinations/iterable/transform.js
  src/v0/destinations/mailchimp/transform.js
  src/v0/util/index.test.js
  test/integrations/destinations/mailchimp/router/data.ts
Due: js, ts

chore: remove promise.all to process calls synchronously
  src/v0/destinations/iterable/deleteUsers.js
Due: js

chore: optimize usage of deepFreeze in compaction middlewares (#4374)
  src/middlewares/destTransformCompactedPayloadV1.ts
  src/middlewares/routerTransformCompactedPayloadV1.ts
Due: ts

refactor: use forEach in batches for iterable delete users
  package-lock.json
  package.json
  src/v0/destinations/iterable/deleteUsers.js
Due: js

feat: use account information on zoho
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  src/cdk/v2/utils.ts
  src/constants/destinationCanonicalNames.js
  src/features.ts
  src/types/controlPlaneConfig.ts
  test/integrations/destinations/zoho/router/account.ts
  test/integrations/destinations/zoho/router/data.ts
Due: js, ts

chore: add test cases for zoho_dev
  test/integrations/destinations/zoho/dataDelivery/data.ts
  test/integrations/destinations/zoho/dataDelivery/zoho_dev.ts
  test/integrations/destinations/zoho/router/account.ts
  test/integrations/destinations/zoho/router/zoho_dev.ts
Due: none

chore: move test cases to different folder and refactor getRegion function
  src/cdk/v2/destinations/zoho/utils.js
  src/types/controlPlaneConfig.ts
  test/integrations/destinations/zoho/router/account.ts
  test/integrations/destinations/zoho/router/zoho_dev.ts
  test/integrations/destinations/zoho_dev/dataDelivery/data.ts
  test/integrations/destinations/zoho_dev/network.ts
  test/integrations/destinations/zoho_dev/router/data.ts
Due: js, ts

feat: add networkHandler to zoho_dev
  src/services/destination/nativeIntegration.ts
Due: ts

chore: fix order of parameter of deduceModuleInfoV2 method
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
Due: js

feat: upgrade Google Ads Remarketing Lists API from v18 to v19
  package-lock.json
  package.json
  src/v0/destinations/google_adwords_remarketing_lists/config.js
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_remarketing_lists/network.ts
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
Due: js

chore: unused import
  test/integrations/component.test.ts
Due: none

chore: use batch processing in transformations (#4363)
  src/controllers/__tests__/destination.test.ts
  src/controllers/destination.ts
  src/index.ts
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/util/dynamicConfigParser.test.ts
  src/util/dynamicConfigParser.ts
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/component.test.ts
  test/integrations/destinations/ga4/mocks.ts
  test/integrations/destinations/ga4/processor/validationTestData.ts
  test/integrations/destinations/moengage/processor/data.ts
  test/integrations/destinations/moengage/router/data.ts
  test/integrations/destinations/mp/processor/data.ts
Due: js, ts

feat: update contract of account and add test cases for getRegion function
  src/cdk/v2/destinations/zoho/utils.test.js
  src/types/controlPlaneConfig.ts
  test/integrations/destinations/zoho/router/account.ts
  test/integrations/destinations/zoho/router/data.ts
Due: js, ts

fix: test
  src/v0/util/index.test.js
Due: js

fix: googlesheets errors mess up metadata
  src/v0/destinations/googlesheets/transform.js
  test/integrations/destinations/googlesheets/router/data.ts
Due: js

chore: blucore add internal doc and migrate test
  src/cdk/v2/destinations/bluecore/README.md
  src/cdk/v2/destinations/bluecore/docs/businesslogic.md
  src/cdk/v2/destinations/bluecore/docs/retl.md
  test/integrations/component.test.ts
  test/integrations/destinations/bluecore/common.ts
  test/integrations/destinations/bluecore/data.ts
  test/integrations/destinations/bluecore/ecommTestData.ts
  test/integrations/destinations/bluecore/identifyTestData.ts
  test/integrations/destinations/bluecore/trackTestData.ts
  test/integrations/destinations/bluecore/validationTestData.ts
Due: none

chore: misc
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

fix: blucore optin event mapping
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreOptinEventConfig.json
  src/cdk/v2/destinations/bluecore/utils.js
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

fix: readme
  src/cdk/v2/destinations/bluecore/README.md
  src/cdk/v2/destinations/bluecore/docs/businesslogic.md
  src/cdk/v2/destinations/bluecore/docs/retl.md
Due: none

fix(bluecore): address PR #4353 reviewer feedback and API documentation corrections
  src/cdk/v2/destinations/bluecore/README.md
  src/cdk/v2/destinations/bluecore/docs/businesslogic.md
  src/cdk/v2/destinations/bluecore/docs/retl.md
Due: none

chore: update docs
  src/cdk/v2/destinations/bluecore/README.md
  src/cdk/v2/destinations/bluecore/docs/businesslogic.md
  src/cdk/v2/destinations/bluecore/docs/retl.md
Due: none

chore: add subscription event
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
