Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

refactor: libphonenumber-js upgrade libphonenumber-js to latest verison
  package-lock.json
  package.json
Due: none

chore: onboard am to proxy (#4110)
  src/adapters/networkHandlerFactory.js
  src/v0/destinations/am/networkHandler.js
  test/integrations/destinations/am/dataDelivery/data.ts
  test/integrations/destinations/am/network.ts
Due: js

chore: add au data center
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/util.js
  test/integrations/destinations/braze/processor/data.ts
Due: js

chore: shopify v2 migration
  src/sources/shopify/tracker/shopify_redis.util.test.js
  src/sources/shopify/transform.js
  src/sources/shopify/webhookEventsMapping/identifyMapping.json
  src/sources/shopify/webhookTransformations/serverSideTransform.js
  src/sources/shopify/webpixelTransformations/pixelUtils.js
Due: js

chore: shopify redis test cases moved to source
  src/sources/shopify/tracker/shopify_redis.util.test.js
  test/integrations/component.test.ts
Due: js

chore: resolved small code smells
  src/sources/shopify/tracker/config.js
  src/sources/shopify/tracker/transform.js
Due: js

chore: remove unnecessary ecom topics
  src/sources/shopify/tracker/config.js
Due: js

chore: reduce cognetive complexity
  src/sources/shopify/tracker/transform.js
Due: js

chore: rename function appropriately
  src/sources/shopify/transform.js
Due: js

chore: clean up source version specific code everywhere
  src/controllers/__tests__/source.test.ts
  src/controllers/source.ts
  src/controllers/util/conversionStrategies/abstractions.ts
  src/controllers/util/conversionStrategies/strategyDefault.ts
  src/controllers/util/conversionStrategies/strategyV0ToV1.ts
  src/controllers/util/conversionStrategies/strategyV1ToV0.ts
  src/controllers/util/conversionStrategies/strategyV1ToV2.ts
  src/controllers/util/conversionStrategies/strategyV2ToV0.ts
  src/controllers/util/conversionStrategies/strategyV2ToV1.ts
  src/controllers/util/index.test.ts
  src/controllers/util/index.ts
  src/controllers/util/versionConversion.ts
  src/features.ts
  src/helpers/__tests__/fetchHandlers.test.ts
  src/helpers/fetchHandlers.ts
  src/interfaces/SourceService.ts
  src/middlewares/routeActivation.ts
  src/routes/source.ts
  src/services/__tests__/misc.test.ts
  src/services/misc.ts
  src/services/source/__tests__/nativeIntegration.test.ts
  src/services/source/nativeIntegration.ts
  test/apitests/data_scenarios/source/v1/pipedream.json
  test/apitests/data_scenarios/source/v2/failure.json
  test/apitests/data_scenarios/source/v2/successful.json
  test/apitests/service.api.test.ts
  test/integrations/component.test.ts
  test/integrations/sources/shopify/webhookTestScenarios/IdentifyTests.ts
  test/integrations/testTypes.ts
Due: ts

chore: features upgradedToSourceTransformV2 is needed for now
  src/features.ts
Due: ts

chore: update contributing guide (#4184)
  CONTRIBUTING.md
Due: none

chore: remove unused config
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/utils.js
Due: js

chore: fix tests
  src/cdk/v2/destinations/zoho/transformRecordsV2.test.js
Due: js

chore: clean up old zoho logic after releasing vdmv2
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/common.ts
  test/integrations/destinations/zoho/router/deletion.ts
  test/integrations/destinations/zoho/router/upsert.ts
Due: js

chore: remove fbc fbp from custom data
  src/v0/destinations/facebook_conversions/config.js
  test/integrations/destinations/facebook_conversions/processor/data.ts
  test/integrations/destinations/facebook_conversions/router/data.ts
Due: js

chore: update create branch workflow version to sha (#4182)
  .github/workflows/create-hotfix-branch.yml
Due: none

chore: fb pixel mapping update
  src/v0/destinations/facebook_pixel/config.js
  src/v0/destinations/facebook_pixel/data/FBPIXELUserDataConfig.json
  test/integrations/destinations/facebook_pixel/processor/identifyTestData.ts
  test/integrations/destinations/facebook_pixel/processor/pageScreenTestData.ts
Due: js

feat: added india residency support in mixpanel destination
  src/v0/destinations/mp/config.js
  src/v0/destinations/mp/deleteUsers.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
Due: js

chore: remove v2 prefix
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/transformRecords.test.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/common.ts
  test/integrations/destinations/zoho/router/deletion.ts
  test/integrations/destinations/zoho/router/upsert.ts
Due: js

chore: remove v2 prefix
  test/integrations/destinations/zoho/router/deletion.ts
  test/integrations/destinations/zoho/router/upsert.ts
Due: none

chore(test): add tests for shopify v2 bugbash fixes (#4163)
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/ProductEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/OrderEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/userIdentifyTests.ts
Due: none

fix: update pixel app specific transformations (#4173)
  src/sources/shopify/config.js
  src/sources/shopify/tracker/transform.js
  src/sources/shopify/webhookEventsMapping/addressMapping.json
  src/sources/shopify/webhookEventsMapping/identifyMapping.json
  src/sources/shopify/webhookTransformations/serverSideTransform.js
  src/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/sources/shopify/webhookTransformations/serverSideUtlis.js
  src/sources/shopify/webpixelTransformations/pixelTransform.js
  src/sources/shopify/webpixelTransformations/pixelUtils.js
  src/sources/shopify/webpixelTransformations/pixelUtils.test.js
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/ProductEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/OrderEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/userIdentifyTests.ts
Due: js

chore: moving shopify tests to v2 (#4171)
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
Due: none

chore: shopify v2 migration
  src/controllers/util/index.ts
  src/services/__tests__/misc.test.ts
  src/sources/shopify/config.js
  src/sources/shopify/pixelEventsMappings/campaignObjectMappings.json
  src/sources/shopify/pixelEventsMappings/cartViewedEventMapping.json
  src/sources/shopify/pixelEventsMappings/checkoutStartedCompletedEventMapping.json
  src/sources/shopify/pixelEventsMappings/contextualFieldMapping.json
  src/sources/shopify/pixelEventsMappings/productListViewedEventMapping.json
  src/sources/shopify/pixelEventsMappings/productToCartEventMapping.json
  src/sources/shopify/pixelEventsMappings/productViewedEventMapping.json
  src/sources/shopify/tracker/config.js
  src/sources/shopify/tracker/data/identifyMapping.json
  src/sources/shopify/tracker/data/lineItemsMapping.json
  src/sources/shopify/tracker/data/mapping.json
  src/sources/shopify/tracker/data/productMapping.json
  src/sources/shopify/tracker/shopify.util.test.js
  src/sources/shopify/tracker/shopify_redis.util.test.js
  src/sources/shopify/tracker/shopify_source.json
  src/sources/shopify/tracker/transform.js
  src/sources/shopify/tracker/util.js
  src/sources/shopify/transform.js
  src/sources/shopify/transformPixel.js
  src/sources/shopify/utils.js
  src/sources/shopify/utils.test.js
  src/sources/shopify/webhookEventsMapping/identifyMapping.json
  src/sources/shopify/webhookEventsMapping/lineItemsMapping.json
  src/sources/shopify/webhookEventsMapping/mapping.json
  src/sources/shopify/webhookEventsMapping/productMapping.json
  src/sources/shopify/webhookTransformations/serverSideTransform.js
  src/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/sources/shopify/webhookTransformations/serverSideUtlis.js
  src/sources/shopify/webpixelTransformations/pixelTransform.js
  src/sources/shopify/webpixelTransformations/pixelTransform.redisCartToken.test.js
  src/sources/shopify/webpixelTransformations/pixelUtils.js
  src/sources/shopify/webpixelTransformations/pixelUtils.test.js
  src/util/redis/redisConnector.test.js
  src/v1/sources/shopify/transform.js
  test/integrations/component.test.ts
Due: js, ts

chore: remove customer create update webhooks shopify (#4169)
  src/sources/shopify/webhookTransformations/serverSideTransform.js
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/webhookTestScenarios/IdentifyTests.ts
Due: js

chore: remove deleted files in base branch
  test/integrations/sources/shopify/webhookTestScenarios/IdentifyTests.ts
Due: none

chore: require v2 enabled flag until release
  src/features.ts
Due: ts

fix: remove all readOnly properties from payload
  src/v0/destinations/hs/HSTransform-v1.js
  src/v0/destinations/hs/HSTransform-v2.js
  src/v0/destinations/hs/config.js
  src/v0/destinations/hs/transform.js
  src/v0/destinations/hs/util.js
  src/v0/destinations/hs/util.test.js
  test/integrations/destinations/hs/network.ts
Due: js

chore: refactor hs processidentifyv2
  src/v0/destinations/hs/HSTransform-v2.js
  src/v0/destinations/hs/util.js
  src/v0/destinations/hs/util.test.js
Due: js

fix: mapping of android app version code in mixpanel destination (#4188)
  src/v0/destinations/mp/data/MPProfilePropertiesAndroid.json
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/processor/data.ts
Due: js

fix: test
  src/v0/destinations/hs/util.test.js
Due: js

fix: misc
  src/v0/destinations/hs/HSTransform-v2.js
Due: js

feat: added india residency support in mixpanel destination (#4191)
  src/v0/destinations/mp/config.js
  src/v0/destinations/mp/deleteUsers.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
Due: js

revert "chore: remove fbc fbp from custom data"
  src/v0/destinations/facebook_conversions/config.js
  test/integrations/destinations/facebook_conversions/processor/data.ts
  test/integrations/destinations/facebook_conversions/router/data.ts
Due: js

chore: remove exclusion of fbc fbp
  src/v0/destinations/facebook_pixel/config.js
  test/integrations/destinations/facebook_pixel/processor/pageScreenTestData.ts
Due: js

fix: remove hubspot system defined field from payload
  src/v0/destinations/hs/HSTransform-v1.js
  src/v0/destinations/hs/HSTransform-v2.js
  src/v0/destinations/hs/config.js
  src/v0/destinations/hs/util.js
  src/v0/destinations/hs/util.test.js
  test/integrations/destinations/hs/maskedSecrets.ts
  test/integrations/destinations/hs/network.ts
  test/integrations/destinations/hs/processor/data.ts
Due: js

chore: misc
  src/v0/destinations/hs/util.test.js
Due: js

chore(release): 1.95.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
