Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: router changes added
  src/cdk/v2/destinations/smartly/rtWorkflow.yaml
  test/integrations/destinations/smartly/router/data.ts
Due: none

fix: attentive tag bugsnag issue
  src/v0/destinations/attentive_tag/transform.js
  src/v0/destinations/attentive_tag/util.js
  src/v0/destinations/attentive_tag/util.test.js
Due: js

chore: mock test added
  src/cdk/v2/destinations/smartly/procWorkflow.yaml
  src/cdk/v2/destinations/smartly/rtWorkflow.yaml
  src/cdk/v2/destinations/smartly/utils.js
  test/integrations/destinations/smartly/mocks.ts
  test/integrations/destinations/smartly/router/data.ts
Due: js

chore: batch builder func and test case updated
  src/cdk/v2/destinations/smartly/utils.js
  test/integrations/destinations/smartly/router/data.ts
Due: js

fix: fixing facebook utils
  src/v0/util/facebookUtils/index.js
Due: js

fix: adding test cases
  src/v0/util/facebookUtils/index.test.js
Due: js

feat: onboard shopify to v1, initial commit
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/data/identifyMapping.json
  src/v1/sources/shopify/data/lineItemsMapping.json
  src/v1/sources/shopify/data/mapping.json
  src/v1/sources/shopify/data/productMapping.json
  src/v1/sources/shopify/shopify.util.test.js
  src/v1/sources/shopify/shopify_redis.util.test.js
  src/v1/sources/shopify/transform.js
  src/v1/sources/shopify/util.js
Due: js

chore: refactoring bloomreach catalog
  src/cdk/v2/destinations/bloomreach/config.ts
  src/cdk/v2/destinations/bloomreach_catalog/config.ts
  src/cdk/v2/destinations/bloomreach_catalog/procWorkflow.yaml
  src/cdk/v2/destinations/bloomreach_catalog/rtWorkflow.yaml
  src/cdk/v2/destinations/bloomreach_catalog/transformRecord.ts
  src/cdk/v2/destinations/bloomreach_catalog/utils.ts
  test/integrations/destinations/bloomreach/common.ts
  test/integrations/destinations/bloomreach_catalog/dataDelivery/business.ts
  test/integrations/destinations/bloomreach_catalog/dataDelivery/data.ts
  test/integrations/destinations/bloomreach_catalog/dataDelivery/other.ts
  test/integrations/destinations/bloomreach_catalog/network.ts
  test/integrations/destinations/bloomreach_catalog/processor/data.ts
  test/integrations/destinations/bloomreach_catalog/processor/validation.ts
  test/integrations/destinations/bloomreach_catalog/router/data.ts
Due: ts

chore: minor changes
  src/v1/destinations/bloomreach_catalog/networkHandler.js
Due: js

fix: reduce cognitive complexity
  src/v0/destinations/klaviyo/util.js
Due: js

chore: update for auth token
  src/cdk/v2/destinations/smartly/utils.js
  test/integrations/destinations/smartly/router/data.ts
Due: js

feat: klaviyo onboard unsubscribe profile support (#3646)
  src/v0/destinations/klaviyo/batchUtil.js
  src/v0/destinations/klaviyo/batchUtil.test.js
  src/v0/destinations/klaviyo/config.js
  src/v0/destinations/klaviyo/transformV2.js
  src/v0/destinations/klaviyo/util.js
  test/integrations/destinations/klaviyo/processor/groupTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/identifyTestDataV2.ts
  test/integrations/destinations/klaviyo/router/dataV2.ts
Due: js

fix: edit after primary dev testing
  src/cdk/v2/destinations/smartly/data/trackMapping.json
  src/cdk/v2/destinations/smartly/procWorkflow.yaml
  src/cdk/v2/destinations/smartly/utils.js
  src/features.json
Due: js

fix: review comment addressed
  src/v0/destinations/attentive_tag/transform.js
  src/v0/destinations/attentive_tag/util.js
  src/v0/destinations/attentive_tag/util.test.js
Due: js

Include source attribute for identify messages (#3603)
  src/cdk/v2/destinations/koala/procWorkflow.yaml
  test/integrations/destinations/koala/processor/data.ts
Due: none

fix: bugsnag issue for braze
  src/v0/destinations/braze/util.js
Due: js

fix: review comments addressed
  src/v0/util/facebookUtils/index.js
Due: js

fix: review comment addressed
  src/v0/destinations/attentive_tag/transform.js
Due: js

chore: address comment
  src/v0/destinations/sfmc/transform.js
Due: js

chore: cicd improvements (#3585)
  .github/workflows/build-push-docker-image.yml
  .github/workflows/dt-test-and-report-code-coverage.yml
  .github/workflows/prepare-for-dev-deploy.yml
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
  .github/workflows/prepare-for-staging-deploy.yml
  .github/workflows/slack-notify.yml
  .github/workflows/verify.yml
  .vscode/settings.json
  src/routerUtils.js
  src/services/comparator.ts
Due: js, ts

fix: test
  src/cdk/v2/destinations/smartly/procWorkflow.yaml
  src/cdk/v2/destinations/smartly/utils.js
  src/cdk/v2/destinations/smartly/utils.test.js
  test/integrations/destinations/smartly/processor/data.ts
  test/integrations/destinations/smartly/processor/track.ts
  test/integrations/destinations/smartly/processor/validation.ts
  test/integrations/destinations/smartly/router/data.ts
Due: js

feat: onboard sfmc with vdm for rETL (#3655)
  src/v0/destinations/sfmc/config.js
  src/v0/destinations/sfmc/transform.js
  test/integrations/destinations/sfmc/processor/data.ts
Due: js

fix: fixing facebook utils (#3664)
  src/v0/util/facebookUtils/index.js
  src/v0/util/facebookUtils/index.test.js
Due: js

fix: editing test caes
  test/integrations/destinations/smartly/processor/track.ts
  test/integrations/destinations/smartly/processor/validation.ts
  test/integrations/destinations/smartly/router/data.ts
Due: none

fix: editing test caes
  test/integrations/destinations/attentive_tag/processor/data.ts
Due: none

chore: update api version to 17 from 16
  src/v0/destinations/google_adwords_remarketing_lists/config.js
  src/v0/destinations/google_adwords_remarketing_lists/util.test.js
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_remarketing_lists/network.ts
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
Due: js

fix: editing test caes
  src/v0/destinations/attentive_tag/util.test.js
Due: js

fix: attentive tag bugsnag issue (#3663)
  src/v0/destinations/attentive_tag/transform.js
  src/v0/destinations/attentive_tag/util.js
  src/v0/destinations/attentive_tag/util.test.js
  test/integrations/destinations/attentive_tag/processor/data.ts
Due: js

chore: update api version of google ads for gaec to 17 from 16
  src/v0/destinations/google_adwords_enhanced_conversions/config.js
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/network.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

chore(release): 1.76.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: smartly test cases
  src/cdk/v2/destinations/smartly/utils.js
  test/integrations/destinations/smartly/mocks.ts
  test/integrations/destinations/smartly/router/data.ts
Due: js

chore: refactoring code after suggestion
  src/cdk/v2/destinations/bloomreach_catalog/transformRecord.ts
  src/cdk/v2/destinations/bloomreach_catalog/utils.ts
  test/integrations/destinations/bloomreach_catalog/router/data.ts
Due: ts

chore: updated test cases and function
  src/cdk/v2/destinations/smartly/procWorkflow.yaml
  src/cdk/v2/destinations/smartly/utils.js
  src/cdk/v2/destinations/smartly/utils.test.js
  test/integrations/destinations/smartly/processor/track.ts
  test/integrations/destinations/smartly/processor/validation.ts
  test/integrations/destinations/smartly/router/data.ts
Due: js

feat: added bloomreach retl support (#3619)
  src/cdk/v2/destinations/bloomreach_catalog/config.ts
  src/cdk/v2/destinations/bloomreach_catalog/rtWorkflow.yaml
  src/cdk/v2/destinations/bloomreach_catalog/transformRecord.ts
  src/cdk/v2/destinations/bloomreach_catalog/utils.ts
  src/features.json
  src/v1/destinations/bloomreach_catalog/networkHandler.js
  test/integrations/destinations/bloomreach_catalog/common.ts
  test/integrations/destinations/bloomreach_catalog/dataDelivery/data.ts
  test/integrations/destinations/bloomreach_catalog/mocks.ts
  test/integrations/destinations/bloomreach_catalog/network.ts
  test/integrations/destinations/bloomreach_catalog/router/data.ts
Due: js, ts

chore: ignore eslint of yaml files
  .eslintignore
Due: none

chore: add .eslintignore to .prettierignore
  .prettierignore
Due: none

chore: ignore eslint of yaml files
  .eslintrc.json
Due: none

chore: update .prettierignore
  .prettierignore
Due: none
