Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: undo minor change
  src/v0/destinations/zendesk/transform.js
Due: js

chore: minor change
  src/v0/destinations/zendesk/transform.js
Due: js

chore: minor change
  src/v0/destinations/zendesk/util.js
Due: js

fix: zendesk primary email update issue
  src/v0/destinations/zendesk/transform.js
  src/v0/destinations/zendesk/util.js
  test/integrations/destinations/zendesk/network.ts
  test/integrations/destinations/zendesk/router/data.ts
Due: js

chore: added test for updating secondary email
  src/v0/destinations/zendesk/transform.js
  test/integrations/destinations/zendesk/network.ts
  test/integrations/destinations/zendesk/processor/data.ts
Due: js

chore: minor changes
  src/v0/destinations/zendesk/transform.js
  src/v0/destinations/zendesk/util.js
Due: js

chore: added util test
  src/v0/destinations/zendesk/util.test.js
Due: js

fix: addressing comments
  src/v0/destinations/zendesk/transform.js
  src/v0/destinations/zendesk/util.js
  src/v0/destinations/zendesk/util.test.js
  test/integrations/destinations/zendesk/processor/data.ts
Due: js

feat: identify and track for loops (#3976)
  src/cdk/v2/destinations/loops/procWorkflow.yaml
  test/integrations/destinations/loops/processor/data.ts
Due: none

fix: minor issues
  src/cdk/v2/destinations/loops/procWorkflow.yaml
  test/integrations/destinations/loops/maskedSecrets.ts
  test/integrations/destinations/loops/processor/data.ts
Due: none

chore: added test
  test/integrations/destinations/loops/processor/data.ts
Due: none

chore: update test to new structure
  src/cdk/v2/destinations/loops/procWorkflow.yaml
  test/integrations/destinations/loops/commonConfig.ts
  test/integrations/destinations/loops/processor/data.ts
  test/integrations/destinations/loops/processor/identifyTestData.ts
  test/integrations/destinations/loops/processor/trackTestData.ts
  test/integrations/destinations/loops/processor/validationTestData.ts
Due: none

chore: minor change
  src/cdk/v2/destinations/loops/procWorkflow.yaml
Due: none

chore: minor change
  test/integrations/component.test.ts
Due: none

feat: add batch support for contacts in hubspot
  src/v0/destinations/hs/HSTransform-v2.js
  src/v0/destinations/hs/config.js
  src/v0/destinations/hs/util.js
Due: js

fix: add uuid as fallback to missing anonymousId in webhook events
  src/sources/shopify/webhookTransformations/serverSideTransform.js
  src/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

chore: convert necessary fields to string for pinterest
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  test/integrations/destinations/pinterest_tag/processor/data.ts
Due: none

chore: minor changes
  src/v0/destinations/snapchat_conversion/transformV3.js
Due: js

chore: addressing comments
  src/v0/destinations/zendesk/transform.js
Due: js

chore: add test
  test/integrations/destinations/pinterest_tag/processor/data.ts
Due: none

chore: convert necessary fields to string for pinterest (#4272)
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  test/integrations/destinations/pinterest_tag/processor/data.ts
Due: none

feat: onboarding new destination loops (#3976) (#4235)
  src/cdk/v2/destinations/loops/procWorkflow.yaml
  test/integrations/component.test.ts
  test/integrations/destinations/loops/commonConfig.ts
  test/integrations/destinations/loops/maskedSecrets.ts
  test/integrations/destinations/loops/processor/data.ts
  test/integrations/destinations/loops/processor/identifyTestData.ts
  test/integrations/destinations/loops/processor/trackTestData.ts
  test/integrations/destinations/loops/processor/validationTestData.ts
Due: none

feat: onboarding snapchat v3 (#4052)
  src/v0/destinations/snapchat_conversion/config.js
  src/v0/destinations/snapchat_conversion/data/CheckoutStartedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/OrderCompletedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/PaymentInfoEnteredConfigV3.json
  src/v0/destinations/snapchat_conversion/data/ProductAddedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/ProductAddedToWishlistConfigV3.json
  src/v0/destinations/snapchat_conversion/data/ProductListViewedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/ProductViewedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/ProductsSearchedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/PromotionClickedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/PromotionViewedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/SignupConfigV3.json
  src/v0/destinations/snapchat_conversion/data/SnapchatTrackDefaultConfigV3.json
  src/v0/destinations/snapchat_conversion/data/TrackEventCommonConfigV3.json
  src/v0/destinations/snapchat_conversion/transform.js
  src/v0/destinations/snapchat_conversion/transformV3.js
  src/v0/destinations/snapchat_conversion/util.js
  src/v0/destinations/snapchat_conversion/utilsV3.js
  test/integrations/destinations/snapchat_conversion/processor/dataV3.ts
  test/integrations/destinations/snapchat_conversion/router/dataV3.ts
Due: js

fix(dynamic config): fix cloning issue in getdynamicconfig method
  src/util/dynamicConfigParser.test.ts
  src/util/dynamicConfigParser.ts
Due: ts

fix(dynamicConfigParser): fix cloning issue in getdynamicconfig method (#4278)
  src/util/dynamicConfigParser.test.ts
  src/util/dynamicConfigParser.ts
Due: ts

docs: add test migration documentation with slack case study
  test/scripts/README.md
Due: none

chore: table test case
  src/adapters/network.test.js
Due: js

fix: review comments
  src/v1/destinations/mp/networkHandler.test.ts
Due: ts

chore: review comments
  src/adapters/network.js
  test/integrations/destinations/mp/dataDelivery/proxyV1.ts
  test/integrations/destinations/mp/network.ts
  test/integrations/testUtils.ts
Due: js

fix: test
  src/v1/destinations/mp/networkHandler.test.ts
Due: ts

chore: review comments
  src/services/destination/nativeIntegration.ts
  test/integrations/destinations/mp/dataDelivery/proxyV1.ts
Due: ts

chore: review comments
  src/adapters/network.js
  src/types/destinationTransformation.ts
  src/v1/destinations/mp/networkHandler.test.ts
  src/v1/destinations/mp/networkHandler.ts
  src/v1/destinations/mp/types.ts
  src/v1/destinations/mp/utils.ts
Due: js, ts

fix: handler
  src/types/destinationTransformation.ts
  src/v1/destinations/mp/networkHandler.test.ts
  src/v1/destinations/mp/utils.ts
  test/integrations/destinations/mp/dataDelivery/proxyV1.ts
Due: ts

fix: review comments
  src/v1/destinations/mp/networkHandler.test.ts
  src/v1/destinations/mp/utils.ts
Due: ts

chore: remove unused code
  src/services/destination/nativeIntegration.ts
  src/v1/destinations/mp/utils.ts
Due: ts

feat(mixpanel): add support for partial batch failure handling
  src/services/destination/nativeIntegration.ts
  src/types/delivery.ts
  src/types/destinationTransformation.ts
  src/types/index.ts
  src/v0/destinations/mp/config.js
  src/v1/destinations/mp/networkHandler.test.ts
  src/v1/destinations/mp/networkHandler.ts
  src/v1/destinations/mp/types.ts
  src/v1/destinations/mp/utils.mock.ts
  src/v1/destinations/mp/utils.test.ts
  src/v1/destinations/mp/utils.ts
  test/integrations/destinations/mp/dataDelivery/data.ts
  test/integrations/destinations/mp/dataDelivery/proxyV1.ts
Due: js, ts
