Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: small change
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

chore: clean up
  test/integrations/destinations/sendgrid/router/data.ts
Due: none

chore: clean up
  test/integrations/component.test.ts
  test/integrations/destinations/criteo_audience/router/data.ts
  test/integrations/destinations/mailjet/router/data.ts
Due: none

chore: clean up
  test/deleteUsers/data/iterable/handler_input.json
  test/deleteUsers/data/iterable/handler_output.json
  test/deleteUsers/data/iterable/nw_client_data.json
Due: none

fix: adding logs
  src/v0/destinations/marketo_bulk_upload/fileUpload.js
  src/v0/destinations/marketo_bulk_upload/poll.js
  src/v0/destinations/marketo_bulk_upload/util.js
  test/__tests__/data/marketo_bulk_upload_jobStatus_output.json
Due: js

feat: update test structre for proxy
  src/types/index.ts
  test/integrations/destinations/campaign_manager/dataDelivery/data.ts
  test/integrations/destinations/campaign_manager/dataDelivery/failures.ts
  test/integrations/destinations/campaign_manager/dataDelivery/success.ts
  test/integrations/destinations/campaign_manager/network.ts
  test/integrations/testUtils.ts
Due: ts

chore: fix changelog
  CHANGELOG.md
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

feat: added getRevenue utility and unit testcases
  src/cdk/v2/destinations/the_trade_desk/config.js
  src/cdk/v2/destinations/the_trade_desk/data/TTDCommonConfig.json
  src/cdk/v2/destinations/the_trade_desk/transformConversion.js
  src/cdk/v2/destinations/the_trade_desk/utils.js
  src/cdk/v2/destinations/the_trade_desk/utils.test.js
Due: js

fix: remove brand mapping from products to contents in tiktok_ads
  src/v0/destinations/tiktok_ads/util.js
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: js

feat: add support in fb pixel for advertiser_tracking_enabled
  src/v0/destinations/facebook_pixel/data/FBPIXELCommonConfig.json
Due: none

chore(release): 1.54.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: intercom backward compatibility support
  src/cdk/v2/destinations/intercom/config.js
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom/utils.test.js
  test/integrations/destinations/intercom/network.ts
  test/integrations/destinations/intercom/processor/data.ts
  test/integrations/destinations/intercom/router/data.ts
Due: js

chore: code review changes
  src/v0/destinations/hs/util.js
  src/v0/destinations/hs/util.test.js
Due: js

fix: removing cache and adding debug logs
  src/v0/destinations/marketo_bulk_upload/fetchJobStatus.js
  src/v0/destinations/marketo_bulk_upload/fileUpload.js
  src/v0/destinations/marketo_bulk_upload/poll.js
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

fix: updating test case
  test/__tests__/data/marketo_bulk_upload_jobStatus_output.json
Due: none

chore: automatic devops pr raise issue fixed
  .github/workflows/prepare-for-prod-deploy.yml
  .github/workflows/prepare-for-prod-rollback.yml
Due: none

fix: removing console logs
  src/v0/destinations/marketo_bulk_upload/fetchJobStatus.js
  src/v0/destinations/marketo_bulk_upload/fileUpload.js
  src/v0/destinations/marketo_bulk_upload/poll.js
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

fix: removing console logs
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

chore: pr conflicts resolved
  test/integrations/destinations/intercom/router/data.ts
Due: none

refactor: handle record/track type and added testcases
  src/cdk/v2/destinations/the_trade_desk/config.js
  src/cdk/v2/destinations/the_trade_desk/rtWorkflow.yaml
  src/cdk/v2/destinations/the_trade_desk/transform.js
  src/cdk/v2/destinations/the_trade_desk/transformConversion.js
  src/cdk/v2/destinations/the_trade_desk/transformRecord.js
  src/cdk/v2/destinations/the_trade_desk/utils.js
  src/cdk/v2/destinations/the_trade_desk/utils.test.js
  src/constants/index.js
  src/v0/destinations/the_trade_desk/networkHandler.js
  test/integrations/destinations/the_trade_desk/common.ts
  test/integrations/destinations/the_trade_desk/delivery/data.ts
  test/integrations/destinations/the_trade_desk/network.ts
  test/integrations/destinations/the_trade_desk/router/data.ts
Due: js

feat: update proxy data type for response handler input
  src/adapters/networkhandler/genericNetworkHandler.js
  src/controllers/delivery.ts
  src/interfaces/DestinationService.ts
  src/services/comparator.ts
  src/services/destination/cdkV1Integration.ts
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/services/destination/postTransformation.ts
  src/types/index.ts
  src/v0/destinations/adobe_analytics/networkHandler.js
  src/v0/destinations/braze/networkHandler.js
  src/v0/destinations/campaign_manager/networkHandler.js
  src/v0/destinations/clevertap/networkHandler.js
  src/v0/destinations/criteo_audience/networkHandler.js
  src/v0/destinations/fb/networkHandler.js
  src/v0/destinations/ga4/networkHandler.js
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/networkHandler.js
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
  src/v0/destinations/intercom/networkHandler.js
  src/v0/destinations/marketo/networkHandler.js
  src/v0/destinations/marketo_static_list/networkHandler.js
  src/v0/destinations/pardot/networkHandler.js
  src/v0/destinations/reddit/networkHandler.js
  src/v0/destinations/salesforce/networkHandler.js
  src/v0/destinations/salesforce_oauth/networkHandler.js
  src/v0/destinations/snapchat_custom_audience/networkHandler.js
  src/v0/destinations/the_trade_desk/networkHandler.js
  src/v0/destinations/tiktok_ads/networkHandler.js
  src/v0/util/facebookUtils/networkHandler.js
  src/v1/destinations/campaign_manager/networkHandler.js
Due: js, ts

fix: removing console logs
  src/v0/destinations/marketo_bulk_upload/util.js
  src/v0/destinations/marketo_bulk_upload/util.test.js
Due: js

fix: adding more test cases
  src/v0/destinations/marketo_bulk_upload/util.js
  src/v0/destinations/marketo_bulk_upload/util.test.js
Due: js

Apply suggestions from code review
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

feat: update proxy v1 test cases
  test/integrations/destinations/campaign_manager/dataDelivery/data.ts
  test/integrations/destinations/salesforce/dataDelivery/data.ts
Due: none

fix: editing test case
  src/v0/destinations/marketo_bulk_upload/util.test.js
Due: js

fix: small edit
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

fix: code review address and move test cases in single file
  src/v0/destinations/marketo_bulk_upload/marketo_bulk_upload.util.test.js
  src/v0/destinations/marketo_bulk_upload/util.js
  src/v0/destinations/marketo_bulk_upload/util.test.js
Due: js

fix: deleting access token cache for marketo bulk upload destination (#3029)
  src/v0/destinations/marketo_bulk_upload/fileUpload.js
  src/v0/destinations/marketo_bulk_upload/marketo_bulk_upload.util.test.js
  src/v0/destinations/marketo_bulk_upload/poll.js
  src/v0/destinations/marketo_bulk_upload/util.js
  test/__tests__/data/marketo_bulk_upload_jobStatus_output.json
Due: js

chore(release): 1.54.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: added step to check value of apiVersion
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom/utils.test.js
  test/integrations/destinations/intercom/processor/data.ts
Due: js

chore: change default value of apiVersion to latest
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  test/integrations/destinations/intercom/processor/data.ts
Due: none

Update transform.js
  src/v0/destinations/hs/transform.js
Due: js
