Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: review comment addressed
  src/v0/sources/adjust/transform.js
  src/v0/sources/adjust/utils.js
Due: js

fix: adding logger for undefined source event
  src/controllers/source.ts
Due: ts

docs: fix formatting and order of contribution guide content
  CONTRIBUTING.md
Due: none

docs: toc for source integration development guide
  CONTRIBUTING.md
Due: none

docs: add doc in guide to develop destination integration
  CONTRIBUTING.md
Due: none

feat: added support to eu/us2 datacenter for gainsight px destination (#3871)
  src/v0/destinations/gainsight_px/config.js
  src/v0/destinations/gainsight_px/config.test.js
  src/v0/destinations/gainsight_px/transform.js
  src/v0/destinations/gainsight_px/util.js
Due: js

docs: separate anchor tags for similar headings
  CONTRIBUTING.md
Due: none

docs: change procworkflow example order for better understanding
  CONTRIBUTING.md
Due: none

docs: fix formatting of nested bullet points
  CONTRIBUTING.md
Due: none

docs: readability of a contribution guide section
  CONTRIBUTING.md
Due: none

chore: remove redis related check function in pixel transformation
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
Due: js

chore: clean up Marketo implementation for file upload et al (#3872)
  src/util/fetchDestinationHandlers.ts
  src/v0/destinations/marketo_bulk_upload/config.js
  src/v0/destinations/marketo_bulk_upload/fetchJobStatus.js
  src/v0/destinations/marketo_bulk_upload/fileUpload.js
  src/v0/destinations/marketo_bulk_upload/marketo_bulk_upload.util.test.js
  src/v0/destinations/marketo_bulk_upload/poll.js
  src/v0/destinations/marketo_bulk_upload/uploadFile/marketo_bulk_upload_example.csv
  src/v0/destinations/marketo_bulk_upload/util.js
  test/__tests__/data/marketo_bulk_upload_fileUpload_input.json
  test/__tests__/data/marketo_bulk_upload_fileUpload_output.json
  test/__tests__/data/marketo_bulk_upload_input.json
  test/__tests__/data/marketo_bulk_upload_jobStatus_input.json
  test/__tests__/data/marketo_bulk_upload_jobStatus_output.json
  test/__tests__/data/marketo_bulk_upload_output.json
  test/__tests__/data/marketo_bulk_upload_poll_input.json
  test/__tests__/data/marketo_bulk_upload_poll_output.json
  test/__tests__/marketo_bulk_upload.test.js
Due: js, ts

fix: addressing comment
  src/v0/destinations/intercom_v2/utils.js
  test/integrations/destinations/intercom_v2/router/data.ts
  test/integrations/destinations/intercom_v2/router/rETL.ts
Due: js

fix: minor change
  src/v0/destinations/intercom_v2/utils.js
Due: js

chore: remove redundant switch case
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
Due: js

docs: improve destination test example in contrib guide
  CONTRIBUTING.md
Due: none

feat: onboarding intercom v2 retl support (#3843)
  src/v0/destinations/intercom_v2/config.js
  src/v0/destinations/intercom_v2/transform.js
  src/v0/destinations/intercom_v2/utils.js
  test/integrations/destinations/intercom_v2/network.ts
  test/integrations/destinations/intercom_v2/router/data.ts
  test/integrations/destinations/intercom_v2/router/rETL.ts
Due: js

feat: iterable EUDC deleteUsers
  src/v0/destinations/iterable/deleteUsers.js
  test/integrations/destinations/iterable/deleteUsers/data.ts
  test/integrations/destinations/iterable/network.ts
Due: js

feat: iterable EUDC deleteUsers (#3881)
  src/v0/destinations/iterable/deleteUsers.js
  test/integrations/destinations/iterable/deleteUsers/data.ts
  test/integrations/destinations/iterable/network.ts
Due: js

chore: added support for stats calculation middleware on the endpoint customTransform
  src/middlewares/stats.ts
  src/routes/userTransform.ts
  src/util/cluster.js
Due: js, ts

chore: updated the default values
  src/middlewares/stats.ts
Due: ts

chore(shopify): seperate pixel server side events logic from legacy tracker implementation (#3849)
  src/v0/sources/shopify/util.js
  src/v1/sources/shopify/transform.js
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.redisCartToken.test.js
  src/v1/sources/shopify/webpixelTransformations/pixelUtils.js
  src/v1/sources/shopify/webpixelTransformations/pixelUtils.test.js
  test/integrations/component.test.ts
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/mocks.ts
  test/integrations/sources/shopify/v1ServerSideEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/IdentifyTests.ts
Due: js

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

fix: adding factory pattern
  src/v1/destinations/iterable/networkHandler.js
Due: js

fix: adding uuid transformation for airship
  package-lock.json
  package.json
  src/v0/destinations/airship/transform.js
  test/integrations/destinations/airship/processor/data.ts
Due: js

fix: adding doc refs
  src/v0/destinations/airship/transform.js
  src/v0/destinations/airship/utils.js
  test/integrations/destinations/airship/processor/data.ts
Due: js

refactor: linkedin audiences proc workflow
  src/cdk/v2/destinations/linkedin_audience/procWorkflow.yaml
  test/integrations/destinations/linkedin_audience/processor/business.ts
Due: none

fix: review comment addressed
  src/v0/sources/adjust/transform.js
  src/v0/sources/adjust/utils.js
  src/v0/sources/adjust/utils.test.js
  test/integrations/sources/adjust/data.ts
Due: js

fix: review comment addressed
  src/controllers/source.ts
Due: ts

chore: enrich metadata, update error msg in logger
  src/controllers/source.ts
Due: ts

fix: adding uuid transformation for airship (#3884)
  package-lock.json
  package.json
  src/v0/destinations/airship/transform.js
  src/v0/destinations/airship/utils.js
  test/integrations/destinations/airship/processor/data.ts
Due: js

fix: revert gaec changes
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

fix: revert gaec changes (#3885)
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

chore: test case cleanup
  test/integrations/destinations/active_campaign/router/data.ts
Due: none

chore: code review updates
  src/controllers/source.ts
Due: ts

chore: add edge testcase - update error messages
  src/v0/sources/adjust/utils.js
  src/v0/sources/adjust/utils.test.js
Due: js

fix: testcase error message
  test/integrations/sources/adjust/data.ts
Due: none

feat: onboard linkedin audience destination (#3857)
  src/cdk/v2/destinations/linkedin_audience/config.ts
  src/cdk/v2/destinations/linkedin_audience/procWorkflow.yaml
  src/cdk/v2/destinations/linkedin_audience/rtWorkflow.yaml
  src/cdk/v2/destinations/linkedin_audience/utils.ts
  src/features.ts
  test/integrations/destinations/linkedin_audience/processor/business.ts
  test/integrations/destinations/linkedin_audience/processor/data.ts
  test/integrations/destinations/linkedin_audience/processor/validation.ts
  test/integrations/destinations/linkedin_audience/router/data.ts
  test/integrations/testUtils.ts
Due: ts

fix: handling invalid timestamp for adjust source (#3866)
  src/v0/sources/adjust/transform.js
  src/v0/sources/adjust/utils.js
  src/v0/sources/adjust/utils.test.js
  test/integrations/sources/adjust/data.ts
Due: js

feat: update pinterest_tag single product events with new mapping (#3858)
  package-lock.json
  package.json
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  test/apitests/data_scenarios/cdk_v2/failure.json
  test/apitests/data_scenarios/cdk_v2/success.json
  test/apitests/data_scenarios/destination/proc/batch_input_multiplex.json
  test/apitests/data_scenarios/destination/proc/multiplex_partial_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_success.json
  test/apitests/data_scenarios/destination/router/failure_test.json
  test/integrations/destinations/pinterest_tag/processor/data.ts
  test/integrations/destinations/pinterest_tag/router/data.ts
  test/integrations/destinations/pinterest_tag/step/data.ts
Due: none
