Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix: endpoint fix for tune destination (#3833)
  src/v0/destinations/tune/transform.js
  test/integrations/destinations/tune/processor/trackTestData.ts
  test/integrations/destinations/tune/router/data.ts
Due: js

fix: str replace is not a function error (#3799)
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

feat: gaec migration
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

feat: gaec migration (#3855)
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

chore: add testsx1
  test/integrations/sources/shopify/v1ServerSideEventsTests.ts
Due: none

chore: remove redundant id assigns and code
  src/v1/sources/shopify/serverSideTransform.js
  src/v1/sources/shopify/transform.js
Due: js

feat: sources v2 spec support along with adapters
  src/controllers/__tests__/source.test.ts
  src/controllers/util/index.test.ts
  src/controllers/util/index.ts
  src/interfaces/SourceService.ts
  src/middlewares/routeActivation.ts
  src/services/source/__tests__/nativeIntegration.test.ts
  src/services/source/nativeIntegration.ts
  src/types/index.ts
  test/apitests/service.api.test.ts
Due: ts

chore: refactoring version conversion adapter to readable format
  .github/workflows/verify.yml
  src/controllers/source.ts
  src/controllers/util/conversionStrategies/abstractions.ts
  src/controllers/util/conversionStrategies/strategyDefault.ts
  src/controllers/util/conversionStrategies/strategyV0ToV1.ts
  src/controllers/util/conversionStrategies/strategyV1ToV0.ts
  src/controllers/util/conversionStrategies/strategyV1ToV2.ts
  src/controllers/util/conversionStrategies/strategyV2ToV0.ts
  src/controllers/util/conversionStrategies/strategyV2ToV1.ts
  src/controllers/util/index.ts
  src/controllers/util/versionConversion.ts
  src/types/index.ts
Due: ts

chore: stricter types, extra test cases for v2
  .gitignore
  src/controllers/util/conversionStrategies/strategyV1ToV2.ts
  src/controllers/util/conversionStrategies/strategyV2ToV1.ts
  src/controllers/util/index.test.ts
  src/controllers/util/index.ts
  src/middlewares/routeActivation.ts
  src/types/index.ts
Due: ts

chore: unwanted file .python-version removed, updated .gitignore
  .gitignore
Due: none

chore: lint check github workflow issue for non js files fixed
  .github/workflows/verify.yml
Due: none

chore: fixing mocking, temp commit
  src/v0/sources/shopify/util.js
  src/v1/sources/shopify/serverSideTransform.js
  test/integrations/component.test.ts
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/mocks.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/IdentifyTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/v1ServerSideEventsTests.ts
Due: js

chore: removed dataCenter to check default
  test/integrations/destinations/iterable/router/data.ts
Due: none

chore: refactor and restructure test and transformations
  src/v1/sources/shopify/transform.js
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.redisCartToken.test.js
  src/v1/sources/shopify/webpixelTransformations/pixelUtils.js
  src/v1/sources/shopify/webpixelTransformations/pixelUtils.test.js
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/mocks.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/v1ServerSideEventsTests.ts
Due: js

chore: cleanup redundant testdata
  src/v0/sources/shopify/util.js
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
Due: js

fix: update integrations-lib dependency
  package-lock.json
  package.json
Due: none

chore: remove unnecessary commented code
  src/v0/util/index.js
Due: js

feat: update on twitter_ads
  src/v0/destinations/twitter_ads/data/TwitterAdsTrackConfig.json
  src/v0/destinations/twitter_ads/transform.js
  test/integrations/destinations/twitter_ads/processor/data.ts
  test/integrations/destinations/twitter_ads/router/data.ts
Due: js

feat(GARL): support vdm next for GARL (#3835)
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/destinations/google_adwords_remarketing_lists/util.js
  src/v0/destinations/google_adwords_remarketing_lists/util.test.js
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/audience.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/record.ts
Due: js

chore: migration utils and script for test cases
  test/integrations/testTypes.ts
  test/scripts/migrateTest.ts
  test/scripts/migrationUtils.ts
Due: none

chore: updates to facilitate utils mocking
  src/v0/sources/shopify/util.js
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/mocks.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/IdentifyTests.ts
Due: js

feat: onboard linkedin audience destination
  src/cdk/v2/destinations/linkedin_audience/config.ts
  src/cdk/v2/destinations/linkedin_audience/procWorkflow.yaml
  src/cdk/v2/destinations/linkedin_audience/rtWorkflow.yaml
  src/cdk/v2/destinations/linkedin_audience/utils.ts
  src/features.json
Due: ts

chore: resolve conflicts
  src/controllers/misc.ts
  src/features.json
  src/features.ts
  src/services/__tests__/misc.test.ts
  src/services/misc.ts
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/destinations/google_adwords_remarketing_lists/util.js
  src/v0/destinations/google_adwords_remarketing_lists/util.test.js
  test/apitests/service.api.test.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/audience.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/record.ts
Due: js, ts

feat: update pinterest_tag single product events with new mapping
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  test/apitests/data_scenarios/cdk_v2/failure.json
  test/apitests/data_scenarios/cdk_v2/success.json
  test/apitests/data_scenarios/destination/proc/batch_input_multiplex.json
  test/apitests/data_scenarios/destination/proc/multiplex_partial_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_success.json
  test/apitests/data_scenarios/destination/router/failure_test.json
  test/integrations/destinations/pinterest_tag/processor/data.ts
  test/integrations/destinations/pinterest_tag/router/data.ts
  test/integrations/destinations/pinterest_tag/step/data.ts
Due: none

fix: unsafe property getting set via set value library (#3853)
  package-lock.json
  package.json
  src/v0/util/index.js
  test/integrations/destinations/ga4/processor/pageTestData.ts
Due: js

chore: fix scenario
  test/scripts/migrateTest.ts
  test/scripts/migrationUtils.ts
Due: none

fix: making server unavailable issue throttled
  src/v0/util/salesforce/common.ts
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce/dataDelivery/data.ts
  test/integrations/destinations/salesforce/network.ts
Due: ts

fix: success scenario converting to abort - basically 201-400
  src/v0/destinations/salesforce/networkHandler.js
  src/v0/destinations/salesforce/transform.js
  src/v0/destinations/salesforce_oauth/networkHandler.js
  src/v0/destinations/salesforce_oauth_sandbox/networkHandler.js
  src/v0/util/salesforce/common.ts
  src/v0/util/salesforce/legacy.ts
  src/v0/util/salesforce/oauth.ts
  src/v0/util/salesforce/types.ts
  test/integrations/destinations/salesforce_oauth/dataDelivery/business.ts
  test/integrations/destinations/salesforce_oauth/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth_sandbox/dataDelivery/oauth.ts
Due: js, ts

chore: remove commented line
  src/v0/destinations/salesforce/networkHandler.js
Due: js

fix: handle comma and newline escape for marketo bulk upload
  src/v0/destinations/marketo_bulk_upload/transform.js
Due: js

feat: update on twitter_ads (#3856)
  src/v0/destinations/twitter_ads/data/TwitterAdsTrackConfig.json
  src/v0/destinations/twitter_ads/transform.js
  test/integrations/destinations/twitter_ads/processor/data.ts
  test/integrations/destinations/twitter_ads/router/data.ts
Due: js

fix: handle comma and newline escape for marketo bulk upload
  src/v0/destinations/marketo_bulk_upload/transform.js
  test/integrations/destinations/marketo_bulk_upload/processor/data.ts
Due: js

fix: foramtting
  src/v0/destinations/marketo_bulk_upload/transform.js
Due: js

fix: linkedin ads conversionValue object as well as price is not mandatory
  src/cdk/v2/destinations/linkedin_ads/utils.js
  src/cdk/v2/destinations/linkedin_ads/utils.test.js
  test/integrations/destinations/linkedin_ads/processor/validationTestData.ts
Due: js

chore: address events, add unit tests for new util functions
  src/v1/sources/shopify/transform.js
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.js
Due: js

fix: gaec refactor condition
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
Due: js

chore: add test cases
  src/cdk/v2/destinations/linkedin_audience/rtWorkflow.yaml
  test/integrations/destinations/linkedin_audience/processor/business.ts
  test/integrations/destinations/linkedin_audience/processor/data.ts
  test/integrations/destinations/linkedin_audience/processor/validation.ts
  test/integrations/destinations/linkedin_audience/router/data.ts
  test/integrations/testUtils.ts
Due: none

fix: adding more proxy test coverage
  test/integrations/destinations/salesforce_oauth_sandbox/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth_sandbox/network.ts
Due: none

chore: use toString function from integrations-lib
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  test/integrations/destinations/pinterest_tag/processor/data.ts
Due: none

fix: adding throttled status code for server unavailable in salesforce
  src/v0/destinations/salesforce/utils.js
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce/dataDelivery/data.ts
  test/integrations/destinations/salesforce/dataDelivery/other.ts
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
