Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: remove unnecessary check in carttoken fetching
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

chore: update error string
  src/v0/destinations/hs/HSTransform-v2.js
Due: js

chore: update tests
  test/integrations/destinations/hs/processor/data.ts
  test/integrations/destinations/hs/router/data.ts
Due: none

fix: add email validation in HS (#3972)
  package-lock.json
  package.json
  src/v0/destinations/hs/HSTransform-v2.js
  test/integrations/destinations/hs/processor/data.ts
  test/integrations/destinations/hs/router/data.ts
Due: js

Update src/cdk/v2/destinations/loops/procWorkflow.yaml
  src/cdk/v2/destinations/loops/procWorkflow.yaml
Due: none

chore: update json structure to be event specific in shopify
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.js
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/IdentifyTests.ts
Due: js

chore: add test
  test/__tests__/shopify_warehouse.test.js
Due: none

chore: add testx2
  test/__tests__/shopify_warehouse.test.js
Due: none

feat: refactored processor and router data test files
  src/cdk/v2/destinations/accoil_analytics/procWorkflow.yaml
  test/integrations/destinations/accoil_analytics/processor/data.ts
  test/integrations/destinations/accoil_analytics/router/data.ts
Due: none

chore: removed lint errors and unused logs
  src/routes/userTransform.ts
  src/util/cluster.js
Due: js, ts

chore: updated the default values
  src/middlewares/stats.ts
Due: ts

chore: added support for stats calculation middleware on the endpoint customTransform
  src/middlewares/stats.ts
  src/routes/userTransform.ts
  src/util/cluster.js
Due: js, ts

fix: addressing comment
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
Due: js

chore: improve sonal quality
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
Due: js

chore: improve sonar quality
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
Due: js

chore: update node package (#3970)
  .eslintignore
  .github/workflows/allure-test-reporter.yml
  .github/workflows/build-push-docker-image.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
  Dockerfile
  package-lock.json
  src/cdk/v2/destinations/reddit/rtWorkflow.yaml
Due: none

fix: sonar issues in regex expressions (#3979)
  src/util/dynamicConfig.js
  src/util/dynamicConfig.test.js
  src/v0/destinations/af/deleteUsers.js
  src/v0/destinations/airship/transform.js
  src/v0/destinations/clickup/util.js
Due: js

chore: update proxy v0 v1 api doc in swagger (#3974)
  swagger/api.yaml
  swagger/components/examples/delivery/v0/request/request.yaml
  swagger/components/examples/delivery/v0/response/failure.yaml
  swagger/components/examples/delivery/v0/response/success.yaml
  swagger/components/examples/delivery/v1/request/request.yaml
  swagger/components/examples/delivery/v1/response/failure.yaml
  swagger/components/examples/delivery/v1/response/success.yaml
  swagger/components/schemas/v0DeliveryRequest.yaml
  swagger/components/schemas/v0DeliveryResponse.yaml
  swagger/components/schemas/v1DeliveryRequest.yaml
  swagger/components/schemas/v1DeliveryResponse.yaml
  swagger/routes/delivery.yaml
Due: none

fix: fixing mismatch of schedule field value in clicksend destination (#3975)
  src/cdk/v2/destinations/clicksend/utils.js
  src/cdk/v2/destinations/clicksend/utils.test.js
  test/integrations/destinations/clicksend/processor/track.ts
  test/integrations/destinations/clicksend/router/data.ts
Due: js

chore: add transformation tags to input and output event stats
  src/services/userTransform.ts
  src/util/prometheus.js
Due: js, ts

chore: handle sonar cognetive quality check
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
