Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: test-cases to use individual mocks - use once wherever possible - prevent usage of faketimers api from jest
  src/v0/destinations/af/deleteUsers.js
  src/v0/sources/appcenter/transform.js
  test/integrations/component.test.ts
  test/integrations/destinations/af/deleteUsers/data.ts
  test/integrations/destinations/airship/processor/data.ts
  test/integrations/destinations/airship/router/data.ts
  test/integrations/destinations/attentive_tag/processor/data.ts
  test/integrations/destinations/emarsys/deleteUsers/data.ts
  test/integrations/destinations/emarsys/processor/data.ts
  test/integrations/destinations/emarsys/router/data.ts
  test/integrations/destinations/facebook_conversions/mocks.ts
  test/integrations/destinations/ga4/mocks.ts
  test/integrations/destinations/ga4/processor/validationTestData.ts
  test/integrations/destinations/ga4_v2/mocks.ts
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/optimizely_fullstack/processor/data.ts
  test/integrations/destinations/pagerduty/processor/data.ts
  test/integrations/destinations/pagerduty/router/data.ts
  test/integrations/sources/adjust/data.ts
  test/integrations/sources/appcenter/data.ts
Due: js

fix: moengage test-cases with appropirate mocks
  test/integrations/destinations/moengage/processor/data.ts
  test/integrations/destinations/moengage/router/data.ts
Due: none

chore: lint error fix
  test/integrations/sources/signl4/data.ts
Due: none

fix: upgrade @aws-sdk/lib-storage from 3.485.0 to 3.600.0
  package-lock.json
  package.json
Due: none

fix: improved quality for batching for v2
  src/v0/destinations/klaviyo/transformV2.js
  src/v0/destinations/klaviyo/util.js
  test/integrations/destinations/klaviyo/processor/dataV2.ts
  test/integrations/destinations/klaviyo/processor/groupTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/identifyTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/screenTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/trackTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/validationTestDataV2.ts
  test/integrations/destinations/klaviyo/router/commonConfig.ts
  test/integrations/destinations/klaviyo/router/data.ts
Due: js

feat: add verification of single event
  src/v1/destinations/hs/networkHandler.ts
Due: ts

chore: add router test case
  src/v0/destinations/klaviyo/transformV2.js
  src/v0/destinations/klaviyo/util.js
  test/integrations/destinations/klaviyo/router/commonConfig.ts
  test/integrations/destinations/klaviyo/router/data.ts
  test/integrations/destinations/klaviyo/router/dataV2.ts
Due: js

chore: binding issue code
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/utils.js
Due: js

fix: searchRecordId function
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/utils.js
Due: js

feat: stringify non string data
  src/cdk/v2/destinations/webhook/procWorkflow.yaml
  test/integrations/destinations/webhook/processor/data.ts
Due: none

chore: provide go test cases for webhook sources
  go/go.mod
  go/go.sum
  go/webhook/testcases/testcases.go
  go/webhook/testcases/testdata/context.json
  go/webhook/testcases/testdata/testcases/adjust/simple_track_call.json
  go/webhook/testcases/testdata/testcases/adjust/simple_track_call_with_no_query_parameters.json
  go/webhook/testcases/testdata/testcases/auth0/add_member_to_an_organization.json
  go/webhook/testcases/testdata/testcases/auth0/empty_batch.json
  go/webhook/testcases/testdata/testcases/auth0/missing_user_id.json
  go/webhook/testcases/testdata/testcases/auth0/missing_user_id_for_all_the_requests_in_a_batch.json
  go/webhook/testcases/testdata/testcases/auth0/successful_signup.json
  go/webhook/testcases/testdata/testcases/auth0/update_tenant_settings.json
  go/webhook/testcases/testdata/testcases/close_crm/group_creation.json
  go/webhook/testcases/testdata/testcases/close_crm/lead_deletion.json
  go/webhook/testcases/testdata/testcases/close_crm/lead_update.json
  go/webhook/testcases/testdata/testcases/moengage/batch_of_events.json
  go/webhook/testcases/testdata/testcases/moengage/simple_track_call.json
  go/webhook/testcases/testdata/testcases/ortto/simple_track_call.json
  go/webhook/testcases/testdata/testcases/ortto/simple_track_call_with_unknown_field_id.json
  go/webhook/testcases/testdata/testcases/revenuecat/initial_purchase_event.json
  go/webhook/testcases/testdata/testcases/revenuecat/purchase_event_with_anonymous_user.json
  go/webhook/testcases/testdata/testcases/revenuecat/simple_track_call.json
  go/webhook/testcases/testdata/testcases/shopify/carts_create.json
  go/webhook/testcases/testdata/testcases/shopify/fullfillments_updated_event.json
  go/webhook/testcases/testdata/testcases/shopify/identify_call.json
  go/webhook/testcases/testdata/testcases/shopify/invalid_topic.json
  go/webhook/testcases/testdata/testcases/shopify/no_query_params.json
  go/webhook/testcases/testdata/testcases/shopify/unsupported_checkout_event.json
  go/webhook/testcases/testdata/testcases/shopify/unsupported_event_type.json
  go/webhook/testcases/testdata/testcases/slack/message_event.json
  go/webhook/testcases/testdata/testcases/slack/msg_event.json
  go/webhook/testcases/testdata/testcases/slack/team_joined.json
  go/webhook/testcases/testdata/testcases/slack/team_joined_event.json
  go/webhook/testcases/testdata/testcases/slack/verification.json
  go/webhook/testcases/testdata/testcases/slack/webhook_url_verificatin_event.json
  test/integrations/sources/adjust/data.ts
  test/integrations/sources/auth0/data.ts
  test/integrations/testTypes.ts
  test/scripts/generateJson.ts
Due: none

chore: small fix for track call and add util test
  src/v0/destinations/klaviyo/transformV2.js
  src/v0/destinations/klaviyo/util.js
  src/v0/destinations/klaviyo/util.test.js
Due: js

core: cache dns resolution for js fetch calls
  src/util/prometheus.js
  src/util/utils.js
  test/__tests__/user_transformation_fetch.test.js
Due: js

chore: add remaining source transformation test-cases - clean-up old source transformation test-cases - 1
  test/__tests__/appcenter_source.test.js
  test/__tests__/appsflyer_source.test.js
  test/__tests__/braze_source.test.js
  test/__tests__/canny_source.test.js
  test/__tests__/customerio_source.test.js
  test/__tests__/data/appcenter_source_input.json
  test/__tests__/data/appcenter_source_output.json
  test/__tests__/data/appsflyer_source_input.json
  test/__tests__/data/appsflyer_source_output.json
  test/__tests__/data/braze_source_input.json
  test/__tests__/data/braze_source_output.json
  test/__tests__/data/canny_source_input.json
  test/__tests__/data/canny_source_output.json
  test/__tests__/data/customerio_source_input.json
  test/__tests__/data/customerio_source_output.json
  test/__tests__/data/formsort_source.json
  test/__tests__/data/gainsightpx_source.json
  test/__tests__/data/iterable_source_input.json
  test/__tests__/data/iterable_source_output.json
  test/__tests__/data/mailjet_source.json
  test/__tests__/data/mailmodo_source_input.json
  test/__tests__/data/mailmodo_source_output.json
  test/__tests__/formsort_source.test.js
  test/__tests__/iterable_source.test.js
  test/__tests__/mailjet_source.test.js
  test/__tests__/mailmodo_source.test.js
  test/integrations/sources/formsort/data.ts
  test/integrations/sources/gainsightpx/data.ts
  test/integrations/sources/mailjet/data.ts
  test/integrations/sources/olark/data.ts
  test/integrations/sources/pagerduty/data.ts
  test/integrations/sources/pipedream/data.ts
  test/integrations/sources/refiner/data.ts
  test/integrations/sources/satismeter/data.ts
Due: none

chore: small fix for track call and add util test
  src/v0/destinations/klaviyo/util.js
  test/integrations/destinations/klaviyo/processor/trackTestDataV2.ts
Due: js

chore: remove gainsighpx source transformation test executor
  test/__tests__/gpx_source.test.js
Due: none

chore: clean-up remaining source transformation test-cases - 2
  test/__tests__/data/monday_source_input.json
  test/__tests__/data/monday_source_output.json
  test/__tests__/data/olark_source.json
  test/__tests__/data/pagerduty_source.json
  test/__tests__/data/pipedream_source.json
  test/__tests__/data/refiner_source.json
  test/__tests__/data/satismeter_source.json
  test/__tests__/data/segment_source_input.json
  test/__tests__/data/segment_source_output.json
  test/__tests__/data/shopify.json
  test/__tests__/data/signl4_source_input.json
  test/__tests__/data/signl4_source_output.json
  test/__tests__/monday_source.test.js
  test/__tests__/olark_source.test.js
  test/__tests__/pagerduty_source.test.js
  test/__tests__/pipedream_source.test.js
  test/__tests__/refiner_source.test.js
  test/__tests__/satismeter_source.test.js
  test/__tests__/segment_source.test.js
  test/__tests__/shopify_source.test.js
  test/__tests__/signl4_source.test.js
Due: none

chore: format json files after generation
  go/webhook/testcases/testcases.go
  tsconfig.json
Due: none

fix: remove error in case no identifier is present
  src/v0/destinations/klaviyo/util.js
  test/integrations/destinations/klaviyo/processor/identifyTestDataV2.ts
Due: js

chore: instructions for working wil local rudder-server
  go/.gitignore
  go/README.md
Due: none

chore: upgrade packages
  package-lock.json
  package.json
Due: none

chore: klaviyo debugging
  src/v0/destinations/klaviyo/config.js
  src/v0/destinations/klaviyo/transform.js
  src/v0/destinations/klaviyo/util.js
Due: js

chore: remove env var lead version switching and add test cases
  src/v0/destinations/klaviyo/transform.js
  test/integrations/destinations/klaviyo/router/dataV2.ts
Due: js

chore: address comments
  src/v0/destinations/klaviyo/transform.js
  test/integrations/destinations/klaviyo/processor/groupTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/identifyTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/screenTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/trackTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/validationTestDataV2.ts
  test/integrations/destinations/klaviyo/router/commonConfig.ts
  test/integrations/destinations/klaviyo/router/dataV2.ts
Due: js

chore: updated metadata structure
  swagger/components/examples/processor/failure.yaml
  swagger/components/examples/processor/success.yaml
  swagger/components/examples/router/failure.yaml
  swagger/components/examples/router/success.yaml
  swagger/components/schemas/request.yaml
  swagger/components/schemas/routerTransformationRequest.yaml
Due: none

fix: formatting
  package.json
Due: none

chore: fixed lint errors
  swagger/components/examples/processor/success.yaml
  swagger/components/examples/router/failure.yaml
Due: none

fix: add optional chaining to webengage page event
  src/v0/destinations/webengage/transform.js
  test/integrations/destinations/webengage/processor/data.ts
Due: js

chore: address comments
  src/v0/destinations/hs/HSTransform-v2.js
Due: js

chore: updated request params
  swagger/components/schemas/request.yaml
Due: none

chore: add error handling for ga4 v2 custom mappings
  src/v0/destinations/ga4_v2/customMappingsHandler.js
Due: js

chore: update error category to configuration
  src/v0/destinations/ga4_v2/customMappingsHandler.js
Due: js

feat: add support for subscribing for RETL flow (#3195)
  src/v0/destinations/klaviyo/klaviyoUtil.test.js
  src/v0/destinations/klaviyo/transform.js
  src/v0/destinations/klaviyo/util.js
Due: js

fix: adding record deletion implementation
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/utils.js
  test/integrations/destinations/zoho/router/data.ts
  test/integrations/destinations/zoho/router/upsert.ts
Due: js

fix: reserved properties
  src/v0/destinations/braze/transform.js
  test/integrations/destinations/braze/processor/data.ts
Due: js

fix: adding record deletion test cases
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  src/v1/destinations/zoho/networkHandler.js
  test/integrations/destinations/zoho/network.ts
  test/integrations/destinations/zoho/router/data.ts
  test/integrations/destinations/zoho/router/deletion.ts
  test/integrations/destinations/zoho/router/upsert.ts
Due: js

feat: zoho record deletion feature (#3566)
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  src/v1/destinations/zoho/networkHandler.js
  test/integrations/destinations/zoho/network.ts
  test/integrations/destinations/zoho/router/data.ts
  test/integrations/destinations/zoho/router/deletion.ts
  test/integrations/destinations/zoho/router/upsert.ts
Due: js

chore: update src/v0/destinations/hs/HSTransform-v2.js
  src/v0/destinations/hs/HSTransform-v2.js
Due: js

feat: onboard new api for klaviyo 15-06-2024
  src/v0/destinations/klaviyo/util.js
  test/integrations/destinations/klaviyo/processor/groupTestDataV2.ts
  test/integrations/destinations/klaviyo/router/dataV2.ts
Due: js

chore: remove optional chaining
  src/v0/destinations/hs/HSTransform-v2.js
Due: js
