Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: add batching user delete delivery platform for dummmy dest
  src/v0/destinations/dummy/config.ts
  src/v0/destinations/dummy/index.js
  src/v0/destinations/dummy/networkHandler.ts
  src/v0/destinations/dummy/transform.ts
  src/v0/destinations/dummy/userDeletion.js
  src/v0/destinations/dummy/utils.ts
  src/v1/destinations/dummy/networkHandler.js
  test/integrations/destinations/dummy/common.ts
  test/integrations/destinations/dummy/dataDelivery/data.ts
  test/integrations/destinations/dummy/dataDelivery/proxyV0.ts
  test/integrations/destinations/dummy/dataDelivery/proxyV1.ts
  test/integrations/destinations/dummy/router/batched.ts
  test/integrations/destinations/dummy/router/data.ts
  test/integrations/destinations/dummy/router/nonBatched.ts
  test/integrations/destinations/dummy/userDeletion/data.ts
Due: js, ts

feat: add support of account in zoho_dev destinaiton
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  src/cdk/v2/utils.ts
  src/constants/destinationCanonicalNames.js
  test/integrations/destinations/zoho_dev/router/data.ts
Due: js, ts

chore: address review comments
  package-lock.json
  package.json
  src/services/piscina/__tests__/wrapper.test.ts
  src/services/piscina/wrapper.ts
  src/util/cluster.js
Due: js, ts

chore: cleanup
  src/services/piscina/__tests__/wrapper.test.ts
Due: ts

fix: zendesk indentify flow (#4288)
  src/v0/destinations/zendesk/transform.js
  src/v0/destinations/zendesk/util.js
  src/v0/destinations/zendesk/util.test.js
  test/integrations/destinations/zendesk/network.ts
  test/integrations/destinations/zendesk/processor/data.ts
  test/integrations/destinations/zendesk/router/data.ts
Due: js

chore: fix test cases for pinterest_tag and tiktok_ads
  test/integrations/destinations/pinterest_tag/router/data.ts
  test/integrations/destinations/tiktok_ads/router/data.ts
Due: none

feat: enhance group router transform events with config-based grouping
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js, ts

chore: fix test cases for gaoc
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
Due: none

fix: use fast stable json stringify
  package-lock.json
  package.json
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

chore: add authenticationType
  src/types/controlPlaneConfig.ts
Due: ts

chore(braze): added docs for braze destination
  src/v0/destinations/braze/README.md
  src/v0/destinations/braze/docs/businesslogic.md
  src/v0/destinations/braze/docs/retl.md
Due: none

chore: dummy destination config based batching tests
  src/v0/destinations/dummy/config.ts
  src/v0/destinations/dummy/data/DummyAliasConfig.json
  src/v0/destinations/dummy/data/DummyGroupConfig.json
  src/v0/destinations/dummy/data/DummyIdentifyConfig.json
  src/v0/destinations/dummy/data/DummyPageConfig.json
  src/v0/destinations/dummy/data/DummyScreenConfig.json
  src/v0/destinations/dummy/data/DummyTrackConfig.json
  src/v0/destinations/dummy/transform.ts
  src/v0/destinations/dummy/utils.ts
  test/integrations/component.test.ts
  test/integrations/destinations/dummy/common.ts
  test/integrations/destinations/dummy/maskedSecrets.ts
  test/integrations/destinations/dummy/router/data.ts
Due: ts

chore: add batching user delete delivery platform for dummmy dest (#4292)
  src/v0/destinations/dummy/config.ts
  src/v0/destinations/dummy/index.js
  src/v0/destinations/dummy/networkHandler.ts
  src/v0/destinations/dummy/transform.ts
  src/v0/destinations/dummy/userDeletion.js
  src/v0/destinations/dummy/utils.ts
  src/v1/destinations/dummy/networkHandler.js
  test/integrations/destinations/dummy/common.ts
  test/integrations/destinations/dummy/dataDelivery/data.ts
  test/integrations/destinations/dummy/dataDelivery/proxyV0.ts
  test/integrations/destinations/dummy/dataDelivery/proxyV1.ts
  test/integrations/destinations/dummy/router/batched.ts
  test/integrations/destinations/dummy/router/data.ts
  test/integrations/destinations/dummy/router/nonBatched.ts
  test/integrations/destinations/dummy/userDeletion/data.ts
Due: js, ts

chore: change sonarcloud-github-action to sonarqube-scan-action
  .github/workflows/dt-test-and-report-code-coverage.yml
Due: none

chore: update to latest
  .github/workflows/dt-test-and-report-code-coverage.yml
Due: none

chore: bump sonarcloud github action to 5.0.0
  .github/workflows/dt-test-and-report-code-coverage.yml
Due: none

chore: change sonarcloud-github-action to sonarqube-scan-action (#4300)
  .github/workflows/dt-test-and-report-code-coverage.yml
Due: none

chore: update commitlint-github-action version
  .github/workflows/commitlint.yml
Due: none

chore: use commit hash
  .github/workflows/commitlint.yml
Due: none

chore: change version
  .github/workflows/commitlint.yml
Due: none

chore: change version
  .github/workflows/commitlint.yml
  commitlint.config.js
Due: none

chore: misc
  commitlint.config.js
Due: none

chore: misc
  commitlint.config.mjs
Due: none

chore: misc
  .github/workflows/commitlint.yml
Due: none

chore: misc
  .github/workflows/commitlint.yml
  commitlint.config.mjs
  package-lock.json
  package.json
Due: none

chore: misc
  .eslintignore
  .github/workflows/commitlint.yml
  commitlint.config.mjs
Due: none

chore: misc
  .eslintignore
  commitlint.config.js
  commitlint.config.mjs
Due: none

chore: update commitlint-github-action version (#4301)
  .github/workflows/commitlint.yml
  package-lock.json
  package.json
Due: none

feat: add new event mapping for tik tok
  src/v0/destinations/tiktok_ads/config.js
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: js

chore: added other missing events
  src/v0/destinations/tiktok_ads/config.js
Due: js

chore: update types with generics
  src/types/controlPlaneConfig.ts
Due: ts

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
