Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: fix lint issue
  src/cdk/v2/destinations/pinterest_tag/utils.js
Due: js

chore: fix lint issue again
  src/cdk/v2/destinations/pinterest_tag/utils.js
Due: js

chore: remove redundant old implementation (#3802)
  src/cdk/v2/destinations/pinterest_tag/config.js
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  src/cdk/v2/destinations/pinterest_tag/rtWorkflow.yaml
  src/cdk/v2/destinations/pinterest_tag/utils.js
  src/cdk/v2/destinations/pinterest_tag/utils.test.js
  src/v0/destinations/pinterest_tag/config.js
  src/v0/destinations/pinterest_tag/data/pinterestCommonConfig.json
  src/v0/destinations/pinterest_tag/data/pinterestCustomConfig.json
  src/v0/destinations/pinterest_tag/data/pinterestUserConfig.json
  src/v0/destinations/pinterest_tag/transform.js
  src/v0/destinations/pinterest_tag/utils.js
  test/apitests/service.api.test.ts
  test/integrations/destinations/pinterest_tag/step/data.ts
Due: js

feat: update on twitter ads integration
  src/v0/destinations/twitter_ads/transform.js
  test/integrations/destinations/twitter_ads/processor/data.ts
Due: js

Should filter out falsey reserved attributes from Intercom destination (#3767)
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom/utils.test.js
Due: js

chore: populate source destination info
  src/warehouse/index.js
Due: js

fix: populate source destination info env set properly (#3806)
  src/warehouse/index.js
Due: js

chore: calling fetchWithDnsWrapper in geolocation call
  src/util/ivmFactory.js
Due: js

chore: implemented connection pooling in fetch calls
  src/util/utils.js
Due: js

chore: address comment
  test/apitests/data_scenarios/cdk_v2/success.json
  test/apitests/data_scenarios/destination/proc/batch_input_multiplex.json
  test/apitests/data_scenarios/destination/proc/multiplex_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_partial_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_success.json
  test/apitests/data_scenarios/destination/router/failure_test.json
  test/apitests/service.api.test.ts
Due: none

feat: sources v2 spec support along with adapters
  .python-version
  src/controllers/__tests__/source.test.ts
  src/controllers/util/index.test.ts
  src/controllers/util/index.ts
  src/features.json
  src/interfaces/SourceService.ts
  src/middlewares/routeActivation.ts
  src/services/source/__tests__/nativeIntegration.test.ts
  src/services/source/nativeIntegration.ts
  src/types/index.ts
  test/apitests/service.api.test.ts
Due: ts

chore: unwanted file .python-version removed, updated .gitignore
  .gitignore
  .python-version
Due: none

chore: add shopifyDetails for shopify server side events from pixel
  src/v1/sources/shopify/transform.js
Due: js

chore: set id property in the webhook event as messageId for pixel serverside event
  src/v1/sources/shopify/transform.js
Due: js

chore(release): 1.83.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: cleanup pinterest tag old test-cases
  test/__tests__/data/pinterest_tag_input.json
  test/__tests__/data/pinterest_tag_output.json
  test/__tests__/data/pinterest_tag_router_batch_output.json
  test/__tests__/data/pinterest_tag_router_error_input.json
  test/__tests__/data/pinterest_tag_router_error_output.json
  test/__tests__/data/pinterest_tag_router_input.json
  test/__tests__/data/pinterest_tag_router_output.json
  test/__tests__/data/pinterest_tag_step_input.json
  test/__tests__/data/pinterest_tag_step_output.json
  test/__tests__/pinterestConversion-cdk.test.ts
Due: none

feat: add missing fields on the pinterest_tag mapping
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  test/__tests__/data/pinterest_tag_input.json
  test/__tests__/data/pinterest_tag_output.json
  test/__tests__/data/pinterest_tag_router_batch_output.json
  test/__tests__/data/pinterest_tag_router_input.json
  test/__tests__/data/pinterest_tag_router_output.json
  test/__tests__/pinterestConversion.test.js
  test/integrations/destinations/pinterest_tag/processor/data.ts
  test/integrations/destinations/pinterest_tag/router/data.ts
  test/integrations/destinations/pinterest_tag/step/data.ts
Due: none

chore: fix test cases
  test/integrations/destinations/pinterest_tag/step/data.ts
Due: none

chore: remove redundant old implementation
  src/cdk/v2/destinations/pinterest_tag/config.js
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  src/cdk/v2/destinations/pinterest_tag/rtWorkflow.yaml
  src/cdk/v2/destinations/pinterest_tag/utils.js
  src/cdk/v2/destinations/pinterest_tag/utils.test.js
  src/v0/destinations/pinterest_tag/config.js
  src/v0/destinations/pinterest_tag/data/pinterestCommonConfig.json
  src/v0/destinations/pinterest_tag/data/pinterestCustomConfig.json
  src/v0/destinations/pinterest_tag/data/pinterestUserConfig.json
  src/v0/destinations/pinterest_tag/transform.js
Due: js

chore: remove test cases related to pinterest_tag
  test/apitests/service.api.test.ts
Due: none

chore: revert service.api.test.ts changes
  test/apitests/data_scenarios/destination/proc/batch_input_multiplex.json
  test/apitests/data_scenarios/destination/proc/multiplex_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_partial_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_success.json
  test/apitests/data_scenarios/destination/router/failure_test.json
  test/apitests/service.api.test.ts
Due: none

fix: add missing fields to pinterest_tag mapping (#3814)
  src/cdk/v2/destinations/pinterest_tag/config.js
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  src/cdk/v2/destinations/pinterest_tag/rtWorkflow.yaml
  src/cdk/v2/destinations/pinterest_tag/utils.js
  src/cdk/v2/destinations/pinterest_tag/utils.test.js
  src/v0/destinations/pinterest_tag/config.js
  src/v0/destinations/pinterest_tag/data/pinterestCommonConfig.json
  src/v0/destinations/pinterest_tag/data/pinterestCustomConfig.json
  src/v0/destinations/pinterest_tag/data/pinterestUserConfig.json
  src/v0/destinations/pinterest_tag/transform.js
  src/v0/destinations/pinterest_tag/utils.js
  test/__tests__/data/pinterest_tag_input.json
  test/__tests__/data/pinterest_tag_output.json
  test/__tests__/data/pinterest_tag_router_batch_output.json
  test/__tests__/data/pinterest_tag_router_input.json
  test/__tests__/data/pinterest_tag_router_output.json
  test/__tests__/pinterestConversion.test.js
  test/apitests/data_scenarios/destination/proc/batch_input_multiplex.json
  test/apitests/data_scenarios/destination/proc/multiplex_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_partial_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_success.json
  test/apitests/data_scenarios/destination/router/failure_test.json
  test/apitests/service.api.test.ts
  test/integrations/destinations/pinterest_tag/processor/data.ts
  test/integrations/destinations/pinterest_tag/router/data.ts
  test/integrations/destinations/pinterest_tag/step/data.ts
Due: js

chore: cleanup pinterest tag old tests
  test/__tests__/data/pinterest_tag_input.json
  test/__tests__/data/pinterest_tag_output.json
  test/__tests__/data/pinterest_tag_router_batch_output.json
  test/__tests__/data/pinterest_tag_router_error_input.json
  test/__tests__/data/pinterest_tag_router_error_output.json
  test/__tests__/data/pinterest_tag_router_input.json
  test/__tests__/data/pinterest_tag_router_output.json
  test/__tests__/data/pinterest_tag_step_input.json
  test/__tests__/data/pinterest_tag_step_output.json
  test/__tests__/pinterestConversion-cdk.test.ts
Due: none

chore: cleanup pinterest tag old tests (#3815)
  test/__tests__/data/pinterest_tag_input.json
  test/__tests__/data/pinterest_tag_output.json
  test/__tests__/data/pinterest_tag_router_batch_output.json
  test/__tests__/data/pinterest_tag_router_error_input.json
  test/__tests__/data/pinterest_tag_router_error_output.json
  test/__tests__/data/pinterest_tag_router_input.json
  test/__tests__/data/pinterest_tag_router_output.json
  test/__tests__/data/pinterest_tag_step_input.json
  test/__tests__/data/pinterest_tag_step_output.json
  test/__tests__/pinterestConversion-cdk.test.ts
Due: none

chore(release): 1.82.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: not allowing empty string or null values for mandatory fields in zoho (#3800)
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
Due: js

chore: update tests
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/pixelUtils.test.js
  src/v1/sources/shopify/transform.js
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
Due: js

feat: snowpipe streaming
  src/v0/destinations/snowpipe_streaming/transform.js
  test/__tests__/warehouse.test.js
Due: js

feat: add support for identity stitching for shopify pixel flow
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/transform.js
Due: js

chore: added mapping and test case
  src/v0/destinations/twitter_ads/data/TwitterAdsTrackConfig.json
  test/integrations/destinations/twitter_ads/processor/data.ts
Due: none

chore: lint check github workflow issue for non js files fixed
  .github/workflows/verify.yml
Due: none

fix: update order_id in checkout events, messageId in pixel events (#3794)
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/pixelUtils.js
  src/v1/sources/shopify/pixelUtils.test.js
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
Due: js

chore: add network handler file for ga4 v2 in v0 implementation flow
  src/v0/destinations/ga4_v2/networkHandler.js
  src/v1/destinations/ga4_v2/networkHandler.ts
Due: js, ts

fix: conflict resolve
  src/v0/destinations/salesforce/utils.js
Due: js

chore: updated transform.js
  src/v0/destinations/tune/transform.js
  src/v0/destinations/tune/transform.test.js
  test/integrations/destinations/tune/processor/data.ts
  test/integrations/destinations/tune/processor/trackTestData.ts
  test/integrations/destinations/tune/router/data.ts
Due: js

fix: test case correction
  src/v0/destinations/salesforce/config.js
  src/v0/destinations/salesforce/utils.js
  test/integrations/destinations/salesforce/processor/data.ts
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
