Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: klaviyo jobs order
  src/v0/destinations/klaviyo/transform.js
  src/v0/destinations/klaviyo/transformV2.js
  test/integrations/destinations/klaviyo/router/data.ts
Due: js

fix(bugsnag): reddit response coming as a non-string
  src/v0/destinations/reddit/networkHandler.js
Due: js

fix: npm vulnerabilities
  package-lock.json
Due: none

chore: add logs to test secrets
  src/index.ts
  src/v0/destinations/webhook/transform.js
  src/v0/destinations/webhook/utils.js
Due: js, ts

fix: adding a new condition for retrying the function creation in python transformation (#3684)
  src/util/openfaas/index.js
Due: js

test: add testcases
  package-lock.json
  package.json
  src/cdk/v2/destinations/webhook_v2/utils.js
  test/integrations/destinations/webhook_v2/common.ts
  test/integrations/destinations/webhook_v2/processor/configuration.ts
  test/integrations/destinations/webhook_v2/router/data.ts
Due: js

fix: use sha256 for better hashing
  src/cdk/v2/destinations/webhook_v2/utils.js
Due: js

chore: addressed review comments
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/util.js
Due: js

feat: webhook v2 (#3651)
  package-lock.json
  package.json
  src/cdk/v2/destinations/webhook_v2/procWorkflow.yaml
  src/cdk/v2/destinations/webhook_v2/rtWorkflow.yaml
  src/cdk/v2/destinations/webhook_v2/utils.js
  src/features.json
  test/integrations/destinations/webhook_v2/common.ts
  test/integrations/destinations/webhook_v2/processor/configuration.ts
  test/integrations/destinations/webhook_v2/processor/data.ts
  test/integrations/destinations/webhook_v2/router/data.ts
Due: js

fix: update error handling logic for unauthorised case - new error response handled - backward compatibility
  src/v0/destinations/reddit/networkHandler.js
Due: js

fix: existing test-cases for error handling - added new test-cases
  src/v0/destinations/reddit/networkHandler.js
  test/integrations/destinations/reddit/dataDelivery/oauth.ts
  test/integrations/destinations/reddit/network.ts
Due: js

fix: reddit authorisation failed case handling (#3690)
  src/v0/destinations/reddit/networkHandler.js
  test/integrations/destinations/reddit/dataDelivery/oauth.ts
  test/integrations/destinations/reddit/network.ts
Due: js

chore(release): 1.76.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: add logger for reddit in case of non 401 status
  src/v0/destinations/reddit/networkHandler.js
Due: js

chore: handle other error use-cases in reddit
  src/v0/destinations/reddit/networkHandler.js
Due: js

chore: fix test for reddit
  test/integrations/destinations/reddit/dataDelivery/business.ts
Due: none

fix: gaoc bugsnag alert for email.trim
  src/v0/destinations/google_adwords_offline_conversions/utils.js
Due: js

chore: eslint, prettier missed merge conflict fixes
  .eslintignore
  .prettierignore
Due: none

chore: update src/v0/destinations/klaviyo/transform.js
  src/v0/destinations/klaviyo/transform.js
Due: js

feat: onboard X(Twiiter) Audience
  src/v0/destinations/x_audience/config.js
  src/v0/destinations/x_audience/transform.js
  src/v0/destinations/x_audience/utils.js
Due: js

fix: klaviyo jobs order (#3686)
  src/v0/destinations/klaviyo/transform.js
  src/v0/destinations/klaviyo/transformV2.js
  test/integrations/destinations/klaviyo/router/data.ts
Due: js

chore: add test cases
  src/v0/destinations/x_audience/config.js
  src/v0/destinations/x_audience/transform.js
  src/v0/destinations/x_audience/utils.js
  test/integrations/destinations/x_audience/processor/data.ts
Due: js

chore: add router test cases
  src/v0/destinations/x_audience/config.js
  src/v0/destinations/x_audience/transform.js
  src/v0/destinations/x_audience/utils.js
  test/integrations/destinations/x_audience/common.ts
  test/integrations/destinations/x_audience/processor/data.ts
  test/integrations/destinations/x_audience/router/data.ts
Due: js

feat: add support for all pixel events in v1 shopify source
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/transform.js
  src/v1/sources/shopify/util.js
Due: js

fix: add customer id check
  src/v1/sources/shopify/transform.js
Due: js

feat: include source attribute for identify messages for koala (#3667)
  src/cdk/v2/destinations/koala/procWorkflow.yaml
  test/integrations/destinations/koala/processor/data.ts
Due: none

chore: add types for source trasform event
  src/services/source/nativeIntegration.ts
  src/types/index.ts
  src/v0/util/index.js
Due: js, ts

feat: add support for headers to source transformation flows (#3683)
  src/controllers/source.ts
  src/services/source/__tests__/nativeIntegration.test.ts
  src/services/source/__tests__/postTransformation.test.ts
  src/services/source/nativeIntegration.ts
  src/services/source/postTransformation.ts
  src/types/index.ts
  src/v0/util/index.js
  test/apitests/data_scenarios/source/v1/successful.json
  test/apitests/service.api.test.ts
  test/integrations/sources/pipedream/data.ts
  test/integrations/sources/segment/data.ts
Due: js, ts

chore(release): 1.77.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: add util for applying json string template
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

chore: fix checks
  src/v1/sources/shopify/transform.js
Due: js

chore: add test
  test/integrations/destinations/reddit/dataDelivery/business.ts
  test/integrations/destinations/reddit/network.ts
Due: none

chore: handle other error use-cases in reddit (#3692)
  src/v0/destinations/reddit/networkHandler.js
  test/integrations/destinations/reddit/dataDelivery/business.ts
  test/integrations/destinations/reddit/network.ts
Due: js

fix: add configs for new webhook topics and events from pixel app
  src/v1/sources/shopify/config.js
Due: js

feat: add util for applying json string template (#3699)
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

fix: error messages in gaec
  src/cdk/v2/destinations/webhook_v2/utils.js
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
Due: js
