Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix: reviews comments
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

chore: misc
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

chore: add subscription event
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreOptinEventConfig.json
  src/cdk/v2/destinations/bluecore/utils.js
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

fix: review comments
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

chore: criteo audience api version upgrade
  src/v0/destinations/criteo_audience/config.js
  test/integrations/common/criteo/network.ts
  test/integrations/destinations/criteo_audience/dataDelivery/business.ts
  test/integrations/destinations/criteo_audience/dataDelivery/data.ts
  test/integrations/destinations/criteo_audience/dataDelivery/oauth.ts
  test/integrations/destinations/criteo_audience/dataDelivery/other.ts
  test/integrations/destinations/criteo_audience/network.ts
  test/integrations/destinations/criteo_audience/processor/data.ts
  test/integrations/destinations/criteo_audience/router/data.ts
Due: js

feat: update account type key names and remove redundant changes
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  src/types/controlPlaneConfig.ts
Due: js, ts

chore: refactor getRegion function
  src/cdk/v2/destinations/zoho/utils.js
Due: js

chore: add destination integration doc
  src/v0/destinations/criteo_audience/README.md
  src/v0/destinations/criteo_audience/docs/businesslogic.md
  src/v0/destinations/criteo_audience/docs/retl.md
Due: none

feat: use account information on zoho (#4361)
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  src/cdk/v2/utils.ts
  src/constants/destinationCanonicalNames.js
  src/features.ts
  src/services/destination/nativeIntegration.ts
  src/types/controlPlaneConfig.ts
  test/integrations/destinations/zoho/dataDelivery/data.ts
  test/integrations/destinations/zoho/dataDelivery/zoho_dev.ts
  test/integrations/destinations/zoho/router/account.ts
  test/integrations/destinations/zoho/router/data.ts
  test/integrations/destinations/zoho_dev/dataDelivery/data.ts
  test/integrations/destinations/zoho_dev/network.ts
  test/integrations/destinations/zoho_dev/router/data.ts
Due: js, ts

chore(release): 1.101.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: remove promise.all from iterable delete users to process calls synchronously (#4379)
  package-lock.json
  package.json
  src/v0/destinations/iterable/deleteUsers.js
Due: js

chore(release): pull hotfix-release/v1.101.2 into main (#4384)
  CHANGELOG.md
  package-lock.json
  package.json
  src/v0/destinations/iterable/deleteUsers.js
Due: js

chore: resolving comments
  src/v0/destinations/criteo_audience/README.md
  src/v0/destinations/criteo_audience/config.js
  src/v0/destinations/criteo_audience/docs/businesslogic.md
  src/v0/destinations/criteo_audience/docs/retl.md
  src/v0/destinations/criteo_audience/networkHandler.js
Due: js

fix: test
  src/v0/util/index.test.js
Due: js

fix: router output ordering for tiktok_ads
  src/v0/destinations/tiktok_ads/transform.js
  src/v0/destinations/tiktok_ads/transformV2.js
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/component.test.ts
  test/integrations/destinations/tiktok_ads/router/data.ts
Due: js

chore: docs
  src/cdk/v2/destinations/bluecore/README.md
Due: none

fix: update new path of features file
  test/__tests__/apicontract.test.ts
Due: none

chore: apicontract test
  test/__tests__/apicontract.test.1.ts
  test/__tests__/data/generic_router_input.json
Due: none

chore: contract tests
  test/__tests__/apicontract.test.ts
  test/__tests__/data/generic_router_input.json
Due: none

chore: fix order test
  test/__tests__/apicontract.test.ts
Due: none

chore: update klaviyo version to 2024-10-15, remove config restricted changes
  src/util/prometheus.js
  src/v0/destinations/klaviyo/config.js
  src/v0/destinations/klaviyo/util.js
  test/integrations/destinations/klaviyo/processor/groupTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/identifyTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/screenTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/trackTestDataV2.ts
  test/integrations/destinations/klaviyo/router/dataV2.ts
Due: js

feat: testing tool
  .vscode/tasks.json
  scripts/createCurlRequest.ts
Due: none

fix: handle empty oauth secret for multiple destination (#4295)
  src/v0/destinations/salesforce/utils.js
  src/v0/destinations/twitter_ads/transform.js
  src/v0/destinations/twitter_ads/util.js
  src/v0/destinations/twitter_ads/utils.test.js
  src/v0/destinations/x_audience/utils.js
  test/integrations/destinations/salesforce/processor/data.ts
  test/integrations/destinations/twitter_ads/processor/data.ts
  test/integrations/destinations/twitter_ads/router/data.ts
  test/integrations/destinations/x_audience/processor/data.ts
  test/integrations/destinations/x_audience/router/data.ts
Due: js

fix: improve gzip creation function
  src/adapters/network.js
  src/adapters/network.test.js
  src/services/delivertTest/deliveryTest.ts
  src/v0/destinations/intercom/networkHandler.js
  src/v0/destinations/pardot/networkHandler.js
  src/v0/destinations/rakuten/networkHandler.js
  src/v0/destinations/snapchat_custom_audience/networkHandler.js
  src/v0/destinations/the_trade_desk/networkHandler.js
  test/integrations/destinations/mp/dataDelivery/proxyV1.ts
Due: js, ts

fix: handle empty oauth secret for multiple destination (#4295) (#4388)
  src/v0/destinations/salesforce/utils.js
  src/v0/destinations/twitter_ads/transform.js
  src/v0/destinations/twitter_ads/util.js
  src/v0/destinations/twitter_ads/utils.test.js
  src/v0/destinations/x_audience/utils.js
  test/integrations/destinations/salesforce/processor/data.ts
  test/integrations/destinations/twitter_ads/processor/data.ts
  test/integrations/destinations/twitter_ads/router/data.ts
  test/integrations/destinations/x_audience/processor/data.ts
  test/integrations/destinations/x_audience/router/data.ts
Due: js

chore: changes
  .gitignore
  .vscode/tasks.json
  scripts/runSingleTestCase.ts
Due: none

chore: review comment
  src/adapters/network.js
Due: js

feat: use account information on zoho
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  src/cdk/v2/utils.ts
  src/constants/destinationCanonicalNames.js
  src/features.ts
  src/services/destination/nativeIntegration.ts
  src/types/controlPlaneConfig.ts
  test/integrations/destinations/zoho/dataDelivery/data.ts
  test/integrations/destinations/zoho/dataDelivery/zoho_dev.ts
  test/integrations/destinations/zoho/router/account.ts
  test/integrations/destinations/zoho/router/data.ts
  test/integrations/destinations/zoho_dev/dataDelivery/data.ts
  test/integrations/destinations/zoho_dev/network.ts
  test/integrations/destinations/zoho_dev/router/data.ts
Due: js, ts

fix: improve gzip creation function (#4389)
  src/adapters/network.js
  src/adapters/network.test.js
  src/services/delivertTest/deliveryTest.ts
  src/v0/destinations/intercom/networkHandler.js
  src/v0/destinations/pardot/networkHandler.js
  src/v0/destinations/rakuten/networkHandler.js
  src/v0/destinations/snapchat_custom_audience/networkHandler.js
  src/v0/destinations/the_trade_desk/networkHandler.js
  test/integrations/destinations/mp/dataDelivery/proxyV1.ts
Due: js, ts

chore: add triggering actor in workflow
  .github/workflows/draft-new-release.yml
Due: none

chore(release): 1.102.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: code structure
  .gitignore
  .vscode/tasks.json
  scripts/common.ts
  scripts/createCurlRequest.ts
  scripts/runSingleTestCase.ts
Due: none

fix: eslint
  scripts/common.ts
  scripts/createCurlRequest.ts
  scripts/runSingleTestCase.ts
  tsconfig.json
Due: none

chore: review comments
  scripts/common.ts
  scripts/createCurlRequest.ts
  scripts/runSingleTestCase.ts
Due: none

chore: review comment
  .gitignore
  scripts/createCurlRequest.ts
Due: none

chore: new way of creating release
  .github/workflows/publish-new-release.yml
  docs/RELEASE_PROCESS.md
  package.json
  scripts/create-github-release.js
Due: none

fix: braze stats instrumentation issue
  src/v0/destinations/braze/util.js
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
