Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: update expect-error comment
  src/v1/destinations/iterable/strategies/base.ts
Due: ts

chore: improve iterable network handler (#3918)
  src/v1/destinations/iterable/networkHandler.ts
  src/v1/destinations/iterable/strategies/base.ts
  src/v1/destinations/iterable/strategies/generic.ts
  src/v1/destinations/iterable/strategies/track-identify.ts
  src/v1/destinations/iterable/type.ts
  src/v1/destinations/iterable/types.ts
  test/integrations/destinations/iterable/dataDelivery/business.ts
Due: ts

chore: source handler based on version
  src/services/misc.ts
Due: ts

feat: http form format
  package-lock.json
  package.json
  src/cdk/v2/destinations/http/procWorkflow.yaml
  src/cdk/v2/destinations/http/utils.js
  test/integrations/destinations/http/common.ts
  test/integrations/destinations/http/processor/configuration.ts
Due: js

fix: skipping users events for snowpipe streaming (#3836)
  src/v0/destinations/snowpipe_streaming/transform.js
  src/warehouse/config/ReservedKeywords.json
  src/warehouse/index.js
  src/warehouse/v1/util.js
  test/__tests__/data/warehouse/events.js
  test/__tests__/data/warehouse/integration_options_events.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/aliases.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/extract.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/groups.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/pages.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/screens.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/tracks.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/aliases.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/extract.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/groups.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/pages.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/screens.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/tracks.js
  test/__tests__/data/warehouse/names.js
  test/__tests__/warehouse.test.js
Due: js

chore: function updates
  src/v0/destinations/topsort/transform.js
Due: js

chore: product array changes
  src/v0/destinations/topsort/config.js
  src/v0/destinations/topsort/data/TopsortItemConfig.json
  src/v0/destinations/topsort/transform.js
  src/v0/destinations/topsort/utils.js
Due: js

fix: braze subscription group fixes (#3901)
  src/util/prometheus.js
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/config.js
  src/v0/destinations/braze/transform.js
  src/v0/destinations/braze/util.js
  test/integrations/destinations/braze/processor/data.ts
  test/integrations/destinations/braze/router/data.ts
Due: js

chore: adjust and shopify changes with expanded test cases
  src/sources/adjust/transform.js
  src/sources/shopify/transform.js
  src/v0/sources/adjust/transform.js
  test/apitests/service.api.test.ts
  test/integrations/component.test.ts
  test/integrations/sources/adjust/data.ts
  test/integrations/sources/shopify/data.ts
Due: js

chore(release): 1.86.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

refactor: code to address sonar issues
  package-lock.json
  src/cdk/v2/destinations/pinterest_tag/utils.js
  src/v0/destinations/amazon_audience/utils.js
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
Due: js

refactor: garl record transform
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
Due: js

chore: purchase event implementation
  src/v0/destinations/topsort/config.js
  src/v0/destinations/topsort/data/TopSortPurchaseProductConfig.json
  src/v0/destinations/topsort/data/TopsortTrackConfig.json
  src/v0/destinations/topsort/transform.js
  src/v0/destinations/topsort/utils.js
Due: js

refactor: code to address sonar issues (#3926)
  package-lock.json
  src/cdk/v2/destinations/pinterest_tag/utils.js
  src/v0/destinations/amazon_audience/utils.js
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
Due: js

fix: removed console statement
  src/v0/destinations/braze/util.js
Due: js

fix: removed console statement (#3927)
  src/v0/destinations/braze/util.js
Due: js

chore: update to do login before setting up buildx
  .github/workflows/build-push-docker-image.yml
Due: none

chore: update tlogin for amd builds as well
  .github/workflows/build-push-docker-image.yml
Due: none

feat: feature flag integration with webhook body format support
  .vscode/settings.json
  package-lock.json
  package.json
  src/cdk/v2/destinations/http/utils.js
  src/cdk/v2/destinations/webhook/procWorkflow.yaml
  src/cdk/v2/handler.ts
  src/v0/destinations/webhook/utils.js
  test/integrations/destinations/webhook/processor/data.ts
Due: js, ts

chore: fix build workflow (#3928)
  .github/workflows/build-push-docker-image.yml
Due: none

chore: update for multi-arch manifest
  .github/workflows/build-push-docker-image.yml
Due: none

chore: fix build workflow (#3929)
  .github/workflows/build-push-docker-image.yml
Due: none

chore: test cases contain workspaceId for feature-flag testing
  src/cdk/v2/destinations/webhook/procWorkflow.yaml
  src/v0/destinations/webhook/utils.js
  test/integrations/destinations/webhook/processor/data.ts
  test/integrations/destinations/webhook/router/data.ts
Due: js

chore: test cases for various content-types
  .vscode/settings.json
  test/integrations/destinations/webhook/mocks.ts
  test/integrations/destinations/webhook/processor/data.ts
Due: none

chore: remove references to legacy consent management fields
  src/v0/destinations/braze/braze.util.test.js
  test/apitests/data_scenarios/cdk_v2/failure.json
  test/apitests/data_scenarios/cdk_v2/success.json
  test/apitests/data_scenarios/destination/batch/failure_batch.json
  test/apitests/data_scenarios/destination/batch/successful_batch.json
  test/apitests/data_scenarios/destination/proc/batch_input_multiplex.json
  test/apitests/data_scenarios/destination/proc/multiplex_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_partial_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_success.json
  test/apitests/data_scenarios/destination/router/failure_test.json
  test/integrations/destinations/algolia/router/data.ts
  test/integrations/destinations/braze/router/data.ts
  test/integrations/destinations/candu/processor/data.ts
  test/integrations/destinations/candu/router/data.ts
  test/integrations/destinations/clicksend/commonConfig.ts
  test/integrations/destinations/clicksend/router/data.ts
  test/integrations/destinations/emarsys/deleteUsers/data.ts
  test/integrations/destinations/emarsys/processor/data.ts
  test/integrations/destinations/emarsys/router/data.ts
  test/integrations/destinations/fb_custom_audience/router/data.ts
  test/integrations/destinations/fb_custom_audience/router/rETL.ts
  test/integrations/destinations/gainsight_px/router/data.ts
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
  test/integrations/destinations/hs/router/data.ts
  test/integrations/destinations/linkedin_ads/processor/configLevelFeaturesTestData.ts
  test/integrations/destinations/linkedin_ads/processor/trackTestData.ts
  test/integrations/destinations/linkedin_ads/processor/validationTestData.ts
  test/integrations/destinations/linkedin_ads/router/data.ts
  test/integrations/destinations/rockerbox/processor/data.ts
  test/integrations/destinations/rockerbox/router/data.ts
  test/integrations/destinations/tune/processor/trackTestData.ts
  test/integrations/destinations/tune/router/data.ts
  test/integrations/destinations/webhook/processor/data.ts
  test/integrations/destinations/zoho/common.ts
Due: js

chore: remove references to legacy consent management fields (#3931)
  src/v0/destinations/braze/braze.util.test.js
  test/apitests/data_scenarios/cdk_v2/failure.json
  test/apitests/data_scenarios/cdk_v2/success.json
  test/apitests/data_scenarios/destination/batch/failure_batch.json
  test/apitests/data_scenarios/destination/batch/successful_batch.json
  test/apitests/data_scenarios/destination/proc/batch_input_multiplex.json
  test/apitests/data_scenarios/destination/proc/multiplex_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_partial_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_success.json
  test/apitests/data_scenarios/destination/router/failure_test.json
  test/integrations/destinations/algolia/router/data.ts
  test/integrations/destinations/braze/router/data.ts
  test/integrations/destinations/candu/processor/data.ts
  test/integrations/destinations/candu/router/data.ts
  test/integrations/destinations/clicksend/commonConfig.ts
  test/integrations/destinations/clicksend/router/data.ts
  test/integrations/destinations/emarsys/deleteUsers/data.ts
  test/integrations/destinations/emarsys/processor/data.ts
  test/integrations/destinations/emarsys/router/data.ts
  test/integrations/destinations/fb_custom_audience/router/data.ts
  test/integrations/destinations/fb_custom_audience/router/rETL.ts
  test/integrations/destinations/gainsight_px/router/data.ts
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
  test/integrations/destinations/hs/router/data.ts
  test/integrations/destinations/linkedin_ads/processor/configLevelFeaturesTestData.ts
  test/integrations/destinations/linkedin_ads/processor/trackTestData.ts
  test/integrations/destinations/linkedin_ads/processor/validationTestData.ts
  test/integrations/destinations/linkedin_ads/router/data.ts
  test/integrations/destinations/rockerbox/processor/data.ts
  test/integrations/destinations/rockerbox/router/data.ts
  test/integrations/destinations/tune/processor/trackTestData.ts
  test/integrations/destinations/tune/router/data.ts
  test/integrations/destinations/webhook/processor/data.ts
  test/integrations/destinations/zoho/common.ts
Due: js

chore: silent test case logs
  package.json
Due: none

chore: purchase function updated
  src/v0/destinations/topsort/transform.js
  src/v0/destinations/topsort/utils.js
Due: js

chore: silent testcase logs in local (#3932)
  package.json
Due: none

chore: build finalPayload
  src/v0/destinations/topsort/config.js
  src/v0/destinations/topsort/data/TopsortTrackConfig.json
  src/v0/destinations/topsort/transform.js
  src/v0/destinations/topsort/utils.js
Due: js

chore: few updations
  src/v0/destinations/topsort/transform.js
  src/v0/destinations/topsort/utils.js
Due: js

fix: handling partial error in a batch for reddit destination
  src/cdk/v2/destinations/reddit/rtWorkflow.yaml
  src/cdk/v2/destinations/reddit/utils.js
  src/v0/destinations/reddit/networkHandler.js
  test/integrations/destinations/reddit/dataDelivery/business.ts
  test/integrations/destinations/reddit/network.ts
  test/integrations/destinations/reddit/router/data.ts
Due: js

fix: minor change
  src/cdk/v2/destinations/reddit/rtWorkflow.yaml
Due: none

chore: dedicated deployments separation for ut and dt
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
Due: none

chore: update commit msg for dt
  .github/workflows/prepare-for-prod-dt-deploy.yml
Due: none

chore: update ut dedicated deployment branch and commit msg
  .github/workflows/prepare-for-prod-ut-deploy.yml
Due: none

chore: update branch for dedicated ut deployment
  .github/workflows/prepare-for-prod-ut-deploy.yml
Due: none

fix: changed body formatting based on server expectations
  src/v0/destinations/webhook/utils.js
  test/integrations/destinations/webhook/processor/data.ts
Due: js
