Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: test cases cover v2 spec respecting code coverage
  test/apitests/service.api.test.ts
  test/integrations/component.test.ts
  test/integrations/testTypes.ts
Due: none

fix: flatten payload for url-encoded form values, server expects that
  src/v0/destinations/webhook/utils.js
  test/integrations/destinations/webhook/processor/data.ts
Due: js

fix: review comments addressed
  src/v0/destinations/iterable/config.js
  src/v0/destinations/iterable/util.js
  src/v0/destinations/iterable/util.test.js
Due: js

fix: small refactoring
  src/v0/destinations/iterable/util.js
Due: js

chore: mockfn changes
  src/v0/destinations/topsort/data/TopSortPurchaseProductConfig.json
  src/v0/destinations/topsort/data/TopsortItemConfig.json
  src/v0/destinations/topsort/data/TopsortPlacementConfig.json
  src/v0/destinations/topsort/transform.js
  src/v0/destinations/topsort/utils.js
  test/integrations/destinations/topsort/mocks.ts
  test/integrations/destinations/topsort/processor/trackTestData.ts
  test/integrations/testTypes.ts
  test/integrations/testUtils.ts
Due: js

fix: update for supporting disallowed events
  src/v0/destinations/iterable/util.js
  src/v0/destinations/iterable/util.test.js
Due: js

chore: restructured files - moved impressions and clicks logic into its own file - moved purchase related logic into its own file
  src/v0/destinations/topsort/impressions-and-clicks.js
  src/v0/destinations/topsort/purchase.js
  src/v0/destinations/topsort/transform.js
  src/v0/destinations/topsort/utils.js
Due: js

chore: update formatting
  test/integrations/destinations/topsort/mocks.ts
Due: none

fix: moving networkHandler to v1 from v0
  src/v1/destinations/reddit/networkHandler.js
  test/integrations/destinations/reddit/dataDelivery/business.ts
  test/integrations/destinations/reddit/dataDelivery/oauth.ts
Due: js

fix: sonarcloud code analysis
  src/v1/destinations/reddit/networkHandler.js
Due: js

fix: handling partial error in a batch for reddit destination (#3935)
  src/cdk/v2/destinations/reddit/rtWorkflow.yaml
  src/cdk/v2/destinations/reddit/utils.js
  src/v1/destinations/reddit/networkHandler.js
  test/integrations/destinations/reddit/dataDelivery/business.ts
  test/integrations/destinations/reddit/dataDelivery/oauth.ts
  test/integrations/destinations/reddit/network.ts
  test/integrations/destinations/reddit/router/data.ts
Due: js

chore: test cases added
  src/v0/destinations/topsort/utils.js
  test/integrations/destinations/topsort/mocks.ts
  test/integrations/destinations/topsort/processor/data.ts
  test/integrations/destinations/topsort/processor/trackClicksTestData.ts
  test/integrations/destinations/topsort/processor/trackImpressionsTestData.ts
  test/integrations/destinations/topsort/processor/trackPurchasesTestData.ts
  test/integrations/destinations/topsort/processor/trackTestData.ts
  test/integrations/destinations/topsort/router/data.ts
Due: js

chore: destType updated
  src/features.ts
  test/integrations/destinations/topsort/router/data.ts
Due: ts

feat: onboard topsort destination (#3913)
  src/features.ts
  src/v0/destinations/topsort/config.js
  src/v0/destinations/topsort/data/TopSortPurchaseProductConfig.json
  src/v0/destinations/topsort/data/TopsortItemConfig.json
  src/v0/destinations/topsort/data/TopsortPlacementConfig.json
  src/v0/destinations/topsort/data/TopsortTrackConfig.json
  src/v0/destinations/topsort/impressions-and-clicks.js
  src/v0/destinations/topsort/purchase.js
  src/v0/destinations/topsort/transform.js
  src/v0/destinations/topsort/utils.js
  src/v0/util/index.js
  test/integrations/destinations/topsort/mocks.ts
  test/integrations/destinations/topsort/processor/data.ts
  test/integrations/destinations/topsort/processor/trackClicksTestData.ts
  test/integrations/destinations/topsort/processor/trackImpressionsTestData.ts
  test/integrations/destinations/topsort/processor/trackPurchasesTestData.ts
  test/integrations/destinations/topsort/router/data.ts
  test/integrations/testTypes.ts
  test/integrations/testUtils.ts
Due: js, ts

chore(release): 1.87.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: featureflag-sdk from our registry
  .npmrc
  package-lock.json
  package.json
  src/v0/destinations/webhook/utils.js
Due: js

fix: code review suggestion
  src/v0/destinations/iterable/util.js
Due: js

fix: fixing test cases
  src/v0/destinations/iterable/util.js
  src/v0/destinations/iterable/util.test.js
  test/integrations/destinations/iterable/dataDelivery/business.ts
Due: js

fix: review comment addressed
  src/v0/destinations/iterable/util.test.js
Due: js

fix: comments addressed
  src/cdk/v2/destinations/http/procWorkflow.yaml
  test/integrations/destinations/http/common.ts
  test/integrations/destinations/http/processor/configuration.ts
Due: none

fix: property and event name mappings in shopify v2
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/webhookEventsMapping/identifyMapping.json
  src/v1/sources/shopify/webhookEventsMapping/lineItemsMapping.json
  src/v1/sources/shopify/webhookEventsMapping/mapping.json
  src/v1/sources/shopify/webhookEventsMapping/productMapping.json
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutStepsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
Due: js

fix(airship): resolved minor bugsnag error
  src/v0/destinations/airship/transform.js
  test/integrations/destinations/airship/processor/data.ts
Due: js

docs: fix a hyperlink in contribution guide
  CONTRIBUTING.md
Due: none

chore: basic template for salesforce sdk
  src/v0/destinations/salesforce/sdk/index.ts
Due: ts

fix: refactoring iterable
  src/v0/destinations/iterable v2/SDK.ts
  src/v0/destinations/iterable v2/api-versioning/APIClientFactory.ts
  src/v0/destinations/iterable v2/api-versioning/version1.ts
  src/v0/destinations/iterable v2/api-versioning/version2.ts
  src/v0/destinations/iterable v2/config.js
  src/v0/destinations/iterable v2/data/IterableAliasConfig.json
  src/v0/destinations/iterable v2/data/IterableCatalogConfig.json
  src/v0/destinations/iterable v2/data/IterableDeviceConfig.json
  src/v0/destinations/iterable v2/data/IterableIdentifyConfig.json
  src/v0/destinations/iterable v2/data/IterablePageConfig.json
  src/v0/destinations/iterable v2/data/IterableProductConfig.json
  src/v0/destinations/iterable v2/data/IterableRegisterBrowserTokenConfig.json
  src/v0/destinations/iterable v2/data/IterableRegisterDeviceTokenConfig.json
  src/v0/destinations/iterable v2/data/IterableTrackConfig.json
  src/v0/destinations/iterable v2/data/IterableTrackPurchaseConfig.json
  src/v0/destinations/iterable v2/deleteUsers.js
  src/v0/destinations/iterable v2/event-type-level-strategies/InputTypeProcessorContext.ts
  src/v0/destinations/iterable v2/event-type-level-strategies/baseProcessor.ts
  src/v0/destinations/iterable v2/event-type-level-strategies/identify/IdentifyProcessorV1.ts
  src/v0/destinations/iterable v2/event-type-level-strategies/track/TrackProcessorV1.ts
  src/v0/destinations/iterable v2/source-level-strategies/EventStreamProcessor.ts
  src/v0/destinations/iterable v2/source-level-strategies/RETLProcessor.ts
  src/v0/destinations/iterable v2/source-level-strategies/baseProcessorContext.ts
  src/v0/destinations/iterable v2/transform.js
  src/v0/destinations/iterable v2/type.ts
  src/v0/destinations/iterable v2/util.js
  src/v0/destinations/iterable v2/util.test.js
  src/v0/destinations/mp/deleteUsers.js
Due: js, ts

fix: anonymousId overwriting userId at MoEngage destination (#3914)
  src/v0/destinations/moengage/transform.js
Due: js

chore: fix test cases
  test/integrations/destinations/moengage/processor/data.ts
  test/integrations/destinations/moengage/router/data.ts
Due: none

chore: server suffix in checkout started webhook event
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
Due: js

feat: salesforce sdk restructured
  src/v0/destinations/salesforce/salesforce-sdk/src/api/salesforceClient.ts
  src/v0/destinations/salesforce/salesforce-sdk/src/auth/authContext.ts
  src/v0/destinations/salesforce/salesforce-sdk/src/auth/oauthProvider.ts
  src/v0/destinations/salesforce/salesforce-sdk/src/auth/tokenProvider.ts
  src/v0/destinations/salesforce/salesforce-sdk/src/index.ts
  src/v0/destinations/salesforce/salesforce-sdk/src/types/salesforceTypes.ts
  src/v0/destinations/salesforce/salesforce-sdk/src/utils/httpClient.ts
  src/v0/destinations/salesforce/sdk/index.ts
  src/v0/destinations/salesforce/transform.js
  src/v0/destinations/salesforce/utils.js
Due: js, ts

Revert "feat: salesforce sdk restructured"
  src/v0/destinations/salesforce/salesforce-sdk/src/api/salesforceClient.ts
  src/v0/destinations/salesforce/salesforce-sdk/src/auth/authContext.ts
  src/v0/destinations/salesforce/salesforce-sdk/src/auth/oauthProvider.ts
  src/v0/destinations/salesforce/salesforce-sdk/src/auth/tokenProvider.ts
  src/v0/destinations/salesforce/salesforce-sdk/src/index.ts
  src/v0/destinations/salesforce/salesforce-sdk/src/types/salesforceTypes.ts
  src/v0/destinations/salesforce/salesforce-sdk/src/utils/httpClient.ts
  src/v0/destinations/salesforce/sdk/index.ts
  src/v0/destinations/salesforce/transform.js
  src/v0/destinations/salesforce/utils.js
Due: js, ts

chore: update test descriptions and details for active campaign migrated tests
  .gitignore
  jest.config.typescript.js
  package-lock.json
  package.json
  test/integrations/component.test.ts
  test/integrations/destinations/active_campaign/processor/data.ts
  test/integrations/destinations/active_campaign/router/data.ts
  test/integrations/testTypes.ts
  test/scripts/migrationUtils.ts
  test/test_reporter/allureReporter.ts
Due: none

chore: update method for topsort test cases
  test/integrations/destinations/topsort/processor/trackClicksTestData.ts
  test/integrations/destinations/topsort/processor/trackImpressionsTestData.ts
  test/integrations/destinations/topsort/processor/trackPurchasesTestData.ts
  test/integrations/destinations/topsort/router/data.ts
Due: none

fix: upgrade @aws-sdk/client-s3 from 3.637.0 to 3.705.0
  package-lock.json
  package.json
Due: none

chore: remove value from updation webhook events
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
Due: js

fix: user order (#3944)
  src/v0/destinations/moengage/transform.js
  test/integrations/destinations/moengage/processor/data.ts
  test/integrations/destinations/moengage/router/data.ts
Due: js

chore: clean deprecated files (#3904)
  src/controllers/bulkUpload.ts
  src/controllers/obs.delivery.js
  src/legacy/delivery.js
  src/legacy/router.js
  src/routes/bulkUpload.ts
  src/routes/index.ts
  test/__tests__/legacyRouter.test.ts
Due: js, ts

chore: separation prs for ut and dt dedicated deployment updates (#3936)
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
Due: none

fix(airship): resolved minor bugsnag error (#3942)
  src/v0/destinations/airship/transform.js
  test/integrations/destinations/airship/processor/data.ts
Due: js

chore: remove redundant products tag when no products sent
  src/v0/destinations/adobe_analytics/transform.js
  test/integrations/destinations/adobe_analytics/processor/data.ts
Due: js

chore: update comflicting event name with webhook suffix
  src/v1/sources/shopify/config.js
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
