Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix: update pixel app specific transformations (#4173)
  src/sources/shopify/config.js
  src/sources/shopify/webhookEventsMapping/addressMapping.json
  src/sources/shopify/webhookEventsMapping/identifyMapping.json
  src/sources/shopify/webhookTransformations/serverSideTransform.js
  src/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/sources/shopify/webhookTransformations/serverSideUtlis.js
  src/sources/shopify/webpixelTransformations/pixelTransform.js
  src/sources/shopify/webpixelTransformations/pixelUtils.js
  src/sources/shopify/webpixelTransformations/pixelUtils.test.js
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/ProductEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/OrderEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/userIdentifyTests.ts
Due: js

chore(test): add tests for shopify v2 bugbash fixes (#4163)
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/ProductEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/OrderEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/userIdentifyTests.ts
Due: none

chore: moving shopify tests to v2 (#4171)
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
Due: none

chore: remove customer create update webhooks shopify (#4169)
  src/sources/shopify/webhookTransformations/serverSideTransform.js
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/webhookTestScenarios/IdentifyTests.ts
Due: js

fix: eslint issues
  src/sources/shopify/tracker/transform.js
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

chore: update response handler
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
Due: js

fix: customer io audience id type
  src/v0/destinations/customerio_audience/type.ts
  src/v0/destinations/customerio_audience/utils.test.ts
Due: ts

fix: customer io audience id type (#4179)
  src/v0/destinations/customerio_audience/type.ts
  src/v0/destinations/customerio_audience/utils.test.ts
Due: ts

chore: fix some test cases
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/network.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

chore: fix remaining test cases
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/network.ts
Due: none

chore: remove reference of endpoint from gaec
  src/v0/destinations/google_adwords_enhanced_conversions/config.js
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

chore: address comment
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/oauth.ts
Due: none

chore: improve code coverage
  src/middleware.test.js
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

chore: testing without pushing image
  .github/workflows/build-push-docker-image.yml
Due: none

chore: requires push true for successful cosign
  .github/workflows/build-push-docker-image.yml
Due: none

chore: update create branch workflow version to sha
  .github/workflows/create-hotfix-branch.yml
Due: none

chore: shopify v2 migration
  src/controllers/util/index.ts
  src/services/__tests__/misc.test.ts
  src/sources/shopify/config.js
  src/sources/shopify/pixelEventsMappings/campaignObjectMappings.json
  src/sources/shopify/pixelEventsMappings/cartViewedEventMapping.json
  src/sources/shopify/pixelEventsMappings/checkoutStartedCompletedEventMapping.json
  src/sources/shopify/pixelEventsMappings/contextualFieldMapping.json
  src/sources/shopify/pixelEventsMappings/productListViewedEventMapping.json
  src/sources/shopify/pixelEventsMappings/productToCartEventMapping.json
  src/sources/shopify/pixelEventsMappings/productViewedEventMapping.json
  src/sources/shopify/tracker/config.js
  src/sources/shopify/tracker/data/identifyMapping.json
  src/sources/shopify/tracker/data/lineItemsMapping.json
  src/sources/shopify/tracker/data/mapping.json
  src/sources/shopify/tracker/data/productMapping.json
  src/sources/shopify/tracker/shopify.util.test.js
  src/sources/shopify/tracker/shopify_redis.util.test.js
  src/sources/shopify/tracker/shopify_source.json
  src/sources/shopify/tracker/transform.js
  src/sources/shopify/tracker/util.js
  src/sources/shopify/transform.js
  src/sources/shopify/transformPixel.js
  src/sources/shopify/utils.js
  src/sources/shopify/utils.test.js
  src/sources/shopify/webhookEventsMapping/identifyMapping.json
  src/sources/shopify/webhookEventsMapping/lineItemsMapping.json
  src/sources/shopify/webhookEventsMapping/mapping.json
  src/sources/shopify/webhookEventsMapping/productMapping.json
  src/sources/shopify/webhookTransformations/serverSideTransform.js
  src/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/sources/shopify/webhookTransformations/serverSideUtlis.js
  src/sources/shopify/webpixelTransformations/pixelTransform.js
  src/sources/shopify/webpixelTransformations/pixelTransform.redisCartToken.test.js
  src/sources/shopify/webpixelTransformations/pixelUtils.js
  src/sources/shopify/webpixelTransformations/pixelUtils.test.js
  src/util/redis/redisConnector.test.js
  src/v1/sources/shopify/transform.js
  test/integrations/component.test.ts
Due: js, ts

fix: update pixel app specific transformations (#4173)
  src/sources/shopify/config.js
  src/sources/shopify/tracker/transform.js
  src/sources/shopify/webhookEventsMapping/addressMapping.json
  src/sources/shopify/webhookEventsMapping/identifyMapping.json
  src/sources/shopify/webhookTransformations/serverSideTransform.js
  src/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/sources/shopify/webhookTransformations/serverSideUtlis.js
  src/sources/shopify/webpixelTransformations/pixelTransform.js
  src/sources/shopify/webpixelTransformations/pixelUtils.js
  src/sources/shopify/webpixelTransformations/pixelUtils.test.js
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/ProductEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/OrderEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/userIdentifyTests.ts
Due: js

chore: fb conversions modify mapping
  src/v0/destinations/facebook_conversions/data/FBCUserDataConfig.json
  test/integrations/destinations/facebook_conversions/processor/data.ts
  test/integrations/destinations/facebook_conversions/router/data.ts
Due: none

chore: onboard am to proxy (#4110)
  src/adapters/networkHandlerFactory.js
  src/v0/destinations/am/networkHandler.js
  test/integrations/destinations/am/dataDelivery/data.ts
  test/integrations/destinations/am/network.ts
Due: js

chore: update contributing guide
  CONTRIBUTING.md
Due: none

chore: add au data center
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/util.js
  test/integrations/destinations/braze/processor/data.ts
Due: js

chore: address comment
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
Due: js

feat: add spreade middleware which will help to spread information around the event body
  src/middlewares/arraySpreader.ts
  src/middlewares/baseSpreader.ts
  src/middlewares/secretSpreader.ts
  src/middlewares/types/spreader.ts
  src/routes/destination.ts
Due: ts

fix: remove hubspot system defined field from payload
  src/v0/destinations/hs/HSTransform-v1.js
  src/v0/destinations/hs/HSTransform-v2.js
  src/v0/destinations/hs/config.js
  src/v0/destinations/hs/util.js
  src/v0/destinations/hs/util.test.js
  test/integrations/destinations/hs/maskedSecrets.ts
  test/integrations/destinations/hs/network.ts
  test/integrations/destinations/hs/processor/data.ts
Due: js

fix: mapping of android app version code in mixpanel destination
  src/v0/destinations/mp/data/MPProfilePropertiesAndroid.json
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/processor/data.ts
Due: js

chore: convert bingads audience to typescript
  src/cdk/v2/destinations/bingads_audience/config.js
  src/cdk/v2/destinations/bingads_audience/config.ts
Due: js, ts

refactor: move to ts for dcm_floodlight
  src/cdk/v2/destinations/dcm_floodlight/utils.js
  src/cdk/v2/destinations/dcm_floodlight/utils.test.ts
  src/cdk/v2/destinations/dcm_floodlight/utils.ts
Due: js, ts

refactor: move to ts for eloqua
  src/cdk/v2/destinations/eloqua/config.js
  src/cdk/v2/destinations/eloqua/config.ts
  src/cdk/v2/destinations/eloqua/utils.test.ts
  src/cdk/v2/destinations/eloqua/utils.ts
Due: js, ts

refactor: move to ts for dynamic yield
  src/cdk/v2/destinations/dynamic_yield/config.js
  src/cdk/v2/destinations/dynamic_yield/config.ts
Due: js, ts

refactor: add more util tests for reddit
  src/cdk/v2/destinations/reddit/utils.test.ts
  src/cdk/v2/destinations/reddit/utils.ts
Due: ts

refactor: add tests for reddit utils
  src/cdk/v2/destinations/reddit/utils.test.ts
Due: ts

refactor: clicksend and cordial to ts
  src/cdk/v2/destinations/clicksend/config.ts
  src/cdk/v2/destinations/clicksend/utils.test.js
  src/cdk/v2/destinations/clicksend/utils.test.ts
  src/cdk/v2/destinations/clicksend/utils.ts
  src/cdk/v2/destinations/cordial/config.js
  src/cdk/v2/destinations/cordial/config.ts
  src/cdk/v2/destinations/cordial/utils.js
  src/cdk/v2/destinations/cordial/utils.test.ts
  src/cdk/v2/destinations/cordial/utils.ts
Due: js, ts

refactor: remove unused config
  src/cdk/v2/destinations/bingads_audience/config.ts
  src/cdk/v2/destinations/bingads_audience/procWorkflow.yaml
Due: ts

refactor: reddit and bluecore to ts
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/config.ts
  src/cdk/v2/destinations/bluecore/utils.test.js
  src/cdk/v2/destinations/bluecore/utils.test.ts
  src/cdk/v2/destinations/bluecore/utils.ts
  src/cdk/v2/destinations/reddit/config.ts
  src/cdk/v2/destinations/reddit/utils.js
  src/cdk/v2/destinations/reddit/utils.test.js
  src/cdk/v2/destinations/reddit/utils.test.ts
  src/cdk/v2/destinations/reddit/utils.ts
Due: js, ts

refactor: move to ts for emarsys
  src/cdk/v2/destinations/algolia/procWorkflow.yaml
  src/cdk/v2/destinations/emarsys/config.js
  src/cdk/v2/destinations/emarsys/config.ts
  src/cdk/v2/destinations/emarsys/types.ts
  src/cdk/v2/destinations/emarsys/utils.test.js
  src/cdk/v2/destinations/emarsys/utils.test.ts
  src/cdk/v2/destinations/emarsys/utils.ts
  src/v0/util/index.js
Due: js, ts

fix: typo in algolia proc workflow
  src/cdk/v2/destinations/algolia/procWorkflow.yaml
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
