Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: update .eslintignore
  .eslintignore
Due: none

chore: updated enpoint for processor
  src/cdk/v2/destinations/smartly/utils.js
  test/integrations/destinations/smartly/processor/track.ts
Due: js

feat: onboard smartly destination (#3660)
  .eslintignore
  .eslintrc.json
  .prettierignore
  src/cdk/v2/destinations/smartly/config.js
  src/cdk/v2/destinations/smartly/data/trackMapping.json
  src/cdk/v2/destinations/smartly/procWorkflow.yaml
  src/cdk/v2/destinations/smartly/rtWorkflow.yaml
  src/cdk/v2/destinations/smartly/utils.js
  src/cdk/v2/destinations/smartly/utils.test.js
  src/features.json
  test/integrations/destinations/smartly/commonConfig.ts
  test/integrations/destinations/smartly/mocks.ts
  test/integrations/destinations/smartly/processor/data.ts
  test/integrations/destinations/smartly/processor/track.ts
  test/integrations/destinations/smartly/processor/validation.ts
  test/integrations/destinations/smartly/router/data.ts
Due: js

chore: edit changelog
  CHANGELOG.md
Due: none

feat: update FBCA spec to support VDM v2 events
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/util.js
Due: js

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: none

feat: update FBCA spec to support VDM v2 events
  src/v0/destinations/fb_custom_audience/util.js
Due: js

chore: updated tests
  src/types/index.ts
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/util.js
  test/integrations/destinations/fb_custom_audience/processor/data.ts
  test/integrations/destinations/fb_custom_audience/router/audienceList.ts
  test/integrations/destinations/fb_custom_audience/router/data.ts
  test/integrations/destinations/fb_custom_audience/router/eventStream.ts
Due: js, ts

chore: include package files to eslintignore
  .eslintignore
Due: none

chore: include eslintignore file to prettierignore
  .prettierignore
Due: none

chore: added logs
  src/v0/destinations/fb_custom_audience/recordTransform.js
Due: js

fix: audienceId not found error
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/fb_custom_audience/transform.js
Due: js

fix: tests
  test/integrations/destinations/fb_custom_audience/processor/data.ts
  test/integrations/destinations/fb_custom_audience/router/eventStream.ts
Due: none

fix: add env dns resolver
  src/util/openfaas/index.js
Due: js

fix: add gunicorn values in env vars
  src/util/openfaas/index.js
Due: js

fix: added env values for gunicorn workers and threads in openfaas
  src/util/openfaas/index.js
Due: js

chore: adding scale down window for the autoscaler for cars
  src/util/openfaas/index.js
Due: js

feat: update batching logic
  src/cdk/v2/destinations/webhook_v2/procWorkflow.yaml
  src/cdk/v2/destinations/webhook_v2/rtWorkflow.yaml
  src/cdk/v2/destinations/webhook_v2/utils.js
  test/integrations/destinations/webhook_v2/common.ts
  test/integrations/destinations/webhook_v2/processor/configuration.ts
  test/integrations/destinations/webhook_v2/processor/data.ts
  test/integrations/destinations/webhook_v2/router/data.ts
Due: js

chore: remove logs
  src/cdk/v2/destinations/webhook_v2/utils.js
Due: js

fix: excludeMappedFields utility
  package-lock.json
  package.json
  src/cdk/v2/destinations/webhook_v2/rtWorkflow.yaml
  src/cdk/v2/destinations/webhook_v2/utils.js
Due: js

feat: add support for customerio source email subscribed event
  src/v0/sources/customerio/config.js
  test/integrations/sources/customerio/data.ts
Due: js

fix: users events with proper default config
  src/warehouse/config/WHUserConfig.js
  test/__tests__/data/warehouse/integration_options_events.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/identifies.js
Due: js

chore: add constant for api_version
  src/v0/destinations/google_adwords_remarketing_lists/config.js
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_remarketing_lists/network.ts
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
Due: js

chore: use constant value everywhere
  src/v0/destinations/google_adwords_remarketing_lists/util.test.js
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/oauth.ts
Due: js

fix: handle trade desk null, undefined fields (#3661)
  src/cdk/v2/destinations/the_trade_desk/transformRecord.js
  test/integrations/destinations/the_trade_desk/router/data.ts
Due: js

fix: login using docker creds on the node to allow to pull the desired image
  .github/workflows/ut-tests.yml
Due: none

fix: add steps to create regcred secret and then patch deployment with it
  .github/workflows/ut-tests.yml
Due: none

chore: fix the github action
  .github/workflows/ut-tests.yml
Due: none

feat: fetch isHashRequired from connection configuration
  src/v0/destinations/fb_custom_audience/recordTransform.js
  test/integrations/destinations/fb_custom_audience/router/batchingRecord.ts
  test/integrations/destinations/fb_custom_audience/router/record.ts
Due: js

chore: patch the service account in openfaas-fn ns to allow for pulling openfaas flask base images
  .github/workflows/ut-tests.yml
Due: none

chore: minor fixes
  .github/workflows/ut-tests.yml
Due: none

fix: login using docker creds on the node to allow to pull the desired image (#3682)
  .github/workflows/ut-tests.yml
Due: none

chore: refactor, add pixel transformation definitions
  src/v1/sources/shopify/transform.js
Due: js

chore: update api version of google ads for gaec to 17 from 15 (#3671)
  src/v0/destinations/google_adwords_enhanced_conversions/config.js
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/network.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

fix: env names
  src/util/openfaas/index.js
Due: js

feat: add support for customerio source email subscribed event (#3679)
  src/v0/sources/customerio/config.js
  test/integrations/sources/customerio/data.ts
Due: js

feat: add support for headers to source transformation flows
  src/controllers/source.ts
  src/services/source/__tests__/nativeIntegration.test.ts
  src/services/source/__tests__/postTransformation.test.ts
  src/services/source/nativeIntegration.ts
  src/services/source/postTransformation.ts
  test/apitests/data_scenarios/source/v1/successful.json
  test/apitests/service.api.test.ts
  test/integrations/sources/pipedream/data.ts
  test/integrations/sources/segment/data.ts
Due: ts

fix: adding a new condition for retrying the function creation in python transformation
  src/util/openfaas/index.js
Due: js

fix: upgrade @aws-sdk/lib-storage from 3.485.0 to 3.624.0
  package-lock.json
  package.json
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
