Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

Update util.js
  src/v0/destinations/hs/util.js
Due: js

Update prometheus.js
  src/util/prometheus.js
Due: js

remove a space
  src/v0/destinations/hs/util.js
Due: js

fix: putting logs
  src/v0/destinations/marketo_bulk_upload/fetchJobStatus.js
  src/v0/destinations/marketo_bulk_upload/fileUpload.js
  src/v0/destinations/marketo_bulk_upload/poll.js
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

fix: adding map for marketo known values and javascript known values
  .vscode/launch.json
  src/v0/destinations/marketo_bulk_upload/config.js
  src/v0/destinations/marketo_bulk_upload/marketo_bulk_upload.util.test.js
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

fix: reverting launch.json to original state
  .vscode/launch.json
Due: none

fix: editing test cases
  src/v0/destinations/marketo_bulk_upload/marketo_bulk_upload.util.test.js
Due: js

fix: mixpanel timestamp in ms (#3028)
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/util/index.js
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: js

fix: error handling for auth0 source
  src/v0/sources/auth0/transform.js
  test/__tests__/auth0_source.test.js
  test/__tests__/data/auth0_source.json
Due: js

chore: clear redundant testcase data
  test/__tests__/data/auth0_source.json
Due: none

feat: update proxy tests for cm360 Added new structure for proxy test scnearios for cm360 also added zod validations as part of tests
  package-lock.json
  package.json
  src/types/zodTypes.ts
  test/integrations/common/google/network.ts
  test/integrations/common/network.ts
  test/integrations/component.test.ts
  test/integrations/destinations/campaign_manager/dataDelivery/business.ts
  test/integrations/destinations/campaign_manager/dataDelivery/data.ts
  test/integrations/destinations/campaign_manager/dataDelivery/oauth.ts
  test/integrations/destinations/campaign_manager/dataDelivery/other.ts
  test/integrations/destinations/campaign_manager/network.ts
  test/integrations/testTypes.ts
  test/integrations/testUtils.ts
Due: ts

fix: typo
  test/integrations/destinations/campaign_manager/dataDelivery/business.ts
  test/integrations/destinations/campaign_manager/dataDelivery/data.ts
  test/integrations/destinations/campaign_manager/dataDelivery/oauth.ts
  test/integrations/destinations/campaign_manager/dataDelivery/other.ts
Due: none

Update test/integrations/destinations/campaign_manager/dataDelivery/business.ts
  test/integrations/destinations/campaign_manager/dataDelivery/business.ts
Due: none

feat: initial commit
  src/util/error-extractor/index.ts
  src/util/error-extractor/types.ts
  src/v0/util/facebookUtils/networkHandler.js
  src/v0/util/tags.js
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
  test/integrations/destinations/fb_custom_audience/network.ts
Due: js, ts

fix: review comments addressed
  src/v0/destinations/marketo_bulk_upload/config.js
  src/v0/destinations/marketo_bulk_upload/marketo_bulk_upload.util.test.js
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

fix: hubspot increasing batch limit from 10 to 100
  src/v0/destinations/hs/config.js
Due: js

chore(release): 1.54.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: use map instead of forEach for async operations
  src/cdk/v2/destinations/the_trade_desk/transform.js
Due: js

fix: initial commit
  src/util/error-extractor/index.ts
  src/util/error-extractor/types.ts
  src/v0/util/facebookUtils/networkHandler.js
  src/v0/util/tags.js
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
  test/integrations/destinations/fb_custom_audience/network.ts
Due: js, ts

fix: adding unauthorized error for access token failure
  src/v0/util/facebookUtils/networkHandler.js
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
  test/integrations/destinations/fb/dataDelivery/data.ts
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
Due: js

fix: reviw comments addressed
  src/v0/util/facebookUtils/networkHandler.js
  src/v0/util/tags.js
Due: js

fix: making error statement better
  src/v0/destinations/marketo_bulk_upload/marketo_bulk_upload.util.test.js
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

feat: reviw comments addressed
  package-lock.json
  package.json
  src/v0/util/facebookUtils/networkHandler.js
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
  test/integrations/destinations/fb/dataDelivery/data.ts
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
Due: js

fix: purchsse events for reddit
  src/cdk/v2/destinations/reddit/procWorkflow.yaml
  test/integrations/destinations/reddit/processor/data.ts
  test/integrations/destinations/reddit/router/data.ts
Due: none

feat: reviw comments addressed
  src/v0/destinations/marketo_bulk_upload/marketo_bulk_upload.util.test.js
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

fix: adding map for marketo known values and javascript known values (#3037)
  src/v0/destinations/marketo_bulk_upload/config.js
  src/v0/destinations/marketo_bulk_upload/marketo_bulk_upload.util.test.js
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

chore(release): 1.54.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: changing version of integrations lib
  package-lock.json
  package.json
Due: none

feat: onboard new destination rakuten_advertising
  src/cdk/v2/destinations/rakuten/config.js
  src/cdk/v2/destinations/rakuten/data/propertiesMapping.json
  src/cdk/v2/destinations/rakuten/procWorkflow.yaml
  src/cdk/v2/destinations/rakuten/utils.js
  src/cdk/v2/destinations/rakuten/utils.test.js
  test/integrations/destinations/rakuten/processor/commonConfig.ts
  test/integrations/destinations/rakuten/processor/data.ts
  test/integrations/destinations/rakuten/processor/track.ts
  test/integrations/destinations/rakuten/processor/transformationFailure.ts
Due: js

chore: small fix
  src/cdk/v2/destinations/rakuten/data/propertiesMapping.json
  test/integrations/destinations/rakuten/processor/transformationFailure.ts
Due: none

Apply suggestions from code review
  src/v0/util/facebookUtils/networkHandler.js
Due: js

fix: review comments addressed
  src/v0/util/facebookUtils/networkHandler.js
  src/v0/util/tags.js
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
Due: js

fix: removing unnecessary tag
  src/v0/util/tags.js
Due: js

fix: removing unnecessary log
  src/v0/util/facebookUtils/networkHandler.js
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
