Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: vulnerability fix by upgrading pyroscope dep
  package-lock.json
  package.json
Due: none

chore: add custom utm support
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.js
  test/integrations/sources/shopify/constants.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
Due: js

chore: add campaign object support in web pixel events (#3973)
  src/v1/sources/shopify/pixelEventsMappings/campaignObjectMappings.json
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.js
  test/integrations/sources/shopify/constants.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
Due: js

chore: update swagger proxy api doc
  swagger/api.yaml
  swagger/components/examples/delivery/v0/request/request.yaml
  swagger/components/examples/delivery/v0/response/failure.yaml
  swagger/components/examples/delivery/v0/response/success.yaml
  swagger/components/examples/delivery/v1/request/request.yaml
  swagger/components/examples/delivery/v1/response/failure.yaml
  swagger/components/examples/delivery/v1/response/success.yaml
  swagger/components/schemas/v0DeliveryRequest.yaml
  swagger/components/schemas/v0DeliveryResponse.yaml
  swagger/components/schemas/v1DeliveryRequest.yaml
  swagger/components/schemas/v1DeliveryResponse.yaml
  swagger/routes/delivery.yaml
Due: none

chore: address comments
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

fix: fixing mismatch of schedule field value in clicksend destination due to different timezone
  src/cdk/v2/destinations/clicksend/utils.js
  src/cdk/v2/destinations/clicksend/utils.test.js
  test/integrations/destinations/clicksend/processor/track.ts
  test/integrations/destinations/clicksend/router/data.ts
Due: js

feat: identify and track for loops
  src/cdk/v2/destinations/loops/procWorkflow.yaml
  test/integrations/destinations/loops/processor/data.ts
Due: none

chore: revert pyroscope upgrade
  package-lock.json
  package.json
Due: none

feat: test for mailing lists
  test/integrations/destinations/loops/processor/data.ts
Due: none

fix: sonar issues in dynamic config
  src/util/dynamicConfig.js
  src/v0/destinations/af/deleteUsers.js
  src/v0/destinations/airship/transform.js
  src/v0/destinations/clickup/util.js
Due: js

chore: add router test
  test/integrations/destinations/hs/router/data.ts
Due: none

fix: sonar issues in dynamic config
  src/util/dynamicConfig.js
Due: js

feat: add DATA WAREHOUSE to intg object in shopify pixel
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.js
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/IdentifyTests.ts
Due: js

feat: add DATA WAREHOUSE json path handling for some providers
  src/warehouse/index.js
Due: js

fix: calculating everything in utc and added unit test
  src/cdk/v2/destinations/clicksend/utils.js
  src/cdk/v2/destinations/clicksend/utils.test.js
Due: js

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

chore: remove template string with no variables
  src/controllers/util/index.ts
Due: ts

fix: update new path of features file
  test/__tests__/apicontract.test.ts
Due: none

chore: update updateConversion conditions to mutually exclusive
  src/v0/destinations/google_adwords_offline_conversions/utils.js
Due: js

fix: sonar issues in dynamic config
  src/util/dynamicConfig.js
  src/util/dynamicConfig.test.js
Due: js

fix: removing device token from if condition in mixpanel destination
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
Due: js

fix: reducing sonar cloud cognitive complexity
  src/v0/destinations/mp/util.js
Due: js
