Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

feat: onboard conditional braze identify
  src/util/prometheus.js
  src/v0/destinations/braze/transform.js
  src/v0/destinations/braze/util.js
Due: js

refactor: address pr comments for braze enhancements
  src/util/prometheus.js
  src/v0/destinations/braze/config.js
  src/v0/destinations/braze/transform.js
  src/v0/destinations/braze/util.js
Due: js

test: convert braze tests to table tests for better readability
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/transform.test.js
Due: js

chore: remove redundnt check
  src/cdk/v2/destinations/emarsys/utils.js
Due: js

chore: mp add content type header to all apis (#4344)
  src/v0/destinations/mp/transform.js
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: js

chore: address comment
  src/cdk/v2/destinations/emarsys/utils.js
Due: js

chore: test description
  test/integrations/destinations/bluecore/trackTestData.ts
Due: none

fix: blucore optin event mapping
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreOptinEventConfig.json
  src/cdk/v2/destinations/bluecore/utils.js
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

fix: review comments
  src/cdk/v2/destinations/bluecore/procWorkflow.yaml
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

fix: review comments
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

chore: add subscription event
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreSubscriptionEventConfig.json
  src/cdk/v2/destinations/bluecore/procWorkflow.yaml
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
  test/integrations/destinations/bluecore/trackTestData.ts
  test/integrations/destinations/bluecore/validationTestData.ts
Due: js

chore: add subscription event
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

fix: review comments
  src/cdk/v2/destinations/bluecore/procWorkflow.yaml
Due: none

fix: reviews comments
  src/cdk/v2/destinations/bluecore/data/bluecoreSubscriptionEventConfig.json
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

feat: bluecore email subscription event (#4304)
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreSubscriptionEventConfig.json
  src/cdk/v2/destinations/bluecore/procWorkflow.yaml
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
  test/integrations/destinations/bluecore/trackTestData.ts
  test/integrations/destinations/bluecore/validationTestData.ts
Due: js

chore(release): 1.101.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Revert "feat: update destination type with optional account types (#4291)"
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  src/cdk/v2/utils.ts
  src/constants/destinationCanonicalNames.js
  src/types/controlPlaneConfig.ts
  test/integrations/destinations/zoho/router/account.ts
  test/integrations/destinations/zoho/router/data.ts
Due: js, ts

chore: pass copy of metadata to avoid actual metadata modifications (#4345)
  src/util/customTransformer.js
  src/util/ivmFactory.js
Due: js

fix: sonarqube code issue v0 code
  src/util/customTransformer.js
Due: js

refactor: update customerio_audience to use RudderRecordV2Schema (#4343)
  src/types/rudderEvents.ts
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/customerio_audience/type.ts
  src/v0/destinations/customerio_audience/utils.test.ts
  src/v0/destinations/customerio_audience/utils.ts
  test/integrations/destinations/customerio_audience/router/data.ts
Due: ts

chore: changelog
  CHANGELOG.md
Due: none

chore: new simplified transformer
  new/.dockerignore
  new/Dockerfile
  new/README.md
  new/controllers/transform.js
  new/index.js
  new/middleware.js
  new/middleware/auth.js
  new/middleware/ratelimit.js
  new/package-lock.json
  new/package.json
  new/routes.js
  new/services/transform.js
  new/utils/cluster.js
  new/utils/customTransformer.js
  new/utils/redis.js
  scripts/benchmarks/config.yaml
Due: none

chore: pass copy of metadata to avoid actual metadata modifications (#4351)
  CHANGELOG.md
  src/util/customTransformer.js
  src/util/ivmFactory.js
Due: js

Revert "feat: update destination type with optional account types (#4291)" (#4348)
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  src/cdk/v2/utils.ts
  src/constants/destinationCanonicalNames.js
  src/types/controlPlaneConfig.ts
  test/integrations/destinations/zoho/router/account.ts
  test/integrations/destinations/zoho/router/data.ts
Due: js, ts

chore: simplified transformer update
  new/package.json
  new/utils/customTransformer.js
Due: none

chore: fixing ivm code
  new/utils/customTransformer.js
Due: none

chore: adding TODO
  new/services/transform.js
Due: none

refactor: move rudderId to RudderMessageSchema as optional field
  src/types/rudderEvents.ts
  test/integrations/destinations/customerio_audience/router/data.ts
Due: ts

chore: fixing transformations
  new/package-lock.json
  new/services/transform.js
  new/utils/customTransformer.js
Due: none

chore: separate out transformer logic from main doc
  src/v0/destinations/sfmc/README.md
  src/v0/destinations/sfmc/docs/transformerlogic.md
Due: none

fix: handle newline for slack
  src/v0/destinations/slack/transform.js
Due: js

chore: fixing transformations
  Makefile
  new/services/transform.js
  new/utils/customTransformer.js
  scripts/benchmarks/config.yaml
Due: none

fix: inferring cluster is enabled
  new/utils/cluster.js
Due: none

refactor: move rudderId to RudderMessageSchema as optional field (#4356)
  src/types/rudderEvents.ts
  test/integrations/destinations/customerio_audience/router/data.ts
Due: ts

chore: using node 24
  new/Dockerfile
  new/package-lock.json
  new/package.json
  new/utils/customTransformer.js
  scripts/benchmarks/config.yaml
Due: none

fix: zendesk indentify flow (#4288)
  src/v0/destinations/zendesk/transform.js
  src/v0/destinations/zendesk/util.js
  src/v0/destinations/zendesk/util.test.js
  test/integrations/destinations/zendesk/network.ts
  test/integrations/destinations/zendesk/processor/data.ts
  test/integrations/destinations/zendesk/router/data.ts
Due: js

feat: add sfmc_v2 support for data extension
  src/features.ts
  src/v0/destinations/sfmc_v2/config.ts
  src/v0/destinations/sfmc_v2/errors/auth.ts
  src/v0/destinations/sfmc_v2/errors/index.ts
  src/v0/destinations/sfmc_v2/errors/rate-limit.ts
  src/v0/destinations/sfmc_v2/networkHandler.ts
  src/v0/destinations/sfmc_v2/recordEventsHandler.ts
  src/v0/destinations/sfmc_v2/transform.ts
  src/v0/destinations/sfmc_v2/type.ts
  src/v0/destinations/sfmc_v2/types.ts
  src/v0/destinations/sfmc_v2/utils.ts
  src/v0/destinations/sfmc_v2/utils/batchResponse.ts
  src/v0/destinations/sfmc_v2/utils/soapRequest.ts
  src/v0/destinations/sfmc_v2/utils/tokenManager.ts
  test/integrations/destinations/sfmc_v2/network.ts
  test/integrations/destinations/sfmc_v2/router/data.ts
Due: ts
