Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix: deployment file paths
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

feat: review comments addressed
  src/cdk/v2/destinations/linkedin_ads/data/linkedinUserInfoConfig.json
  src/v0/util/data/GenericFieldMapping.json
  src/v1/destinations/linkedin_ads/networkHandler.js
  test/integrations/destinations/linkedin_ads/processor/trackTestData.ts
  test/integrations/destinations/linkedin_ads/processor/validationTestData.ts
  test/integrations/destinations/linkedin_ads/router/data.ts
Due: js

fix: deployment file paths (#3216)
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

chore: removeed extra test info
  test/integrations/destinations/webhook/processor/data.ts
  test/integrations/destinations/webhook/router/data.ts
Due: none

chore: component tests webhook (#3196)
  src/types/zodTypes.ts
  test/integrations/destinations/webhook/processor/data.ts
  test/integrations/destinations/webhook/router/data.ts
Due: ts

chore: add mixpanel batch size metrics (#3201)
  src/util/prometheus.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
Due: js

fix: ninetailed: remove page support
  src/cdk/v2/destinations/ninetailed/config.js
  src/cdk/v2/destinations/ninetailed/data/pageMapping.json
  src/cdk/v2/destinations/ninetailed/procWorkflow.yaml
  src/cdk/v2/destinations/ninetailed/utils.js
  test/integrations/destinations/ninetailed/processor/data.ts
  test/integrations/destinations/ninetailed/processor/page.ts
  test/integrations/destinations/ninetailed/router/data.ts
Due: js

fix: Update delivery.ts
  src/controllers/delivery.ts
Due: ts

fix: capture metrics for v0 transformation metrics
  src/util/customTransformer.js
Due: js

fix: fixed userId mapping, now mapping to uid instead of id (#3192)
  src/cdk/v2/destinations/fullstory/procWorkflow.yaml
  test/integrations/destinations/fullstory/processor/data.ts
Due: none

feat(ga4): component test refactor
  test/integrations/destinations/ga4/mocks.ts
  test/integrations/destinations/ga4/processor/data.ts
  test/integrations/destinations/ga4/processor/ecomTestData.ts
  test/integrations/destinations/ga4/processor/groupTestData.ts
  test/integrations/destinations/ga4/processor/pageTestData.ts
  test/integrations/destinations/ga4/processor/trackTestData.ts
  test/integrations/destinations/ga4/processor/validationTestData.ts
  test/integrations/testTypes.ts
  test/integrations/testUtils.ts
Due: none

chore: skip users and tracks tables with destConfig (#3214)
  src/v0/destinations/azure_datalake/transform.js
  src/v0/destinations/azure_synapse/transform.js
  src/v0/destinations/bq/transform.js
  src/v0/destinations/clickhouse/transform.js
  src/v0/destinations/deltalake/transform.js
  src/v0/destinations/gcs_datalake/transform.js
  src/v0/destinations/mssql/transform.js
  src/v0/destinations/postgres/transform.js
  src/v0/destinations/rs/transform.js
  src/v0/destinations/s3_datalake/transform.js
  src/v0/destinations/snowflake/transform.js
  src/warehouse/index.js
  test/__tests__/data/warehouse/dest_config_scenarios.js
  test/__tests__/warehouse.test.js
Due: js

feat(refiner): component test refactor
  test/integrations/destinations/refiner/processor/data.ts
  test/integrations/destinations/refiner/processor/groupTestData.ts
  test/integrations/destinations/refiner/processor/identifyTestData.ts
  test/integrations/destinations/refiner/processor/pageTestData.ts
  test/integrations/destinations/refiner/processor/trackTestData.ts
  test/integrations/destinations/refiner/processor/validationTestData.ts
Due: none

feat: review comments addressed
  test/integrations/destinations/linkedin_ads/dataDelivery/business.ts
  test/integrations/destinations/linkedin_ads/dataDelivery/oauth.ts
  test/integrations/destinations/linkedin_ads/processor/configLevelFeaturesTestData.ts
  test/integrations/destinations/linkedin_ads/processor/trackTestData.ts
  test/integrations/destinations/linkedin_ads/processor/validationTestData.ts
Due: none

feat: do away myaxios
  src/v0/destinations/sfmc/transform.js
Due: js

feat: onboard yandex metrica offline events destination, initial changes
  src/cdk/v2/destinations/yandex_metrica_offline_events/config.js
  src/cdk/v2/destinations/yandex_metrica_offline_events/procWorkflow.yaml
  src/cdk/v2/destinations/yandex_metrica_offline_events/utils.js
Due: js

feat: update movable ink batch size
  src/cdk/v2/destinations/movable_ink/config.js
  src/cdk/v2/destinations/movable_ink/procWorkflow.yaml
  src/cdk/v2/destinations/movable_ink/rtWorkflow.yaml
  test/integrations/destinations/movable_ink/mocks.ts
  test/integrations/destinations/movable_ink/processor/identify.ts
  test/integrations/destinations/movable_ink/processor/track.ts
  test/integrations/destinations/movable_ink/processor/validation.ts
  test/integrations/destinations/movable_ink/router/data.ts
Due: js

fix: review comments addressed
  test/integrations/destinations/linkedin_ads/dataDelivery/oauth.ts
  test/integrations/destinations/linkedin_ads/processor/configLevelFeaturesTestData.ts
  test/integrations/destinations/linkedin_ads/processor/trackTestData.ts
  test/integrations/destinations/linkedin_ads/processor/validationTestData.ts
Due: none

test: add testcase for batching on max request size
  test/integrations/destinations/movable_ink/common.ts
  test/integrations/destinations/movable_ink/router/data.ts
Due: none

fix: ninetailed: remove page support (#3218)
  src/cdk/v2/destinations/ninetailed/config.js
  src/cdk/v2/destinations/ninetailed/data/pageMapping.json
  src/cdk/v2/destinations/ninetailed/procWorkflow.yaml
  src/cdk/v2/destinations/ninetailed/utils.js
  test/integrations/destinations/ninetailed/processor/data.ts
  test/integrations/destinations/ninetailed/processor/page.ts
  test/integrations/destinations/ninetailed/router/data.ts
Due: js

docs: add ref
  src/cdk/v2/destinations/bloomreach/config.ts
Due: ts

feat: logger upgrade in services, dest, source
  src/controllers/bulkUpload.ts
  src/controllers/delivery.ts
  src/controllers/destination.ts
  src/controllers/regulation.ts
  src/controllers/source.ts
  src/controllers/userTransform.ts
  src/index.ts
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/services/destination/postTransformation.ts
  src/services/misc.ts
  src/v0/destinations/campaign_manager/transform.js
  src/v0/destinations/mailchimp/utils.js
  src/v0/sources/canny/transform.js
Due: js, ts

feat: update movable ink batch size (#3223)
  src/cdk/v2/destinations/movable_ink/config.js
  src/cdk/v2/destinations/movable_ink/procWorkflow.yaml
  src/cdk/v2/destinations/movable_ink/rtWorkflow.yaml
  test/integrations/destinations/movable_ink/common.ts
  test/integrations/destinations/movable_ink/mocks.ts
  test/integrations/destinations/movable_ink/processor/identify.ts
  test/integrations/destinations/movable_ink/processor/track.ts
  test/integrations/destinations/movable_ink/processor/validation.ts
  test/integrations/destinations/movable_ink/router/data.ts
Due: js

feat: onboard new destination bloomreach (#3185)
  src/cdk/v2/destinations/bloomreach/config.ts
  src/cdk/v2/destinations/bloomreach/data/BloomreachCustomerPropertiesConfig.json
  src/cdk/v2/destinations/bloomreach/procWorkflow.yaml
  src/cdk/v2/destinations/bloomreach/rtWorkflow.yaml
  src/cdk/v2/destinations/bloomreach/utils.ts
  src/constants/destinationCanonicalNames.js
  src/features.json
  src/v1/destinations/bloomreach/networkHandler.js
  test/integrations/destinations/bloomreach/common.ts
  test/integrations/destinations/bloomreach/dataDelivery/business.ts
  test/integrations/destinations/bloomreach/dataDelivery/data.ts
  test/integrations/destinations/bloomreach/dataDelivery/other.ts
  test/integrations/destinations/bloomreach/mocks.ts
  test/integrations/destinations/bloomreach/network.ts
  test/integrations/destinations/bloomreach/processor/data.ts
  test/integrations/destinations/bloomreach/processor/identify.ts
  test/integrations/destinations/bloomreach/processor/page.ts
  test/integrations/destinations/bloomreach/processor/track.ts
  test/integrations/destinations/bloomreach/processor/validation.ts
  test/integrations/destinations/bloomreach/router/data.ts
Due: js, ts

feat: logger upgrade in services, dest, source
  .eslintrc.json
Due: none

fix: linting error
  src/v0/destinations/campaign_manager/transform.js
  src/v0/destinations/mailchimp/utils.js
  src/v0/sources/canny/transform.js
  src/v0/sources/shopify/transform.js
Due: js

fix: aborting the revoked token PRs
  src/v1/destinations/linkedin_ads/networkHandler.js
  test/integrations/destinations/linkedin_ads/dataDelivery/oauth.ts
Due: js

chore: code review changes
  src/v0/destinations/ga4/utils.js
  src/v0/destinations/ga4/utils.test.js
  src/v0/util/googleUtils/index.js
  src/v0/util/googleUtils/index.test.js
Due: js

fix(ga4): processor tests
  test/integrations/destinations/ga4/processor/data.ts
Due: none

feat: consent field support for ga4 (#3213)
  src/v0/destinations/ga4/transform.js
  src/v0/destinations/ga4/utils.js
  src/v0/destinations/ga4/utils.test.js
  src/v0/util/googleUtils/index.js
  src/v0/util/googleUtils/index.test.js
  test/integrations/destinations/ga4/processor/data.ts
Due: js

fix: editing error category
  src/cdk/v2/destinations/linkedin_ads/utils.js
  src/v1/destinations/linkedin_ads/networkHandler.js
  test/integrations/destinations/linkedin_ads/dataDelivery/oauth.ts
Due: js

fix: dest response example
  src/cdk/v2/destinations/linkedin_ads/utils.js
Due: js

fix: fixed import in destination/controller
  src/controllers/bulkUpload.ts
  src/controllers/delivery.ts
  src/controllers/destination.ts
  src/controllers/regulation.ts
  src/controllers/source.ts
  src/controllers/userTransform.ts
  src/index.ts
  src/services/misc.ts
  src/v0/destinations/campaign_manager/transform.js
  src/v0/destinations/mailchimp/utils.js
  src/v0/sources/canny/transform.js
  src/v0/sources/shopify/transform.js
Due: js, ts

feat: onboarding linkedin conversion api (#3194)
  src/cdk/v2/destinations/linkedin_ads/config.js
  src/cdk/v2/destinations/linkedin_ads/data/linkedinUserInfoConfig.json
  src/cdk/v2/destinations/linkedin_ads/procWorkflow.yaml
  src/cdk/v2/destinations/linkedin_ads/rtWorkflow.yaml
  src/cdk/v2/destinations/linkedin_ads/utils.js
  src/cdk/v2/destinations/linkedin_ads/utils.test.js
  src/features.json
  src/v0/util/data/GenericFieldMapping.json
  src/v1/destinations/linkedin_ads/networkHandler.js
  test/integrations/destinations/linkedin_ads/dataDelivery/business.ts
  test/integrations/destinations/linkedin_ads/dataDelivery/data.ts
  test/integrations/destinations/linkedin_ads/dataDelivery/oauth.ts
  test/integrations/destinations/linkedin_ads/network.ts
  test/integrations/destinations/linkedin_ads/processor/configLevelFeaturesTestData.ts
  test/integrations/destinations/linkedin_ads/processor/data.ts
  test/integrations/destinations/linkedin_ads/processor/trackTestData.ts
  test/integrations/destinations/linkedin_ads/processor/validationTestData.ts
  test/integrations/destinations/linkedin_ads/router/data.ts
  test/integrations/testUtils.ts
Due: js

chore: upgrade integrations-lib version
  package-lock.json
  package.json
Due: none

chore: fix deployment conflicts
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

chore: fix deployment conflicts (#3230)
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

feat: snapchat conversion: add event level_complete
  src/v0/destinations/snapchat_conversion/config.js
  test/integrations/destinations/snapchat_conversion/processor/data.ts
Due: js

chore: add destType to http_request_duration stats (#3217)
  package-lock.json
  package.json
  src/middleware.js
  src/util/prometheus.js
Due: js

chore: update id logic, add tests
  src/cdk/v2/destinations/yandex_metrica_offline_events/procWorkflow.yaml
  src/cdk/v2/destinations/yandex_metrica_offline_events/utils.js
  test/integrations/destinations/yandex_metrica_offline_events/processor/data.ts
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
