Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: add missing test
  src/v0/destinations/twitter_ads/utils.test.js
Due: js

fix: add validation for other field
  src/v0/destinations/salesforce/utils.js
  src/v0/destinations/twitter_ads/util.js
Due: js

chore: add more test
  test/integrations/destinations/salesforce/processor/data.ts
Due: none

fix: handle empty oauth secret for multiple destination
  src/v0/destinations/salesforce/utils.js
  src/v0/destinations/twitter_ads/transform.js
  src/v0/destinations/twitter_ads/util.js
  src/v0/destinations/x_audience/utils.js
  test/integrations/destinations/salesforce/processor/data.ts
  test/integrations/destinations/twitter_ads/processor/data.ts
  test/integrations/destinations/twitter_ads/router/data.ts
  test/integrations/destinations/x_audience/processor/data.ts
  test/integrations/destinations/x_audience/router/data.ts
Due: js

fix: test
  src/v0/destinations/twitter_ads/utils.test.js
  src/v0/destinations/x_audience/utils.js
Due: js

chore: migrating snapchat conversion destination to ts
  src/v0/destinations/snapchat_conversion/config.ts
  src/v0/destinations/snapchat_conversion/transform.ts
  src/v0/destinations/snapchat_conversion/transformV3.ts
  src/v0/destinations/snapchat_conversion/types.ts
  src/v0/destinations/snapchat_conversion/util.ts
  src/v0/destinations/snapchat_conversion/utilsV3.ts
Due: ts

chore: migrate util test to ts
  src/v0/destinations/snapchat_conversion/util.test.ts
Due: ts

fix: review comments
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

fix: blucore optin event mapping
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreOptinEventConfig.json
  src/cdk/v2/destinations/bluecore/utils.js
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

chore: ignore dependabot pr for commitlint check
  commitlint.config.js
Due: none

chore: increse body line length
  commitlint.config.js
Due: none

chore: some minor improvements
  src/v0/destinations/snapchat_conversion/types.ts
  src/v0/destinations/snapchat_conversion/util.test.ts
  src/v0/destinations/snapchat_conversion/util.ts
  src/v0/destinations/snapchat_conversion/utilsV3.ts
Due: ts

chore: move zoho to typescript
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/config.ts
  src/cdk/v2/destinations/zoho/transformRecordV2.ts
  src/cdk/v2/destinations/zoho/transformRecordsV2.test.ts
  src/cdk/v2/destinations/zoho/types.ts
  src/cdk/v2/destinations/zoho/utils.test.ts
  src/cdk/v2/destinations/zoho/utils.ts
  src/types/destinationTransformation.ts
  src/types/rudderEvents.ts
  src/v1/destinations/iterable/strategies/generic.ts
  src/v1/destinations/iterable/types.ts
  test/integrations/destinations/salesforce_oauth_sandbox/dataDelivery/oauth.ts
  test/integrations/testUtils.ts
Due: js, ts

feat: add new event mapping for tiktok (#4298)
  src/v0/destinations/tiktok_ads/config.js
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: js

chore: add rudder test destination for platform testing
  .vscode/launch.json
  package.json
  src/v0/destinations/rudder_test/config.ts
  src/v0/destinations/rudder_test/transform.ts
  test/integrations/component.test.ts
  test/integrations/destinations/rudder_test/batch/data.ts
  test/integrations/destinations/rudder_test/batch/index.ts
  test/integrations/destinations/rudder_test/commonConfig.ts
  test/integrations/destinations/rudder_test/maskedSecrets.ts
  test/integrations/destinations/rudder_test/processor/data.ts
  test/integrations/destinations/rudder_test/router/batched.ts
  test/integrations/destinations/rudder_test/router/data.ts
  test/integrations/destinations/rudder_test/router/nonBatched.ts
  test/test_reporter/allureReporter.ts
Due: ts

chore: temporarily disable ingestion service test
  .github/workflows/build-pr-artifacts.yml
Due: none

chore: increase commitlint body-max-length (#4299)
  commitlint.config.js
Due: none

chore: update integrations-lib to 0.2.31
  package-lock.json
  package.json
Due: none

chore: version 1
  package-lock.json
  package.json
  src/index.ts
  src/middlewares/piscinaBodyParser.ts
  src/middlewares/piscinaBodyParserWorker.ts
Due: ts

chore: improve types
  src/v0/destinations/snapchat_conversion/transform.ts
  src/v0/destinations/snapchat_conversion/transformV3.ts
  src/v0/destinations/snapchat_conversion/types.ts
  src/v0/destinations/snapchat_conversion/util.test.ts
  src/v0/destinations/snapchat_conversion/util.ts
  src/v0/destinations/snapchat_conversion/utilsV3.ts
Due: ts

chore: address comments
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho_dev/router/data.ts
Due: js

chore: update integrations-lib to 0.2.31 (#4277)
  package-lock.json
  package.json
Due: none

chore: change test
  test/integrations/destinations/salesforce/processor/data.ts
  test/integrations/destinations/twitter_ads/processor/data.ts
Due: none

chore: minor changes
  test/integrations/destinations/snapchat_conversion/router/dataV2.ts
  test/integrations/destinations/snapchat_conversion/router/dataV3.ts
Due: none

chore: snapchat conversion new test structure for router
  test/integrations/component.test.ts
  test/integrations/destinations/snapchat_conversion/router/data.ts
  test/integrations/destinations/snapchat_conversion/router/dataV2.ts
  test/integrations/destinations/snapchat_conversion/router/dataV3.ts
  test/integrations/testTypes.ts
Due: none

chore: minor change
  test/integrations/destinations/snapchat_conversion/processor/dataV2.ts
  test/integrations/destinations/snapchat_conversion/processor/dataV3.ts
  test/integrations/destinations/snapchat_conversion/processor/validationTestDataV2.ts
  test/integrations/destinations/snapchat_conversion/processor/validationTestDataV3.ts
  test/integrations/destinations/snapchat_conversion/router/dataV2.ts
  test/integrations/destinations/snapchat_conversion/router/dataV3.ts
Due: none

chore: migrate snapchat conversion tests to new structure
  test/integrations/destinations/snapchat_conversion/commonConfig.ts
  test/integrations/destinations/snapchat_conversion/processor/data.ts
  test/integrations/destinations/snapchat_conversion/processor/dataV2.ts
  test/integrations/destinations/snapchat_conversion/processor/validationTestDataV2.ts
  test/integrations/destinations/snapchat_conversion/processor/validationTestDataV3.ts
Due: none

chore: minor change
  test/integrations/destinations/snapchat_conversion/processor/dataV2.ts
  test/integrations/destinations/snapchat_conversion/processor/dataV3.ts
  test/integrations/destinations/snapchat_conversion/router/dataV2.ts
Due: none

chore: add optional config to accountDefiition
  src/types/controlPlaneConfig.ts
Due: ts

chore: dont copy request body
  src/middlewares/piscinaBodyParser.ts
  src/middlewares/piscinaBodyParserWorker.ts
Due: ts

chore: middleware and no dynamic config
  src/controllers/destination.ts
  src/middleware.js
  src/middleware.test.js
Due: js, ts

chore: update deleteAccount to regulationAccount
  src/types/controlPlaneConfig.ts
Due: ts

chore: update destConfig to connectionConfig
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
Due: js

chore: update regulationAccount to deleteAccount
  src/types/controlPlaneConfig.ts
Due: ts

chore: migrate snapchat conversion test to new structure (#4294)
  test/integrations/component.test.ts
  test/integrations/destinations/snapchat_conversion/commonConfig.ts
  test/integrations/destinations/snapchat_conversion/processor/data.ts
  test/integrations/destinations/snapchat_conversion/processor/dataV2.ts
  test/integrations/destinations/snapchat_conversion/processor/validationTestDataV2.ts
  test/integrations/destinations/snapchat_conversion/processor/validationTestDataV3.ts
  test/integrations/destinations/snapchat_conversion/router/data.ts
  test/integrations/destinations/snapchat_conversion/router/dataV2.ts
  test/integrations/destinations/snapchat_conversion/router/dataV3.ts
  test/integrations/testTypes.ts
Due: none

chore(destination): migrate slack destination tests to new format
  README.md
  test/integrations/component.test.ts
  test/integrations/destinations/slack/common.ts
  test/integrations/destinations/slack/processor/data.ts
  test/integrations/destinations/slack/router/data.ts
  test/scripts/README.md
  test/test_reporter/allureReporter.ts
Due: none

feat: add support of account in zoho_dev destinaiton (#4293)
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  src/cdk/v2/utils.ts
  src/constants/destinationCanonicalNames.js
  test/integrations/destinations/zoho_dev/router/data.ts
Due: js, ts

chore: remove zoho_dev related tests
  test/integrations/destinations/zoho/router/account.ts
  test/integrations/destinations/zoho/router/data.ts
Due: none
