Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: seperate dt and ut devops prs
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
Due: none

chore: set profile config for openfaas
  src/util/openfaas/index.js
Due: js

feat: added component test for union and append operation in mp
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/processor/data.ts
Due: none

chore: update test
  test/integrations/destinations/mp/processor/data.ts
Due: none

fix: remove extra env
  src/util/openfaas/index.js
Due: js

chore: update subteam in tagged user groups in release notif
  .github/workflows/publish-new-release.yml
Due: none

chore: update test
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/processor/data.ts
Due: none

chore: update subteam in tagged user groups in release notif (#4227)
  .github/workflows/publish-new-release.yml
Due: none

fix: validation error message in ga4 (#4208)
  src/v0/destinations/ga4/utils.js
  test/integrations/destinations/ga4/processor/validationTestData.ts
Due: js

chore: apply suggestions from code review
  src/cdk/v2/destinations/reddit/utils.js
Due: js

feat: added union and append operation
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  test/integrations/destinations/mp/processor/data.ts
Due: js

fix: encode userId with forward slashes in CustomerIO URLs
  src/v0/destinations/customerio/util.js
  src/v0/destinations/customerio/util.test.js
  test/integrations/destinations/customerio/processor/data.ts
Due: js

fix: encode userId with forward slashes in CustomerIO URLs (#4229)
  src/v0/destinations/customerio/util.js
  src/v0/destinations/customerio/util.test.js
  test/integrations/destinations/customerio/processor/data.ts
Due: js

refactor(iterable): update api limits and batching logic (#4232)
  src/v0/destinations/iterable/config.js
  src/v0/destinations/iterable/util.js
  src/v0/destinations/iterable/util.test.js
Due: js

chore: code review changes
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/transformRecordsV2.test.js
Due: js

chore: remove unused config
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/utils.js
Due: js

chore: code review changes
  src/cdk/v2/destinations/zoho/transformRecordsV2.test.js
Due: js

chore: fix tests
  src/cdk/v2/destinations/zoho/transformRecordsV2.test.js
Due: js

chore: clean up old zoho logic after releasing vdmv2
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/common.ts
  test/integrations/destinations/zoho/router/deletion.ts
  test/integrations/destinations/zoho/router/upsert.ts
Due: js

chore: refactored the operations
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
Due: js

chore: clean up old zoho logic after releasing vdmv2 (#4189)
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/common.ts
  test/integrations/destinations/zoho/router/deletion.ts
  test/integrations/destinations/zoho/router/upsert.ts
Due: js

chore: minor changes
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
Due: js

feat(mp): add validation for property limits in mixpanel destination
  src/v0/destinations/mp/config.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
Due: js

fix(customerio): encode path parameter function
  src/v0/destinations/customerio/util.js
  src/v0/destinations/customerio/util.test.js
Due: js

fix: user id is not required & include `v1` in the path rather than DEFAULT_BASE_URL
  src/cdk/v2/destinations/userpilot/config.js
  src/cdk/v2/destinations/userpilot/procWorkflow.yaml
  src/cdk/v2/destinations/userpilot/utils.js
Due: js

test: remove v1 from apiEndpoint
  test/integrations/destinations/userpilot/processor/data.ts
Due: none

chore: address comments
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
Due: js

fix: addressing comments
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/processor/data.ts
Due: js

refactor: move to ts for dynamic yield
  src/cdk/v2/destinations/dynamic_yield/config.js
  src/cdk/v2/destinations/dynamic_yield/config.ts
Due: js, ts

refactor: move to ts for dcm_floodlight
  src/cdk/v2/destinations/dcm_floodlight/utils.js
  src/cdk/v2/destinations/dcm_floodlight/utils.test.ts
  src/cdk/v2/destinations/dcm_floodlight/utils.ts
Due: js, ts

chore: convert bingads audience to typescript
  src/cdk/v2/destinations/bingads_audience/config.js
  src/cdk/v2/destinations/bingads_audience/procWorkflow.yaml
Due: js

refactor: reddit and bluecore to ts
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/config.ts
  src/cdk/v2/destinations/bluecore/utils.test.js
  src/cdk/v2/destinations/bluecore/utils.test.ts
  src/cdk/v2/destinations/bluecore/utils.ts
  src/cdk/v2/destinations/reddit/config.ts
  src/cdk/v2/destinations/reddit/utils.js
  src/cdk/v2/destinations/reddit/utils.test.js
  src/cdk/v2/destinations/reddit/utils.test.ts
  src/cdk/v2/destinations/reddit/utils.ts
Due: js, ts

refactor: use common types
  .gitignore
  src/types/rudderEvents.ts
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/customerio_audience/type.ts
  src/v0/util/index.js
  test/integrations/component.test.ts
Due: js, ts

refactor: clicksend and cordial to ts
  src/cdk/v2/destinations/clicksend/config.ts
  src/cdk/v2/destinations/clicksend/utils.test.js
  src/cdk/v2/destinations/clicksend/utils.test.ts
  src/cdk/v2/destinations/clicksend/utils.ts
  src/cdk/v2/destinations/cordial/config.js
  src/cdk/v2/destinations/cordial/config.ts
  src/cdk/v2/destinations/cordial/utils.js
  src/cdk/v2/destinations/cordial/utils.test.ts
  src/cdk/v2/destinations/cordial/utils.ts
Due: js, ts

refactor: batch event chunks in reddit destination
  src/cdk/v2/destinations/reddit/utils.ts
Due: ts

refactor: move to ts for eloqua
  src/cdk/v2/destinations/eloqua/config.js
  src/cdk/v2/destinations/eloqua/config.ts
  src/cdk/v2/destinations/eloqua/utils.test.ts
  src/cdk/v2/destinations/eloqua/utils.ts
Due: js, ts

chore: eslint ignore go files
  .eslintignore
Due: none

chore: addressing comments
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
Due: js

chore: addressing comment
  src/v0/destinations/mp/util.js
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
