Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix: hubspot: search for contact using secondary prop (#3258)
  src/v0/destinations/hs/HSTransform-v2.js
  src/v0/destinations/hs/config.js
  src/v0/destinations/hs/util.js
  src/v0/destinations/hs/util.test.js
  test/integrations/destinations/hs/network.ts
  test/integrations/destinations/hs/router/data.ts
Due: js

chore(release): 1.62.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: address commentsx1
  src/cdk/v2/destinations/yandex_metrica_offline_events/procWorkflow.yaml
Due: none

fix: hubspot: hs_additional_email comparision logic
  src/v0/destinations/hs/util.js
Due: js

fix: hubspot: hs_additional_email comparision logic (#3277)
  src/v0/destinations/hs/util.js
Due: js

chore: cleaned changelog
  CHANGELOG.md
Due: none

chore: change log info to debug
  src/controllers/delivery.ts
  src/controllers/destination.ts
  src/v0/destinations/twitter_ads/transform.js
Due: js, ts

chore: minor CHANGELOG.md cleanup
  CHANGELOG.md
Due: none

fix: send group_id as string in monday destination
  src/v0/destinations/monday/util.js
  test/integrations/destinations/monday/processor/data.ts
  test/integrations/destinations/monday/router/data.ts
Due: js

chore: replace standard-version with semantic-release
  .github/workflows/draft-new-release.yml
  package-lock.json
  package.json
  release.config.dev.js
Due: none

chore: upgrade node.js version to 20(LTS)
  .nvmrc
Due: none

chore: testing changelog updates
  .github/workflows/draft-new-release.yml
Due: none

chore: prevent branch creation for testing
  .github/workflows/draft-new-release.yml
Due: none

chore: checkout to release/test
  .github/workflows/draft-new-release.yml
Due: none

chore: update release command to release:new
  .github/workflows/draft-new-release.yml
Due: none

fix: optimized query and updated test cases
  src/v0/destinations/monday/util.js
  test/integrations/destinations/monday/processor/data.ts
  test/integrations/destinations/monday/router/data.ts
Due: js

chore: update to v1.61.0
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e8fe9c71e97a7aacb0af92bb1e03ba810a3301f6
Due: none

feat: adding custom properties support to bluecore
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/procWorkflow.yaml
  src/cdk/v2/destinations/bluecore/utils.js
  test/integrations/destinations/bluecore/ecommTestData.ts
  test/integrations/destinations/bluecore/identifyTestData.ts
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

fix: send group_id as string in monday destination (#3278)
  src/v0/destinations/monday/util.js
  test/integrations/destinations/monday/processor/data.ts
  test/integrations/destinations/monday/router/data.ts
Due: js

feat: remove redundant data from traits in hubspot
  src/v0/destinations/hs/HSTransform-v2.js
  test/integrations/destinations/hs/processor/data.ts
  test/integrations/destinations/hs/router/data.ts
Due: js

fix: update logic for default true configs in Optimizely FS and engage
  src/cdk/v2/destinations/optimizely_fullstack/procWorkflow.yaml
  src/v0/destinations/engage/transform.js
Due: js

fix: awin product_id mapping backward compatible
  src/v0/destinations/awin/utils.js
Due: js

fix: awin product_id mapping backward compatible (#3285)
  src/v0/destinations/awin/utils.js
Due: js

Update src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

fix: small fix
  src/cdk/v2/destinations/bluecore/utils.js
  test/integrations/destinations/bluecore/ecommTestData.ts
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

feat: adding custom properties support to bluecore (#3282)
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/procWorkflow.yaml
  src/cdk/v2/destinations/bluecore/utils.js
  test/integrations/destinations/bluecore/ecommTestData.ts
  test/integrations/destinations/bluecore/identifyTestData.ts
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

chore: upgrade node version to v18.20.1 from v18.19.1
  .nvmrc
  Dockerfile
Due: none

chore: refactored test case
  test/__tests__/eventValidation.test.js
Due: none

chore: onboard custom mappings
  src/v0/destinations/ga4/customMappingsHandler.js
  src/v0/destinations/ga4/transform.js
Due: js

fix: algolia enhancement
  src/cdk/v2/destinations/algolia/procWorkflow.yaml
  src/v0/destinations/algolia/config.js
  src/v0/destinations/algolia/data/AlgoliaTrack.json
  src/v0/destinations/algolia/transform.js
  src/v0/destinations/algolia/util.js
  test/integrations/destinations/algolia/processor/data.ts
Due: js

Revert "refactor: deprecate mixpanel /track endpoint (#2833)"
  src/util/prometheus.js
  src/v0/destinations/mp/config.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: js

fix: revert mixpanel deprecate /track
  src/util/prometheus.js
  src/v0/destinations/mp/config.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: js

fix: revert mixpanel deprecate /track (#3291)
  src/util/prometheus.js
  src/v0/destinations/mp/config.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: js

chore(release): 1.62.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): pull hotfix-release/v1.62.1 into main (#3292)
  CHANGELOG.md
  package-lock.json
  package.json
  src/util/prometheus.js
  src/v0/destinations/mp/config.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: js

chore: update exports
  src/v0/destinations/ga4/customMappingsHandler.js
Due: js

chore: add validations and tests
  src/cdk/v2/destinations/yandex_metrica_offline_events/procWorkflow.yaml
  src/cdk/v2/destinations/yandex_metrica_offline_events/utils.js
  test/integrations/destinations/yandex_metrica_offline_events/processor/data.ts
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
