Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: adding readiness probe annotations for openfaas (#3529)
  src/util/openfaas/index.js
Due: js

fix: ga4 v2 userproperties (#3544)
  src/v0/destinations/ga4/utils.js
  src/v0/destinations/ga4_v2/customMappingsHandler.js
Due: js

fix: lint issues
  src/v0/util/index.js
Due: js

fix: tiktok: remove default value for content type for all events (#3545)
  src/v0/destinations/tiktok_ads/config.js
  src/v0/destinations/tiktok_ads/transformV2.js
  test/integrations/destinations/tiktok_ads/processor/data.ts
  test/integrations/destinations/tiktok_ads/router/data.ts
Due: js

fix: component test cases
  test/integrations/destinations/algolia/router/data.ts
  test/integrations/destinations/iterable/router/data.ts
Due: none

chore(release): 1.71.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: add metic for batch size
  src/util/prometheus.js
  src/v0/destinations/hs/HSTransform-v2.js
Due: js

fix: lint error
  src/features.json
Due: none

chore: implemented retry mechanism for rate limit exceed while executing faas function
  src/util/openfaas/index.js
Due: js

fix: update authErrorCategory for 2 step verification issue for google ads
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/networkHandler.js
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
  src/v0/util/googleUtils/index.js
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_offline_conversions/network.ts
Due: js

chore: migrate source transform tests
  test/integrations/sources/adjust/data.ts
  test/integrations/sources/appcenter/data.ts
  test/integrations/sources/appsflyer/data.ts
  test/integrations/sources/braze/data.ts
  test/integrations/sources/canny/data.ts
  test/integrations/sources/customerio/data.ts
  test/integrations/sources/iterable/data.ts
  test/integrations/sources/mailmodo/data.ts
  test/integrations/sources/monday/data.ts
  test/integrations/sources/segment/data.ts
  test/integrations/sources/signl4/data.ts
Due: none

feat: initial commit
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  src/v1/destinations/zoho/networkHandler.js
Due: js

chore: small fixes
  src/v0/destinations/klaviyo/config.js
  src/v0/destinations/klaviyo/data/KlaviyoProfileV2.json
  src/v0/destinations/klaviyo/data/KlaviyoTrackV2.json
  src/v0/destinations/klaviyo/transform.js
  src/v0/destinations/klaviyo/transformV2.js
  src/v0/destinations/klaviyo/util.js
  src/v0/destinations/klaviyo/util.test.js
  test/integrations/destinations/klaviyo/processor/data.ts
  test/integrations/destinations/klaviyo/processor/dataV2.ts
  test/integrations/destinations/klaviyo/processor/screenTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/validationTestDataV2.ts
Due: js

chore: small fixes+1
  src/constants/destinationCanonicalNames.js
Due: js

chore: tmp update transform.js for version switching
  src/v0/destinations/klaviyo/transform.js
Due: js

Update transform.js
  src/v0/destinations/klaviyo/transform.js
Due: js

chore: upgrade packages
  package-lock.json
  package.json
Due: none

chore: tmp commit
  src/v0/destinations/klaviyo/transform.js
Due: js

chore: fix formating
  package.json
Due: none

chore: tmp commit
  src/v0/destinations/klaviyo/config.js
  src/v0/destinations/klaviyo/transform.js
  src/v0/destinations/klaviyo/transformV2.js
  src/v0/destinations/klaviyo/util.js
  test/integrations/destinations/klaviyo/processor/dataV2.ts
  test/integrations/destinations/klaviyo/processor/identifyTestDataV2.ts
Due: js

fix: update network handler
  src/v1/destinations/hs/networkHandler.ts
  test/integrations/destinations/hs/dataDelivery/business.ts
  test/integrations/destinations/hs/dataDelivery/other.ts
Due: ts

feat: adding unit test for utils
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
Due: js

fix: add user-agent header in api calls
  src/cdk/v2/destinations/intercom/utils.js
  src/v0/destinations/intercom/networkHandler.js
Due: js

chore(release): 1.71.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update transformV2.js
  src/v0/destinations/klaviyo/transformV2.js
Due: js

fix: intercom tests
  src/cdk/v2/destinations/intercom/utils.test.js
Due: js

fix: include user-agent in test-cases
  test/integrations/destinations/intercom/dataDelivery/business.ts
  test/integrations/destinations/intercom/dataDelivery/other.ts
  test/integrations/destinations/intercom/processor/groupTestData.ts
  test/integrations/destinations/intercom/processor/identifyTestData.ts
  test/integrations/destinations/intercom/processor/trackTestData.ts
  test/integrations/destinations/intercom/router/data.ts
Due: none

fix: override proxyRequest property in networkHandler
  src/v0/destinations/intercom/networkHandler.js
Due: js

chore: update the networkHandler properties
  src/v0/destinations/intercom/networkHandler.js
Due: js

fix: lint error
  src/v0/destinations/intercom/networkHandler.js
Due: js

chore: add metadata information into intercom networkHandler
  src/v0/destinations/intercom/networkHandler.js
Due: js

Update transformV2.js
  src/v0/destinations/klaviyo/transformV2.js
Due: js

chore: update test cases
  src/cdk/v2/destinations/intercom/utils.js
  test/integrations/destinations/intercom/network.ts
Due: js

chore: update mock and remove redundent test case
  test/integrations/destinations/intercom/network.ts
  test/integrations/destinations/intercom/router/data.ts
Due: none

fix: fix unit test intercom
  src/cdk/v2/destinations/intercom/utils.test.js
Due: js

chore(release): 1.71.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: adding router tests
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/common.ts
  test/integrations/destinations/zoho/router/data.ts
Due: js

feat: editing batching logic
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/transformRecord.js
  test/integrations/destinations/zoho/mocks.ts
  test/integrations/destinations/zoho/router/data.ts
Due: js

feat: adding data delivery test cases
  src/cdk/v2/destinations/zoho/utils.test.js
  src/features.json
  src/v1/destinations/zoho/networkHandler.js
  test/integrations/destinations/zoho/common.ts
  test/integrations/destinations/zoho/dataDelivery/business.ts
  test/integrations/destinations/zoho/dataDelivery/data.ts
  test/integrations/destinations/zoho/network.ts
Due: js

fix: fixing the endpoint bugs
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/component.test.ts
  test/integrations/destinations/zoho/router/data.ts
Due: js
