Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: send proper status to server in throlled case
  src/v0/destinations/intercom/networkHandler.js
  src/v0/destinations/rakuten/networkHandler.js
  test/integrations/destinations/intercom/dataDelivery/data.ts
Due: js

chore: add other scenario tests
  test/integrations/destinations/marketo/dataDelivery/data.ts
  test/integrations/destinations/marketo/dataDelivery/other.ts
Due: none

fix: formatting - 2
  src/adapters/network.js
  src/cdk/v2/destinations/reddit/procWorkflow.yaml
  src/util/prometheus.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/marketo/networkHandler.js
  src/v0/destinations/marketo_static_list/networkHandler.js
  src/v0/destinations/wootric/util.js
Due: js

fix: rakuten: sync property mapping sourcekeys to rudderstack standard spec
  src/cdk/v2/destinations/rakuten/data/propertiesMapping.json
  test/integrations/destinations/rakuten/processor/transformationFailure.ts
Due: none

chore: cleanup
  test/integrations/destinations/marketo/dataDelivery/business.ts
  test/integrations/destinations/marketo/dataDelivery/data.ts
Due: none

chore: comments addressed
  src/cdk/v2/destinations/rakuten/data/propertiesMapping.json
  test/integrations/destinations/rakuten/processor/transformationFailure.ts
Due: none

fix: clean up the old implementation of GARL to avoid code duplication
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/util/googleUtils/index.js
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
Due: js

fix: changing the field name for consent fields
  src/v0/destinations/google_adwords_remarketing_lists/utils.js
  src/v0/destinations/google_adwords_remarketing_lists/utils.test.js
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
Due: js

chore: add business v1 proxy tests and fix mocks for MSL
  test/integrations/destinations/marketo_static_list/dataDelivery/business.ts
  test/integrations/destinations/marketo_static_list/dataDelivery/data.ts
  test/integrations/destinations/marketo_static_list/network.ts
Due: none

chore: add other tests, cleanupx2
  test/integrations/destinations/marketo_static_list/dataDelivery/data.ts
  test/integrations/destinations/marketo_static_list/dataDelivery/other.ts
  test/integrations/destinations/marketo_static_list/network.ts
Due: none

chore: add component test
  test/integrations/destinations/sfmc/processor/data.ts
Due: none

chore: added router test case for max batch size
  src/cdk/v2/destinations/ninetailed/config.js
  src/cdk/v2/destinations/ninetailed/rtWorkflow.yaml
  src/cdk/v2/destinations/ninetailed/utils.js
  test/integrations/destinations/ninetailed/commonConfig.ts
  test/integrations/destinations/ninetailed/processor/identify.ts
  test/integrations/destinations/ninetailed/processor/page.ts
  test/integrations/destinations/ninetailed/processor/track.ts
  test/integrations/destinations/ninetailed/processor/validation.ts
  test/integrations/destinations/ninetailed/router/data.ts
Due: js

fix: clean up of unnecessary code
  src/v0/destinations/google_adwords_remarketing_lists/utils.js
  src/v0/util/googleUtils/index.js
  src/v0/util/googleUtils/index.test.js
Due: js

chore: trim extra data in test-cases
  test/integrations/destinations/gainsight_px/network.ts
  test/integrations/destinations/gainsight_px/router/data.ts
Due: none

chore: trim extra data in destination configuration for test-cases
  test/integrations/destinations/gainsight_px/router/data.ts
Due: none

start capturing max concurrent workers in env to the service
  src/util/openfaas/index.js
Due: js

fix: small edit
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/google_adwords_offline_conversions/utils.test.js
  test/integrations/destinations/google_adwords_offline_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
Due: js

fix: updating the common destination
  test/integrations/destinations/facebook_pixel/processor/configLevelFeaturesTestData.ts
  test/integrations/destinations/facebook_pixel/processor/ecommTestData.ts
  test/integrations/destinations/facebook_pixel/processor/identifyTestData.ts
  test/integrations/destinations/facebook_pixel/processor/pageScreenTestData.ts
  test/integrations/destinations/facebook_pixel/processor/trackTestData.ts
Due: none

fix: metadata structure correction (#3119)
  package-lock.json
  package.json
  src/controllers/destination.ts
  src/legacy/router.js
  src/v0/destinations/bqstream/transform.js
  src/v0/destinations/campaign_manager/transform.js
  src/v0/destinations/clevertap/transform.js
  src/v0/destinations/customerio/transform.js
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  src/v0/destinations/google_cloud_function/transform.js
  src/v0/destinations/googlesheets/transform.js
  src/v0/destinations/hs/transform.js
  src/v0/destinations/iterable/transform.js
  src/v0/destinations/kafka/transform.js
  src/v0/destinations/klaviyo/transform.js
  src/v0/destinations/lambda/transform.js
  src/v0/destinations/mailchimp/transform.js
  src/v0/destinations/mailjet/transform.js
  src/v0/destinations/mailmodo/transform.js
  src/v0/destinations/marketo/transform.js
  src/v0/destinations/marketo_static_list/transform.js
  src/v0/destinations/marketo_static_list/transformV2.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/ometria/transform.js
  src/v0/destinations/pardot/transform.js
  src/v0/destinations/pinterest_tag/transform.js
  src/v0/destinations/salesforce/transform.js
  src/v0/destinations/sendgrid/transform.js
  src/v0/destinations/snapchat_conversion/transform.js
  src/v0/destinations/tiktok_ads/transform.js
  src/v0/destinations/tiktok_ads/transformV2.js
  src/v0/destinations/tiktok_ads_offline_events/transform.js
  src/v0/util/index.js
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js, ts

fix: marketo bulk upload zero and null value allowed
  src/v0/destinations/marketo_bulk_upload/transform.js
  test/integrations/destinations/marketo_bulk_upload/processor/data.ts
Due: js

feat: add event mapping support for branch destination
  src/v0/destinations/branch/transform.js
  src/v0/destinations/branch/utils.js
  src/v0/destinations/branch/utils.test.js
  test/integrations/destinations/branch/processor/data.ts
Due: js

chore: remove config generator info from contribution guide
  CONTRIBUTING.md
Due: none

fix: test cases
  test/integrations/destinations/ninetailed/processor/validation.ts
Due: none

fix: rakuten: sync property mapping sourcekeys to rudderstack standard spec (#3129)
  src/cdk/v2/destinations/rakuten/data/propertiesMapping.json
  test/integrations/destinations/rakuten/processor/transformationFailure.ts
Due: none

chore: ga4 proxy test refactor
  test/integrations/destinations/ga4/dataDelivery/business.ts
  test/integrations/destinations/ga4/dataDelivery/data.ts
  test/integrations/destinations/ga4/network.ts
Due: none

chore: api test (#2995)
  package-lock.json
  package.json
  src/controllers/__tests__/delivery.test.ts
  src/controllers/__tests__/destination.test.ts
  src/controllers/__tests__/regulation.test.ts
  src/controllers/__tests__/source.test.ts
  src/controllers/obs.delivery.js
  src/controllers/regulation.ts
  src/helpers/__tests__/fetchHandlers.test.ts
  src/helpers/__tests__/serviceSelector.test.ts
  src/helpers/serviceSelector.ts
  src/services/__tests__/misc.test.ts
  src/services/destination/__tests__/nativeIntegration.test.ts
  src/services/destination/__tests__/postTransformation.test.ts
  src/services/destination/__tests__/preTransformation.test.ts
  src/services/source/__tests__/nativeIntegration.test.ts
  src/services/source/__tests__/postTransformation.test.ts
  test/apitests/service.api.test.ts
Due: js, ts

chore: added tests
  test/integrations/destinations/facebook_conversions/processor/data.ts
  test/integrations/destinations/facebook_pixel/processor/data.ts
Due: none

refactor: replace handlebar with regex
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
Due: js

chore: add missing prometheus label for shopify stat
  src/util/prometheus.js
Due: js

refactor: update error message
  src/v0/destinations/mp/util.js
Due: js

chore: update component tests structure for snapchat custom audience
  test/integrations/destinations/snapchat_custom_audience/dataDelivery/business.ts
  test/integrations/destinations/snapchat_custom_audience/dataDelivery/data.ts
  test/integrations/destinations/snapchat_custom_audience/dataDelivery/oauth.ts
  test/integrations/destinations/snapchat_custom_audience/network.ts
Due: none

chore: add missing prometheus label for shopify stat (#3138)
  src/util/prometheus.js
Due: js

chore: comments addressed
  test/integrations/destinations/snapchat_custom_audience/dataDelivery/business.ts
  test/integrations/destinations/snapchat_custom_audience/dataDelivery/data.ts
  test/integrations/destinations/snapchat_custom_audience/dataDelivery/oauth.ts
  test/integrations/destinations/snapchat_custom_audience/dataDelivery/other.ts
Due: none

chore: return action for record event to server
  src/v0/destinations/redis/transform.js
Due: js

chore: update component tests structure for snapchat custom audience (#3125)
  test/integrations/destinations/snapchat_custom_audience/dataDelivery/business.ts
  test/integrations/destinations/snapchat_custom_audience/dataDelivery/data.ts
  test/integrations/destinations/snapchat_custom_audience/dataDelivery/oauth.ts
  test/integrations/destinations/snapchat_custom_audience/dataDelivery/other.ts
  test/integrations/destinations/snapchat_custom_audience/network.ts
Due: none

refactor: address review comments
  src/v0/destinations/branch/utils.js
  src/v0/destinations/branch/utils.test.js
  test/integrations/destinations/branch/processor/data.ts
Due: js

chore: remove outdated config generator info from contributor guide (#3139)
  CONTRIBUTING.md
Due: none
