Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

feat(http): updated processBody logic to handle nested null values
  src/cdk/v2/destinations/http/utils.js
Due: js

fix: minor issue
  src/v0/destinations/customerio_segment/utils.ts
Due: ts

feat(http): update tests
  src/cdk/v2/destinations/http/utils.js
  src/cdk/v2/destinations/http/utils.test.js
  test/integrations/destinations/http/common.ts
  test/integrations/destinations/http/processor/configuration.ts
Due: js

feat(http): update tests
  src/cdk/v2/destinations/http/utils.js
  test/integrations/destinations/http/processor/configuration.ts
Due: js

feat(http): updated json-template-engine version to 0.19.5
  package-lock.json
  package.json
Due: none

fix: extend statuscode check to 502 to retry the request (#4029)
  src/util/openfaas/index.js
Due: js

chore(release): 1.89.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: added tests and fixed the drop traits condition
  src/v0/destinations/mp/transform.js
  test/integrations/destinations/mp/processor/data.ts
Due: js

chore: addressed review comments
  src/cdk/v2/destinations/http/utils.js
  src/cdk/v2/destinations/http/utils.test.js
Due: js

fix: some changes
  src/v0/destinations/customerio_segment/transform.ts
  src/v0/destinations/customerio_segment/type.ts
  src/v0/destinations/customerio_segment/utils.ts
  test/integrations/destinations/customerio_segment/router/data.ts
Due: ts

chore: add more tests
  test/integrations/destinations/iterable/processor/identifyTestData.ts
  test/integrations/destinations/iterable/processor/validationTestData.ts
  test/integrations/destinations/iterable/router/data.ts
Due: none

fix: json attr presence logic - add component test-cases
  src/v0/destinations/airship/utils.ts
  test/integrations/destinations/airship/processor/business.ts
  test/integrations/destinations/airship/processor/data.ts
Due: ts

feat(http): minor bug fixes and enhancements related to XML and FORM formats (#4022)
  package-lock.json
  package.json
  src/cdk/v2/destinations/http/procWorkflow.yaml
  src/cdk/v2/destinations/http/utils.js
  src/cdk/v2/destinations/http/utils.test.js
  test/integrations/destinations/http/common.ts
  test/integrations/destinations/http/processor/configuration.ts
Due: js

chore: add unit tests
  src/cdk/v2/destinations/sfmc_v2/procWorkflow.yaml
  src/cdk/v2/destinations/sfmc_v2/rtWorkflow.yaml
  src/cdk/v2/destinations/sfmc_v2/utils.test.ts
  src/cdk/v2/destinations/sfmc_v2/utils.ts
  src/features.ts
Due: ts

chore: add more testsx2
  src/v0/destinations/iterable/util.js
  src/v0/destinations/iterable/util.test.js
Due: js

feat: refactoring name to customerio_audience
  src/features.ts
  src/v0/destinations/customerio_audience/config.ts
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/customerio_audience/type.ts
  src/v0/destinations/customerio_audience/utils.ts
  test/integrations/destinations/customerio_audience/common.ts
  test/integrations/destinations/customerio_audience/mocks.ts
  test/integrations/destinations/customerio_audience/network.ts
  test/integrations/destinations/customerio_audience/router/data.ts
Due: ts

chore: aggregate metrics in worker thread - fix typo
  src/util/worker.js
Due: js

chore: update src/util/worker.js
  src/util/worker.js
Due: js
