Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: move slack notification to separate workflow
  .github/workflows/build-push-docker-image.yml
  .github/workflows/dt-test-and-report-code-coverage.yml
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/slack-notify.yml
Due: none

fix: format error
  .github/workflows/slack-notify.yml
Due: none

fix: source transformation integration test generation (#3645)
  go/webhook/testcases/testdata/testcases/close_crm/group_creation.json
  go/webhook/testcases/testdata/testcases/close_crm/lead_deletion.json
  go/webhook/testcases/testdata/testcases/close_crm/lead_update.json
  go/webhook/testcases/testdata/testcases/cordial/multiple_object_input_event_with_batched_payload.json
  go/webhook/testcases/testdata/testcases/cordial/simple_single_object_input_event_with_no_cid.json
  go/webhook/testcases/testdata/testcases/cordial/simple_single_object_input_event_with_normal_channel_and_action.json
  go/webhook/testcases/testdata/testcases/mailjet/mail_jet_when_no_email_is_present.json
  go/webhook/testcases/testdata/testcases/moengage/batch_of_events.json
  go/webhook/testcases/testdata/testcases/segment/test_0.json
  go/webhook/testcases/testdata/testcases/shopify/invalid_topic.json
  go/webhook/testcases/testdata/testcases/shopify/no_query_parameters.json
  go/webhook/testcases/testdata/testcases/shopify/topic_not_found.json
  test/integrations/sources/auth0/data.ts
  test/integrations/sources/iterable/data.ts
  test/integrations/sources/mailjet/data.ts
  test/integrations/sources/moengage/data.ts
  test/integrations/sources/segment/data.ts
  test/integrations/testTypes.ts
  test/scripts/generateJson.ts
Due: none

fix: handle attentive tag null, undefined properties
  src/v0/destinations/attentive_tag/util.js
  test/integrations/destinations/attentive_tag/processor/data.ts
Due: js

fix: handle attentive tag null, undefined properties (#3647)
  src/v0/destinations/attentive_tag/util.js
  test/integrations/destinations/attentive_tag/processor/data.ts
Due: js

fix: handle null values for braze dedupe (#3638)
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/util.js
Due: js

feat: move hubspot to transformer proxy to enable partial batch handling (#3308)
  src/v0/destinations/hs/transform.js
  src/v0/destinations/hs/util.js
  src/v1/destinations/hs/networkHandler.ts
  test/integrations/destinations/hs/dataDelivery/business.ts
  test/integrations/destinations/hs/dataDelivery/data.ts
  test/integrations/destinations/hs/dataDelivery/other.ts
  test/integrations/destinations/hs/network.ts
  test/integrations/destinations/hs/router/data.ts
Due: js, ts

chore(release): 1.75.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: catalog batch items
  src/cdk/v2/destinations/bloomreach/config.ts
Due: ts

feat: webhook v2
  src/cdk/v2/destinations/webhook_v2/procWorkflow.yaml
  src/cdk/v2/destinations/webhook_v2/rtWorkflow.yaml
  src/cdk/v2/destinations/webhook_v2/utils.js
  src/features.json
Due: js

feat: webhook v2
  src/cdk/v2/destinations/webhook_v2/procWorkflow.yaml
  src/cdk/v2/destinations/webhook_v2/utils.js
Due: js

refactor: getAuthHeaders utility
  src/cdk/v2/destinations/webhook_v2/utils.js
Due: js

docs: add contribution guide link in readme banner (#1)
  README.md
Due: none

fix: add validation for iterable object
  src/v0/destinations/hs/transform.js
  src/v0/destinations/hs/util.js
  src/v0/destinations/hs/util.test.js
  src/v1/destinations/hs/networkHandler.ts
Due: js, ts

chore: add clean up script
  src/v0/destinations/personalize/scripts/personalize_cleanup.sh
Due: none

chore: add test cases
  src/v0/destinations/hs/transform.js
  test/integrations/destinations/hs/router/data.ts
  test/integrations/testUtils.ts
Due: js

chore: add checkout step
  .github/workflows/slack-notify.yml
Due: none

chore: move notification to a separate job inside workflow - add capability to understand overall failure or just tests failure for notifying
  .github/workflows/dt-test-and-report-code-coverage.yml
Due: none

chore: add missing lint step
  .github/workflows/dt-test-and-report-code-coverage.yml
Due: none

fix: reusable notify workflow
  .github/workflows/dt-test-and-report-code-coverage.yml
  .github/workflows/slack-notify.yml
Due: none

chore: update notification job name
  .github/workflows/dt-test-and-report-code-coverage.yml
Due: none

feat: add xml support
  src/cdk/v2/destinations/webhook_v2/procWorkflow.yaml
Due: none

fix: add validation for concurrent_modification error
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_remarketing_lists/network.ts
Due: js

fix: remove console log
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
Due: js

feat: onboard sfmc with vdm for rETL
  src/v0/destinations/sfmc/transform.js
Due: js

chore: add test cases and add cache for access token
  src/v0/destinations/sfmc/config.js
  src/v0/destinations/sfmc/transform.js
  test/integrations/destinations/sfmc/processor/data.ts
Due: js

fix: add validation for concurrent_modification error (#3654)
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_remarketing_lists/network.ts
Due: js

fix: fixing clevertap bugsnag issue
  src/v0/destinations/clevertap/transform.js
  test/integrations/destinations/clevertap/processor/data.ts
Due: js

fix: clevertap bugsnag issue (#3656)
  src/v0/destinations/clevertap/transform.js
  test/integrations/destinations/clevertap/processor/data.ts
Due: js

fix: fixing snapchat bugsnag issue
  src/v0/destinations/snapchat_conversion/transform.js
  test/integrations/destinations/snapchat_conversion/processor/data.ts
Due: js

fix: code review suggestion
  src/v0/destinations/snapchat_conversion/transform.js
Due: js

fix: snapchat conversion bugsnag issue (#3657)
  src/v0/destinations/snapchat_conversion/transform.js
  test/integrations/destinations/snapchat_conversion/processor/data.ts
Due: js

fix: validation for iterable object of HS (#3653)
  src/v0/destinations/hs/transform.js
  src/v0/destinations/hs/util.js
  src/v0/destinations/hs/util.test.js
  src/v1/destinations/hs/networkHandler.ts
  test/integrations/destinations/hs/router/data.ts
  test/integrations/testUtils.ts
Due: js, ts

chore(release): 1.75.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: onboard smartly destination
  src/cdk/v2/destinations/smartly/config.js
  src/cdk/v2/destinations/smartly/data/trackMapping.json
  src/cdk/v2/destinations/smartly/procWorkflow.yaml
  test/integrations/destinations/smartly/commonConfig.ts
  test/integrations/destinations/smartly/processor/data.ts
  test/integrations/destinations/smartly/processor/track.ts
  test/integrations/destinations/smartly/processor/validation.ts
Due: js

fix: handle trade desk null, undefined fields
  src/cdk/v2/destinations/the_trade_desk/transformRecord.js
  test/integrations/destinations/the_trade_desk/router/data.ts
Due: js

feat: add batching
  src/cdk/v2/destinations/webhook_v2/procWorkflow.yaml
  src/cdk/v2/destinations/webhook_v2/rtWorkflow.yaml
  src/cdk/v2/destinations/webhook_v2/utils.js
Due: js

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

feat: splitting bloomreach destination into bloomreach and bloomreach_catalog
  src/cdk/v2/destinations/bloomreach/config.ts
  src/cdk/v2/destinations/bloomreach/procWorkflow.yaml
  src/cdk/v2/destinations/bloomreach/rtWorkflow.yaml
  src/cdk/v2/destinations/bloomreach/utils.ts
  src/cdk/v2/destinations/bloomreach_catalog/config.ts
  src/cdk/v2/destinations/bloomreach_catalog/procWorkflow.yaml
  src/cdk/v2/destinations/bloomreach_catalog/rtWorkflow.yaml
  src/cdk/v2/destinations/bloomreach_catalog/utils.ts
  src/features.json
  src/v1/destinations/bloomreach_catalog/networkHandler.js
  test/integrations/destinations/bloomreach/dataDelivery/business.ts
  test/integrations/destinations/bloomreach/mocks.ts
  test/integrations/destinations/bloomreach/network.ts
  test/integrations/destinations/bloomreach/processor/validation.ts
  test/integrations/destinations/bloomreach/router/data.ts
  test/integrations/destinations/bloomreach_catalog/common.ts
  test/integrations/destinations/bloomreach_catalog/dataDelivery/business.ts
  test/integrations/destinations/bloomreach_catalog/dataDelivery/data.ts
  test/integrations/destinations/bloomreach_catalog/dataDelivery/other.ts
  test/integrations/destinations/bloomreach_catalog/mocks.ts
  test/integrations/destinations/bloomreach_catalog/network.ts
  test/integrations/destinations/bloomreach_catalog/processor/data.ts
  test/integrations/destinations/bloomreach_catalog/processor/validation.ts
  test/integrations/destinations/bloomreach_catalog/router/data.ts
Due: js, ts

chore: updated processor changes
  src/cdk/v2/destinations/smartly/data/trackMapping.json
  src/cdk/v2/destinations/smartly/procWorkflow.yaml
  src/cdk/v2/destinations/smartly/utils.js
  test/integrations/destinations/smartly/commonConfig.ts
  test/integrations/destinations/smartly/processor/track.ts
  test/integrations/destinations/smartly/processor/validation.ts
Due: js
