Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: reuse ga4 network handler for ga4v2
  src/v1/destinations/ga4_v2/networkHandler.ts
Due: ts

chore: reuse ga4 network handler for ga4v2 (#3768)
  src/v1/destinations/ga4_v2/networkHandler.ts
Due: ts

chore: fix package
  package-lock.json
Due: none

chore: fix src/v0/destinations/amazon_audience/utils.js
  src/v0/destinations/amazon_audience/utils.js
Due: js

chore: update src/v0/destinations/amazon_audience/utils.js
  src/v0/destinations/amazon_audience/utils.js
Due: js

fix: fixing lytics user_id and anonymousId mapping (#3745)
  src/cdk/v2/destinations/lytics/config.ts
  src/cdk/v2/destinations/lytics/data/LYTICSIdentifyConfig.json
  src/cdk/v2/destinations/lytics/procWorkflow.yaml
  src/v0/destinations/lytics/config.js
  src/v0/destinations/lytics/data/LYTICSIdentifyConfig.json
  src/v0/destinations/lytics/data/LYTICSPageScreenConfig.json
  src/v0/destinations/lytics/data/LYTICSTrackConfig.json
  src/v0/destinations/lytics/transform.js
  test/integrations/destinations/lytics/processor/data.ts
  test/integrations/destinations/lytics/router/data.ts
Due: js, ts

chore: fix test cases
  test/integrations/destinations/amazon_audience/processor/data.ts
Due: none

chore(release): 1.80.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: add missed track entries for fulfillment discount events
  src/v0/sources/shopify/config.js
Due: js

chore: update config
  src/v0/sources/shopify/config.js
Due: js

chore: address comments+1
  src/v0/destinations/amazon_audience/data/addressMap.json
  src/v0/destinations/amazon_audience/data/statesMap.json
  src/v0/destinations/amazon_audience/networkHandler.js
  src/v0/destinations/amazon_audience/utils.js
  test/integrations/destinations/amazon_audience/router/data.ts
Due: js

fix: addressing comments
  src/cdk/v2/destinations/intercom/utils.js
  src/v0/destinations/intercom_v2/transform.js
  src/v0/destinations/intercom_v2/utils.js
  test/integrations/destinations/intercom_v2/common.ts
  test/integrations/destinations/intercom_v2/router/data.ts
Due: js

fix: initial commit
  src/v0/destinations/salesforce/config.js
  src/v0/destinations/salesforce/networkHandler.js
  src/v0/destinations/salesforce/utils.js
  src/v0/destinations/salesforce_oauth/networkHandler.js
Due: js

fix: test cases fixed
  src/v0/destinations/salesforce/utils.js
  test/integrations/destinations/salesforce/processor/data.ts
  test/integrations/destinations/salesforce/router/data.ts
Due: js

fix: review comments addressed
  src/v0/destinations/salesforce/utils.js
Due: js

fix: webhook proc workflow object assign bug
  src/cdk/v2/destinations/webhook/procWorkflow.yaml
Due: none

chore: add test for webhook headers
  test/integrations/destinations/webhook/processor/data.ts
Due: none

fix: webhook proc workflow object assign bug (#3775)
  src/cdk/v2/destinations/webhook/procWorkflow.yaml
  test/integrations/destinations/webhook/processor/data.ts
Due: none

fix: add list of the props, which need to be placed at the root
  src/v0/destinations/af/transform.js
  test/integrations/destinations/af/processor/data.ts
Due: js

chore: adding salesforce oauth sandbox support for closed testing
  src/constants/destinationCanonicalNames.js
  src/features.json
  src/v0/destinations/salesforce_oauth_sandbox/networkHandler.js
  test/integrations/destinations/salesforce_oauth_sandbox/dataDelivery/data.ts
  test/integrations/destinations/salesforce_oauth_sandbox/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth_sandbox/network.ts
Due: js

fix: upgrade zod from 3.22.4 to 3.23.8
  package-lock.json
  package.json
Due: none

fix: upgrade @pyroscope/nodejs from 0.2.9 to 0.4.0
  package-lock.json
  package.json
Due: none

fix: npm start command to include exec
  package.json
Due: none

chore(release): 1.81.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: addressing comments
  src/v0/destinations/intercom_v2/data/IntercomGroupConfig.json
  src/v0/destinations/intercom_v2/networkHandler.js
  test/integrations/destinations/intercom_v2/common.ts
  test/integrations/destinations/intercom_v2/dataDelivery/business.ts
  test/integrations/destinations/intercom_v2/network.ts
  test/integrations/destinations/intercom_v2/router/data.ts
Due: js

fix: rakuten amount value rounded up to nearest integer
  src/cdk/v2/destinations/rakuten/utils.js
  src/cdk/v2/destinations/rakuten/utils.test.js
Due: js

chore: add missed track entries for fulfillment discount events (#3772)
  src/v0/sources/shopify/config.js
Due: js

fix: update the package json start script to properly handle termination signals
  package.json
Due: none

fix: added env values for gunicorn workers and threads in openfaas
  src/util/openfaas/index.js
Due: js

fix: add env dns resolver
  src/util/openfaas/index.js
Due: js

fix: add gunicorn values in env vars
  src/util/openfaas/index.js
Due: js

Fix presence check to allow null values
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom/utils.test.js
Due: js

chore: adding test log
  src/v0/destinations/salesforce/utils.js
Due: js

fix: throw error for empty secret
  src/v0/destinations/salesforce/config.js
  src/v0/destinations/salesforce/utils.js
Due: js

fix: processor last test-case
  test/integrations/destinations/salesforce/processor/data.ts
Due: none

chore: add logical changes for passing test-cases
  src/v0/destinations/salesforce/utils.js
Due: js

fix: addressing comment
  src/v0/destinations/intercom_v2/transform.js
  test/integrations/destinations/intercom_v2/router/data.ts
Due: js

fix: review comments addressed
  src/cdk/v2/destinations/rakuten/utils.js
  src/cdk/v2/destinations/rakuten/utils.test.js
Due: js

fix: address comment
  src/v0/destinations/intercom_v2/transform.js
  test/integrations/destinations/intercom_v2/router/data.ts
Due: js

fix: adding dynamic destination name for rETL connection
  src/v0/destinations/salesforce/config.js
  src/v0/destinations/salesforce/transform.js
  src/v0/destinations/salesforce/utils.js
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
