Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: small fix
  src/v0/sources/mailjet/transform.js
Due: js

fix: added extra mapping for user and page
  src/v0/destinations/tiktok_ads/data/TikTokTrackV2.json
Due: none

refactor: use toArray from transformer utils
  src/v0/sources/mailjet/transform.js
Due: js

fix: error handling for trade desk first party data flow (#2986)
  src/cdk/v2/destinations/the_trade_desk/utils.js
  test/integrations/destinations/the_trade_desk/router/data.ts
Due: js

fix: ortto remove phn:phone field if no phone is there in payload (#2997)
  src/cdk/v2/destinations/ortto/procWorkflow.yaml
  test/integrations/destinations/ortto/processor/data.ts
Due: none

feat: onboard new tiktok version events 2.0 (#2961)
  src/v0/destinations/tiktok_ads/config.js
  src/v0/destinations/tiktok_ads/data/TikTokTrack.json
  src/v0/destinations/tiktok_ads/data/TikTokTrackV2.json
  src/v0/destinations/tiktok_ads/transform.js
  src/v0/destinations/tiktok_ads/transformV2.js
  src/v0/destinations/tiktok_ads/util.js
  src/v0/destinations/tiktok_ads/util.test.js
  src/v0/util/index.js
  test/integrations/destinations/tiktok_ads/mocks.ts
  test/integrations/destinations/tiktok_ads/processor/data.ts
  test/integrations/destinations/tiktok_ads/router/data.ts
Due: js

fix: add valid code coverage file in workflows
  .github/workflows/prepare-for-dev-deploy.yml
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
Due: none

fix: add valid code coverage file in workflows (#3000)
  .github/workflows/prepare-for-dev-deploy.yml
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
Due: none

feat: add privacy settings and canonical names
  src/cdk/v2/destinations/the_trade_desk/transformConversion.js
  src/constants/destinationCanonicalNames.js
Due: js

fix: upgrade isolated-vm from 4.5.0 to 4.6.0
  package-lock.json
  package.json
Due: none

chore: prettier as a plugin in eslint & associated formatting updates
  .eslintrc.json
  package-lock.json
  package.json
  src/adapters/networkHandlerFactory.js
  src/controllers/obs.delivery.js
  src/controllers/util/index.ts
  src/services/destination/nativeIntegration.ts
  src/services/userTransform.ts
  src/util/error-extractor/index.ts
  src/util/error-extractor/types.ts
  src/util/stats.js
  src/v0/destinations/adobe_analytics/utils.js
  src/v0/destinations/am/config.js
  src/v0/destinations/twitter_ads/config.js
  src/v0/destinations/twitter_ads/util.js
  src/v0/sources/formsort/transform.js
Due: js, ts

chore: add verification action to check for linting & formatting errors
  .github/workflows/verify.yml
Due: none

chore: remove PR title check duplicate job
  .github/workflows/verify.yml
Due: none

chore: update component test and generate reports (#2989)
  .github/workflows/component-test-report.yml
  .gitignore
  src/v0/destinations/tiktok_ads/util.test.js
  test/integrations/component.test.ts
  test/integrations/destinations/klaviyo/processor/data.ts
  test/integrations/destinations/klaviyo/processor/ecomTestData.ts
  test/integrations/destinations/klaviyo/processor/groupTestData.ts
  test/integrations/destinations/klaviyo/processor/identifyTestData.ts
  test/integrations/destinations/klaviyo/processor/screenTestData.ts
  test/integrations/destinations/klaviyo/processor/trackTestData.ts
  test/integrations/destinations/klaviyo/processor/validationTestData.ts
  test/integrations/destinations/klaviyo/router/data.ts
  test/integrations/destinations/tiktok_ads/mocks.ts
  test/integrations/destinations/tiktok_ads/processor/data.ts
  test/integrations/destinations/tiktok_ads/router/data.ts
  test/integrations/testUtils.ts
  test/test_reporter/reporter.ts
Due: js

chore: remove userlist-cdk test file
  test/__tests__/userlist-cdk.test.ts
Due: none

chore: github workflow modified for testing
  .github/workflows/prepare-for-prod-deploy.yml
Due: none

fix: remove page.url as a required field
  src/v0/destinations/tiktok_ads/data/TikTokTrackV2.json
Due: none

fix: tiktok_ads remove page.url as a required field (#3006)
  src/v0/destinations/tiktok_ads/data/TikTokTrackV2.json
Due: none

fix: mailjet source operating on array instead object (#2999)
  src/v0/sources/mailjet/transform.js
  test/__tests__/data/mailjet_source.json
  test/__tests__/mailjet_source.test.js
Due: js

chore: devops pr raise workflow code implemented for testing
  .github/workflows/prepare-for-prod-deploy.yml
Due: none

chore: pr build condition commented to test the flow
  .github/workflows/prepare-for-prod-deploy.yml
Due: none

chore: created new branch to test workflow with some dummy changes
  CHANGELOG.md
Due: none

chore: lint command changes & add vscode editor settings to use prettier, eslint
  .github/workflows/component-test-report.yml
  .vscode/settings.json
  src/adapters/networkHandlerFactory.js
  src/controllers/util/index.ts
  src/services/destination/nativeIntegration.ts
  src/services/userTransform.ts
  src/v0/destinations/adobe_analytics/utils.js
  test/test_reporter/reporter.ts
  tsconfig.json
Due: js, ts

chore: clean up
  test/integrations/component.test.ts
  test/integrations/destinations/tiktok_ads/router/data.ts
Due: none

chore: clean up
  test/deleteUsers/data/iterable/handler_input.json
  test/deleteUsers/data/iterable/handler_output.json
  test/deleteUsers/data/iterable/nw_client_data.json
Due: none

chore: modify vscode settings
  .vscode/settings.json
Due: none

Updated license to ELv2
  LICENSE
Due: none

refactor: created separate transform.js for record and conversion use case
  src/cdk/v2/destinations/the_trade_desk/rtWorkflow.yaml
  src/cdk/v2/destinations/the_trade_desk/transform.js
  src/cdk/v2/destinations/the_trade_desk/transformConversion.js
  src/cdk/v2/destinations/the_trade_desk/transformRecord.js
  src/cdk/v2/destinations/the_trade_desk/utils.js
Due: js

fix: fixing network error messages
  src/v0/destinations/marketo_bulk_upload/fileUpload.js
  src/v0/destinations/marketo_bulk_upload/poll.js
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

fix: fixing default error messages
  src/v0/destinations/marketo_bulk_upload/util.js
  test/__tests__/data/marketo_bulk_upload_jobStatus_output.json
Due: js

fix: fixing network and default error messages for marketo bulk upload (#3016)
  src/v0/destinations/marketo_bulk_upload/fileUpload.js
  src/v0/destinations/marketo_bulk_upload/poll.js
  src/v0/destinations/marketo_bulk_upload/util.js
  test/__tests__/data/marketo_bulk_upload_jobStatus_output.json
Due: js

chore(release): 1.54.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
