Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix: type issues
  src/cdk/v2/destinations/zoho/utils.test.js
  src/controllers/__tests__/delivery.test.ts
  src/controllers/__tests__/destination.test.ts
  src/controllers/__tests__/regulation.test.ts
  src/controllers/__tests__/source.test.ts
  src/helpers/__tests__/fetchHandlers.test.ts
  src/helpers/__tests__/serviceSelector.test.ts
  src/routerUtils.test.js
  src/services/destination/__tests__/nativeIntegration.test.ts
  src/services/source/__tests__/nativeIntegration.test.ts
  src/v0/destinations/ga4_v2/transform.test.ts
  src/v0/destinations/marketo/util.test.js
  src/v1/sources/shopify/utils.test.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.redisCartToken.test.js
  test/apitests/service.api.test.ts
Due: js, ts

Revert "fix: type issues"
  src/cdk/v2/destinations/zoho/utils.test.js
  src/controllers/__tests__/delivery.test.ts
  src/controllers/__tests__/destination.test.ts
  src/controllers/__tests__/regulation.test.ts
  src/controllers/__tests__/source.test.ts
  src/helpers/__tests__/fetchHandlers.test.ts
  src/helpers/__tests__/serviceSelector.test.ts
  src/routerUtils.test.js
  src/services/destination/__tests__/nativeIntegration.test.ts
  src/services/source/__tests__/nativeIntegration.test.ts
  src/v0/destinations/ga4_v2/transform.test.ts
  src/v0/destinations/marketo/util.test.js
  src/v1/sources/shopify/utils.test.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.redisCartToken.test.js
  test/apitests/service.api.test.ts
Due: js, ts

fix: type issues
  src/v0/destinations/ga4_v2/transform.test.ts
Due: ts

chore: clean up truffleignore file
  .truffleignore
Due: none

fix: type issues
  src/types/destinationTransformation.ts
Due: ts

chore: update test
  test/integrations/destinations/fb_custom_audience/network.ts
Due: none

chore: update test
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
Due: none

chore(test): add tests for shopify v2 bugbash fixes
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/newScenarios/ecommerceEventsTests/pixelTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/newScenarios/ecommerceEventsTests/pixelTests/CheckoutStepsTests.ts
  test/integrations/sources/shopify/newScenarios/ecommerceEventsTests/pixelTests/ProductEventsTests.ts
  test/integrations/sources/shopify/newScenarios/ecommerceEventsTests/webhookTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/newScenarios/ecommerceEventsTests/webhookTests/OrderEventsTests.ts
  test/integrations/sources/shopify/newScenarios/sampleidentifyMappingData.json
  test/integrations/sources/shopify/newScenarios/userIdentifyTests.ts
Due: none

chore(test): update descriptive labels
  test/integrations/sources/shopify/newScenarios/ecommerceEventsTests/pixelTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/newScenarios/ecommerceEventsTests/pixelTests/ProductEventsTests.ts
  test/integrations/sources/shopify/newScenarios/ecommerceEventsTests/webhookTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/newScenarios/ecommerceEventsTests/webhookTests/OrderEventsTests.ts
Due: none

chore: minor changes
  package-lock.json
  package.json
  src/sources/adjust/transform.js
  src/sources/facebook_lead_ads/transform.ts
Due: js, ts

chore(test): beautify structure and order of tests
  test/integrations/sources/shopify/newScenarios/ecommerceEventsTests/pixelTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/newScenarios/ecommerceEventsTests/pixelTests/CheckoutStepsTests.ts
  test/integrations/sources/shopify/newScenarios/ecommerceEventsTests/pixelTests/ProductEventsTests.ts
  test/integrations/sources/shopify/newScenarios/ecommerceEventsTests/webhookTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/newScenarios/ecommerceEventsTests/webhookTests/OrderEventsTests.ts
  test/integrations/sources/shopify/newScenarios/userIdentifyTests.ts
Due: none

fix: add 2655 error handling to fb error handler at proxy (#4152)
  src/v0/util/facebookUtils/networkHandler.js
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
  test/integrations/destinations/fb_custom_audience/network.ts
Due: js

chore(test): address comment, fix directories
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/pixelTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTests/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelTests/ProductEventsTests.ts
  test/integrations/sources/shopify/sampleidentifyMappingData.json
  test/integrations/sources/shopify/userIdentifyTests.ts
  test/integrations/sources/shopify/webhookTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTests/OrderEventsTests.ts
Due: none

fix: pr comments
  src/types/rudderEvents.ts
Due: ts

chore: update pixel events context
  test/integrations/sources/shopify/pixelTests/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelTests/ProductEventsTests.ts
Due: none

Userpilot - Rudderstack transformer
  src/cdk/v2/destinations/userpilot/config.js
  src/cdk/v2/destinations/userpilot/procWorkflow.yaml
  src/cdk/v2/destinations/userpilot/utils.js
  test/integrations/destinations/userpilot/processor/data.ts
Due: js

chore: putRequestDetailsInContext flag based context
  src/sources/webhook/transform.js
  test/integrations/sources/webhook/data.ts
Due: js

chore: rename mapping-specific test directories
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/ProductEventsTests.ts
  test/integrations/sources/shopify/sampleidentifyMappingData.json
  test/integrations/sources/shopify/webhookMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/OrderEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/userIdentifyTests.ts
Due: none

chore: remove customer create update webhooks shopify
  src/sources/shopify/webhookTransformations/serverSideTransform.js
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/webhookTestScenarios/IdentifyTests.ts
Due: js

chore: simplify setting context key
  src/sources/webhook/transform.js
Due: js

chore: use common flattenParams utility from lib for fb lead ads and adjust source (#4155)
  package-lock.json
  package.json
  src/sources/adjust/transform.js
  src/sources/adjust/utils.js
  src/sources/adjust/utils.test.js
  src/sources/facebook_lead_ads/transform.ts
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/sources/facebook_lead_ads/data.ts
Due: js, ts

chore: flatten headers and params - product requirement
  package-lock.json
  package.json
  src/sources/webhook/transform.js
  test/integrations/sources/webhook/data.ts
Due: js

chore: remove customer create update webhooks shopify (#4169)
  src/sources/shopify/webhookTransformations/serverSideTransform.js
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/webhookTestScenarios/IdentifyTests.ts
Due: js

chore: move shopify tests to v2 format
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
Due: none

chore: moving shopify tests to v2 (#4171)
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
Due: none

chore: move new shopify mapping specific tests to v2 format
  test/integrations/sources/shopify/pixelMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/ProductEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/OrderEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/userIdentifyTests.ts
Due: none

chore: add missing case
  test/integrations/sources/shopify/pixelMappingTests/ProductEventsTests.ts
Due: none

chore(test): add tests for shopify v2 bugbash fixes (#4163)
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/ProductEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/OrderEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/userIdentifyTests.ts
Due: none

chore: use github cli to create pull request
  .github/workflows/draft-new-release.yml
Due: none

chore: update pixel app transformations for mapping tests
  src/sources/shopify/config.js
  src/sources/shopify/webhookEventsMapping/addressMapping.json
  src/sources/shopify/webhookEventsMapping/identifyMapping.json
  src/sources/shopify/webhookTransformations/serverSideTransform.js
  src/sources/shopify/webhookTransformations/serverSideUtlis.js
  src/sources/shopify/webpixelTransformations/pixelTransform.js
  src/sources/shopify/webpixelTransformations/pixelUtils.js
Due: js

chore: update failing tests
  src/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/sources/shopify/webpixelTransformations/pixelUtils.test.js
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelMappingTests/ProductEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/OrderEventsTests.ts
  test/integrations/sources/shopify/webhookMappingTests/userIdentifyTests.ts
Due: js

fix: misc
  .github/workflows/publish-new-release.yml
Due: none

chore: use github cli to create pull request (#4172)
  .github/workflows/draft-new-release.yml
  .github/workflows/publish-new-release.yml
Due: none

chore: update draft list initiator
  .github/workflows/draft-new-release.yml
Due: none

chore: misc
  .github/workflows/create-hotfix-branch.yml
  .github/workflows/draft-new-release.yml
Due: none

chore: add manish
  .github/workflows/create-hotfix-branch.yml
  .github/workflows/draft-new-release.yml
Due: none

chore(release): 1.94.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: use google ads sdk
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
