Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: refactoring
  src/services/destination/nativeIntegration.ts
  src/v1/destinations/campaign_manager/networkHandler.js
Due: js, ts

chore: refactoring
  src/v1/destinations/campaign_manager/networkHandler.js
Due: js

fix: all batching final
  src/cdk/v2/destinations/emarsys/procWorkflow.yaml
  src/cdk/v2/destinations/emarsys/rtWorkflow.yaml
  src/cdk/v2/destinations/emarsys/utils.js
  test/integrations/destinations/emarsys/router/data.ts
Due: js

fix: cide clean up
  src/cdk/v2/destinations/emarsys/utils.js
Due: js

fix: router test cases finalised
  test/integrations/destinations/emarsys/router/data.ts
Due: none

chore: add test-cases for redis
  test/integrations/destinations/redis/processor/data.ts
  test/integrations/destinations/redis/types.ts
Due: none

small edit
  src/cdk/v2/destinations/emarsys/procWorkflow.yaml
  src/cdk/v2/destinations/emarsys/utils.js
Due: js

fix: processor test cases finalised
  src/cdk/v2/destinations/emarsys/utils.js
  test/integrations/destinations/emarsys/processor/data.ts
Due: js

fix: multiple event mappings in ortto
  src/cdk/v2/destinations/ortto/procWorkflow.yaml
  test/integrations/destinations/ortto/processor/data.ts
Due: none

fix: multiple event mappings in ortto (#3341)
  src/cdk/v2/destinations/ortto/procWorkflow.yaml
  test/integrations/destinations/ortto/processor/data.ts
Due: none

fix: data delivery test cases
  src/features.json
  src/v1/destinations/emarsys/networkHandler.js
  test/integrations/destinations/emarsys/dataDelivery/data.ts
  test/integrations/destinations/emarsys/network.ts
  test/integrations/testUtils.ts
Due: js

fix: braze dedup for non-billable attributes (#3320)
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/util.js
  test/integrations/destinations/braze/router/data.ts
Due: js

chore(release): 1.65.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: adding user deletion implementation
  src/cdk/v2/destinations/emarsys/utils.js
  src/v0/destinations/emarsys/deleteUsers.js
  src/v0/util/deleteUserUtils.js
  src/v1/destinations/emarsys/networkHandler.js
Due: js

fix: small edit
  src/v0/util/deleteUserUtils.js
Due: js

fix: edit in network handler
  src/v1/destinations/emarsys/networkHandler.js
Due: js

fix: data delivery test cases finalised
  src/v1/destinations/emarsys/networkHandler.js
  test/integrations/destinations/emarsys/dataDelivery/data.ts
  test/integrations/destinations/emarsys/network.ts
Due: js

feat: initial commit
  src/v1/destinations/monday/networkHandler.js
Due: js

fix: editing unit test cases
  src/cdk/v2/destinations/emarsys/utils.js
  src/cdk/v2/destinations/emarsys/utils.test.js
Due: js

fix: resolve fake timer clash
  test/integrations/destinations/emarsys/processor/data.ts
  test/integrations/testUtils.ts
Due: none

chore: update response contract for JSON data-type
  src/v0/destinations/redis/transform.js
  test/integrations/destinations/redis/processor/data.ts
Due: js

fix: add user deletion test cases
  src/v0/destinations/emarsys/deleteUsers.js
  test/integrations/destinations/emarsys/deleteUsers/data.ts
  test/integrations/destinations/emarsys/network.ts
Due: js

feat: onboard klaviyo bulk upload destination, initial commit
  src/cdk/v2/destinations/klaviyo_bulk_upload/config.js
  src/cdk/v2/destinations/klaviyo_bulk_upload/rtWorkflow.yaml
  src/cdk/v2/destinations/klaviyo_bulk_upload/utils.js
Due: js

chore: update configuration name
  src/v0/destinations/redis/transform.js
  test/integrations/destinations/redis/processor/data.ts
  test/integrations/destinations/redis/types.ts
Due: js

chore: add validation for unix tiemstamp in yandex
  src/cdk/v2/destinations/yandex_metrica_offline_events/utils.js
  test/integrations/destinations/yandex_metrica_offline_events/processor/data.ts
Due: js

chore: convert microsecond format to millisecond for yandex
  src/cdk/v2/destinations/yandex_metrica_offline_events/utils.js
  test/integrations/destinations/yandex_metrica_offline_events/processor/data.ts
Due: js

chore: refactor code
  src/cdk/v2/destinations/yandex_metrica_offline_events/utils.js
Due: js

feat: changes for supporting record event in FB audience
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/transformV2.js
  src/v0/destinations/fb_custom_audience/util.js
Due: js

chore: add logger to gaoc
  src/controllers/delivery.ts
  src/interfaces/DestinationService.ts
  src/services/comparator.ts
  src/services/destination/nativeIntegration.ts
  src/v0/destinations/google_adwords_offline_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
Due: js, ts

fix: update implementation
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/business.ts
Due: js

feat(integrations/auth0): include Auth0 event type in Rudderstack message
  src/v0/sources/auth0/mapping.json
  test/integrations/sources/auth0/data.ts
Due: none

fix: update regex which was discarding firstname and lastname
  src/v0/destinations/fb_custom_audience/util.js
  test/integrations/destinations/fb_custom_audience/processor/data.ts
  test/integrations/destinations/fb_custom_audience/router/data.ts
Due: js

fix: default event name normalization to undefined if it cannot be parsed
  src/v0/sources/slack/util.js
Due: js

test: unit tests for slack source
  src/v0/sources/slack/util.test.js
Due: js

test: add one test for track event
  test/integrations/sources/slack/data.ts
Due: none

feat: facebook custom audience app secret support
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/util.js
  test/integrations/destinations/fb_custom_audience/processor/data.ts
Due: js

fix: use optional chain parameter
  src/v0/sources/slack/transform.js
Due: js

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

feat: onboard koddi destination
  src/cdk/v2/destinations/koddi/config.js
  src/cdk/v2/destinations/koddi/data/ClicksConfig.json
  src/cdk/v2/destinations/koddi/data/ConversionsConfig.json
  src/cdk/v2/destinations/koddi/data/ImpressionsConfig.json
  src/cdk/v2/destinations/koddi/procWorkflow.yaml
  src/cdk/v2/destinations/koddi/utils.js
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
