Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: fix sonar issues
  src/v1/sources/shopify/transform.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.js
  src/v1/sources/shopify/webpixelTransformations/pixelUtils.js
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
Due: js

refactor: remove unused import in zoho tests
  src/cdk/v2/destinations/zoho/utils.test.js
Due: js

refactor: add missing tests
  src/cdk/v2/destinations/zoho/utils.test.js
Due: js

refactor: zoho utils using cursor
  src/cdk/v2/destinations/zoho/utils.js
Due: js

chore: add more tests for zoho utils
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
Due: js

chore: add more tests for zoho utils
  src/cdk/v2/destinations/zoho/utils.test.js
Due: js

fix: dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

chore: add units tests for iterable utils and config fxns (#4026)
  src/v0/destinations/iterable/util.js
  src/v0/destinations/iterable/util.test.js
  test/integrations/component.test.ts
  test/integrations/destinations/iterable/processor/identifyTestData.ts
  test/integrations/destinations/iterable/processor/validationTestData.ts
  test/integrations/destinations/iterable/router/data.ts
Due: js

chore: address sonar qube issues
  src/util/eventValidation.js
  src/v0/destinations/hs/transform.js
  src/v0/destinations/snapchat_conversion/util.js
  src/v0/destinations/snapchat_conversion/util.test.js
Due: js

feat: add userId to web pixel events from redis if available
  src/v1/sources/shopify/transformV1.js
  src/v1/sources/shopify/utils.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.js
  test/integrations/sources/shopify/mocks.ts
Due: js

fix: improve error handling for webhook v2
  src/constants/index.js
  src/controllers/util/conversionStrategies/strategyV2ToV0.ts
  src/controllers/util/conversionStrategies/strategyV2ToV1.ts
  src/controllers/util/index.test.ts
  src/services/source/nativeIntegration.ts
  src/types/index.ts
  test/integrations/sources/adjust/data.ts
  test/integrations/sources/appsflyer/data.ts
  test/integrations/sources/canny/data.ts
  test/integrations/sources/gainsightpx/data.ts
  test/integrations/sources/iterable/data.ts
  test/integrations/sources/shopify/data.ts
Due: js, ts

Revert "fix: improve error handling for webhook v2"
  src/constants/index.js
  src/controllers/util/conversionStrategies/strategyV2ToV0.ts
  src/controllers/util/conversionStrategies/strategyV2ToV1.ts
  src/controllers/util/index.test.ts
  src/services/source/nativeIntegration.ts
  src/types/index.ts
  test/integrations/sources/adjust/data.ts
  test/integrations/sources/appsflyer/data.ts
  test/integrations/sources/canny/data.ts
  test/integrations/sources/gainsightpx/data.ts
  test/integrations/sources/iterable/data.ts
  test/integrations/sources/shopify/data.ts
Due: js, ts

chore: adding vinay to hotfix branch creation workflow
  .github/workflows/create-hotfix-branch.yml
Due: none

fix: better error handling in webhook v2
  src/constants/index.js
  src/controllers/util/conversionStrategies/strategyV2ToV0.ts
  src/controllers/util/conversionStrategies/strategyV2ToV1.ts
  src/controllers/util/index.test.ts
  src/services/source/nativeIntegration.ts
  src/types/index.ts
  test/integrations/sources/adjust/data.ts
  test/integrations/sources/appsflyer/data.ts
  test/integrations/sources/canny/data.ts
  test/integrations/sources/gainsightpx/data.ts
  test/integrations/sources/iterable/data.ts
  test/integrations/sources/shopify/data.ts
Due: js, ts

chore(release): 1.90.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
