Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: eslint fix+1
  src/v0/destinations/hs/transform.js
  test/integrations/destinations/hs/router/config.ts
  test/integrations/destinations/hs/router/data.ts
Due: js

chore: update trengo drip kustomer axios handler (#3488)
  src/v0/destinations/drip/transform.js
  src/v0/destinations/drip/util.js
  src/v0/destinations/kustomer/transform.js
  src/v0/destinations/kustomer/util.js
  src/v0/destinations/trengo/transform.js
  test/integrations/destinations/trengo/network.ts
  test/integrations/destinations/trengo/processor/data.ts
Due: js

fix: zapier event lower case issue (#3535)
  src/cdk/v2/destinations/zapier/procWorkflow.yaml
  test/integrations/destinations/zapier/processor/data.ts
Due: none

chore: return after logging the error
  src/v0/destinations/mailchimp/utils.js
Due: js

chore: handle error code 21009 for facebook destinations
  src/v0/util/facebookUtils/networkHandler.js
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
  test/integrations/destinations/facebook_pixel/network.ts
Due: js

fix: add a new reconcile function to update the python function through the endpointn
  src/controllers/userTransform.ts
  src/routes/userTransform.ts
  src/util/openfaas/index.js
  test/__tests__/user_transformation.test.js
Due: js, ts

chore: remove unused imports
  src/util/openfaas/index.js
Due: js

fix: update the reconciliation function with stats
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
  src/util/prometheus.js
Due: js

chore: update status-code to 500
  src/v0/util/facebookUtils/networkHandler.js
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
Due: js

feat: onboard new custom destination: wunderkind (#3456)
  src/cdk/v2/destinations/wunderkind/procWorkflow.yaml
  src/cdk/v2/destinations/wunderkind/rtWorkflow.yaml
  src/constants/destinationCanonicalNames.js
  src/features.json
  test/integrations/destinations/wunderkind/common.ts
  test/integrations/destinations/wunderkind/processor/data.ts
  test/integrations/destinations/wunderkind/processor/track.ts
  test/integrations/destinations/wunderkind/processor/validation.ts
  test/integrations/destinations/wunderkind/router/data.ts
Due: js

chore: update for config details
  src/v0/destinations/ga4_v2/transform.ts
Due: ts

chore: validate for configData
  src/v0/destinations/ga4_v2/transform.ts
Due: ts

chore: update for config details (#3537)
  src/v0/destinations/ga4_v2/transform.ts
Due: ts

chore: fix lint error
  src/features.json
Due: none

chore: run rudder-server tests
  .github/workflows/rudder-server-test.yml
Due: none

fix: add new integration tests for python transformation functions update
  src/controllers/userTransform.ts
  src/util/customTransformerFactory.js
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
  test/__tests__/user_transformation.integration.test.js
Due: js, ts

chore: handle error code 21009 for facebook destinations (#3536)
  src/v0/util/facebookUtils/networkHandler.js
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
  test/integrations/destinations/facebook_pixel/network.ts
Due: js

chore(release): 1.71.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: removing the duplicate code from v0 route
  src/v0/sources/braze/eventMapping.json
  src/v0/sources/braze/ignore.json
  src/v0/sources/braze/mapping.json
  src/v0/sources/braze/transform.js
  test/__tests__/braze_source.test.js
  test/__tests__/data/braze_source_input.json
  test/__tests__/data/braze_source_output.json
  test/integrations/sources/braze/data.ts
Due: js

chore: newline lint error fix
  src/features.json
Due: none

chore: using esprime
  package-lock.json
  package.json
  src/util/ivmFactory.js
Due: js

chore: rudder-server trigger build
  .github/workflows/build-pr-artifacts.yml
  .github/workflows/rudder-server-test.yml
Due: none

feat: update webhook destination to support all datatypes
  src/cdk/v2/destinations/webhook/procWorkflow.yaml
  test/integrations/destinations/webhook/processor/data.ts
Due: none

chore: remove redundant data from tests
  src/features.json
  test/integrations/destinations/webhook/processor/data.ts
Due: none

chore(release): pull release/v1.71.0 into main (#3539)
  CHANGELOG.md
  package-lock.json
  package.json
  src/adapters/network.js
  src/adapters/network.test.js
  src/cdk/v2/destinations/wunderkind/procWorkflow.yaml
  src/cdk/v2/destinations/wunderkind/rtWorkflow.yaml
  src/cdk/v2/destinations/zapier/procWorkflow.yaml
  src/constants/destinationCanonicalNames.js
  src/features.json
  src/logger.js
  src/util/logger.js
  src/v0/destinations/drip/transform.js
  src/v0/destinations/drip/util.js
  src/v0/destinations/ga4_v2/transform.ts
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
  src/v0/destinations/klaviyo/util.js
  src/v0/destinations/kustomer/transform.js
  src/v0/destinations/kustomer/util.js
  src/v0/destinations/salesforce/utils.js
  src/v0/destinations/trengo/transform.js
  src/v0/util/facebookUtils/networkHandler.js
  src/v1/destinations/campaign_manager/networkHandler.js
  src/v1/destinations/monday/networkHandler.js
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
  test/integrations/destinations/facebook_pixel/network.ts
  test/integrations/destinations/trengo/network.ts
  test/integrations/destinations/trengo/processor/data.ts
  test/integrations/destinations/wunderkind/common.ts
  test/integrations/destinations/wunderkind/processor/data.ts
  test/integrations/destinations/wunderkind/processor/track.ts
  test/integrations/destinations/wunderkind/processor/validation.ts
  test/integrations/destinations/wunderkind/router/data.ts
  test/integrations/destinations/zapier/processor/data.ts
Due: js, ts

chore: capturing user_transform_test_errors stat
  src/services/userTransform.ts
  src/util/prometheus.js
Due: js, ts

fix: error code
  src/services/userTransform.ts
Due: ts

chore: removed dead logs
  src/util/openfaas/index.js
Due: js

fix: fixed the route middleware and controller handling
  src/controllers/userTransform.ts
  src/routes/userTransform.ts
Due: ts

chore: refactor lines
  src/util/prometheus.js
  src/util/utils.js
Due: js

chore: linting fix
  src/controllers/userTransform.ts
Due: ts

fix: ga4 suer properties sanitization
  src/v0/destinations/ga4/utils.js
  src/v0/destinations/ga4_v2/customMappingsHandler.js
Due: js

fix: update arg name for sanitizeUserProperties
  src/v0/destinations/ga4/utils.js
Due: js

fix: remove default value for content type for all events
  src/v0/destinations/tiktok_ads/config.js
  src/v0/destinations/tiktok_ads/transformV2.js
  test/integrations/destinations/tiktok_ads/processor/data.ts
  test/integrations/destinations/tiktok_ads/router/data.ts
Due: js

fix: update python transformation fn (#3491)
  src/controllers/userTransform.ts
  src/routes/userTransform.ts
  src/util/customTransformerFactory.js
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
  src/util/prometheus.js
  test/__tests__/user_transformation.integration.test.js
  test/__tests__/user_transformation.test.js
Due: js, ts

chore: add data management team access to routes controllers and services
  CODEOWNERS
Due: none

chore: cache dns resolution in node (#3495)
  src/util/prometheus.js
  src/util/utils.js
  test/__tests__/user_transformation_fetch.test.js
Due: js

chore: only request for ownership on specific files in services routes and controllers
  CODEOWNERS
Due: none

chore: add data management team access to routes controllers and services (#3546)
  CODEOWNERS
Due: none

fix: update the values of initial delay and failure threshold
  src/util/openfaas/index.js
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
