Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: review comments addressed
  src/v0/util/facebookUtils/networkHandler.js
Due: js

fix: value and value_decimal to proper currency subunit measurement
  src/cdk/v2/destinations/reddit/procWorkflow.yaml
  test/integrations/destinations/reddit/processor/data.ts
  test/integrations/destinations/reddit/router/data.ts
Due: none

fix: pass status instead of 500 in retryable code
  src/v0/destinations/campaign_manager/networkHandler.js
Due: js

fix: remove ztringification for nested objects and arrays in profileData
  src/v0/destinations/clevertap/transform.js
  test/integrations/destinations/clevertap/processor/data.ts
  test/integrations/destinations/clevertap/router/data.ts
Due: js

fix: remove ztringification for nested objects and arrays in event data for custom events
  src/v0/destinations/clevertap/transform.js
  test/integrations/destinations/clevertap/processor/data.ts
Due: js

refactor: error message
  src/v0/sources/auth0/transform.js
  test/__tests__/data/auth0_source.json
Due: js

fix: adding destination response
  package-lock.json
  package.json
  src/v0/util/facebookUtils/networkHandler.js
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
  test/integrations/destinations/fb/dataDelivery/data.ts
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
Due: js

chore: onboard rakuten proxy
  src/cdk/v2/destinations/rakuten/utils.js
  src/v0/destinations/rakuten/networkHandler.js
  test/integrations/destinations/rakuten/dataDelivery/data.ts
  test/integrations/destinations/rakuten/network.ts
  test/integrations/destinations/rakuten/processor/track.ts
  test/integrations/testUtils.ts
Due: js

chore: onboard rakuten proxy on v1
  src/v0/destinations/salesforce/utils.js
  src/v1/destinations/rakuten/networkHandler.js
  test/integrations/destinations/rakuten/dataDelivery/data.ts
  test/integrations/destinations/rakuten/network.ts
Due: js

chore: add commitlint workflow
  .github/workflows/commitlint.yml
Due: none

docs: add comments
  src/cdk/v2/destinations/the_trade_desk/transformConversion.js
  src/cdk/v2/destinations/the_trade_desk/utils.js
Due: js

feat: review changes
  src/cdk/v2/destinations/the_trade_desk/transformConversion.js
  src/cdk/v2/destinations/the_trade_desk/utils.js
  src/constants/destinationCanonicalNames.js
Due: js

fix: intercom router response
  src/cdk/v2/destinations/intercom/rtWorkflow.yaml
  test/integrations/destinations/intercom/network.ts
  test/integrations/destinations/intercom/processor/data.ts
  test/integrations/destinations/intercom/router/data.ts
Due: none

refactor: moved transform.js code logic to rtWorkflow
  src/cdk/v2/destinations/the_trade_desk/rtWorkflow.yaml
  src/cdk/v2/destinations/the_trade_desk/transform.js
  src/cdk/v2/destinations/the_trade_desk/transformConversion.js
  src/cdk/v2/destinations/the_trade_desk/transformRecord.js
  test/integrations/destinations/the_trade_desk/router/data.ts
Due: js

feat: added generate exclusion list utility
  src/cdk/v2/destinations/the_trade_desk/config.js
  src/cdk/v2/destinations/the_trade_desk/utils.js
  src/v0/util/index.js
Due: js

fix: api contract for v1 proxy
  src/controllers/delivery.ts
  src/services/destination/postTransformation.ts
  test/integrations/destinations/braze/dataDelivery/data.ts
  test/integrations/destinations/campaign_manager/dataDelivery/other.ts
Due: ts

chore: code review changes
  src/cdk/v2/destinations/intercom/config.js
  src/cdk/v2/destinations/intercom/utils.js
Due: js

chore: code review changes
  src/v0/destinations/hs/util.js
Due: js

chore: code review changes
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom/utils.test.js
  test/integrations/destinations/intercom/processor/data.ts
  test/integrations/destinations/intercom/router/data.ts
Due: js

refactor: error message and function variable name
  src/cdk/v2/destinations/the_trade_desk/transformRecord.js
  src/v0/util/index.js
  test/integrations/destinations/the_trade_desk/router/data.ts
Due: js

refactor: import endpoint from config and added api links
  src/cdk/v2/destinations/the_trade_desk/config.js
  src/v0/destinations/the_trade_desk/networkHandler.js
Due: js

docs: add comments in response handler
  src/v0/destinations/the_trade_desk/networkHandler.js
Due: js

refactor: created separate validateConfig utility for both flows
  src/cdk/v2/destinations/the_trade_desk/rtWorkflow.yaml
  src/cdk/v2/destinations/the_trade_desk/transformConversion.js
  src/cdk/v2/destinations/the_trade_desk/transformRecord.js
  test/integrations/destinations/the_trade_desk/router/data.ts
Due: js

Update src/v0/util/facebookUtils/networkHandler.js
  src/v0/util/facebookUtils/networkHandler.js
Due: js

fix: upgrade @aws-sdk/credential-providers from 3.485.0 to 3.490.0
  package-lock.json
  package.json
Due: none

fix: upgrade @aws-sdk/client-s3 from 3.485.0 to 3.490.0
  package-lock.json
  package.json
Due: none

fix: upgrade @aws-sdk/client-personalize from 3.485.0 to 3.490.0
  package-lock.json
  package.json
Due: none

fix: upgrade @aws-sdk/lib-storage from 3.485.0 to 3.490.0
  package-lock.json
  package.json
Due: none

chore: address comments and minor fixes
  src/cdk/v2/destinations/rakuten/config.js
  src/cdk/v2/destinations/rakuten/procWorkflow.yaml
  src/cdk/v2/destinations/rakuten/utils.js
  src/cdk/v2/destinations/rakuten/utils.test.js
  src/v0/destinations/rakuten/networkHandler.js
  src/v0/destinations/salesforce/utils.js
  test/integrations/destinations/rakuten/dataDelivery/data.ts
  test/integrations/destinations/rakuten/network.ts
  test/integrations/destinations/rakuten/processor/track.ts
Due: js

chore: small fix
  src/v0/destinations/rakuten/networkHandler.js
Due: js

chore: small fix for sonar issues
  src/cdk/v2/destinations/rakuten/utils.js
  src/v0/destinations/rakuten/networkHandler.js
Due: js

chore: small fix for sonar issues+1
  src/cdk/v2/destinations/rakuten/utils.test.js
Due: js

feat: updated category id mapping
  src/cdk/v2/destinations/the_trade_desk/data/TTDItemConfig.json
Due: none

test: add generateExclusionList testcases
  src/v0/util/index.test.js
Due: js

chore: small fix for sonar issues+3
  src/cdk/v2/destinations/rakuten/utils.js
Due: js

feat: add new stat for access token expired in fb custom audience (#3043)
  package-lock.json
  package.json
  src/util/error-extractor/index.ts
  src/util/error-extractor/types.ts
  src/v0/util/facebookUtils/networkHandler.js
  src/v0/util/tags.js
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
  test/integrations/destinations/fb/dataDelivery/data.ts
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
  test/integrations/destinations/fb_custom_audience/network.ts
Due: js, ts

refactor: intercom version workflows
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  src/cdk/v2/destinations/intercom/v1Workflow.yaml
  src/cdk/v2/destinations/intercom/v2Workflow.yaml
Due: none

fix: minor errors
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  src/cdk/v2/destinations/intercom/v1Workflow.yaml
  src/cdk/v2/destinations/intercom/v2Workflow.yaml
Due: none
