Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: allow users context traits and underscore divide numbers configuration
  src/warehouse/index.js
  src/warehouse/snakecase/snakecase.js
  src/warehouse/snakecase/unicodeWords.js
  src/warehouse/util.js
  src/warehouse/v0/util.js
  src/warehouse/v1/util.js
  test/__tests__/data/warehouse/events.js
  test/__tests__/data/warehouse/integration_options_events.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/aliases.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/extract.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/groups.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/pages.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/screens.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/tracks.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/aliases.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/extract.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/groups.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/pages.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/screens.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/tracks.js
  test/__tests__/snakecase.test.js
  test/__tests__/warehouse.test.js
  test/integrations/destinations/gcs_datalake/processor/data.ts
Due: js

fix: populate users fields for sentAt, timestamp and originalTimestamp
  src/warehouse/index.js
  test/__tests__/data/warehouse/integration_options_events.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/identifies.js
  test/__tests__/warehouse.test.js
Due: js

fix: adding mapping config for identify call and clean up of native code
  src/cdk/v2/destinations/lytics/config.ts
  src/cdk/v2/destinations/lytics/data/LYTICSIdentifyConfig.json
  src/cdk/v2/destinations/lytics/procWorkflow.yaml
  src/v0/destinations/lytics/config.js
  src/v0/destinations/lytics/data/LYTICSIdentifyConfig.json
  src/v0/destinations/lytics/data/LYTICSPageScreenConfig.json
  src/v0/destinations/lytics/data/LYTICSTrackConfig.json
  src/v0/destinations/lytics/transform.js
  test/integrations/destinations/lytics/router/data.ts
Due: js, ts

fix: address comments
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  src/cdk/v2/destinations/intercom/utils.js
Due: js

feat: onboard shopify to v1 (#3665)
  src/v0/sources/shopify/config.js
  src/v0/sources/shopify/transform.js
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/pixelEventsMappings/cartViewedEventMapping.json
  src/v1/sources/shopify/pixelEventsMappings/checkoutStartedCompletedEventMapping.json
  src/v1/sources/shopify/pixelEventsMappings/contextualFieldMapping.json
  src/v1/sources/shopify/pixelEventsMappings/productListViewedEventMapping.json
  src/v1/sources/shopify/pixelEventsMappings/productToCartEventMapping.json
  src/v1/sources/shopify/pixelEventsMappings/productViewedEventMapping.json
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/pixelUtils.js
  src/v1/sources/shopify/pixelUtils.test.js
  src/v1/sources/shopify/pixelWebhookEventTransform.js
  src/v1/sources/shopify/transform.js
  test/integrations/sources/shopify/constants.ts
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
  test/integrations/sources/shopify/v1ServerSideEventsTests.ts
Due: js

fix: support different lookup fields and custom_attributes for rETL events (#3751)
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  src/cdk/v2/destinations/intercom/utils.js
  test/integrations/destinations/intercom/network.ts
  test/integrations/destinations/intercom/processor/identifyTestData.ts
Due: js

fix: prefer event check vs config check for vdm
  src/v0/destinations/fb_custom_audience/recordTransform.js
Due: js

fix: prefer event check vs config check for vdm (#3754)
  src/v0/destinations/fb_custom_audience/recordTransform.js
Due: js

fix: allow users context traits and underscore divide numbers configuration (#3752)
  src/warehouse/index.js
  src/warehouse/snakecase/snakecase.js
  src/warehouse/snakecase/unicodeWords.js
  src/warehouse/util.js
  src/warehouse/v0/util.js
  src/warehouse/v1/util.js
  test/__tests__/data/warehouse/events.js
  test/__tests__/data/warehouse/integration_options_events.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/aliases.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/extract.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/groups.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/pages.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/screens.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/tracks.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/aliases.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/extract.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/groups.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/pages.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/screens.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/tracks.js
  test/__tests__/snakecase.test.js
  test/__tests__/warehouse.test.js
  test/integrations/destinations/gcs_datalake/processor/data.ts
Due: js

fix: populate users fields for sentAt, timestamp and originalTimestamp (#3753)
  src/warehouse/index.js
  test/__tests__/data/warehouse/integration_options_events.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/identifies.js
  test/__tests__/warehouse.test.js
Due: js

Revert "fix: populate users fields for sentAt, timestamp and originalTimestam…"
  src/warehouse/index.js
  test/__tests__/data/warehouse/integration_options_events.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/identifies.js
  test/__tests__/warehouse.test.js
Due: js

chore(release): 1.79.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: for app data anon id is mapped from integrations object
  src/v0/destinations/facebook_conversions/transform.js
  test/integrations/destinations/facebook_conversions/processor/data.ts
Due: js

feat: added multiplexing for zapUrls
  src/cdk/v2/destinations/zapier/procWorkflow.yaml
  src/cdk/v2/destinations/zapier/utils.js
  test/integrations/destinations/zapier/processor/data.ts
Due: js

fix: ignore yaml files in eslint check
  .eslintignore
Due: none

fix: parser error for eslintignore while running prettier
  .prettierrc
Due: none

chore: refactor common server side logic for both app flows
  src/v1/sources/shopify/pixelWebhookEventTransform.js
  src/v1/sources/shopify/transform.js
  test/integrations/sources/shopify/v1ServerSideEventsTests.ts
Due: js

fix: braze include fields_to_export to lookup users
  src/v0/destinations/braze/util.js
  test/integrations/destinations/braze/network.ts
Due: js

fix: payment info entered event in facebook_conversions
  src/v0/destinations/facebook_conversions/utils.js
  test/integrations/destinations/facebook_conversions/processor/data.ts
Due: js

fix: logic to get products - updated test-cases - added products added to wishlist to get products function
  src/v0/destinations/facebook_conversions/utils.js
  test/integrations/destinations/facebook_conversions/processor/data.ts
Due: js

chore: refactor common server side logic for both app flows (#3760)
  src/v1/sources/shopify/pixelWebhookEventTransform.js
  src/v1/sources/shopify/transform.js
  test/integrations/sources/shopify/v1ServerSideEventsTests.ts
Due: js

refactor: trade desk component testcases
  test/integrations/destinations/the_trade_desk/router/business.ts
  test/integrations/destinations/the_trade_desk/router/data.ts
  test/integrations/destinations/the_trade_desk/router/validation.ts
Due: none

chore: add without products test-case for payment info entered
  test/integrations/destinations/facebook_conversions/processor/data.ts
Due: none

chore: fix test cases
  src/v0/destinations/braze/braze.util.test.js
Due: js

fix: payment info entered event in facebook_conversions (#3762)
  src/v0/destinations/facebook_conversions/utils.js
  test/integrations/destinations/facebook_conversions/processor/data.ts
Due: js

fix: correct typo for order fulfillment event, add test
  src/v0/sources/shopify/config.js
  test/integrations/sources/shopify/data.ts
Due: js

fix: correct typo for order fulfillment event, add test (#3764)
  src/v0/sources/shopify/config.js
  test/integrations/sources/shopify/data.ts
Due: js

fix: posthog swapped alias ids (#3507)
  src/v0/destinations/posthog/data/PHAliasConfig.json
Due: none

fix: test case update for posthog
  test/integrations/destinations/posthog/processor/data.ts
  test/integrations/destinations/posthog/router/data.ts
Due: none

fix: adding user and anonymousId mapping for other calls as well
  src/cdk/v2/destinations/lytics/procWorkflow.yaml
  test/integrations/destinations/lytics/processor/data.ts
Due: none

fix: add user_aliases as export field for anonymous users
  src/v0/destinations/braze/util.js
Due: js

fix: add correct validation for purchase events
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

chore: fix test cases
  src/v0/destinations/braze/braze.util.test.js
  test/integrations/destinations/braze/network.ts
Due: js

fix: add correct validation for purchase events (#3766)
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

Should filter out reserved attributes from Intercom destination even if they are falsey
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom/utils.test.js
Due: js

feat: add unity source support in Singular (#3634)
  src/v0/destinations/singular/config.js
  src/v0/destinations/singular/data/SINGULARUnityEventConfig.json
  src/v0/destinations/singular/data/SINGULARUnitySessionConfig.json
  src/v0/destinations/singular/transform.js
  src/v0/destinations/singular/util.js
  test/integrations/destinations/singular/processor/data.ts
Due: js

refactor: trade desk component testcases (#3763)
  test/integrations/destinations/the_trade_desk/router/business.ts
  test/integrations/destinations/the_trade_desk/router/data.ts
  test/integrations/destinations/the_trade_desk/router/validation.ts
Due: none

chore: address comments
  package-lock.json
  package.json
  src/v0/destinations/amazon_audience/utils.js
Due: js

fix: braze include fields_to_export to lookup users (#3761)
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/util.js
  test/integrations/destinations/braze/network.ts
Due: js

fix: posthog alias mapping swap (#3765)
  src/v0/destinations/posthog/data/PHAliasConfig.json
  test/integrations/destinations/posthog/processor/data.ts
  test/integrations/destinations/posthog/router/data.ts
Due: none
