Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: remove test command while building image
  .github/workflows/build-push-docker-image.yml
Due: none

fix: formatting in features.json
  src/features.json
Due: none

chore: update eslint in verify gha
  .github/workflows/verify.yml
Due: none

fix: added support for ga4 v2 hybrid mode
  src/constants/destinationCanonicalNames.js
  src/v0/destinations/ga4/transform.js
  src/v0/destinations/ga4/utils.js
  src/v0/destinations/ga4_v2/customMappingsHandler.js
  test/integrations/destinations/ga4_v2/processor/customMappings.ts
Due: js

chore: fix changelog
  CHANGELOG.md
Due: none

feat: introduce job ordering in klaviyo
  src/v0/destinations/klaviyo/transformV2.js
  src/v0/destinations/klaviyo/util.js
  test/integrations/destinations/klaviyo/router/dataV2.ts
  test/integrations/testUtils.ts
Due: js

chore: use dns resolution with geolocation
  src/util/customTransformer.js
  src/util/ivmFactory.js
Due: js

fix: update getAuthErrCategory for garl destination
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_remarketing_lists/network.ts
Due: js

fix: garl get auth err category (#3590)
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_remarketing_lists/network.ts
Due: js

chore(release): 1.72.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: address review comment
  src/v0/destinations/ga4/utils.js
Due: js

chore: fix typo
  src/v0/destinations/klaviyo/transform.js
Due: js

chore(release): 1.72.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: update integrations object handling specific to ga4 v2
  src/v0/destinations/ga4/transform.js
  src/v0/destinations/ga4/utils.js
  src/v0/destinations/ga4_v2/customMappingsHandler.js
  src/v0/destinations/ga4_v2/transform.ts
  test/integrations/destinations/ga4_v2/processor/customMappings.ts
  test/integrations/testUtils.ts
Due: js, ts

feat: onboard cordial source
  src/v0/sources/cordial/config.js
  src/v0/sources/cordial/mapping.json
  src/v0/sources/cordial/transform.js
  test/integrations/sources/cordial/data.ts
Due: js

fix: update getConversionActionId function for gaoc
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_offline_conversions/network.ts
Due: js

fix: upgrade zod from 3.22.4 to 3.23.8
  package-lock.json
  package.json
Due: none

fix: upgrade @aws-sdk/lib-storage from 3.485.0 to 3.609.0
  package-lock.json
  package.json
Due: none

chore: test cases added
  test/integrations/sources/cordial/data.ts
Due: none

chore: minor fix
  src/v0/sources/cordial/transform.js
Due: js

fix: update getConversionActionId function for gaoc (#3594)
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_offline_conversions/network.ts
Due: js

fix: add validation for cordial destination
  src/cdk/v2/destinations/cordial/procWorkflow.yaml
  test/integrations/destinations/cordial/processor/validation.ts
Due: none

chore: changed v0 to v1
  src/v1/sources/cordial/config.js
  src/v1/sources/cordial/mapping.json
  src/v1/sources/cordial/transform.js
  test/integrations/sources/cordial/data.ts
Due: js

chore: fix linting
  src/cdk/v2/destinations/cordial/procWorkflow.yaml
Due: none

fix: add validation for cordial destination (#3599)
  src/cdk/v2/destinations/cordial/procWorkflow.yaml
  test/integrations/destinations/cordial/processor/validation.ts
Due: none

chore(release): 1.72.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: codeowners file
  CODEOWNERS
Due: none

fix: codeowners file (#3601)
  CODEOWNERS
Due: none

chore: added faas scale factor
  src/util/openfaas/index.js
Due: js

chore: capturing user_transform_test_errors stat (#3543)
  src/services/userTransform.ts
  src/util/prometheus.js
Due: js, ts

chore: updated test case with batched payload
  src/v1/sources/cordial/transform.js
  test/integrations/sources/cordial/data.ts
Due: js

fix: update response handler for array type response
  src/v0/destinations/google_adwords_offline_conversions/networkHandler.js
  src/v0/util/googleUtils/index.js
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_offline_conversions/network.ts
Due: js

fix: lint error
  src/v0/util/googleUtils/index.js
Due: js

fix: queryID aloglia discrepancy
  src/cdk/v2/destinations/algolia/procWorkflow.yaml
  test/integrations/destinations/algolia/processor/data.ts
Due: none

chore: updated test case
  test/integrations/sources/cordial/data.ts
Due: none

chore: add migrated tests for shopify
  test/integrations/sources/shopify/data.ts
Due: none
