Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore(release): 1.102.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: router output ordering for tiktok_ads
  src/v0/destinations/tiktok_ads/transform.js
  src/v0/destinations/tiktok_ads/transformV2.js
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/component.test.ts
  test/integrations/destinations/tiktok_ads/router/data.ts
Due: js

fix: test
  src/v0/util/index.test.js
Due: js

fix(bluecore): address PR #4353 reviewer feedback and API documentation corrections
  src/cdk/v2/destinations/bluecore/README.md
  src/cdk/v2/destinations/bluecore/docs/businesslogic.md
  src/cdk/v2/destinations/bluecore/docs/retl.md
Due: none

chore: docs
  src/cdk/v2/destinations/bluecore/README.md
Due: none

chore: misc
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

fix: blucore optin event mapping
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreOptinEventConfig.json
  src/cdk/v2/destinations/bluecore/utils.js
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

fix: review comments
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

fix: reviews comments
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

fix: readme
  src/cdk/v2/destinations/bluecore/README.md
  src/cdk/v2/destinations/bluecore/docs/businesslogic.md
  src/cdk/v2/destinations/bluecore/docs/retl.md
Due: none

chore: add subscription event
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreOptinEventConfig.json
  src/cdk/v2/destinations/bluecore/utils.js
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

chore: add subscription event
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

chore: update docs
  src/cdk/v2/destinations/bluecore/README.md
  src/cdk/v2/destinations/bluecore/docs/businesslogic.md
  src/cdk/v2/destinations/bluecore/docs/retl.md
Due: none

chore: blucore add internal doc and migrate test
  src/cdk/v2/destinations/bluecore/README.md
  src/cdk/v2/destinations/bluecore/docs/businesslogic.md
  src/cdk/v2/destinations/bluecore/docs/retl.md
  test/integrations/component.test.ts
  test/integrations/destinations/bluecore/common.ts
  test/integrations/destinations/bluecore/data.ts
  test/integrations/destinations/bluecore/ecommTestData.ts
  test/integrations/destinations/bluecore/identifyTestData.ts
  test/integrations/destinations/bluecore/trackTestData.ts
  test/integrations/destinations/bluecore/validationTestData.ts
Due: none

fix: rt event ordering for hs
  src/v0/destinations/hs/HSTransform-v1.js
  src/v0/destinations/hs/HSTransform-v2.js
  test/integrations/component.test.ts
  test/integrations/destinations/hs/router/data.ts
Due: js

fix: test
  test/integrations/destinations/tiktok_ads/router/data.ts
Due: none

chore: review comments
  src/cdk/v2/destinations/bluecore/README.md
Due: none

fix: deep freeze in compaction middleware
  package-lock.json
  package.json
  src/middlewares/destTransformCompactedPayloadV1.ts
  src/middlewares/routerTransformCompactedPayloadV1.ts
  src/services/destination/nativeIntegration.ts
  src/types/destinationTransformation.ts
  src/v0/destinations/rudder_test/transform.ts
  src/v0/destinations/rudder_test/type.ts
  test/integrations/destinations/rudder_test/processor/data.ts
  test/integrations/destinations/rudder_test/router/data.ts
Due: ts

feat: add server request creation flow
  .vscode/tasks.json
  scripts/common.ts
  scripts/dtApiCurlCreation.ts
  scripts/serverApiCurlCreation.ts
Due: none

chore: add safe batch processing to avoid blocking in highly batched destinations
  src/cdk/v2/destinations/bloomreach_catalog/rtWorkflow.yaml
  src/cdk/v2/destinations/bloomreach_catalog/transformRecord.ts
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/destinations/iterable/transform.js
  src/v0/destinations/mailchimp/transform.js
  src/v0/util/index.test.js
  test/integrations/destinations/mailchimp/router/data.ts
Due: js, ts

chore: add batching in mp and source transformations
  src/services/source/nativeIntegration.ts
  src/v0/destinations/mp/transform.js
Due: js, ts

fix: review comments
  src/cdk/v2/destinations/bluecore/README.md
Due: none

fix(marketo): remove auth key from logs
  src/v0/destinations/marketo/util.js
Due: js

fix: use fast stable json stringify
  package-lock.json
  package.json
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

feat: enhance group router transform events with config-based grouping
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js, ts

chore: fix test cases for gaoc
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
Due: none

chore: fix test cases for pinterest_tag and tiktok_ads
  test/integrations/destinations/pinterest_tag/router/data.ts
  test/integrations/destinations/tiktok_ads/router/data.ts
Due: none

feat: testing tool (#4391)
  .gitignore
  .vscode/tasks.json
  scripts/common.ts
  scripts/dtApiCurlCreation.ts
  scripts/runSingleTestCase.ts
  scripts/serverApiCurlCreation.ts
  tsconfig.json
Due: none

chore: bluecore add internal doc and migrate test (#4353)
  src/cdk/v2/destinations/bluecore/README.md
  src/cdk/v2/destinations/bluecore/docs/businesslogic.md
  src/cdk/v2/destinations/bluecore/docs/retl.md
  test/integrations/component.test.ts
  test/integrations/destinations/bluecore/common.ts
  test/integrations/destinations/bluecore/data.ts
  test/integrations/destinations/bluecore/ecommTestData.ts
  test/integrations/destinations/bluecore/identifyTestData.ts
  test/integrations/destinations/bluecore/trackTestData.ts
  test/integrations/destinations/bluecore/validationTestData.ts
Due: none

fix: zendesk indentify flow (#4288)
  src/v0/destinations/zendesk/transform.js
  src/v0/destinations/zendesk/util.js
  src/v0/destinations/zendesk/util.test.js
  test/integrations/destinations/zendesk/network.ts
  test/integrations/destinations/zendesk/processor/data.ts
  test/integrations/destinations/zendesk/router/data.ts
Due: js

chore: groupEventsByType function optimization
  codecov.yml
  sonar-project.properties
  src/v0/util/index.groupEvents.bench.js
  src/v0/util/index.js
Due: js

feat: update primary email verification status
  src/v0/destinations/zendesk/transform.js
  test/integrations/destinations/zendesk/network.ts
  test/integrations/destinations/zendesk/processor/data.ts
Due: js

chore: improve release check reliability
  .eslintignore
  .github/workflows/publish-new-release.yml
  scripts/create-github-release.js
Due: none

fix: make testing tool compatible with cross plateform
  .vscode/tasks.json
  scripts/common.ts
  scripts/dtApiCurlCreation.ts
  scripts/serverApiCurlCreation.ts
Due: none

fix: review comments
  scripts/common.ts
Due: none
