Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: add user for GH actions (#3114)
  .github/workflows/create-hotfix-branch.yml
  .github/workflows/draft-new-release.yml
Due: none

chore(release): 1.56.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: fix response structure
  src/v0/destinations/sfmc/transform.js
Due: js

chore: add test
  src/v0/destinations/sfmc/transform.js
  src/v0/destinations/sfmc/transform.test.js
Due: js

chore: added test cases for processor
  src/cdk/v2/destinations/ninetailed/config.js
  src/cdk/v2/destinations/ninetailed/data/generalPayloadMapping.json
  src/cdk/v2/destinations/ninetailed/data/identifyMapping.json
  src/cdk/v2/destinations/ninetailed/data/pageMapping.json
  src/cdk/v2/destinations/ninetailed/data/trackMapping.json
  src/cdk/v2/destinations/ninetailed/procWorkflow.yaml
  src/cdk/v2/destinations/ninetailed/utils.js
  src/features.json
  test/integrations/destinations/ninetailed/processor/commonConfig.ts
  test/integrations/destinations/ninetailed/processor/data.ts
  test/integrations/destinations/ninetailed/processor/identify.ts
  test/integrations/destinations/ninetailed/processor/page.ts
  test/integrations/destinations/ninetailed/processor/track.ts
  test/integrations/destinations/ninetailed/processor/validation.ts
  test/integrations/destinations/ninetailed/router/commonConfig.js
Due: js

chore: small fix
  test/integrations/destinations/ninetailed/processor/commonConfig.ts
Due: none

chore: add business v1 proxy tests and mocks for Marketo
  test/integrations/destinations/marketo/dataDelivery/business.ts
  test/integrations/destinations/marketo/dataDelivery/data.ts
  test/integrations/destinations/marketo/network.ts
Due: none

chore: added test cases for router
  src/cdk/v2/destinations/ninetailed/procWorkflow.yaml
  src/cdk/v2/destinations/ninetailed/rtWorkflow.yaml
  src/cdk/v2/destinations/ninetailed/utils.js
  test/integrations/destinations/ninetailed/processor/identify.ts
  test/integrations/destinations/ninetailed/processor/page.ts
  test/integrations/destinations/ninetailed/processor/track.ts
  test/integrations/destinations/ninetailed/router/basicProperties.ts
  test/integrations/destinations/ninetailed/router/commonConfig.js
  test/integrations/destinations/ninetailed/router/commonConfig.ts
  test/integrations/destinations/ninetailed/router/data.ts
Due: js

chore: more tests
  src/controllers/__tests__/delivery.test.ts
  test/apitests/service.api.test.ts
Due: ts

chore: more tests
  src/controllers/__tests__/delivery.test.ts
Due: ts

Update eventMapping.js
  src/v0/destinations/branch/data/eventMapping.js
Due: js

chore: small fix
  test/integrations/destinations/ninetailed/processor/validation.ts
Due: none

chore: map contect key from properties instead of userId
  src/v0/destinations/sfmc/transform.js
  src/v0/destinations/sfmc/transform.test.js
Due: js

chore: move test-case data to constant
  test/integrations/destinations/gainsight_px/router/data.ts
Due: none

test: add testcase for multiple handlebars
  src/v0/destinations/mp/util.test.js
Due: js

fix: component tests
  src/v0/destinations/custify/deleteUsers.js
Due: js

fix: refer getErrorRespEvents method from integrations-lib
  package-lock.json
  package.json
  src/legacy/router.js
  src/v0/destinations/lambda/transform.js
  src/v0/destinations/marketo/transform.js
  src/v0/destinations/marketo_static_list/transform.js
  src/v0/destinations/marketo_static_list/transformV2.js
  src/v0/destinations/salesforce/transform.js
  src/v0/util/index.js
Due: js

fix: reddit revenue mapping for floating point values
  src/cdk/v2/destinations/reddit/procWorkflow.yaml
  test/integrations/destinations/reddit/processor/data.ts
Due: none

fix: initial commit
  src/constants/destinationCanonicalNames.js
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/destinations/google_adwords_remarketing_lists/utils.js
  src/v0/util/googleUtils/index.js
  src/v0/util/googleUtils/index.test.js
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
Due: js

fix: clevertap remove stringification of array object properties (#3048)
  src/v0/destinations/clevertap/transform.js
  test/integrations/destinations/clevertap/processor/data.ts
  test/integrations/destinations/clevertap/router/data.ts
Due: js

fix: reddit revenue mapping for floating point values
  src/cdk/v2/destinations/reddit/procWorkflow.yaml
Due: none

fix: reddit revenue mapping for floating point values (#3118)
  src/cdk/v2/destinations/reddit/procWorkflow.yaml
  test/integrations/destinations/reddit/processor/data.ts
Due: none

chore: move checking of router transform structure to top-level
  src/controllers/destination.ts
  src/v0/destinations/bqstream/transform.js
  src/v0/destinations/campaign_manager/transform.js
  src/v0/destinations/clevertap/transform.js
  src/v0/destinations/customerio/transform.js
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  src/v0/destinations/google_cloud_function/transform.js
  src/v0/destinations/googlesheets/transform.js
  src/v0/destinations/hs/transform.js
  src/v0/destinations/iterable/transform.js
  src/v0/destinations/kafka/transform.js
  src/v0/destinations/klaviyo/transform.js
  src/v0/destinations/mailchimp/transform.js
  src/v0/destinations/mailjet/transform.js
  src/v0/destinations/mailmodo/transform.js
  src/v0/destinations/marketo/transform.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/ometria/transform.js
  src/v0/destinations/pardot/transform.js
  src/v0/destinations/pinterest_tag/transform.js
  src/v0/destinations/salesforce/transform.js
  src/v0/destinations/sendgrid/transform.js
  src/v0/destinations/snapchat_conversion/transform.js
  src/v0/destinations/tiktok_ads/transform.js
  src/v0/destinations/tiktok_ads/transformV2.js
  src/v0/destinations/tiktok_ads_offline_events/transform.js
  src/v0/util/index.js
  test/integrations/component.test.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js, ts

chore: remove unnecessary jest timeout
  test/integrations/component.test.ts
Due: none

feat: consent field support for GARL
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/destinations/google_adwords_remarketing_lists/utils.js
  src/v0/destinations/google_adwords_remarketing_lists/utils.test.js
  src/v0/util/googleUtils/index.js
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
Due: js

feat: consent field support for GAOC
  src/constants/destinationCanonicalNames.js
  src/v0/destinations/google_adwords_offline_conversions/config.js
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/google_adwords_offline_conversions/utils.test.js
  src/v0/util/googleUtils/index.js
  src/v0/util/googleUtils/index.test.js
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/data.ts
  test/integrations/destinations/google_adwords_offline_conversions/network.ts
  test/integrations/destinations/google_adwords_offline_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
Due: js

fix: clean up of commented code
  src/v0/destinations/google_adwords_offline_conversions/transform.js
Due: js

Add koala procWorkflow file
  src/cdk/v2/destinations/koala/procWorkflow.yaml
Due: none

Add koala canonicalNames
  src/constants/destinationCanonicalNames.js
Due: js

Add Koala integration test processor data
  test/integrations/destinations/koala/processor/data.ts
Due: none

Add User-Agent rudderstack header
  src/cdk/v2/destinations/koala/procWorkflow.yaml
  test/integrations/destinations/koala/processor/data.ts
Due: none

Add identity and track steps
  src/cdk/v2/destinations/koala/procWorkflow.yaml
  test/integrations/destinations/koala/processor/data.ts
Due: none

Add messageId to Track call
  src/cdk/v2/destinations/koala/procWorkflow.yaml
  test/integrations/destinations/koala/processor/data.ts
Due: none

Include ip information
  src/cdk/v2/destinations/koala/procWorkflow.yaml
  test/integrations/destinations/koala/processor/data.ts
Due: none

chore: address comments
  src/cdk/v2/destinations/ninetailed/data/contextMapping.json
  src/cdk/v2/destinations/ninetailed/utils.js
  test/integrations/destinations/ninetailed/commonConfig.ts
  test/integrations/destinations/ninetailed/mocks.ts
  test/integrations/destinations/ninetailed/processor/identify.ts
  test/integrations/destinations/ninetailed/processor/validation.ts
  test/integrations/destinations/ninetailed/router/commonConfig.ts
  test/integrations/destinations/ninetailed/router/data.ts
Due: js

chore: updated test cases according to new flow for clevertap
  test/integrations/destinations/clevertap/dataDelivery/business.ts
Due: none

feat: initial changes, move instrumentation to v2 file
  src/v0/destinations/redis/transform.js
  src/v0/destinations/redis/transformV2.js
Due: js

fix: added check for objectIds or filters to be non empty
  src/cdk/v2/destinations/algolia/procWorkflow.yaml
  test/integrations/destinations/algolia/processor/data.ts
Due: none

fix: send proper status to server in cm360
  src/v1/destinations/campaign_manager/networkHandler.js
  test/integrations/destinations/campaign_manager/dataDelivery/oauth.ts
  test/integrations/destinations/campaign_manager/dataDelivery/other.ts
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
