Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: address review comments
  test/integrations/component.test.ts
  test/integrations/testUtils.ts
Due: none

fix: merging common properties to a single config json
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreCommonConfig.json
  src/cdk/v2/destinations/bluecore/data/bluecoreIdentifyConfig.json
  src/cdk/v2/destinations/bluecore/data/bluecoreTrackConfig.json
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
Due: js

chore: fb_custom_audience v1 tests
  test/integrations/destinations/fb_custom_audience/dataDelivery/business.ts
  test/integrations/destinations/fb_custom_audience/dataDelivery/other.ts
Due: none

chore: fb_custom_audience v1 tests
  test/integrations/destinations/fb_custom_audience/dataDelivery/other.ts
Due: none

chore: fb_custom_audience v1 tests
  test/integrations/destinations/fb_custom_audience/dataDelivery/business.ts
Due: none

chore: reddit proxy test refactor
  test/integrations/destinations/reddit/dataDelivery/business.ts
  test/integrations/destinations/reddit/dataDelivery/data.ts
  test/integrations/destinations/reddit/dataDelivery/oauth.ts
  test/integrations/destinations/reddit/delivery/data.ts
Due: none

chore: braze proxy v1 test (#3087)
  test/integrations/destinations/braze/dataDelivery/business.ts
  test/integrations/destinations/braze/dataDelivery/data.ts
  test/integrations/destinations/braze/dataDelivery/other.ts
  test/integrations/destinations/braze/network.ts
  test/integrations/testUtils.ts
Due: none

chore: add requestMethod and module latency labels
  src/cdk/v2/destinations/intercom/utils.js
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/transform.js
  src/v0/destinations/braze/util.js
  src/v0/destinations/clickup/util.js
  src/v0/destinations/custify/deleteUsers.js
  src/v0/destinations/delighted/util.js
  src/v0/destinations/drip/util.js
  src/v0/destinations/engage/deleteUsers.js
  src/v0/destinations/gainsight/util.js
  src/v0/destinations/gainsight_px/util.js
  src/v0/destinations/hs/util.js
  src/v0/destinations/iterable/deleteUsers.js
  src/v0/destinations/kustomer/util.js
  src/v0/destinations/mailchimp/utils.js
  src/v0/destinations/marketo_bulk_upload/fetchJobStatus.js
  src/v0/destinations/marketo_bulk_upload/fileUpload.js
  src/v0/destinations/marketo_bulk_upload/marketo_bulk_upload.util.test.js
  src/v0/destinations/marketo_bulk_upload/poll.js
  src/v0/destinations/marketo_bulk_upload/util.js
  src/v0/destinations/mautic/utils.js
  src/v0/destinations/profitwell/utils.js
  src/v0/destinations/rakuten/networkHandler.js
  src/v0/destinations/salesforce/transform.js
  src/v0/destinations/salesforce/utils.js
  src/v0/destinations/sendgrid/deleteUsers.js
  src/v0/destinations/sendgrid/util.js
  src/v0/destinations/sendinblue/util.js
  src/v0/destinations/sfmc/transform.js
  src/v0/destinations/snapchat_custom_audience/networkHandler.js
  src/v0/destinations/sprig/deleteUsers.js
  src/v0/destinations/the_trade_desk/networkHandler.js
  src/v0/destinations/trengo/transform.js
  src/v0/destinations/yahoo_dsp/util.js
  src/v0/destinations/zendesk/transform.js
Due: js

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

chore: comments addressed
  src/v0/destinations/tiktok_ads_offline_events/config.js
Due: js

Update src/v0/destinations/tiktok_ads_offline_events/config.js
  src/v0/destinations/tiktok_ads_offline_events/config.js
Due: js

fix: code review addressed
  src/v0/destinations/freshsales/transform.js
  src/v0/destinations/freshsales/utils.js
  src/v0/destinations/freshsales/utils.test.js
  src/v0/util/index.js
  test/integrations/destinations/freshsales/processor/data.ts
  test/integrations/destinations/freshsales/router/data.ts
Due: js

fix: small edit
  src/v0/util/index.js
Due: js

Apply suggestions from code review
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

fix: using lodash for deep merge
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
Due: js

feat: tiktok_offline_events added support for all Standard events (#3094)
  src/v0/destinations/tiktok_ads_offline_events/config.js
  test/integrations/destinations/tiktok_ads_offline_events/processor/data.ts
Due: js

feat: add support of custom page/screen event name in mixpanel
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/processor/data.ts
Due: js

chore: fb_custom_audience v1 tests
  src/services/destination/nativeIntegration.ts
  test/integrations/destinations/fb_custom_audience/dataDelivery/business.ts
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
  test/integrations/destinations/fb_custom_audience/dataDelivery/other.ts
Due: ts

chore: fb_custom_audience v1 tests
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
Due: none

chore: add requestMethod and module latency labels (#3097)
  src/cdk/v2/destinations/intercom/utils.js
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/transform.js
  src/v0/destinations/braze/util.js
  src/v0/destinations/clickup/util.js
  src/v0/destinations/custify/deleteUsers.js
  src/v0/destinations/delighted/util.js
  src/v0/destinations/drip/util.js
  src/v0/destinations/engage/deleteUsers.js
  src/v0/destinations/gainsight/util.js
  src/v0/destinations/gainsight_px/util.js
  src/v0/destinations/hs/util.js
  src/v0/destinations/iterable/deleteUsers.js
  src/v0/destinations/kustomer/util.js
  src/v0/destinations/mailchimp/utils.js
  src/v0/destinations/marketo_bulk_upload/fetchJobStatus.js
  src/v0/destinations/marketo_bulk_upload/fileUpload.js
  src/v0/destinations/marketo_bulk_upload/marketo_bulk_upload.util.test.js
  src/v0/destinations/marketo_bulk_upload/poll.js
  src/v0/destinations/marketo_bulk_upload/util.js
  src/v0/destinations/mautic/utils.js
  src/v0/destinations/profitwell/utils.js
  src/v0/destinations/rakuten/networkHandler.js
  src/v0/destinations/salesforce/transform.js
  src/v0/destinations/salesforce/utils.js
  src/v0/destinations/sendgrid/deleteUsers.js
  src/v0/destinations/sendgrid/util.js
  src/v0/destinations/sendinblue/util.js
  src/v0/destinations/sfmc/transform.js
  src/v0/destinations/snapchat_custom_audience/networkHandler.js
  src/v0/destinations/sprig/deleteUsers.js
  src/v0/destinations/the_trade_desk/networkHandler.js
  src/v0/destinations/trengo/transform.js
  src/v0/destinations/yahoo_dsp/util.js
  src/v0/destinations/zendesk/transform.js
Due: js

fix: addressed review comments
  src/v0/util/index.js
  src/v0/util/index.test.js
  src/v0/util/testdata/generateExclusionListUsingKeyPaths.json
Due: js

chore: add docker image change announcement in readme (#3093)
  README.md
Due: none

chore: apply review suggestions
  test/integrations/destinations/the_trade_desk_real_time_conversions/processor/data.ts
Due: none

fix: comments addressed
  src/v0/destinations/af/transform.js
  test/integrations/destinations/af/processor/data.ts
Due: js

fix: addressed review comments
  src/cdk/v2/destinations/bluecore/procWorkflow.yaml
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
  test/integrations/destinations/bluecore/ecommTestData.ts
Due: js

fix: replace getErrorRespEvents with standard implementation
  src/v0/destinations/customerio/transform.js
  src/v0/destinations/kafka/transform.js
  src/v0/destinations/mailjet/transform.js
  src/v0/destinations/mailmodo/transform.js
  src/v0/destinations/pinterest_tag/transform.js
  src/v0/destinations/sendgrid/transform.js
Due: js

chore: add reference docs in source-code
  src/v0/destinations/custify/deleteUsers.js
Due: js

refactor: use handlebars
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/processor/data.ts
Due: js

chore: formatting updates - 3
  src/v0/destinations/am/util.test.js
  src/v0/destinations/am/utils.js
  src/v0/destinations/tiktok_ads_offline_events/config.js
Due: js

fix: add support of placing properties at root in af (#3082)
  src/v0/destinations/af/transform.js
  test/integrations/destinations/af/processor/data.ts
Due: js

chore: improving coverage
  test/integrations/destinations/custify/deleteUsers/data.ts
Due: none

chore: formatting updates - 4
  src/v0/destinations/af/transform.js
Due: js

fix: custify user-regulation logic (#3076)
  src/v0/destinations/custify/deleteUsers.js
  test/integrations/destinations/custify/deleteUsers/data.ts
  test/integrations/destinations/custify/network.ts
Due: js

chore: prevent repeated test report comments on the pr
  .github/workflows/component-test-report.yml
Due: none

fix: add await keyword
  .github/workflows/component-test-report.yml
Due: none

fix: use github paginate
  .github/workflows/component-test-report.yml
Due: none

chore: remove unwanted logging
  .github/workflows/component-test-report.yml
Due: none

refactor: split trade desk into audience and realtime conversions destinations (#3091)
  src/cdk/v2/destinations/the_trade_desk/config.js
  src/cdk/v2/destinations/the_trade_desk/rtWorkflow.yaml
  src/cdk/v2/destinations/the_trade_desk/transformConversion.js
  src/cdk/v2/destinations/the_trade_desk/transformRecord.js
  src/cdk/v2/destinations/the_trade_desk/utils.js
  src/cdk/v2/destinations/the_trade_desk/utils.test.js
  src/cdk/v2/destinations/the_trade_desk_real_time_conversions/config.js
  src/cdk/v2/destinations/the_trade_desk_real_time_conversions/data/TTDCommonConfig.json
  src/cdk/v2/destinations/the_trade_desk_real_time_conversions/data/TTDItemConfig.json
  src/cdk/v2/destinations/the_trade_desk_real_time_conversions/procWorkflow.yaml
  src/cdk/v2/destinations/the_trade_desk_real_time_conversions/utils.js
  src/cdk/v2/destinations/the_trade_desk_real_time_conversions/utils.test.js
  src/v0/destinations/the_trade_desk/networkHandler.js
  test/integrations/destinations/the_trade_desk/common.ts
  test/integrations/destinations/the_trade_desk/delivery/data.ts
  test/integrations/destinations/the_trade_desk/network.ts
  test/integrations/destinations/the_trade_desk/router/data.ts
  test/integrations/destinations/the_trade_desk_real_time_conversions/common.ts
  test/integrations/destinations/the_trade_desk_real_time_conversions/processor/data.ts
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
