Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix: source v1 test-cases - cordial - braze - close_crm
  go/webhook/testcases/testdata/testcases/braze/event_mapping_done_in_ui.json
  go/webhook/testcases/testdata/testcases/braze/the_event_is_not_mapped_in_the_ui.json
  go/webhook/testcases/testdata/testcases/braze/users_behaviors_app_session_start_event.json
  go/webhook/testcases/testdata/testcases/braze/users_behaviors_custom_event_any_custom_event.json
  go/webhook/testcases/testdata/testcases/braze/users_behaviors_purchase_event.json
  go/webhook/testcases/testdata/testcases/braze/users_messages_email_open_event.json
  go/webhook/testcases/testdata/testcases/braze/users_messages_inappmessage_click_event.json
  go/webhook/testcases/testdata/testcases/braze/users_messages_pushnotification_send_event.json
  go/webhook/testcases/testdata/testcases/braze/users_messages_sms_delivery_event.json
  go/webhook/testcases/testdata/testcases/braze/users_messages_sms_delivery_send.json
  go/webhook/testcases/testdata/testcases/close_crm/group_creation.json
  go/webhook/testcases/testdata/testcases/close_crm/lead_deletion.json
  go/webhook/testcases/testdata/testcases/close_crm/lead_update.json
  go/webhook/testcases/testdata/testcases/cordial/multiple_object_input_event_with_batched_payload.json
  go/webhook/testcases/testdata/testcases/cordial/simple_single_object_input_event_with_no_cid.json
  go/webhook/testcases/testdata/testcases/cordial/simple_single_object_input_event_with_normal_channel_and_action.json
  test/integrations/sources/braze/data.ts
  test/integrations/sources/close_crm/data.ts
  test/integrations/sources/cordial/data.ts
  test/scripts/generateJson.ts
Due: none

chore: update method to POST for adjust - as this method is for source transformation request and not the webhook request
  test/integrations/sources/adjust/data.ts
Due: none

chore: lint errors
  go/webhook/testcases/testdata/testcases/braze/event_mapping_done_in_ui.json
  go/webhook/testcases/testdata/testcases/braze/the_event_is_not_mapped_in_the_ui.json
  go/webhook/testcases/testdata/testcases/braze/users_behaviors_app_session_start_event.json
  go/webhook/testcases/testdata/testcases/braze/users_behaviors_custom_event_any_custom_event.json
  go/webhook/testcases/testdata/testcases/braze/users_behaviors_purchase_event.json
  go/webhook/testcases/testdata/testcases/braze/users_messages_email_open_event.json
  go/webhook/testcases/testdata/testcases/braze/users_messages_inappmessage_click_event.json
  go/webhook/testcases/testdata/testcases/braze/users_messages_pushnotification_send_event.json
  go/webhook/testcases/testdata/testcases/braze/users_messages_sms_delivery_event.json
  go/webhook/testcases/testdata/testcases/braze/users_messages_sms_delivery_send.json
Due: none

fix: value field format and comments resolved
  src/v0/destinations/klaviyo/batchUtil.js
  src/v0/destinations/klaviyo/data/AddedToCart.json
  src/v0/destinations/klaviyo/data/KlaviyoTrackV2.json
  src/v0/destinations/klaviyo/data/StartedCheckout.json
  src/v0/util/index.js
  test/integrations/destinations/klaviyo/processor/trackTestDataV2.ts
Due: js

feat: added bloomreach retl support
  src/cdk/v2/destinations/bloomreach/config.ts
  src/cdk/v2/destinations/bloomreach/procWorkflow.yaml
  src/cdk/v2/destinations/bloomreach/rtWorkflow.yaml
  src/cdk/v2/destinations/bloomreach/utils.ts
  test/integrations/destinations/bloomreach/common.ts
  test/integrations/destinations/bloomreach/mocks.ts
  test/integrations/destinations/bloomreach/router/data.ts
Due: ts

fix: merge develop fix
  src/v0/util/index.js
Due: js

fix: lint errors
  src/v0/destinations/klaviyo/data/AddedToCart.json
  src/v0/destinations/klaviyo/data/StartedCheckout.json
Due: none

fix: removed from package.json
  package-lock.json
  package.json
  src/cdk/v2/destinations/emarsys/utils.test.js
  src/cdk/v2/destinations/rakuten/utils.js
  src/util/errorNotifier/bugsnag.js
  src/v0/destinations/klaviyo/util.js
  src/v0/destinations/revenue_cat/transform.js
Due: js

feat: supporting device token type using integrations object
  src/constants/destinationCanonicalNames.js
  src/v0/destinations/clevertap/config.js
  src/v0/destinations/clevertap/transform.js
  src/v0/destinations/clevertap/utils.js
  src/v0/destinations/clevertap/utils.test.js
  test/integrations/destinations/clevertap/processor/data.ts
Due: js

fix: resolving comments
  src/cdk/v2/destinations/bloomreach/procWorkflow.yaml
  src/cdk/v2/destinations/bloomreach/utils.ts
  test/integrations/destinations/bloomreach/common.ts
  test/integrations/destinations/bloomreach/processor/validation.ts
Due: ts

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

feat: detach user and company in intercom identify call (#3580)
  src/cdk/v2/destinations/intercom/config.js
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  src/cdk/v2/destinations/intercom/utils.js
  test/integrations/destinations/intercom/network.ts
  test/integrations/destinations/intercom/router/data.ts
Due: js

feat: adding test cases
  src/v0/destinations/clevertap/transform.js
  test/integrations/destinations/clevertap/processor/data.ts
Due: js

chore: add test cases
  src/v0/destinations/hs/transform.js
  src/v1/destinations/hs/networkHandler.ts
  test/integrations/destinations/hs/dataDelivery/business.ts
  test/integrations/destinations/hs/network.ts
Due: js, ts

feat: onboard new api for klaviyo 15-06-2024 (#3574)
  src/constants/destinationCanonicalNames.js
  src/v0/destinations/klaviyo/batchUtil.js
  src/v0/destinations/klaviyo/batchUtil.test.js
  src/v0/destinations/klaviyo/config.js
  src/v0/destinations/klaviyo/data/AddedToCart.json
  src/v0/destinations/klaviyo/data/KlaviyoProfileV2.json
  src/v0/destinations/klaviyo/data/KlaviyoTrackV2.json
  src/v0/destinations/klaviyo/data/StartedCheckout.json
  src/v0/destinations/klaviyo/klaviyoUtil.test.js
  src/v0/destinations/klaviyo/transform.js
  src/v0/destinations/klaviyo/transformV2.js
  src/v0/destinations/klaviyo/util.js
  src/v0/util/index.js
  test/integrations/destinations/klaviyo/processor/data.ts
  test/integrations/destinations/klaviyo/processor/dataV2.ts
  test/integrations/destinations/klaviyo/processor/groupTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/identifyTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/screenTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/trackTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/validationTestDataV2.ts
  test/integrations/destinations/klaviyo/router/commonConfig.ts
  test/integrations/destinations/klaviyo/router/data.ts
  test/integrations/destinations/klaviyo/router/dataV2.ts
  test/integrations/testUtils.ts
Due: js

chore: update latest image sha
  .github/workflows/build-push-docker-image.yml
  .github/workflows/prepare-for-dev-deploy.yml
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

chore: add echo while setting a variable in run script
  .github/workflows/build-push-docker-image.yml
Due: none

chore: cancel already existing workflows on pull request update
  .github/workflows/build-pr-artifacts.yml
  .github/workflows/check-pr-title.yml
  .github/workflows/commitlint.yml
  .github/workflows/component-test-report.yml
  .github/workflows/dt-test-and-report-code-coverage.yml
  .github/workflows/prepare-for-dev-deploy.yml
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
  .github/workflows/prepare-for-staging-deploy.yml
  .github/workflows/ut-tests.yml
  .github/workflows/verify-server-start.yml
  .github/workflows/verify.yml
Due: none

chore: update ut prod deployment workflow
  .github/workflows/prepare-for-prod-ut-deploy.yml
Due: none

feat: updated examples for swagger (#3526)
  swagger/components/examples/processor/failure.yaml
  swagger/components/examples/processor/success.yaml
  swagger/components/examples/router/failure.yaml
  swagger/components/examples/router/success.yaml
  swagger/components/schemas/request.yaml
  swagger/components/schemas/routerTransformationRequest.yaml
Due: none

chore(release): 1.73.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update change log remove irrelevant changes
  CHANGELOG.md
Due: none

feat: added other scenario test
  test/integrations/destinations/bloomreach/router/data.ts
Due: none

chore: format errors
  .github/workflows/prepare-for-staging-deploy.yml
  .github/workflows/verify.yml
Due: none

fix: fb custom audience version upgrade from v18 to v20 (#3604)
  src/v0/destinations/fb_custom_audience/config.js
  src/v0/destinations/fb_custom_audience/util.test.js
  test/integrations/destinations/fb_custom_audience/router/data.ts
Due: js

fix: fb pixel and fb app events version upgrade (#3606)
  src/v0/destinations/facebook_pixel/config.js
  src/v0/destinations/fb/config.js
  test/integrations/destinations/facebook_pixel/processor/ecommTestData.ts
  test/integrations/destinations/facebook_pixel/processor/validationTestData.ts
  test/integrations/destinations/facebook_pixel/router/data.ts
Due: js

fix: facebook conversion version upgrade (#3607)
  src/v0/destinations/facebook_conversions/config.js
  test/integrations/destinations/facebook_conversions/processor/data.ts
  test/integrations/destinations/facebook_conversions/router/data.ts
Due: js

fix: shopify: incorporate new shopify cart token format
  src/v0/sources/shopify/transform.js
Due: js

chore: update test cases
  src/util/redis/testData/shopify_source.json
Due: none

chore: cancel already existing workflows on pull request update (#3623)
  .github/workflows/build-pr-artifacts.yml
  .github/workflows/check-pr-title.yml
  .github/workflows/commitlint.yml
  .github/workflows/component-test-report.yml
  .github/workflows/dt-test-and-report-code-coverage.yml
  .github/workflows/prepare-for-dev-deploy.yml
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
  .github/workflows/prepare-for-staging-deploy.yml
  .github/workflows/ut-tests.yml
  .github/workflows/verify-server-start.yml
  .github/workflows/verify.yml
Due: none

chore: verify log env through console.log
  src/util/logger.js
Due: js

chore: update latest image sha (#3622)
  .github/workflows/build-push-docker-image.yml
  .github/workflows/prepare-for-dev-deploy.yml
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

chore: re-introduce execution of tests while building image - introduce a flag to skip tests - modify artifact building workflow to know when to skip tests
  .github/workflows/build-pr-artifacts.yml
  .github/workflows/build-push-docker-image.yml
Due: none

fix: update the correct workflows to skip tests in docker for hotfix release
  .github/workflows/build-pr-artifacts.yml
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
Due: none

fix: rakuten for amount list (#3612)
  src/cdk/v2/destinations/rakuten/utils.js
  test/integrations/destinations/rakuten/processor/track.ts
Due: js

fix: execute tests when dockerfile, package json is updated
  .github/workflows/build-push-docker-image.yml
Due: none

chore: add log inside util
  src/util/logger.js
Due: js

chore: add log in different places
  src/adapters/network.js
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
