Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix: added missing eu url in delete flow for amplitude destination
  src/v0/destinations/am/deleteUsers.js
  test/integrations/destinations/am/deleteUsers/data.ts
  test/integrations/destinations/am/network.ts
Due: js

chore: address review comments
  test/scripts/migrateTest.ts
Due: none

fix: use correct endpoint for custom events
  src/v0/destinations/branch/data/eventMapping.js
  src/v0/destinations/branch/transform.js
  test/integrations/destinations/branch/processor/data.ts
Due: js

chore: update test cases with types
  test/integrations/destinations/branch/processor/data.ts
  test/integrations/destinations/branch/router/data.ts
Due: none

chore: remove redundant products tag when no products sent (#3951)
  src/v0/destinations/adobe_analytics/transform.js
  test/integrations/destinations/adobe_analytics/processor/data.ts
Due: js

fix: sonar cloud issue
  src/v0/destinations/branch/transform.js
Due: js

chore: address comment and remove redundant test cases
  test/integrations/destinations/branch/processor/data.ts
Due: none

fix: added missing eu url in delete flow for amplitude destination (#3952)
  src/v0/destinations/am/deleteUsers.js
  test/integrations/destinations/am/deleteUsers/data.ts
  test/integrations/destinations/am/network.ts
Due: js

chore: upgrade axios version to 1.7.9
  package-lock.json
  package.json
Due: none

fix: property and event name mappings in shopify v2 (#3941)
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/webhookEventsMapping/identifyMapping.json
  src/v1/sources/shopify/webhookEventsMapping/lineItemsMapping.json
  src/v1/sources/shopify/webhookEventsMapping/mapping.json
  src/v1/sources/shopify/webhookEventsMapping/productMapping.json
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutStepsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
Due: js

feat: add redis support in shopify pixel for id stitching
  src/v0/sources/shopify/util.js
  src/v1/sources/shopify/transform.js
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
Due: js

fix: use correct endpoint for custom events (#3954)
  src/v0/destinations/branch/data/eventMapping.js
  src/v0/destinations/branch/transform.js
  test/integrations/destinations/branch/processor/data.ts
Due: js

chore: add branch name to updated list
  test/integrations/component.test.ts
Due: none

chore: clean up unused env
  src/routes/index.ts
Due: ts

chore: update test cases for branch (#3955)
  src/v0/destinations/adobe_analytics/transform.js
  test/integrations/component.test.ts
  test/integrations/destinations/branch/processor/data.ts
  test/integrations/destinations/branch/router/data.ts
Due: js

chore: clean up unused env (#3958)
  src/routes/index.ts
Due: ts

fix: adding type definitions
  src/v0/destinations/iterable/config.js
  src/v0/destinations/iterable/util.js
  src/v0/destinations/iterable/util.test.js
  src/v1/destinations/iterable/networkHandler.ts
  src/v1/destinations/iterable/strategies/base.ts
  src/v1/destinations/iterable/strategies/generic.ts
  src/v1/destinations/iterable/strategies/track-identify.ts
  src/v1/destinations/iterable/types.ts
  src/v1/destinations/iterable/utils.test.ts
  src/v1/destinations/iterable/utils.ts
Due: js, ts

fix: separating handle error functions
  src/v1/destinations/iterable/strategies/base.ts
  src/v1/destinations/iterable/strategies/generic.ts
  src/v1/destinations/iterable/strategies/track-identify.ts
Due: ts

chore: integrate allure ci
  .github/workflows/allure-test-reporter.yml
Due: none

chore: fix commit
  .github/workflows/allure-test-reporter.yml
Due: none

chore: remove unused workflow
  .github/workflows/component-test-report.yml
Due: none

chore: update the workflow to only run for prs to main
  .github/workflows/allure-test-reporter.yml
Due: none

chore: update the workflow to get corrent run number for comment
  .github/workflows/allure-test-reporter.yml
Due: none

chore: update the workflow to run for PR updates
  .github/workflows/allure-test-reporter.yml
Due: none

chore: update redis set structure
  src/v1/sources/shopify/transform.js
Due: js

fix: migrating processor and router test cases
  test/integrations/destinations/iterable/dataDelivery/business.ts
  test/integrations/destinations/iterable/processor/aliasTestData.ts
  test/integrations/destinations/iterable/processor/identifyTestData.ts
  test/integrations/destinations/iterable/processor/pageScreenTestData.ts
  test/integrations/destinations/iterable/processor/trackTestData.ts
  test/integrations/destinations/iterable/processor/validationTestData.ts
  test/integrations/destinations/iterable/router/data.ts
Due: none

fix: review comment addressed
  src/v1/destinations/iterable/types.ts
Due: ts

chore: update the workflow to get correct run number
  .github/workflows/allure-test-reporter.yml
Due: none

chore: upgrade axios version to 1.7.9 (#3956)
  package-lock.json
  package.json
Due: none

fix: adding transformer proxy for iterable (#3878)
  src/v0/destinations/iterable/config.js
  src/v0/destinations/iterable/util.js
  src/v0/destinations/iterable/util.test.js
  src/v1/destinations/iterable/networkHandler.ts
  src/v1/destinations/iterable/strategies/base.ts
  src/v1/destinations/iterable/strategies/generic.ts
  src/v1/destinations/iterable/strategies/track-identify.ts
  src/v1/destinations/iterable/types.ts
  src/v1/destinations/iterable/utils.test.ts
  src/v1/destinations/iterable/utils.ts
  test/integrations/destinations/iterable/dataDelivery/business.ts
  test/integrations/destinations/iterable/dataDelivery/data.ts
  test/integrations/destinations/iterable/dataDelivery/network.ts
  test/integrations/destinations/iterable/processor/aliasTestData.ts
  test/integrations/destinations/iterable/processor/identifyTestData.ts
  test/integrations/destinations/iterable/processor/pageScreenTestData.ts
  test/integrations/destinations/iterable/processor/trackTestData.ts
  test/integrations/destinations/iterable/processor/validationTestData.ts
  test/integrations/destinations/iterable/router/data.ts
Due: js, ts

chore(release): 1.87.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update attribute name
  src/v1/sources/shopify/transform.js
Due: js

chore: leep last 5 history
  .github/workflows/allure-test-reporter.yml
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
