Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix: metadata tags capturing in v0 transformation (#3492)
  src/util/customTransformer.js
  src/v0/util/index.js
Due: js

chore: empty string default endpointPath
  src/adapters/network.js
Due: js

chore: add reset merics api + periodic metrics reset
  src/routes/metricsRouter.js
  src/util/cluster.js
  src/util/metricsAggregator.js
  src/util/prometheus.js
  src/util/stats.js
Due: js

chore: use httpresponse in spite of processedResponse
  src/v0/destinations/drip/util.js
  test/integrations/destinations/trengo/network.ts
  test/integrations/destinations/trengo/processor/data.ts
Due: js

chore: add labels
  src/util/prometheus.js
Due: js

fix: tertiary condition
  src/v0/destinations/klaviyo/transform.js
Due: js

chore: use httpresponse in spite of processedResponse for trengo
  src/v0/destinations/trengo/transform.js
Due: js

chore: fix lint error
  src/v0/destinations/gainsight/util.js
Due: js

chore: remove version id, clean unused stats (#3494)
  src/legacy/router.js
  src/util/customTransformer-faas.js
  src/util/customTransformer-v1.js
  src/util/customTransformer.js
  src/util/customTransforrmationsStore-v1.js
  src/util/customTransforrmationsStore.js
  src/util/ivmFactory.js
  src/util/prometheus.js
  src/util/utils.js
Due: js

chore: resolve bugsnag issue in braze (#3474)
  src/v0/destinations/braze/util.js
  test/integrations/destinations/braze/processor/data.ts
Due: js

chore: add async for canny destination - fix eslint error
  src/v0/destinations/canny/transform.js
Due: js

chore: add worker id to metrics
  src/util/prometheus.js
Due: js

chore: filtered logging and log for all destinations refactor (#3503)
  src/adapters/network.js
  src/adapters/network.test.js
Due: js

feat: add destination canonical name and update payload
  src/cdk/v2/destinations/wunderkind/procWorkflow.yaml
  src/constants/destinationCanonicalNames.js
Due: js

chore: change in credential function name
  src/util/ivmFactory.js
  test/__tests__/user_transformation.test.js
Due: js

feat: commented coding requirements
  src/controllers/destination.ts
  src/controllers/util/index.ts
  src/helpers/serviceSelector.ts
  src/v0/destinations/ga4_v2/customMappingsHandler.js
  src/v0/destinations/hs/hs_agnotstic.json
Due: js, ts

chore: change in credential function name (#3505)
  src/util/ivmFactory.js
  test/__tests__/user_transformation.test.js
Due: js

feat: added more
  src/features.json
  src/v0/destinations/hs/transform_agnostic.js
Due: js

[Posthog] fix swapped alias ids
  src/v0/destinations/posthog/data/PHAliasConfig.json
Due: none

chore: add agnostic mapping json
  src/v0/destinations/hs/agnotstic.json
  src/v0/destinations/hs/hs_agnotstic.json
Due: none

fix: initial algo for transform.js
  src/controllers/destination.ts
  src/v0/destinations/hs/HSTransform-v2.js
  src/v0/destinations/hs/HSTransform-v3.js
  src/v0/destinations/hs/transform.js
  src/v0/destinations/hs/util.js
Due: js, ts

feat: added logic for agnostic destination
  src/controllers/util/index.ts
  src/types/index.ts
Due: ts

feat: bug fix
  src/controllers/util/index.ts
  src/v0/destinations/hs/transform_agnostic.js
Due: js, ts

chore: refactor code
  src/controllers/util/index.ts
  src/v0/destinations/hs/agnotstic.json
Due: ts

chore: use feature.json
  src/v0/destinations/hs/transform.js
Due: js

feat: fixes
  src/controllers/util/index.ts
Due: ts

feat: pre process custom mappings
  src/controllers/destination.ts
  src/services/destination/preTransformation.ts
Due: ts

fix: second commit
  src/v0/destinations/hs/HSTransform-v3.js
  src/v0/destinations/hs/transform.js
  src/v0/destinations/hs/utilv2.js
  src/v0/util/index.js
Due: js

fix: third edit
  src/v0/destinations/hs/transform.js
  src/v0/destinations/hs/utilv2.js
Due: js

chore: update code
  src/controllers/util/index.ts
  src/v0/destinations/hs/HSTransform-v3.js
  src/v0/destinations/hs/transform.js
Due: js, ts

fix: fields mismatch edit
  src/controllers/util/index.ts
  src/v0/destinations/hs/HSTransform-v3.js
  src/v0/destinations/hs/utilv2.js
Due: js, ts

feat: refactor
  src/v0/destinations/hs/HSTransform-v3.js
  src/v0/destinations/hs/config.js
Due: js

feat: dyi destination
  src/v0/destinations/dyi/transform.js
Due: js

fix: edits after e2e
  src/controllers/util/index.ts
  src/v0/destinations/hs/HSTransform-v3.js
  src/v0/destinations/hs/transform.js
  src/v0/destinations/hs/utilv2.js
Due: js, ts

chore: added env dns resolver
  src/util/openfaas/index.js
Due: js

chore: intorduce batching
  src/v0/destinations/dyi/transform.js
  src/v0/destinations/dyi/utils.js
Due: js

chore: add look up
  src/controllers/util/index.ts
  src/features.json
  src/v0/destinations/hs/transform.js
  src/v0/destinations/hs/utilv2.js
Due: js, ts

fix: update event mapping variable
  src/services/destination/preTransformation.ts
Due: ts

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
