Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: upgrade adjust source to v2 spec
  src/controllers/util/index.ts
  src/v2/sources/adjust/config.ts
  src/v2/sources/adjust/mapping.json
  src/v2/sources/adjust/transform.js
  src/v2/sources/adjust/utils.js
  src/v2/sources/adjust/utils.test.js
  test/integrations/sources/adjust/data.ts
Due: js, ts

chore: update default case handling in facebook destinations (#3908)
  src/v0/util/facebookUtils/networkHandler.js
  test/integrations/destinations/facebook_pixel/dataDelivery/business.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/oauth.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/other.ts
  test/integrations/destinations/facebook_pixel/network.ts
  test/integrations/destinations/fb/dataDelivery/data.ts
  test/integrations/destinations/fb/dataDelivery/other.ts
  test/integrations/destinations/fb/network.ts
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
  test/integrations/destinations/fb_custom_audience/network.ts
Due: js

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

chore: address comment
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/google_adwords_offline_conversions/utils.test.js
Due: js

fix: snowpipe streaming users table skipping
  src/v0/destinations/snowpipe_streaming/transform.js
  src/warehouse/config/ReservedKeywords.json
  src/warehouse/identity.js
  src/warehouse/index.js
  src/warehouse/v1/util.js
  test/__tests__/data/warehouse/events.js
  test/__tests__/data/warehouse/integration_options_events.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/aliases.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/extract.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/groups.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/pages.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/screens.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/tracks.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/aliases.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/extract.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/groups.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/pages.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/screens.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/tracks.js
  test/__tests__/data/warehouse/names.js
  test/__tests__/warehouse.test.js
Due: js

chore: review comments
  src/v0/destinations/snowpipe_streaming/transform.js
  src/warehouse/identity.js
Due: js

chore: update function as per review suggestion
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

chore: fix sonar cloud issue
  src/v0/destinations/google_adwords_offline_conversions/utils.js
Due: js

fix: convert to registry pattern
  src/v1/destinations/iterable/networkHandler.js
Due: js

fix: converting to typescript
  src/v1/destinations/iterable/commonStrategy.ts
  src/v1/destinations/iterable/networkHandler.js
  src/v1/destinations/iterable/networkHandler.ts
  src/v1/destinations/iterable/responseStrategy.ts
  src/v1/destinations/iterable/trackIdentifyStrategy.js
  src/v1/destinations/iterable/trackIdentifyStrategy.ts
  src/v1/destinations/iterable/type.ts
Due: js, ts

fix: removing unnecessary comments
  src/v1/destinations/iterable/type.ts
Due: ts

chore: decrease Cognitive Complexity from 17 to the 15
  src/v0/destinations/google_adwords_offline_conversions/utils.js
Due: js

chore: fix lint error
  src/v0/destinations/google_adwords_offline_conversions/utils.js
Due: js

chore: update types
  test/integrations/testTypes.ts
  test/scripts/migrateTest.ts
  test/scripts/migrationUtils.ts
Due: none

chore: topsort changes
  src/v0/destinations/topsort/config.js
  src/v0/destinations/topsort/data/TopsortItemConfig.json
  src/v0/destinations/topsort/data/TopsortPlacementConfig.json
  src/v0/destinations/topsort/data/TopsortTrackConfig.json
  src/v0/destinations/topsort/transform.js
  src/v0/destinations/topsort/utils.js
Due: js

chore: boilerplates
  src/v0/destinations/topsort/config.js
  src/v0/destinations/topsort/data/TopSortPurchaseProductConfig.json
  src/v0/destinations/topsort/data/TopsortItemConfig.json
  src/v0/destinations/topsort/data/TopsortPlacementConfig.json
  src/v0/destinations/topsort/data/TopsortTrackConfig.json
  src/v0/destinations/topsort/transform.js
  src/v0/util/index.js
Due: js

chore: topsort changes
  src/v0/destinations/topsort/config.js
  src/v0/destinations/topsort/data/TopSortPurchaseProductConfig.json
  src/v0/destinations/topsort/data/TopsortPlacementConfig.json
  src/v0/destinations/topsort/transform.js
  src/v0/destinations/topsort/utils.js
  test/integrations/destinations/topsort/processor/data.ts
  test/integrations/destinations/topsort/processor/trackTestData.ts
Due: js

fix/moengage-anonymousid-over-userid
  src/v0/destinations/moengage/transform.js
Due: js

chore: specify head commit hash for checkout temporarily
  .github/workflows/dt-test-and-report-code-coverage.yml
Due: none

chore: fix fetch depth
  .github/workflows/dt-test-and-report-code-coverage.yml
Due: none

chore: fix fetch depth to 0
  .github/workflows/dt-test-and-report-code-coverage.yml
Due: none

chore: reset commit sha
  .github/workflows/dt-test-and-report-code-coverage.yml
Due: none

fix: type for proc
  test/scripts/migrationUtils.ts
Due: none

chore: fix sonar issues
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  src/v1/sources/shopify/webpixelTransformations/pixelUtils.js
Due: js

chore: update repo name for staging deployment also
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

chore: remove unnecessary repo update in config-be tf
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

chore: add metrics for mailjet
  src/util/prometheus.js
  src/v0/destinations/mailjet/transform.js
Due: js

chore: add variable name
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

chore: fix label
  src/util/prometheus.js
Due: js

chore: update repo name for staging deployment also (#3916)
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

chore: add metrics for mailjet (#3917)
  src/util/prometheus.js
  src/v0/destinations/mailjet/transform.js
Due: js

chore: source version map to include v2 but safely
  src/controllers/util/index.ts
Due: ts

fix: merge same emails, phone
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/util.js
Due: js

fix: remove redundant ids and userIdentifier when gbraid or wbraid are there (#3910)
  .github/workflows/dt-test-and-report-code-coverage.yml
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/google_adwords_offline_conversions/utils.test.js
  test/integrations/destinations/google_adwords_offline_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
Due: js

fix: adding data delivery test cases for all endpoints
  src/v1/destinations/iterable/responseStrategy.ts
  test/integrations/destinations/iterable/dataDelivery/business.ts
  test/integrations/destinations/iterable/dataDelivery/network.ts
Due: ts

fix: added gauge metric
  src/util/prometheus.js
  src/v0/destinations/braze/util.js
Due: js

chore: improve iterable network handler
  src/v1/destinations/iterable/networkHandler.ts
  src/v1/destinations/iterable/strategies/generic.ts
  src/v1/destinations/iterable/strategies/principal.ts
  src/v1/destinations/iterable/strategies/track-identify.ts
  src/v1/destinations/iterable/type.ts
  src/v1/destinations/iterable/types.ts
  test/integrations/destinations/iterable/dataDelivery/business.ts
Due: ts

chore: add comment in principal strategy class
  src/v1/destinations/iterable/strategies/principal.ts
Due: ts

chore: rename from PrincipalStrategy to BaseStrategy
  src/v1/destinations/iterable/strategies/base.ts
  src/v1/destinations/iterable/strategies/generic.ts
  src/v1/destinations/iterable/strategies/track-identify.ts
Due: ts

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
