Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

refactor: intercom version workflows
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
Due: none

feat(intercom): upgrade intercom version from 1.4 to 2.10 (#2976)
  src/cdk/v2/destinations/intercom/config.js
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  src/cdk/v2/destinations/intercom/rtWorkflow.yaml
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom/utils.test.js
  src/constants/destinationCanonicalNames.js
  src/v0/destinations/intercom/config.js
  src/v0/destinations/intercom/data/INTERCOMGroupConfig.json
  src/v0/destinations/intercom/data/INTERCOMIdentifyConfig.json
  src/v0/destinations/intercom/data/INTERCOMTrackConfig.json
  src/v0/destinations/intercom/deleteUsers.js
  src/v0/destinations/intercom/transform.js
  src/v0/destinations/intercom/util.js
  src/v0/destinations/intercom/util.test.js
  test/integrations/destinations/intercom/dataDelivery/data.ts
  test/integrations/destinations/intercom/deleteUsers/data.ts
  test/integrations/destinations/intercom/network.ts
  test/integrations/destinations/intercom/processor/data.ts
  test/integrations/destinations/intercom/router/data.ts
Due: js

chore: update test on category-unsubscribe
  test/integrations/destinations/clevertap/processor/data.ts
Due: none

chore: making name as a required field for every product
  src/cdk/v2/destinations/rakuten/config.js
  test/integrations/destinations/rakuten/processor/track.ts
Due: js

chore: clean up zod type
  src/types/zodTypes.ts
Due: ts

chore: update testutils
  test/integrations/testUtils.ts
Due: none

Update src/cdk/v2/destinations/rakuten/utils.js
  src/cdk/v2/destinations/rakuten/utils.js
Due: js

chore: code review changes
  src/v0/destinations/hs/util.js
Due: js

chore: address comments
  src/v0/destinations/rakuten/networkHandler.js
  src/v0/destinations/rakuten/networkHandler.test.js
  test/integrations/destinations/rakuten/dataDelivery/data.ts
  test/integrations/destinations/rakuten/network.ts
Due: js

feat: onboard new destination rakuten (#3046)
  src/cdk/v2/destinations/rakuten/config.js
  src/cdk/v2/destinations/rakuten/data/propertiesMapping.json
  src/cdk/v2/destinations/rakuten/procWorkflow.yaml
  src/cdk/v2/destinations/rakuten/utils.js
  src/cdk/v2/destinations/rakuten/utils.test.js
  src/v0/destinations/rakuten/networkHandler.js
  src/v0/destinations/rakuten/networkHandler.test.js
  test/integrations/destinations/rakuten/dataDelivery/data.ts
  test/integrations/destinations/rakuten/network.ts
  test/integrations/destinations/rakuten/processor/commonConfig.ts
  test/integrations/destinations/rakuten/processor/data.ts
  test/integrations/destinations/rakuten/processor/track.ts
  test/integrations/destinations/rakuten/processor/transformationFailure.ts
  test/integrations/testUtils.ts
Due: js

chore(release): 1.55.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: formatting updates - 2
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  src/cdk/v2/destinations/intercom/rtWorkflow.yaml
  src/cdk/v2/destinations/rakuten/utils.js
  src/v0/destinations/rakuten/networkHandler.js
  src/v0/destinations/rakuten/networkHandler.test.js
  test/integrations/testUtils.ts
Due: js

feat: initial commit
  src/v0/destinations/bluecore/config.js
  src/v0/destinations/bluecore/data/bluecoreTrackConfig.json
  src/v0/destinations/bluecore/test.js
  src/v0/destinations/bluecore/transform.js
Due: js

test: add testcases
  test/__tests__/data/auth0_source.json
Due: none

fix(intercom): retl edge case
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  test/integrations/destinations/intercom/processor/data.ts
Due: none

fix(intercom): retl edge case (#3058)
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  test/integrations/destinations/intercom/processor/data.ts
Due: none

chore: update V0 proxy request type and zod schema
  src/types/index.ts
  src/types/zodTypes.ts
  test/integrations/testUtils.ts
Due: ts

fix: trade desk extract custom properties util
  src/cdk/v2/destinations/the_trade_desk/utils.js
  src/cdk/v2/destinations/the_trade_desk/utils.test.js
  test/integrations/destinations/the_trade_desk/router/data.ts
Due: js

fix: revert "remove ztringification for nested objects and arrays in event data for custom events" commit
  src/v0/destinations/clevertap/transform.js
  test/integrations/destinations/clevertap/processor/data.ts
Due: js

chore: 1
  package-lock.json
  package.json
  test/integrations/testTypes.ts
Due: none

fix: trade desk enrichTrackPayload util (#3059)
  src/cdk/v2/destinations/the_trade_desk/utils.js
  src/cdk/v2/destinations/the_trade_desk/utils.test.js
  test/integrations/destinations/the_trade_desk/router/data.ts
Due: js

feat: initial commit
  src/v0/destinations/bluecore/config.js
  src/v0/destinations/bluecore/data/bluecoreIdentifyConfig.json
  src/v0/destinations/bluecore/data/bluecoreTrackConfig.json
  src/v0/destinations/bluecore/transform.js
  src/v0/destinations/bluecore/util.js
Due: js

chore: adding source parameter as rudderstack for rakuten
  src/cdk/v2/destinations/rakuten/procWorkflow.yaml
  test/integrations/destinations/rakuten/dataDelivery/data.ts
  test/integrations/destinations/rakuten/network.ts
  test/integrations/destinations/rakuten/processor/track.ts
Due: none

fix: error handling for auth0 source (#3038)
  src/v0/sources/auth0/transform.js
  test/__tests__/auth0_source.test.js
  test/__tests__/data/auth0_source.json
Due: js

chore: restore intercom js code
  src/v0/destinations/intercom/config.js
  src/v0/destinations/intercom/data/INTERCOMGroupConfig.json
  src/v0/destinations/intercom/data/INTERCOMIdentifyConfig.json
  src/v0/destinations/intercom/data/INTERCOMTrackConfig.json
  src/v0/destinations/intercom/transform.js
  src/v0/destinations/intercom/util.js
  src/v0/destinations/intercom/util.test.js
  test/integrations/destinations/intercom/processor/data.ts
  test/integrations/destinations/intercom/router/data.ts
Due: js

chore: restore intercom js code (#3062)
  src/v0/destinations/intercom/config.js
  src/v0/destinations/intercom/data/INTERCOMGroupConfig.json
  src/v0/destinations/intercom/data/INTERCOMIdentifyConfig.json
  src/v0/destinations/intercom/data/INTERCOMTrackConfig.json
  src/v0/destinations/intercom/transform.js
  src/v0/destinations/intercom/util.js
  src/v0/destinations/intercom/util.test.js
  test/integrations/destinations/intercom/processor/data.ts
  test/integrations/destinations/intercom/router/data.ts
Due: js

feat: finalising track calls
  src/v0/destinations/bluecore/transform.js
Due: js

fix: gaoc batching order
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
Due: js

fix: add missing user-deletion tests for iterable
  test/integrations/destinations/iterable/deleteUsers/data.ts
  test/integrations/destinations/iterable/network.ts
Due: none

chore: small commit
  src/v0/destinations/bluecore/data/bluecoreIdentifyConfig.json
  src/v0/destinations/bluecore/data/bluecoreTrackConfig.json
  src/v0/destinations/bluecore/transform.js
Due: js

feat: initial commit
  src/v0/destinations/freshsales/transform.js
  test/integrations/destinations/freshsales/processor/data.ts
Due: js

feat: adding custom field support
  src/v0/destinations/freshsales/transform.js
  src/v0/destinations/freshsales/utils.js
  src/v0/destinations/freshsales/utils.test.js
Due: js

fix: addition of custify user-deletion tests
  test/integrations/destinations/custify/deleteUsers/data.ts
  test/integrations/destinations/custify/network.ts
Due: none

fix(hs): test case response
  test/integrations/destinations/hs/processor/data.ts
Due: none

chore: code refactor
  src/v0/destinations/hs/util.js
  src/v0/destinations/hs/util.test.js
Due: js

refactor getExistingContactsData
  src/v0/destinations/hs/util.js
Due: js

refactor getExistingContactsData
  src/v0/destinations/hs/util.test.js
Due: js

feat(hs): chunking data based on batch limit (#2907)
  src/v0/destinations/hs/config.js
  src/v0/destinations/hs/util.js
  src/v0/destinations/hs/util.test.js
  test/integrations/destinations/hs/processor/data.ts
Due: js
