Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore(user-transformer): move some high cardinality metrics to summaries
  src/legacy/router.js
  src/middleware.js
  src/services/userTransform.ts
  src/util/customTransformer-v1.js
  src/util/customTransformer.js
  src/util/customTransforrmationsStore-v1.js
  src/util/customTransforrmationsStore.js
  src/util/openfaas/index.js
  src/util/prometheus.js
  src/util/stats.js
  src/util/statsd.js
Due: js, ts

chore(user-transformer): move some high cardinality metrics to summaries
  src/middleware.js
Due: js

exp: javy& wasmtime-go
  wasm-play/README.md
  wasm-play/go.mod
  wasm-play/go.sum
  wasm-play/index.js
  wasm-play/main.go
  wasm-play/samples/hello.js
  wasm-play/samples/hello.wasm
  wasm-play/samples/index.wit
  wasm-play/wrapper.js
Due: none

fix: add validation for null/undefined traits in slack
  src/v0/destinations/slack/util.js
  test/integrations/destinations/slack/processor/data.ts
Due: js

fix: tiktok_v2 remove default value for content-type for custom events
  src/v0/destinations/tiktok_ads/data/TikTokTrackV2.json
  src/v0/destinations/tiktok_ads/transformV2.js
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: js

fix: gaoc store sales batching transform contract
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
Due: js

fix: move af_currency outside properties in eventValue (#3316)
  src/v0/destinations/af/transform.js
  test/integrations/destinations/af/processor/data.ts
Due: js

fix: addressed comments
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/transformV2.js
  test/integrations/destinations/fb_custom_audience/router/data.ts
Due: js

fix: test shopify
  src/v1/sources/webhook/transform.js
Due: js

fix: gaoc store sales batching transform contract (#3384)
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
Due: js

feat: bun init
  .eslintignore
  pnpm-lock.yaml
  src/legacy/router.js
Due: js

chore: refactor logic
  src/cdk/v2/destinations/klaviyo_bulk_upload/config.js
  src/cdk/v2/destinations/klaviyo_bulk_upload/rtWorkflow.yaml
  src/cdk/v2/destinations/klaviyo_bulk_upload/utils.js
  src/constants/destinationCanonicalNames.js
  src/features.json
Due: js

chore: added error testcase
  src/v0/destinations/fb_custom_audience/transformV2.js
  test/integrations/destinations/fb_custom_audience/router/data.ts
Due: js

chore: fetch and checkout the pull request head commit instead of merge commit
  .github/workflows/build-push-docker-image.yml
Due: none

chore: address comment
  src/v0/destinations/facebook_pixel/utils.js
  test/integrations/destinations/facebook_conversions/processor/data.ts
  test/integrations/destinations/facebook_pixel/processor/validationTestData.ts
Due: js

feat(integrations/auth0): include Auth0 event type in Rudderstack message (#3370)
  src/v0/sources/auth0/mapping.json
  test/integrations/sources/auth0/data.ts
Due: none

fix: remove default traits from ortto
  src/cdk/v2/destinations/ortto/procWorkflow.yaml
  test/integrations/destinations/ortto/processor/data.ts
  test/integrations/destinations/ortto/router/data.ts
Due: none

chore: added batching test
  src/v0/destinations/fb_custom_audience/transformV2.js
  test/integrations/destinations/fb_custom_audience/router/data.ts
Due: js

fix: remove default traits from ortto (#3389)
  src/cdk/v2/destinations/ortto/procWorkflow.yaml
  test/integrations/destinations/ortto/processor/data.ts
  test/integrations/destinations/ortto/router/data.ts
Due: none

feat: filtering unknown events in awin
  src/v0/destinations/awin/transform.js
  test/integrations/destinations/awin/data.ts
Due: js

chore: add test case
  src/v0/destinations/facebook_pixel/utils.js
  test/integrations/destinations/facebook_pixel/processor/validationTestData.ts
Due: js

fix: add validation for null/undefined traits in slack (#3382)
  src/v0/destinations/slack/util.js
  test/integrations/destinations/slack/processor/data.ts
Due: js

fix: update validation of event duration (#3376)
  src/v0/destinations/facebook_conversions/transform.js
  src/v0/destinations/facebook_pixel/transform.js
  src/v0/destinations/facebook_pixel/utils.js
  src/v0/destinations/facebook_pixel/utils.test.js
  test/integrations/destinations/facebook_conversions/processor/data.ts
  test/integrations/destinations/facebook_pixel/processor/validationTestData.ts
Due: js

chore(release): 1.66.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: resolving comments
  src/cdk/v2/destinations/koddi/config.js
  src/cdk/v2/destinations/koddi/procWorkflow.yaml
  src/cdk/v2/destinations/koddi/utils.js
  src/cdk/v2/destinations/koddi/utils.test.js
  test/integrations/destinations/koddi/processor/clicks.ts
  test/integrations/destinations/koddi/processor/conversions.ts
  test/integrations/destinations/koddi/processor/impressions.ts
  test/integrations/destinations/koddi/router/data.ts
Due: js

feat: custom mappings updates for ga4
  package-lock.json
  package.json
  src/v0/destinations/ga4/customMappingsHandler.js
  src/v0/destinations/ga4/transform.js
  src/v0/destinations/ga4/utils.js
  src/v0/util/index.js
Due: js

fix: onboard adjust source
  src/v0/sources/adjust/config.ts
  src/v0/sources/adjust/mapping.json
  src/v0/sources/adjust/transform.js
  test/integrations/sources/adjust/data.ts
Due: js, ts

feat: onboard adjust source
  src/v0/sources/adjust/mapping.json
  src/v0/sources/adjust/transform.js
  test/integrations/sources/adjust/data.ts
Due: js

add location object support
  src/cdk/v2/destinations/klaviyo_bulk_upload/procWorkflow.yaml
  src/cdk/v2/destinations/klaviyo_bulk_upload/utils.js
  test/integrations/destinations/klaviyo_bulk_upload/processor/data.ts
Due: js

chore: fetch and checkout the pull request head commit instead of merge commit (#3388)
  .github/workflows/build-push-docker-image.yml
Due: none

fix: bugsnag issue in braze for processor transformation
  src/v0/destinations/braze/transform.js
  src/v0/util/index.js
Due: js

fix: use trim before hashing for GAOC,GAEC,impact,YDSP,fb and fbconv
  src/v0/destinations/facebook_offline_conversions/utils.js
  src/v0/destinations/fb/transform.js
  src/v0/destinations/google_adwords_enhanced_conversions/data/trackConfig.json
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/impact/transform.js
  src/v0/destinations/yahoo_dsp/util.js
  test/integrations/destinations/facebook_offline_conversions/processor/data.ts
  test/integrations/destinations/fb/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_offline_conversions/processor/data.ts
  test/integrations/destinations/impact/processor/data.ts
  test/integrations/destinations/yahoo_dsp/processor/data.ts
Due: js

feat: small edit
  src/v0/sources/adjust/config.ts
  src/v0/sources/adjust/mapping.json
  test/integrations/sources/adjust/data.ts
Due: ts

chore: update parameters for simpleProcessRouterDest
  src/v0/util/index.js
Due: js

fix: chaged info to debug logs
  src/v1/destinations/campaign_manager/networkHandler.js
Due: js

feat: custom mappings onboard component tests
  src/v0/destinations/ga4/customMappingsHandler.js
  test/integrations/destinations/ga4/processor/customMappings.ts
  test/integrations/destinations/ga4/processor/data.ts
  test/integrations/destinations/ga4/processor/exisitngTests.ts
Due: js

feat: webhook destination: introduce batching
  test/integrations/destinations/webhook/commonConfig.ts
  test/integrations/destinations/webhook/router/basicProperties.ts
  test/integrations/destinations/webhook/router/data.ts
Due: none

feat: fix lin error
  src/v0/util/index.js
Due: js

feat: add json-data type support in redis (#3336)
  src/v0/destinations/redis/transform.js
  test/integrations/destinations/redis/processor/data.ts
  test/integrations/destinations/redis/types.ts
Due: js

chore: refactor webhook router component test cases
  test/integrations/destinations/webhook/commonConfig.ts
  test/integrations/destinations/webhook/router/basicProperties.ts
  test/integrations/destinations/webhook/router/data.ts
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
