Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: add jobidentifier logic
  src/cdk/v2/destinations/klaviyo_bulk_upload/utils.js
Due: js

fix: handle response formation for custom event
  src/v0/destinations/ga4/customMappingsHandler.js
  test/integrations/destinations/ga4/processor/customMappings.ts
Due: js

fix: remove individual commits from CHANGELOG.md
  CHANGELOG.md
Due: none

chore: addressed review comments
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/util.js
Due: js

chore: fix exports, tests, rtflow removed
  src/cdk/v2/destinations/klaviyo_bulk_upload/procWorkflow.yaml
  src/cdk/v2/destinations/klaviyo_bulk_upload/rtWorkflow.yaml
  src/cdk/v2/destinations/klaviyo_bulk_upload/utils.js
  test/integrations/destinations/klaviyo_bulk_upload/processor/data.ts
  test/integrations/destinations/klaviyo_bulk_upload/router/data.ts
Due: js

chore: logging capability through metadata
  src/controllers/delivery.ts
  src/controllers/destination.ts
  src/helpers/metadata/binder.ts
  src/helpers/metadata/metadata.ts
  src/helpers/metadata/types.ts
  src/types/index.ts
Due: ts

chore: metadata enabled logging for gaec
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
Due: js

chore: addressed comments
  src/v0/destinations/google_adwords_remarketing_lists/config.js
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/destinations/google_adwords_remarketing_lists/util.js
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
Due: js

feat: onboarding adjust source (#3395)
  src/v0/sources/adjust/config.ts
  src/v0/sources/adjust/mapping.json
  src/v0/sources/adjust/transform.js
  test/integrations/sources/adjust/data.ts
Due: js, ts

fix: fb custom audience html response (#3402)
  src/v0/util/facebookUtils/index.js
  src/v0/util/facebookUtils/index.test.js
  src/v0/util/facebookUtils/networkHandler.js
  test/integrations/destinations/fb_custom_audience/dataDelivery/other.ts
  test/integrations/destinations/fb_custom_audience/network.ts
Due: js

fix: adding test cases for old and new config
  test/integrations/destinations/af/processor/data.ts
Due: none

chore: update test case with updated api version
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
Due: none

chore: update PR template for adding test cases in new format
  .github/pull_request_template.md
Due: none

chore: update in bold
  .github/pull_request_template.md
Due: none

chore: refactor log implementation using injection into metadata
  src/controllers/delivery.ts
  src/helpers/metadata/binder.ts
  src/helpers/metadata/metadata.ts
  src/helpers/metadata/types.ts
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
Due: js, ts

chore: address review comments, refactor
  src/cdk/v2/destinations/klaviyo_bulk_upload/utils.js
Due: js

Update src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
Due: js

fix: allowing traffic type dynamically for split.io
  src/v0/destinations/splitio/data/EventConfig.json
  src/v0/destinations/splitio/transform.js
  test/integrations/destinations/splitio/processor/data.ts
Due: js

fix: tiktok_v2 assigning value to undefined properties
  src/v0/destinations/tiktok_ads/transformV2.js
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: js

chore: address comments
  src/v0/destinations/tiktok_ads/transformV2.js
Due: js

fix: tiktok_v2 assigning value to undefined properties (#3426)
  src/v0/destinations/tiktok_ads/transformV2.js
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: js

chore(release): 1.68.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: changes added for implementing batching
  src/cdk/v2/destinations/webhook/rtWorkflow.yaml
  src/cdk/v2/destinations/webhook/utils.js
  test/integrations/destinations/webhook/commonConfig.ts
  test/integrations/destinations/webhook/router/data.ts
Due: js

fix: bugsnag error for emarsys track call
  src/cdk/v2/destinations/emarsys/utils.js
  test/integrations/destinations/emarsys/processor/data.ts
Due: js

fix: bugsnag error for emarsys track call (#3428)
  src/cdk/v2/destinations/emarsys/utils.js
  test/integrations/destinations/emarsys/processor/data.ts
Due: js

chore: adding unit test case for emarsys issue, removing component test
  src/cdk/v2/destinations/emarsys/utils.test.js
  test/integrations/destinations/emarsys/processor/data.ts
Due: js

chore(release): pull hotfix-release/v1.68.1 into main (#3427)
  CHANGELOG.md
  package-lock.json
  package.json
  src/cdk/v2/destinations/emarsys/utils.js
  src/v0/destinations/tiktok_ads/transformV2.js
  test/integrations/destinations/emarsys/processor/data.ts
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: js

chore(release): pull main into develop post release v1.68.1 (#3430)
  CHANGELOG.md
  package-lock.json
  package.json
  src/cdk/v2/destinations/emarsys/utils.js
  src/v0/destinations/tiktok_ads/transformV2.js
  test/integrations/destinations/emarsys/processor/data.ts
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: js

chore: changes in test transform API
  src/controllers/userTransform.ts
  src/services/userTransform.ts
  src/util/customTransformer.js
  test/__tests__/user_transformation.test.js
  test/__tests__/user_transformation_errors.test.js
  test/__tests__/user_transformation_fetch.test.js
Due: js, ts

fix: credential param
  src/util/customTransformer.js
Due: js

fix: test
  src/legacy/router.js
  test/__tests__/user_transformation.integration.test.js
Due: js

feat(integrations/auth0): add Auth0 event type to event context
  src/v0/sources/auth0/mapping.json
  test/integrations/sources/auth0/data.ts
Due: none

chore: pr template update (#3423)
  .github/pull_request_template.md
Due: none

chore: added steps in rtWorkflow and batchBuilder func
  src/cdk/v2/destinations/webhook/rtWorkflow.yaml
  src/cdk/v2/destinations/webhook/utils.js
  test/integrations/destinations/webhook/commonConfig.ts
  test/integrations/destinations/webhook/router/data.ts
Due: js

feat: add tags to a company
  src/cdk/v2/destinations/intercom/config.js
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom/utils.test.js
Due: js

chore: adding some logs to emarsys
  src/cdk/v2/destinations/emarsys/utils.js
Due: js

fix: credential error handling
  src/types/index.ts
  src/util/ivmFactory.js
Due: js, ts

chore: added tests
  test/__tests__/user_transformation.test.js
Due: none

chore: added errors in credentials
  src/util/ivmFactory.js
  test/__tests__/user_transformation.test.js
Due: js

chore: addressed comments
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/util.test.js
Due: js
