Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: update test case for group
  test/integrations/destinations/ga4_v2/processor/customMappings.ts
Due: none

fix: update for sonar issue
  src/v0/destinations/ga4_v2/customMappingsHandler.js
Due: js

chore: minor refactor
  src/v0/destinations/ga4/transform.js
  src/v0/destinations/ga4/utils.js
  src/v0/destinations/ga4_v2/transform.ts
Due: js, ts

chore: minor refactot for ga4_v2
  src/v0/destinations/ga4_v2/transform.ts
Due: ts

chore: add email identifier for klaviyo bulk
  src/cdk/v2/destinations/klaviyo_bulk_upload/utils.js
Due: js

chore: onboard custom mappings for GA4_v2 (#3289)
  package-lock.json
  package.json
  src/v0/destinations/ga4/transform.js
  src/v0/destinations/ga4/utils.js
  src/v0/destinations/ga4_v2/customMappingsHandler.js
  src/v0/destinations/ga4_v2/transform.ts
  src/v0/util/index.js
  src/v0/util/mapWithJSONPath.js
  test/integrations/destinations/ga4/processor/data.ts
  test/integrations/destinations/ga4/processor/exisitngTests.ts
  test/integrations/destinations/ga4_v2/mocks.ts
  test/integrations/destinations/ga4_v2/processor/customMappings.ts
  test/integrations/destinations/ga4_v2/processor/data.ts
Due: js, ts

chore: set appropriate level for metalogger in benchmarking
  benchmark/metaLogger.js
Due: none

feat: added error handler
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom/utils.test.js
Due: js

feat(integrations/auth0): move Auth0 event type to event properties
  src/v0/sources/auth0/mapping.json
  test/integrations/sources/auth0/data.ts
Due: none

fix: update network handler for legacy api
  src/v0/destinations/hs/transform.js
  src/v1/destinations/hs/networkHandler.js
  test/integrations/destinations/hs/dataDelivery/business.ts
  test/integrations/destinations/hs/dataDelivery/other.ts
Due: js

chore: added check for multiple arguments
  src/util/ivmFactory.js
  test/__tests__/user_transformation.test.js
Due: js

chore: change in lodash import
  src/util/customTransformer.js
Due: js

chore: load env in logger and fix logLevel condition logic
  src/logger.js
Due: js

chore: add request logs for google adwords destinations
  src/adapters/network.js
  src/logger.js
  src/v0/destinations/campaign_manager/transform.js
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
Due: js

chore: address comment
  src/v1/destinations/hs/networkHandler.ts
  test/integrations/destinations/hs/dataDelivery/business.ts
  test/integrations/destinations/hs/network.ts
Due: ts

feat: onboard new custom destination: wunderkind
  src/cdk/v2/destinations/wunderkind/procWorkflow.yaml
  src/cdk/v2/destinations/wunderkind/rtWorkflow.yaml
  src/features.json
Due: none

chore: call env load before importing logger - set level as part of initialisation
  src/index.ts
  src/logger.js
Due: js, ts

feat: onboard user API for onesignal
  src/v0/destinations/one_signal/config.js
  src/v0/destinations/one_signal/data/OneSignalIdentifyConfigV2.json
  src/v0/destinations/one_signal/data/OneSignalSubscriptionConfig.json
  src/v0/destinations/one_signal/transform.js
  src/v0/destinations/one_signal/transformV2.js
  src/v0/destinations/one_signal/util.js
Due: js

chore: add aliases from one signal intg object
  src/v0/destinations/one_signal/transformV2.js
  src/v0/destinations/one_signal/util.js
Due: js

feat: aggregate metrics in a worker thread
  src/util/cluster.js
  src/util/metricsAggregator.js
  src/util/prometheus.js
  src/util/stats.js
  src/util/worker.js
Due: js

feat: metrics aggregator - reject new request if a request is already being processed
  src/util/metricsAggregator.js
Due: js

chore: upgrade integrations-lib
  package-lock.json
  package.json
Due: none

chore: remove old references of logger
  src/v0/destinations/braze/util.js
  src/v0/sources/adjust/transform.js
Due: js

chore: refactor fire http stats - update monday response log message - add request log in klaviyo - add labels for outgoing request prometheus metrics
  src/adapters/network.js
  src/util/prometheus.js
  src/v0/destinations/klaviyo/util.js
  src/v1/destinations/monday/networkHandler.js
Due: js

chore: add logic to trigger stats for destinations that don't send metadata
  src/adapters/network.js
Due: js

chore: issues with func args fixed
  src/adapters/network.js
Due: js

fix: addressing comments
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom/utils.test.js
Due: js

chore: debug-1
  src/logger.js
Due: js

chore: debug-2
  src/logger.js
Due: js

chore: upgrade json template packages
  package-lock.json
  package.json
Due: none

chore: debug-3
  src/logger.js
Due: js

chore: fix levels problem - upgrade integrations-lib - utilise modified LOGLEVELS
  package-lock.json
  package.json
  src/logger.js
Due: js

feat(integrations): better
  src/v0/sources/auth0/mapping.json
  test/integrations/sources/auth0/data.ts
Due: none

fix: added 502 and 408 as retryable status codes
  src/util/openfaas/index.js
Due: js

fix: restructured the code to throw retryable code everytime in case of unexpected error
  src/util/openfaas/index.js
Due: js

chore: move mailchimp from myaxios to httpget
  src/v0/destinations/mailchimp/utils.js
  test/integrations/destinations/mailchimp/network.ts
Due: js

chore: update router tests descriptions in fb pixel
  test/integrations/destinations/facebook_pixel/router/data.ts
Due: none

chore: add verify server start workflow
  .github/workflows/verify-server-start.yml
  package-lock.json
  package.json
Due: none

chore: update with metrics for alias miss-configured
  src/util/prometheus.js
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/transform.js
  src/v0/destinations/braze/util.js
Due: js
