Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: adding doc ref
  src/v0/destinations/salesforce/utils.js
Due: js

fix: linkedin ads conversionValue object as well as price is not mandatory (#3860)
  src/cdk/v2/destinations/linkedin_ads/utils.js
  src/cdk/v2/destinations/linkedin_ads/utils.test.js
  test/integrations/destinations/linkedin_ads/processor/validationTestData.ts
Due: js

fix: added handling for escape
  src/v0/destinations/marketo_bulk_upload/transform.js
  test/integrations/destinations/marketo_bulk_upload/processor/data.ts
Due: js

fix: correcting mock
  test/integrations/destinations/salesforce_oauth_sandbox/dataDelivery/business.ts
  test/integrations/destinations/salesforce_oauth_sandbox/dataDelivery/data.ts
  test/integrations/destinations/salesforce_oauth_sandbox/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth_sandbox/network.ts
Due: none

chore: update fxn name
  src/v1/sources/shopify/transform.js
Due: js

fix: adding error message dynamically
  src/v0/destinations/salesforce/utils.js
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce/dataDelivery/data.ts
Due: js

fix: marketo bulk upload handle special chars (#3859)
  src/v0/destinations/marketo_bulk_upload/transform.js
  test/integrations/destinations/marketo_bulk_upload/processor/data.ts
Due: js

fix: adding throttled status code for server unavailable error in salesforce (#3862)
  src/v0/destinations/salesforce/utils.js
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce/dataDelivery/data.ts
  test/integrations/destinations/salesforce/dataDelivery/other.ts
Due: js

chore: resolve conflicts
  CHANGELOG.md
  package-lock.json
  package.json
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  src/v0/util/index.test.js
  test/apitests/data_scenarios/cdk_v2/failure.json
  test/apitests/data_scenarios/cdk_v2/success.json
  test/apitests/data_scenarios/destination/proc/batch_input_multiplex.json
  test/apitests/data_scenarios/destination/proc/multiplex_partial_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_success.json
  test/apitests/data_scenarios/destination/router/failure_test.json
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
  test/integrations/destinations/pinterest_tag/processor/data.ts
  test/integrations/destinations/pinterest_tag/router/data.ts
  test/integrations/destinations/pinterest_tag/step/data.ts
Due: js

fix: handling invalid timestamp for adjust source
  src/v0/sources/adjust/transform.js
  test/integrations/sources/adjust/data.ts
Due: js

chore: resolve conflicts and merge main to develop (#3865)
  CHANGELOG.md
  package-lock.json
  package.json
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  src/v0/util/index.test.js
  test/apitests/data_scenarios/cdk_v2/failure.json
  test/apitests/data_scenarios/cdk_v2/success.json
  test/apitests/data_scenarios/destination/proc/batch_input_multiplex.json
  test/apitests/data_scenarios/destination/proc/multiplex_partial_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_success.json
  test/apitests/data_scenarios/destination/router/failure_test.json
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
  test/integrations/destinations/pinterest_tag/processor/data.ts
  test/integrations/destinations/pinterest_tag/router/data.ts
  test/integrations/destinations/pinterest_tag/step/data.ts
Due: js

chore: resolve conflicts again
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: none

fix: small change in logic
  src/v0/sources/adjust/transform.js
  test/integrations/sources/adjust/data.ts
Due: js

fix: unnecessary line removal
  test/integrations/testUtils.ts
Due: none

fix: unnecessary line removal
  src/v0/sources/adjust/transform.js
  test/integrations/testUtils.ts
Due: js

chore: resolve conflicts again (#3867)
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: none

chore: update integrations-lib library
  package-lock.json
  package.json
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
Due: none

chore: remove repeated test cases
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: none

chore(release): 1.84.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: moved userSchema to connection config in GARL vdmv2
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/destinations/google_adwords_remarketing_lists/util.js
  src/v0/destinations/google_adwords_remarketing_lists/util.test.js
Due: js

feat: moved userSchema to connection config in GARL vdmv2
  src/v0/destinations/google_adwords_remarketing_lists/config.js
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  src/v0/destinations/google_adwords_remarketing_lists/util.js
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/record.ts
Due: js

chore: added tests
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/record.ts
Due: none

feat: added support to eu/us2 datacenter for gainsight px destination
  src/v0/destinations/gainsight_px/config.js
  src/v0/destinations/gainsight_px/transform.js
  src/v0/destinations/gainsight_px/util.js
Due: js

chore: remove query_parameter injection
  src/controllers/util/conversionStrategies/strategyV2ToV0.ts
  src/controllers/util/conversionStrategies/strategyV2ToV1.ts
  src/controllers/util/index.test.ts
Due: ts

chore. clean up marketo implementation for fileupload et al.
  src/util/fetchDestinationHandlers.ts
  src/v0/destinations/marketo_bulk_upload/config.js
  src/v0/destinations/marketo_bulk_upload/fetchJobStatus.js
  src/v0/destinations/marketo_bulk_upload/fileUpload.js
  src/v0/destinations/marketo_bulk_upload/marketo_bulk_upload.util.test.js
  src/v0/destinations/marketo_bulk_upload/poll.js
  src/v0/destinations/marketo_bulk_upload/uploadFile/marketo_bulk_upload_example.csv
  src/v0/destinations/marketo_bulk_upload/util.js
  test/__tests__/data/marketo_bulk_upload_fileUpload_input.json
  test/__tests__/data/marketo_bulk_upload_fileUpload_output.json
  test/__tests__/data/marketo_bulk_upload_input.json
  test/__tests__/data/marketo_bulk_upload_jobStatus_input.json
  test/__tests__/data/marketo_bulk_upload_jobStatus_output.json
  test/__tests__/data/marketo_bulk_upload_output.json
  test/__tests__/data/marketo_bulk_upload_poll_input.json
  test/__tests__/data/marketo_bulk_upload_poll_output.json
  test/__tests__/marketo_bulk_upload.test.js
Due: js, ts

feat: moved userSchema to connection config in GARL vdmv2 (#3870)
  src/v0/destinations/google_adwords_remarketing_lists/config.js
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/destinations/google_adwords_remarketing_lists/util.js
  src/v0/destinations/google_adwords_remarketing_lists/util.test.js
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/record.ts
Due: js

fix: added unit test
  src/v0/destinations/gainsight_px/config.js
  src/v0/destinations/gainsight_px/config.test.js
Due: js

chore: fix workflow to consider empty commits
  .github/workflows/verify.yml
Due: none

feat: iterable EUDC (#3828)
  src/v0/destinations/iterable/config.js
  src/v0/destinations/iterable/transform.js
  src/v0/destinations/iterable/util.js
  test/integrations/destinations/iterable/processor/aliasTestData.ts
  test/integrations/destinations/iterable/processor/identifyTestData.ts
  test/integrations/destinations/iterable/processor/pageScreenTestData.ts
  test/integrations/destinations/iterable/processor/trackTestData.ts
  test/integrations/destinations/iterable/router/data.ts
Due: js

chore: fix lint errors
  src/cdk/v2/destinations/linkedin_audience/utils.ts
Due: ts

feat: now getting consent related fields from connection config from retl for GARL
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/record.ts
Due: js

feat: now getting consent related fields from connection config from retl for GARL (#3877)
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/record.ts
Due: js

fix: handle subaccount case in gaec
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
Due: js

chore: output of conversion is optional
  src/controllers/util/conversionStrategies/strategyV1ToV2.ts
  src/controllers/util/conversionStrategies/strategyV2ToV0.ts
  src/controllers/util/conversionStrategies/strategyV2ToV1.ts
  src/controllers/util/index.test.ts
  src/services/source/nativeIntegration.ts
  src/types/index.ts
Due: ts

chore: added test cases for v1-v2 conversion errors
  src/controllers/util/index.test.ts
Due: ts

fix: comments addressed
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

fix: adding transformer proxy for iterable
  src/v0/destinations/iterable/config.js
  src/v0/destinations/iterable/util.js
  src/v0/destinations/iterable/util.test.js
  src/v1/destinations/iterable/networkHandler.js
Due: js

fix: added more tests
  src/v0/destinations/intercom_v2/transform.js
  test/integrations/destinations/intercom_v2/network.ts
  test/integrations/destinations/intercom_v2/router/data.ts
  test/integrations/destinations/intercom_v2/router/rETL.ts
Due: js

fix: adding component test cases
  src/v0/destinations/iterable/config.js
  src/v0/destinations/iterable/util.js
  src/v0/destinations/iterable/util.test.js
  src/v1/destinations/iterable/networkHandler.js
  test/integrations/destinations/iterable/dataDelivery/business.ts
  test/integrations/destinations/iterable/dataDelivery/data.ts
  test/integrations/destinations/iterable/dataDelivery/network.ts
Due: js
