Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: update to last 20 history
  .github/workflows/allure-test-reporter.yml
Due: none

fix: stitched events through redis in pixel
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

chore: integrate allure ci (#3959)
  .github/workflows/allure-test-reporter.yml
  .github/workflows/component-test-report.yml
Due: none

fix: stitched events through redis in pixel
  src/v1/sources/shopify/config.js
Due: js

fix: stitched events through redis in pixel
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

feat: new destination for accoil analytics
  src/cdk/v2/destinations/accoil_analytics/procWorkflow.yaml
  src/cdk/v2/destinations/accoil_analytics/rtWorkflow.yaml
  src/cdk/v2/destinations/accoil_analytics/utils.js
  test/integrations/destinations/accoil_analytics/processor/data.ts
  test/integrations/destinations/accoil_analytics/router/data.ts
Due: js

feat: removed anonymousId mapping, added ACCOIL_ANALYTICS to features.ts
  src/cdk/v2/destinations/accoil_analytics/procWorkflow.yaml
  src/features.ts
Due: ts

fix: upgrade zod from 3.22.4 to 3.24.1
  package-lock.json
  package.json
Due: none

fix: upgrade @aws-sdk/lib-storage from 3.637.0 to 3.714.0
  package-lock.json
  package.json
Due: none

fix: upgrade @aws-sdk/client-personalize from 3.642.0 to 3.714.0
  package-lock.json
  package.json
Due: none

fix: airship mapping issue
  src/v0/destinations/airship/config.js
  test/integrations/destinations/airship/processor/data.ts
Due: js

chore: updated test cases to identify
  test/integrations/destinations/airship/processor/data.ts
Due: none

chore: update node package
  Dockerfile
Due: none

chore: fix formating
  .eslintignore
  .github/workflows/allure-test-reporter.yml
  .github/workflows/build-push-docker-image.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
  src/cdk/v2/destinations/reddit/rtWorkflow.yaml
Due: none

deploy: 97838bf9751d77cf86eb33ab0a15b5ba1a4a45a9
  23/app.js
  23/data/behaviors.csv
  23/data/behaviors.json
  23/data/categories.csv
  23/data/categories.json
  23/data/packages.json
  23/data/suites.csv
  23/data/suites.json
  23/data/timeline.json
  23/export/influxDbData.txt
  23/export/mail.html
  23/export/prometheusData.txt
  23/favicon.ico
  23/history/categories-trend.json
  23/history/duration-trend.json
  23/history/history-trend.json
  23/history/history.json
  23/history/retry-trend.json
  23/index.html
  23/plugin/behaviors/index.js
  23/plugin/packages/index.js
  23/plugin/screen-diff/index.js
  23/plugin/screen-diff/styles.css
  23/styles.css
  23/widgets/behaviors.json
  23/widgets/categories-trend.json
  23/widgets/categories.json
  23/widgets/duration-trend.json
  23/widgets/duration.json
  23/widgets/environment.json
  23/widgets/executors.json
  23/widgets/history-trend.json
  23/widgets/launch.json
  23/widgets/retry-trend.json
  23/widgets/severity.json
  23/widgets/status-chart.json
  23/widgets/suites.json
  23/widgets/summary.json
  index.html
  last-history/duration-trend.json
Due: none

chore: logs to track webhook source implementation version
  src/controllers/source.ts
Due: ts

deploy: be11ab430fec8c50256ec0b9c3df3f74f16f6686
  24/app.js
  24/data/behaviors.csv
  24/data/behaviors.json
  24/data/categories.csv
  24/data/categories.json
  24/data/packages.json
  24/data/suites.csv
  24/data/suites.json
  24/data/timeline.json
  24/export/influxDbData.txt
  24/export/mail.html
  24/export/prometheusData.txt
  24/favicon.ico
  24/history/categories-trend.json
  24/history/duration-trend.json
  24/history/history-trend.json
  24/history/history.json
  24/history/retry-trend.json
  24/index.html
  24/plugin/behaviors/index.js
  24/plugin/packages/index.js
  24/plugin/screen-diff/index.js
  24/plugin/screen-diff/styles.css
  24/styles.css
  24/widgets/behaviors.json
  24/widgets/categories-trend.json
  24/widgets/categories.json
  24/widgets/duration-trend.json
  24/widgets/duration.json
  24/widgets/environment.json
  24/widgets/executors.json
  24/widgets/history-trend.json
  24/widgets/launch.json
  24/widgets/retry-trend.json
  24/widgets/severity.json
  24/widgets/status-chart.json
  24/widgets/suites.json
  24/widgets/summary.json
  index.html
  last-history/duration-trend.json
Due: none

chore: add tests
  src/v1/sources/shopify/transform.js
  src/v1/sources/shopify/utils.js
  src/v1/sources/shopify/utils.test.js
Due: js

deploy: 84cb18d11357bd802fdb0a101b884dd01bf3e7a0
  26/app.js
  26/data/behaviors.csv
  26/data/behaviors.json
  26/data/categories.csv
  26/data/categories.json
  26/data/packages.json
  26/data/suites.csv
  26/data/suites.json
  26/data/timeline.json
  26/export/influxDbData.txt
  26/export/mail.html
  26/export/prometheusData.txt
  26/favicon.ico
  26/history/categories-trend.json
  26/history/duration-trend.json
  26/history/history-trend.json
  26/history/history.json
  26/history/retry-trend.json
  26/index.html
  26/plugin/behaviors/index.js
  26/plugin/packages/index.js
  26/plugin/screen-diff/index.js
  26/plugin/screen-diff/styles.css
  26/styles.css
  26/widgets/behaviors.json
  26/widgets/categories-trend.json
  26/widgets/categories.json
  26/widgets/duration-trend.json
  26/widgets/duration.json
  26/widgets/environment.json
  26/widgets/executors.json
  26/widgets/history-trend.json
  26/widgets/launch.json
  26/widgets/retry-trend.json
  26/widgets/severity.json
  26/widgets/status-chart.json
  26/widgets/suites.json
  26/widgets/summary.json
  index.html
  last-history/duration-trend.json
Due: none

fix: refactor code and add validation for values
  src/v0/destinations/google_adwords_offline_conversions/data/TrackAddStoreConversionsConfig.json
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/destinations/google_adwords_offline_conversions/processor/data.ts
Due: js

fix: add email validation in HS
  package-lock.json
  package.json
  src/v0/destinations/hs/HSTransform-v2.js
  test/integrations/destinations/hs/processor/data.ts
Due: js

chore: add campaign object support in web pixel events
  src/v1/sources/shopify/pixelEventsMappings/campaignObjectMappings.json
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.js
  test/integrations/sources/shopify/constants.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
Due: js
