Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore(release): 1.70.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update log level to always lower-case
  src/logger.js
Due: js

chore: refactor code
  src/v0/destinations/drip/util.js
  src/v0/destinations/trengo/transform.js
Due: js

chore: update changelog to include metric aggregation in a thread
  CHANGELOG.md
Due: none

chore: update changelog for aggregate metrics task
  CHANGELOG.md
Due: none

chore: fix error response handling in commonHandler
  src/adapters/network.js
Due: js

fix: update access token key for garl destination
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
  test/integrations/testUtils.ts
Due: js

chore: use a new util for garl destination
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/audience.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/record.ts
  test/integrations/testUtils.ts
Due: none

fix: update access token key for garl destination (#3522)
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/audience.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/record.ts
  test/integrations/testUtils.ts
Due: js

chore: update changelog to include garl access token key changes
  CHANGELOG.md
Due: none

chore: upgrade packages
  package-lock.json
  package.json
Due: none

fix: add a new reconcile function to update the python function through the endpointn
  src/controllers/userTransform.ts
  src/routes/userTransform.ts
  src/util/openfaas/index.js
  test/__tests__/user_transformation.test.js
Due: js, ts

chore: correcting variable name in clicksend
  src/cdk/v2/destinations/clicksend/procWorkflow.yaml
  test/integrations/destinations/clicksend/commonConfig.ts
  test/integrations/destinations/clicksend/router/data.ts
Due: none

chore: correcting variable name in clicksend (#3524)
  src/cdk/v2/destinations/clicksend/procWorkflow.yaml
  test/integrations/destinations/clicksend/commonConfig.ts
  test/integrations/destinations/clicksend/router/data.ts
Due: none

chore: updated examples for swagger
  swagger/components/examples/processor/failure.yaml
  swagger/components/examples/processor/success.yaml
  swagger/components/examples/router/failure.yaml
  swagger/components/examples/router/success.yaml
Due: none

fix: update the reconciliation function with stats
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
  src/util/prometheus.js
Due: js

chore: remove unused imports
  src/util/openfaas/index.js
Due: js

chore: filtered logging and log for all destinations (#3484)
  src/adapters/network.js
  src/adapters/network.test.js
  src/logger.js
  src/util/logger.js
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
  src/v0/destinations/klaviyo/util.js
  src/v1/destinations/campaign_manager/networkHandler.js
  src/v1/destinations/monday/networkHandler.js
Due: js

chore: handle too many soql queries in salesforce (#3498)
  src/v0/destinations/salesforce/utils.js
Due: js

chore: send processedResponse in place of processedResponse.response for more information
  src/v0/destinations/trengo/transform.js
  test/integrations/destinations/trengo/processor/data.ts
Due: js

chore: remove duplicate metadata key in statTags obj klaviyo
  src/v0/destinations/klaviyo/util.js
Due: js

feat: braze source event mapping
  src/v1/sources/braze/ignore.json
  src/v1/sources/braze/mapping.json
  src/v1/sources/braze/transform.js
  test/integrations/sources/braze/data.ts
Due: js

feat: delete unnecessary code
  src/v1/sources/braze/transform.js
Due: js

chore: add metadata to stattags
  src/v0/destinations/gainsight/transform.js
  src/v0/destinations/gainsight/util.js
Due: js

chore: refactor code
  src/v0/destinations/mailchimp/utils.js
  test/integrations/destinations/mailchimp/processor/data.ts
Due: js

test: add processor and router testcases
  test/integrations/destinations/wunderkind/common.ts
  test/integrations/destinations/wunderkind/processor/data.ts
  test/integrations/destinations/wunderkind/processor/track.ts
  test/integrations/destinations/wunderkind/processor/validation.ts
  test/integrations/destinations/wunderkind/router/data.ts
Due: none

feat: add group by sourceID for rETL
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js, ts

fix: lint isues
  src/v0/util/index.js
Due: js

fix: adding readiness probe annotations for openfaas
  src/util/openfaas/index.js
Due: js

chore: revert fb pixel change
  src/v0/destinations/facebook_pixel/data/FBPIXELCommonConfig.json
  test/integrations/destinations/facebook_pixel/router/data.ts
Due: none

chore(release): 1.70.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: changelog update
  CHANGELOG.md
Due: none

fix: debug marketo bulk
  src/v0/destinations/marketo_bulk_upload/fetchJobStatus.js
  src/v0/destinations/marketo_bulk_upload/fileUpload.js
  src/v0/destinations/marketo_bulk_upload/poll.js
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

fix: duplicate columns for messages.traits in warehouse for identify event
  src/warehouse/index.js
  test/__tests__/data/warehouse/events.js
  test/__tests__/data/warehouse/integration_options_events.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/identifies.js
  test/__tests__/warehouse.test.js
Due: js

fix: code changes to maintain order
  src/v0/destinations/hs/transform.js
  test/integrations/destinations/hs/router/config.ts
  test/integrations/destinations/hs/router/data.ts
Due: js

chore: eslint fix
  src/v0/destinations/hs/transform.js
Due: js

chore: added restriction for getCredential method in javascript transformation libraries
  src/util/ivmFactory.js
Due: js

fix: zapier event lower case issue
  src/cdk/v2/destinations/zapier/procWorkflow.yaml
  test/integrations/destinations/zapier/processor/data.ts
Due: none

refactor: testcases
  test/integrations/destinations/wunderkind/processor/track.ts
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
