Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: adding support for cdkv2
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreIdentifyConfig.json
  src/cdk/v2/destinations/bluecore/data/bluecoreTrackConfig.json
  src/cdk/v2/destinations/bluecore/procWorkflow.yaml
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
  src/v0/destinations/bluecore/transform.js
Due: js

fix: adding component test case part 1
  src/v0/destinations/bluecore/data/bluecoreIdentifyConfig.json
  src/v0/destinations/bluecore/data/bluecoreTrackConfig.json
  src/v0/destinations/bluecore/transform.js
  test/integrations/destinations/bluecore/data.ts
  test/integrations/destinations/bluecore/identifyTestData.ts
  test/integrations/destinations/bluecore/validationTestData.ts
Due: js

fix: add support of placing properties at root in af
  src/v0/destinations/af/transform.js
  test/integrations/destinations/af/processor/data.ts
Due: js

chore: enable-batch-response-schema-check
  test/integrations/testUtils.ts
Due: none

fix: tiktok ads v2 error handling
  src/v0/destinations/tiktok_ads/transformV2.js
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: js

refactor: remove redundant import
  src/v0/destinations/tiktok_ads/transformV2.js
Due: js

chore: add requestMethod and module label x1
  src/adapters/network.js
  src/util/prometheus.js
  src/v0/destinations/active_campaign/transform.js
  src/v0/destinations/af/deleteUsers.js
  src/v0/destinations/am/deleteUsers.js
  src/v0/destinations/braze/deleteUsers.js
  src/v0/destinations/canny/util.js
  src/v0/destinations/clevertap/deleteUsers.js
Due: js

refactor: apply review suggestions
  src/v0/util/index.js
Due: js

chore: add requestMethod and module label x2
  src/v0/destinations/custify/util.js
  src/v0/destinations/freshmarketer/utils.js
  src/v0/destinations/freshsales/utils.js
  src/v0/destinations/ga/deleteUsers.js
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
  src/v0/destinations/hs/util.js
  src/v0/destinations/intercom/deleteUsers.js
  src/v0/destinations/klaviyo/util.js
  src/v0/destinations/marketo/util.js
  src/v0/destinations/monday/util.js
  src/v0/destinations/mp/deleteUsers.js
  src/v0/destinations/sprig/deleteUsers.js
  src/v0/destinations/user/utils.js
  src/v0/destinations/wootric/util.js
Due: js

fix: resolve bugsnag issue caused due to undefined properties
  src/v0/util/facebookUtils/index.js
Due: js

chore: refactor braze proxy v1 tests
  test/integrations/destinations/braze/dataDelivery/business.ts
  test/integrations/destinations/braze/dataDelivery/data.ts
  test/integrations/destinations/braze/dataDelivery/other.ts
  test/integrations/destinations/braze/network.ts
Due: none

fix: adding component test case part 2
  src/cdk/v2/destinations/bluecore/data/bluecoreTrackConfig.json
  src/cdk/v2/destinations/bluecore/procWorkflow.yaml
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
  src/v0/destinations/bluecore/data/bluecoreTrackConfig.json
  src/v0/destinations/bluecore/transform.js
  src/v0/destinations/bluecore/transform.test.js
  src/v0/destinations/bluecore/util.js
  src/v0/destinations/bluecore/util.test.js
  test/integrations/destinations/bluecore/data.ts
  test/integrations/destinations/bluecore/ecommTestData.ts
  test/integrations/destinations/bluecore/identifyTestData.ts
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

fix: gaoc batching order (#3064)
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
Due: js

chore: address commentsx1
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce/dataDelivery/data.ts
  test/integrations/destinations/salesforce/dataDelivery/other.ts
Due: none

chore: refactor intercom proxy tests to new component structure
  test/integrations/destinations/intercom/dataDelivery/business.ts
  test/integrations/destinations/intercom/dataDelivery/data.ts
Due: none

chore: comments addressed
  src/v0/destinations/am/transform.js
  src/v0/destinations/am/util.test.js
  src/v0/destinations/am/utils.js
Due: js

fix: test cases
  test/integrations/destinations/am/processor/data.ts
Due: none

fix: resolve bugsnag issue caused due to undefined properties (#3086)
  src/v0/util/facebookUtils/index.js
Due: js

fix(ga4): failures not considered with 200 status in events tab
  src/v0/destinations/ga4/networkHandler.js
Due: js

fix: complete bluecore via CDK v2
  src/cdk/v2/destinations/bluecore/data/bluecoreIdentifyConfig.json
  src/cdk/v2/destinations/bluecore/procWorkflow.yaml
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
  test/integrations/destinations/bluecore/ecommTestData.ts
  test/integrations/destinations/bluecore/identifyTestData.ts
  test/integrations/destinations/bluecore/trackTestData.ts
  test/integrations/destinations/bluecore/validationTestData.ts
Due: js

fix: removing the JS code and only have cdk
  src/v0/destinations/bluecore/config.js
  src/v0/destinations/bluecore/data/bluecoreIdentifyConfig.json
  src/v0/destinations/bluecore/data/bluecoreTrackConfig.json
  src/v0/destinations/bluecore/transform.js
  src/v0/destinations/bluecore/transform.test.js
  src/v0/destinations/bluecore/util.js
  src/v0/destinations/bluecore/util.test.js
Due: js

chore: address comment
  test/integrations/destinations/criteo_audience/dataDelivery/business.ts
Due: none

chore: criteo audience update proxy test (#3068)
  test/integrations/common/criteo/network.ts
  test/integrations/common/network.ts
  test/integrations/component.test.ts
  test/integrations/destinations/criteo_audience/dataDelivery/business.ts
  test/integrations/destinations/criteo_audience/dataDelivery/data.ts
  test/integrations/destinations/criteo_audience/dataDelivery/oauth.ts
  test/integrations/destinations/criteo_audience/dataDelivery/other.ts
  test/integrations/destinations/criteo_audience/network.ts
Due: none

chore: enable batch response schema check (#3083)
  test/integrations/testUtils.ts
Due: none

feat: logging initial commit
  package-lock.json
  package.json
  src/controllers/bulkUpload.ts
  src/controllers/delivery.ts
  src/controllers/destination.ts
  src/controllers/regulation.ts
  src/controllers/source.ts
  src/index.ts
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/services/destination/postTransformation.ts
  src/services/misc.ts
  src/services/profile.ts
  src/services/trackingPlan.ts
  src/services/userTransform.ts
  src/types/index.ts
Due: ts

fix: amplitude: Error handling for missing event type (#3079)
  src/v0/destinations/am/transform.js
  src/v0/destinations/am/util.test.js
  src/v0/destinations/am/utils.js
  test/integrations/destinations/am/processor/data.ts
Due: js

fix: tiktok ads v2 error handling (#3084)
  src/v0/destinations/tiktok_ads/transformV2.js
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: js

fix(ga4): failures not considered with 200 status in events tab (#3089)
  src/v0/destinations/ga4/networkHandler.js
Due: js

chore: address review comments and cleanup
  test/integrations/destinations/braze/dataDelivery/business.ts
  test/integrations/destinations/braze/dataDelivery/other.ts
  test/integrations/testUtils.ts
Due: none

chore: cleanup of mock
  test/integrations/destinations/braze/network.ts
Due: none

refactor: split trade desk into audience and realtime conversions destinations
  src/cdk/v2/destinations/the_trade_desk/config.js
  src/cdk/v2/destinations/the_trade_desk/rtWorkflow.yaml
  src/cdk/v2/destinations/the_trade_desk/transformConversion.js
  src/cdk/v2/destinations/the_trade_desk/transformRecord.js
  src/cdk/v2/destinations/the_trade_desk/utils.js
  src/cdk/v2/destinations/the_trade_desk/utils.test.js
  src/cdk/v2/destinations/the_trade_desk_real_time_conversions/config.js
  src/cdk/v2/destinations/the_trade_desk_real_time_conversions/data/TTDCommonConfig.json
  src/cdk/v2/destinations/the_trade_desk_real_time_conversions/data/TTDItemConfig.json
  src/cdk/v2/destinations/the_trade_desk_real_time_conversions/procWorkflow.yaml
  src/cdk/v2/destinations/the_trade_desk_real_time_conversions/utils.js
  src/cdk/v2/destinations/the_trade_desk_real_time_conversions/utils.test.js
  src/v0/destinations/the_trade_desk/networkHandler.js
  test/integrations/destinations/the_trade_desk/common.ts
  test/integrations/destinations/the_trade_desk/delivery/data.ts
  test/integrations/destinations/the_trade_desk/network.ts
  test/integrations/destinations/the_trade_desk/router/data.ts
  test/integrations/destinations/the_trade_desk_real_time_conversions/common.ts
  test/integrations/destinations/the_trade_desk_real_time_conversions/processor/data.ts
Due: js

chore: onboard a untility for getting the test data for manual testing
  .gitignore
  test/integrations/component.test.ts
Due: none

fix: add headers for real time conversions
  src/cdk/v2/destinations/the_trade_desk_real_time_conversions/procWorkflow.yaml
  test/integrations/destinations/the_trade_desk_real_time_conversions/processor/data.ts
Due: none

readme: add docker image change announcement
  README.md
Due: none

readme: format announcement header
  README.md
Due: none

fix: adding support for externalID feature in distinct id
  src/cdk/v2/destinations/bluecore/data/bluecoreIdentifyConfig.json
  src/cdk/v2/destinations/bluecore/data/bluecoreTrackConfig.json
  src/cdk/v2/destinations/bluecore/procWorkflow.yaml
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
  test/integrations/destinations/bluecore/ecommTestData.ts
  test/integrations/destinations/bluecore/identifyTestData.ts
  test/integrations/destinations/bluecore/trackTestData.ts
  test/integrations/testUtils.ts
Due: js

Using buffer bytesLength to account for utf-8 characters having variable size
  src/services/userTransform.ts
Due: ts

fix: making email mandatory for optin and unsubscribe events
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
  test/integrations/destinations/bluecore/identifyTestData.ts
Due: js

chore: api test first commit
  package-lock.json
  package.json
  src/controllers/__tests__/delivery.test.ts
  src/controllers/__tests__/destination.test.ts
  src/controllers/__tests__/regulation.test.ts
  src/controllers/__tests__/source.test.ts
  src/controllers/obs.delivery.js
  src/controllers/regulation.ts
  src/helpers/__tests__/fetchHandlers.test.ts
  src/helpers/__tests__/serviceSelector.test.ts
  src/helpers/serviceSelector.ts
  src/services/__tests__/misc.test.ts
  src/services/destination/__tests__/nativeIntegration.test.ts
  src/services/destination/__tests__/postTransformation.test.ts
  src/services/destination/__tests__/preTransformation.test.ts
  src/services/source/__tests__/nativeIntegration.test.ts
  src/services/source/__tests__/postTransformation.test.ts
  test/apitests/service.api.test.ts
Due: js, ts

feat: tiktok_offline_events added support for all Standard events
  src/v0/destinations/tiktok_ads_offline_events/config.js
  test/integrations/destinations/tiktok_ads_offline_events/processor/data.ts
Due: js
