Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

feat(integrations/auth0): add Auth0 event type to event context (#3433)
  src/v0/sources/auth0/mapping.json
  test/integrations/sources/auth0/data.ts
Due: none

chore: add comment on LOGGER_IMPL - update getLoggerImpl logic by adding switch cases
  src/logger.js
Due: js

chore: revert error log to info
  src/index.ts
Due: ts

chore: remove redundant condition on network.js
  src/adapters/network.js
Due: js

fix: metric name casing
  src/util/prometheus.js
  src/v0/destinations/braze/util.js
Due: js

refactor: added null, empty checks
  src/v0/destinations/campaign_manager/transform.js
  src/v0/destinations/campaign_manager/util.js
  test/integrations/destinations/campaign_manager/processor/data.ts
Due: js

chore: update debug level condition - add destType in cdkv2 handler - include extra fields in fillExcept logger option
  src/cdk/v2/handler.ts
  src/logger.js
Due: js, ts

chore: correction in shopify test
  src/util/redis/redisConnector.test.js
Due: js

feat: cm360 enhanced conversions (#3414)
  package-lock.json
  package.json
  src/v0/destinations/campaign_manager/config.js
  src/v0/destinations/campaign_manager/data/CampaignManagerEnhancedConversionConfig.json
  src/v0/destinations/campaign_manager/transform.js
  src/v0/destinations/campaign_manager/util.js
  src/v0/destinations/campaign_manager/util.test.js
  src/v0/util/data/GenericFieldMapping.json
  test/integrations/destinations/campaign_manager/processor/data.ts
Due: js

chore: usage of logger in postTransformation - remove usage of logError function from services/misc.ts
  src/services/destination/postTransformation.ts
  src/services/misc.ts
Due: ts

chore: move gainsight_px from myaxios to httpget,put and post
  src/v0/destinations/gainsight_px/util.js
Due: js

chore: accept destType key from destinationType in metadata
  src/logger.js
Due: js

chore: correction log message
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
Due: js

chore: add method doc for unexported log method in logger.js
  src/logger.js
Due: js

fix: mapping changes for aifa,andi and asid
  src/v0/destinations/singular/data/SINGULARAndroidEventConfig.json
  src/v0/destinations/singular/data/SINGULARAndroidSessionConfig.json
Due: none

chore: addressed all comments
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/destinations/google_adwords_remarketing_lists/util.test.js
  src/v0/util/recordUtils.js
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/audience.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/record.ts
Due: js

chore: add test cases
  test/integrations/destinations/one_signal/processor/commonConfig.ts
  test/integrations/destinations/one_signal/processor/data_v2.ts
  test/integrations/destinations/one_signal/processor/identify.ts
  test/integrations/destinations/one_signal/processor/track.ts
Due: none

chore: add reset metrics api
  src/routes/metricsRouter.js
  src/util/metricsAggregator.js
  src/util/prometheus.js
  src/util/stats.js
Due: js

feat: onboard closeCRM source
  src/v1/sources/closeCRM/config.js
  src/v1/sources/closeCRM/transform.js
  src/v1/sources/closeCRM/transform.test.js
Due: js

chore: refactoring tests
  test/integrations/destinations/intercom/router/data.ts
Due: none

chore: changes in transformation error handling
  src/util/ivmFactory.js
  src/util/prometheus.js
  test/__tests__/user_transformation.test.js
Due: js

chore(mt-us): add logs
  src/util/metricsAggregator.js
  src/util/worker.js
Due: js

chore: upgrade packages
  package-lock.json
  package.json
Due: none

fix: some minor changes in tests
  test/integrations/destinations/intercom/router/data.ts
Due: none

chore: handle non-object arguments for logger
  src/cdk/v2/destinations/gladly/procWorkflow.yaml
  src/logger.js
Due: js

chore: remove new routes log
  src/index.ts
Due: ts

chore: upgrade prom client to v15.1.2
  package-lock.json
  package.json
Due: none

fix: fixes in javascript transformation
  src/util/customTransformer-v1.js
  src/util/customTransformer.js
  src/util/ivmFactory.js
  src/util/prometheus.js
  test/__tests__/data/user_transformation_input_credentials.json
  test/__tests__/user_transformation.integration.test.js
  test/__tests__/user_transformation.test.js
  test/__tests__/user_transformation_fetch.test.js
Due: js

chore: resolve bugsnag issue in braze
  src/v0/destinations/braze/util.js
Due: js

chore: added tests for transform batch and code version 0
  test/__tests__/user_transformation.test.js
Due: none

fix: pr comments
  src/controllers/userTransform.ts
  src/util/customTransformer-v1.js
  src/util/ivmFactory.js
  src/util/prometheus.js
  test/__tests__/user_transformation.test.js
Due: js, ts

fix: undefined tests
  test/__tests__/user_transformation.test.js
Due: none

feat: onboard klaviyo bulk upload destination (#3348)
  src/cdk/v2/destinations/klaviyo_bulk_upload/config.js
  src/cdk/v2/destinations/klaviyo_bulk_upload/procWorkflow.yaml
  src/cdk/v2/destinations/klaviyo_bulk_upload/utils.js
  src/constants/destinationCanonicalNames.js
  test/integrations/destinations/klaviyo_bulk_upload/processor/data.ts
Due: js

chore: clean unnecessary metrics
  src/controllers/destination.ts
  src/controllers/regulation.ts
  src/util/prometheus.js
Due: js, ts

chore: enable labels for api calls
  src/adapters/network.js
Due: js

fix: credentials payload fix
  src/types/index.ts
  src/util/customTransformer.js
  test/__tests__/data/user_transformation_input_credentials.json
Due: js, ts

chore: upgrade pacakges
  package-lock.json
  package.json
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
