Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: rebase
  test/integrations/destinations/tiktok_ads/common.ts
Due: none

chore: fixing compatibility stuff
  new/controllers/transform.js
  new/index.js
  new/routes.js
  scripts/benchmarks/config.yaml
Due: none

feat: add networkHandler to zoho_dev
  src/services/destination/nativeIntegration.ts
Due: ts

chore: check if already released
  new/utils/transformationIsolate.js
Due: none

chore: formatting
  new/utils/ivmFactory.js
Due: none

chore: formatting
  new/package-lock.json
  new/package.json
  new/utils/ivmFactory.js
Due: none

chore: add config restricted oct 2024 revision for klaviyo
  src/util/prometheus.js
  src/v0/destinations/klaviyo/config.js
  src/v0/destinations/klaviyo/util.js
  test/integrations/destinations/klaviyo/processor/identifyTestDataV2.ts
Due: js

chore: ai generated customerio documentation
  src/v0/destinations/customerio/README.md
  src/v0/destinations/customerio/docs/businesslogic.md
  src/v0/destinations/customerio/docs/retl.md
Due: none

chore: use batch processing in processor transformations
  package-lock.json
  package.json
  src/index.ts
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  test/integrations/component.test.ts
  test/integrations/destinations/ga4/mocks.ts
  test/integrations/destinations/ga4/processor/validationTestData.ts
  test/integrations/destinations/moengage/processor/data.ts
  test/integrations/destinations/moengage/router/data.ts
  test/integrations/destinations/mp/processor/data.ts
Due: ts

feat: implement rudder-test destination with migrated tests
  README.md
  package.json
  src/v0/destinations/rudder_test/config.ts
  src/v0/destinations/rudder_test/transform.ts
  src/v0/destinations/rudder_test/type.ts
  src/v0/destinations/rudder_test/utils.ts
  test/integrations/component.test.ts
  test/integrations/destinations/rudder_test/common.ts
  test/integrations/destinations/rudder_test/processor/data.ts
  test/integrations/destinations/rudder_test/router/data.ts
  test/integrations/testTypes.ts
Due: ts

chore: add test cases for zoho_dev
  test/integrations/destinations/zoho/dataDelivery/data.ts
  test/integrations/destinations/zoho/dataDelivery/zoho_dev.ts
  test/integrations/destinations/zoho/router/account.ts
  test/integrations/destinations/zoho/router/zoho_dev.ts
Due: none

chore: migrate tiktok_ads to new test (#4342)
  test/integrations/component.test.ts
  test/integrations/destinations/tiktok_ads/common.ts
  test/integrations/destinations/tiktok_ads/dataDelivery/data.ts
  test/integrations/destinations/tiktok_ads/processor/data.ts
  test/integrations/destinations/tiktok_ads/router/data.ts
Due: none

chore: introduce deep freeze to compaction middlewares
  package-lock.json
  package.json
  src/middlewares/destTransformCompactedPayloadV1.ts
  src/middlewares/routerTransformCompactedPayloadV1.ts
  src/util/dynamicConfigParser.ts
Due: ts

chore: use batch processing in other transformations too
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
Due: ts

chore: introduce deep freeze to compaction middlewares (#4365)
  package-lock.json
  package.json
  src/middlewares/destTransformCompactedPayloadV1.ts
  src/middlewares/routerTransformCompactedPayloadV1.ts
  src/util/dynamicConfigParser.ts
Due: ts

fix: blucore optin event mapping
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreOptinEventConfig.json
  src/cdk/v2/destinations/bluecore/utils.js
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

fix: reviews comments
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

fix: review comments
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

chore: add subscription event
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

chore: add subscription event
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreOptinEventConfig.json
  src/cdk/v2/destinations/bluecore/utils.js
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

chore: misc
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

chore: blucore add internal doc and migrate test
  src/cdk/v2/destinations/bluecore/README.md
  src/cdk/v2/destinations/bluecore/docs/businesslogic.md
  src/cdk/v2/destinations/bluecore/docs/retl.md
  test/integrations/component.test.ts
  test/integrations/destinations/bluecore/common.ts
  test/integrations/destinations/bluecore/data.ts
  test/integrations/destinations/bluecore/ecommTestData.ts
  test/integrations/destinations/bluecore/identifyTestData.ts
  test/integrations/destinations/bluecore/trackTestData.ts
  test/integrations/destinations/bluecore/validationTestData.ts
Due: none

chore: update docs
  src/cdk/v2/destinations/bluecore/README.md
  src/cdk/v2/destinations/bluecore/docs/businesslogic.md
  src/cdk/v2/destinations/bluecore/docs/retl.md
Due: none

fix: readme
  src/cdk/v2/destinations/bluecore/README.md
  src/cdk/v2/destinations/bluecore/docs/businesslogic.md
  src/cdk/v2/destinations/bluecore/docs/retl.md
Due: none

fix: test
  src/v0/util/index.test.js
Due: js

fix: router output ordering for tiktok_ads
  src/v0/destinations/tiktok_ads/transform.js
  src/v0/destinations/tiktok_ads/transformV2.js
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/component.test.ts
  test/integrations/destinations/tiktok_ads/router/data.ts
Due: js

chore: ai generated docs for iterable
  src/v0/destinations/iterable/README.md
  src/v0/destinations/iterable/docs/businesslogic.md
  src/v0/destinations/iterable/docs/retl.md
Due: none

chore: ai generated docs for airship
  src/v0/destinations/airship/README.md
  src/v0/destinations/airship/docs/businesslogic.md
  src/v0/destinations/airship/docs/retl.md
Due: none

chore: ai generated docs for moengage
  src/v0/destinations/moengage/README.md
  src/v0/destinations/moengage/docs/businesslogic.md
  src/v0/destinations/moengage/docs/retl.md
Due: none

chore: ai generated docs for facebook conversions
  src/v0/destinations/facebook_conversions/README.md
  src/v0/destinations/facebook_conversions/docs/businesslogic.md
  src/v0/destinations/facebook_conversions/docs/retl.md
Due: none

chore: ai generated docs for splitio
  src/v0/destinations/splitio/README.md
  src/v0/destinations/splitio/docs/businesslogic.md
  src/v0/destinations/splitio/docs/retl.md
Due: none

feat: implement rudder-test destination with migrated tests (#4352)
  README.md
  package.json
  src/v0/destinations/rudder_test/config.ts
  src/v0/destinations/rudder_test/transform.ts
  src/v0/destinations/rudder_test/type.ts
  src/v0/destinations/rudder_test/utils.ts
  test/integrations/component.test.ts
  test/integrations/destinations/rudder_test/common.ts
  test/integrations/destinations/rudder_test/processor/data.ts
  test/integrations/destinations/rudder_test/router/data.ts
  test/integrations/testTypes.ts
Due: ts

chore: review and update amplitude documentation
  src/v0/destinations/am/README.md
  src/v0/destinations/am/docs/retl.md
Due: none

chore: sfmc ai generated docs (#4328)
  src/v0/destinations/sfmc/README.md
  src/v0/destinations/sfmc/docs/businesslogic.md
  src/v0/destinations/sfmc/docs/retl.md
  src/v0/destinations/sfmc/docs/transformerlogic.md
Due: none

fix: update slack tests
  test/integrations/destinations/slack/processor/data.ts
Due: none

fix: handle newline for slack (#4357)
  src/v0/destinations/slack/transform.js
  test/integrations/destinations/slack/processor/data.ts
Due: js

chore(release): 1.101.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
