Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: test case cleanup (#3888)
  test/integrations/destinations/active_campaign/router/data.ts
Due: none

fix: adding logger for undefined source event (#3879)
  src/controllers/source.ts
Due: ts

chore(release): 1.85.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: new destination for accoil analytics
  src/cdk/v2/destinations/accoil_analytics/procWorkflow.yaml
  src/cdk/v2/destinations/accoil_analytics/rtWorkflow.yaml
  src/cdk/v2/destinations/accoil_analytics/utils.js
  test/integrations/destinations/accoil_analytics/processor/data.ts
  test/integrations/destinations/accoil_analytics/router/data.ts
Due: js

feat: add support for getting anonymousId by note attributes array
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  test/integrations/sources/shopify/constants.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
Due: js

fix: code redesigning
  src/v0/destinations/iterable/config.js
  src/v0/destinations/iterable/util.js
  src/v1/destinations/iterable/commonStrategy.js
  src/v1/destinations/iterable/networkHandler.js
  src/v1/destinations/iterable/responseStrategy.js
  src/v1/destinations/iterable/trackIdentifyStrategy.js
  test/integrations/destinations/iterable/dataDelivery/business.ts
Due: js

feat: added path param tab hhtp
  src/cdk/v2/destinations/http/procWorkflow.yaml
  src/cdk/v2/destinations/http/utils.js
  test/integrations/destinations/http/common.ts
  test/integrations/destinations/http/processor/configuration.ts
  test/integrations/destinations/http/router/data.ts
Due: js

fix: decoupling networkHandler and specific strategy
  src/v1/destinations/iterable/networkHandler.js
  src/v1/destinations/iterable/trackIdentifyStrategy.js
Due: js

fix: simplifying logic
  src/v1/destinations/iterable/trackIdentifyStrategy.js
Due: js

chore: github action for unchanged commits fixed
  .github/workflows/verify.yml
Due: none

fix: stringifying session ID for airship
  src/v0/destinations/airship/data/airshipTrackConfig.json
  test/integrations/destinations/airship/processor/data.ts
Due: none

fix: test case numbering fix
  test/integrations/destinations/airship/processor/data.ts
Due: none

fix: braze subscription batch size
  src/v0/destinations/braze/config.js
Due: js

fix: adding more test cases
  test/integrations/destinations/airship/processor/data.ts
Due: none

fix: review comment addressed
  src/v0/destinations/airship/transform.js
  src/v0/destinations/airship/utils.js
  src/v0/util/index.js
Due: js

fix: edit error message
  src/v0/util/index.js
Due: js

chore: refactored code
  src/v0/destinations/airship/transform.js
  src/v0/util/index.js
Due: js

chore: handled stringifcation in convertToUuid
  src/v0/destinations/airship/transform.js
  src/v0/util/index.js
Due: js

fix: adding test cases
  src/v0/util/index.test.js
Due: js

fix: small edit
  src/v0/util/index.test.js
Due: js

fix: braze subscription batch size (#3897)
  src/v0/destinations/braze/config.js
Due: js

fix: code review addressed
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

fix: stringifying session ID for airship (#3896)
  src/v0/destinations/airship/data/airshipTrackConfig.json
  src/v0/destinations/airship/transform.js
  src/v0/destinations/airship/utils.js
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/destinations/airship/processor/data.ts
Due: js

chore(release): 1.85.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: test
  src/v0/destinations/braze/braze.util.test.js
Due: js

fix: test (#3899)
  src/v0/destinations/braze/braze.util.test.js
Due: js

revert: braze batch
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/config.js
Due: js

chore: braze batch (#3900)
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/config.js
Due: js

fix: dedicated deployment for mktool customer
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/config.js
Due: js

fix: zoho refresh token
  src/v1/destinations/zoho/networkHandler.js
  test/integrations/destinations/zoho/dataDelivery/business.ts
  test/integrations/destinations/zoho/dataDelivery/data.ts
Due: js

chore: claen depricated files
  src/controllers/bulkUpload.ts
  src/controllers/obs.delivery.js
  src/legacy/delivery.js
  src/legacy/router.js
  src/routes/bulkUpload.ts
  src/routes/index.ts
  test/__tests__/legacyRouter.test.ts
Due: js, ts

chore: allow only anonymousId set from note attributes
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

chore: add unit tests
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
Due: js

fix: add date time support to hs
  src/v0/destinations/hs/util.js
Due: js

chore: update default case handling in facebook destinations
  src/v0/util/facebookUtils/networkHandler.js
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
  test/integrations/destinations/facebook_pixel/network.ts
Due: js

fix: update default handling for some error codes - used error_user_msg field as error message - when no error is seen, handled error by stringifying - update test-cases
  src/v0/util/facebookUtils/networkHandler.js
  test/integrations/destinations/facebook_pixel/dataDelivery/business.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/oauth.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/other.ts
  test/integrations/destinations/facebook_pixel/network.ts
  test/integrations/destinations/fb/dataDelivery/data.ts
  test/integrations/destinations/fb/dataDelivery/other.ts
  test/integrations/destinations/fb/network.ts
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
  test/integrations/destinations/fb_custom_audience/network.ts
Due: js

docs: add hints for v1 source preference over v0 in contrib guide
  CONTRIBUTING.md
Due: none

chore: address initialization comment
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

fix: remove redundant ids and userIdentifier when gbraid or wbraid are there
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  test/integrations/destinations/google_adwords_offline_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
Due: js

fix: externalIds multiple in batch
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/transform.js
  src/v0/destinations/braze/util.js
  test/integrations/destinations/braze/processor/data.ts
  test/integrations/destinations/braze/router/data.ts
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
