Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: adding benchmark
  playground/ivm/index.js
Due: none

refactor: use function to express condition
  src/cdk/v2/destinations/zoho/utils.js
  src/util/common.js
Due: js

chore: upgrade isolated vm to 5.0.3 and node to v20.15.1
  .nvmrc
  Dockerfile
  Dockerfile-ut-func
  package-lock.json
  package.json
  src/util/ivmFactory.js
Due: js

fix: mixpanel ios property mapping ios_app_release and ios_app_version
  src/v0/destinations/mp/data/MPProfilePropertiesIOS.json
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: js

feat(http): add support for isDefaultMapping
  src/cdk/v2/destinations/http/procWorkflow.yaml
  test/integrations/destinations/http/common.ts
  test/integrations/destinations/http/processor/configuration.ts
Due: none

feat: stitching id in anonymous checkouts across checkouts
  src/v1/sources/shopify/utils.js
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  test/integrations/sources/shopify/mocks.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
Due: js

chore: remove deprecated adjust code
  src/v0/sources/adjust-deprecated/config.ts
  src/v0/sources/adjust-deprecated/core.js
  src/v0/sources/adjust-deprecated/mapping.json
  src/v0/sources/adjust-deprecated/transform.js
  src/v0/sources/adjust-deprecated/utils.js
  src/v0/sources/adjust-deprecated/utils.test.js
Due: js, ts

fix: content_price should be a numeric string with float point in twitter ads
  src/v0/destinations/twitter_ads/transform.js
  test/integrations/destinations/twitter_ads/processor/data.ts
  test/integrations/destinations/twitter_ads/router/data.ts
Due: js

chore: upgrade ubuntu to 22.04 stable version
  Dockerfile-ut-func
Due: none

chore: add more test for zoho
  src/util/common.test.js
Due: js

fix: minor change
  src/v0/destinations/twitter_ads/transform.js
  test/integrations/destinations/twitter_ads/processor/data.ts
  test/integrations/destinations/twitter_ads/router/data.ts
Due: js

feat: stitching id in anonymous checkouts across checkouts (#4074)
  src/v1/sources/shopify/utils.js
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  test/integrations/sources/shopify/mocks.ts
Due: js

chore: add more test for zoho
  src/cdk/v2/destinations/zoho/utils.js
Due: js

chore: upgrade node version to 20
  .gitignore
  .nvmrc
  Dockerfile
  Dockerfile-ut-func
  package-lock.json
  package.json
  src/util/utils.js
  src/util/utils.test.js
  test/__tests__/user_transformation_fetch.test.js
Due: js

chore: update npm start command
  package.json
Due: none

feat(http): add support for isDefaultMapping (#4073)
  src/cdk/v2/destinations/http/procWorkflow.yaml
  test/integrations/destinations/http/common.ts
  test/integrations/destinations/http/processor/configuration.ts
Due: none

chore: move anonymousId to userId redis setting to common util
  src/v1/sources/shopify/utils.js
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

chore: upgrade isolated vm
  package-lock.json
  package.json
Due: none

fix: added test and some minor change
  src/v0/destinations/twitter_ads/transform.js
  test/integrations/destinations/twitter_ads/processor/data.ts
  test/integrations/destinations/twitter_ads/router/data.ts
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
