Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: simplyfied functions
  src/v0/destinations/iterable/config.js
  src/v0/destinations/iterable/transform.js
  src/v0/destinations/iterable/util.js
Due: js

chore: allow only mapped in properties, update event name
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/pixelUtils.js
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
Due: js

chore: remove redundant checks
  src/v1/sources/shopify/pixelUtils.js
Due: js

chore: add jsdoc descriptions
  src/v1/sources/shopify/pixelUtils.js
  src/v1/sources/shopify/pixelUtils.test.js
Due: js

chore: address comments
  src/v1/sources/shopify/pixelUtils.js
Due: js

chore: allow only mapped in properties, update event name (#3830)
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/pixelUtils.js
  src/v1/sources/shopify/pixelUtils.test.js
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
Due: js

fix: update factory to registry
  src/v0/destinations/salesforce/networkHandler.js
  src/v0/destinations/salesforce/transform.js
  src/v0/destinations/salesforce_oauth/networkHandler.js
  src/v0/destinations/salesforce_oauth_sandbox/networkHandler.js
  src/v0/util/salesforce/registry.ts
Due: js, ts

chore: remove redundant util file
  src/v0/destinations/salesforce/utils.js
Due: js

feat: endpoint fix for tune destination
  src/v0/destinations/tune/transform.js
  test/integrations/destinations/tune/processor/trackTestData.ts
  test/integrations/destinations/tune/router/data.ts
Due: js

chore: minor fix
  src/v0/destinations/tune/transform.js
  test/integrations/destinations/tune/processor/trackTestData.ts
  test/integrations/destinations/tune/router/data.ts
Due: js

fix: endpoint fix for tune destination (#3833)
  src/v0/destinations/tune/transform.js
  test/integrations/destinations/tune/processor/trackTestData.ts
  test/integrations/destinations/tune/router/data.ts
Due: js

feat(GARL): support vdm next for GARL
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  src/v0/destinations/google_adwords_remarketing_lists/util.js
Due: js

chore: modifications added
  src/v0/destinations/iterable/config.js
  src/v0/destinations/iterable/transform.js
  src/v0/destinations/iterable/util.js
  test/integrations/destinations/iterable/router/data.ts
Due: js

chore: fix
  src/v0/destinations/iterable/util.js
  test/integrations/destinations/iterable/router/data.ts
Due: js

chore: modification for endpoint
  src/v0/destinations/iterable/util.js
  test/integrations/destinations/iterable/router/data.ts
Due: js

feat(GARL): support vdm next for GARL
  src/v0/destinations/google_adwords_remarketing_lists/util.js
Due: js

Revert "fix: str replace is not a function error (#3799)"
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

Revert "fix: str replace is not a function error (#3799)" (#3839)
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

chore(release): 1.83.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: onboarding intercom v2 retl support
  src/v0/destinations/intercom_v2/config.js
  src/v0/destinations/intercom_v2/transform.js
  src/v0/destinations/intercom_v2/utils.js
  test/integrations/destinations/intercom_v2/network.ts
  test/integrations/destinations/intercom_v2/router/data.ts
  test/integrations/destinations/intercom_v2/router/rETL.ts
Due: js

fix: fixing export error
  src/v0/destinations/intercom_v2/config.js
Due: js

feat: gaec migration
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
Due: js

fix: add type casting for pinterest tag destination
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
Due: none

fix: str.replace is not a function
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

fix: resolving comments
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  src/v0/util/index.js
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

fix: update google adwords enhanced conversion config check
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

chore: updated tests with new structure
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/destinations/google_adwords_remarketing_lists/util.js
  src/v0/destinations/google_adwords_remarketing_lists/util.test.js
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/audience.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/record.ts
Due: js

chore: refactor code
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

chore: fix lint errors
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
Due: js

chore: new flags incorporate env variables via features.ts file
  src/controllers/misc.ts
  src/features.json
  src/features.ts
  src/services/__tests__/misc.test.ts
  src/services/misc.ts
  test/apitests/service.api.test.ts
Due: ts

chore: initial commit, adding transformation and utils
  src/v0/sources/shopify/util.js
  src/v1/sources/shopify/serverSideTransform.js
  src/v1/sources/shopify/serverSideUtlis.js
  src/v1/sources/shopify/transform.js
Due: js

chore: handle new qparam
  src/v1/sources/shopify/transform.js
  test/integrations/sources/shopify/v1ServerSideEventsTests.ts
Due: js

fix: searching contact for insert record
  src/v0/destinations/intercom_v2/transform.js
  test/integrations/destinations/intercom_v2/router/data.ts
  test/integrations/destinations/intercom_v2/router/rETL.ts
Due: js

fix: upgrade @aws-sdk/client-s3 from 3.637.0 to 3.670.0
  package-lock.json
  package.json
Due: none

chore: adding test cases
  src/v0/util/salesforce/common.ts
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce/network.ts
  test/integrations/destinations/salesforce_oauth/dataDelivery/business.ts
  test/integrations/destinations/salesforce_oauth/dataDelivery/data.ts
  test/integrations/destinations/salesforce_oauth/network.ts
Due: ts

chore: refactor code and add test cases
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  test/integrations/destinations/pinterest_tag/processor/data.ts
Due: none

chore: address comments
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  src/v0/util/index.test.js
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

Revert "fix: add missing field for pinterest_tag single product events"
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  test/apitests/data_scenarios/cdk_v2/failure.json
  test/apitests/data_scenarios/cdk_v2/success.json
  test/apitests/data_scenarios/destination/proc/batch_input_multiplex.json
  test/apitests/data_scenarios/destination/proc/multiplex_partial_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_success.json
  test/apitests/data_scenarios/destination/router/failure_test.json
  test/integrations/destinations/pinterest_tag/processor/data.ts
  test/integrations/destinations/pinterest_tag/router/data.ts
  test/integrations/destinations/pinterest_tag/step/data.ts
Due: none
