Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix: vs code debugger config
  .vscode/launch.json
  package.json
Due: none

fix: vs code debugger config
  package.json
Due: none

feat: remove consent from db-config and add store sales to integrations object (#4091)
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/google_adwords_offline_conversions/utils.test.js
  test/integrations/destinations/google_adwords_offline_conversions/processor/data.ts
Due: js

fix: addressing comments
  test/integrations/sources/braze/data.ts
Due: none

fix: vs code debugger config (#4130)
  .vscode/launch.json
Due: none

chore: logging payload schema during source transformation error (#4127)
  src/services/source/nativeIntegration.ts
Due: ts

feat: added event validation in braze source (#4104)
  src/sources/braze/transform.js
  test/integrations/sources/braze/data.ts
Due: js

chore(release): 1.92.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: onboard new source facebook lead ads
  src/sources/facebook_lead_ads/mapping.json
  src/sources/facebook_lead_ads/transform.ts
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/sources/facebook_lead_ads/data.ts
Due: js, ts

fix(destination): use coql api to delete record for zoho
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/network.ts
Due: js

chore: minor changes
  src/sources/facebook_lead_ads/transform.ts
Due: ts

chore: fix receivedAt for webhook test cases
  go/webhook/testcases/testdata/testcases/iterable/test_0.json
  go/webhook/testcases/testdata/testcases/iterable/test_10.json
  go/webhook/testcases/testdata/testcases/iterable/test_11.json
  go/webhook/testcases/testdata/testcases/iterable/test_12.json
  go/webhook/testcases/testdata/testcases/iterable/test_13.json
  go/webhook/testcases/testdata/testcases/iterable/test_14.json
  go/webhook/testcases/testdata/testcases/iterable/test_15.json
  go/webhook/testcases/testdata/testcases/iterable/test_16.json
  go/webhook/testcases/testdata/testcases/iterable/test_17.json
  go/webhook/testcases/testdata/testcases/iterable/test_18.json
  go/webhook/testcases/testdata/testcases/iterable/test_19.json
  go/webhook/testcases/testdata/testcases/iterable/test_20.json
  go/webhook/testcases/testdata/testcases/iterable/test_21.json
  go/webhook/testcases/testdata/testcases/iterable/test_22.json
  go/webhook/testcases/testdata/testcases/iterable/test_23.json
  go/webhook/testcases/testdata/testcases/iterable/test_24.json
  go/webhook/testcases/testdata/testcases/iterable/test_25.json
  go/webhook/testcases/testdata/testcases/iterable/test_26.json
  go/webhook/testcases/testdata/testcases/iterable/test_27.json
  go/webhook/testcases/testdata/testcases/iterable/test_28.json
  go/webhook/testcases/testdata/testcases/iterable/test_29.json
  go/webhook/testcases/testdata/testcases/iterable/test_4.json
  go/webhook/testcases/testdata/testcases/iterable/test_5.json
  go/webhook/testcases/testdata/testcases/iterable/test_6.json
  go/webhook/testcases/testdata/testcases/iterable/test_7.json
  go/webhook/testcases/testdata/testcases/iterable/test_8.json
  go/webhook/testcases/testdata/testcases/iterable/test_9.json
  go/webhook/testcases/testdata/testcases/moengage/batch_of_events.json
Due: none

fix: use identifier to create coql query
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/common.ts
  test/integrations/destinations/zoho/network.ts
  test/integrations/destinations/zoho/router/deletion.ts
Due: js

fix: limiting where clause criteria to 25
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
Due: js

fix: misc
  src/v0/destinations/moengage/transform.js
Due: js

feat(destination): pass object data in event for moengage
  src/v0/destinations/moengage/config.js
  src/v0/destinations/moengage/data/MOENGAGETrackAttributesObjectConfig.json
  src/v0/destinations/moengage/transform.js
  test/integrations/destinations/moengage/processor/data.ts
Due: js

chore: misc
  src/v0/destinations/moengage/transform.js
Due: js

chore: code quality
  src/v0/destinations/moengage/transform.js
Due: js

chore: add separate mapping for identify and device
  src/v0/destinations/moengage/config.js
  src/v0/destinations/moengage/data/MOENGAGEDeviceAttributesObjectConfig.json
  src/v0/destinations/moengage/data/MOENGAGEIdentifyAttributesObjectConfig.json
  src/v0/destinations/moengage/transform.js
  test/integrations/destinations/moengage/processor/data.ts
Due: js

chore: add request details in context
  src/services/source/nativeIntegration.ts
  src/sources/webhook/transform.js
  test/integrations/component.test.ts
  test/integrations/sources/webhook/data.ts
Due: js, ts

fix: test
  test/integrations/destinations/moengage/processor/data.ts
Due: none

fix: addressing comments
  src/sources/facebook_lead_ads/transform.ts
  src/sources/facebook_lead_ads/type.ts
  test/integrations/sources/facebook_lead_ads/data.ts
Due: ts

chore: update tagged participants in gh new release workflow
  .github/workflows/publish-new-release.yml
Due: none

chore: upgrade build-scan-push version
  .github/workflows/build-push-docker-image.yml
Due: none

chore: remove scripts
  test/scripts/fixHardCodedSecrets.ts
  test/scripts/fixMaskedSecretsFiles.ts
  test/scripts/fixOrderOfSecrets.ts
  test/scripts/refactorGeneratedSecrets.ts
  test/scripts/secretMasking.ts
Due: none

chore: remove hardcode secrets
  src/util/stats.js
  test/integrations/destinations/monday/maskedSecrets.ts
  test/integrations/destinations/monday/network.ts
  test/integrations/destinations/monday/processor/data.ts
  test/integrations/testUtils.ts
Due: js

chore: remove statsd
  .gitignore
  package-lock.json
  package.json
  src/util/stats.js
  src/util/statsd.js
Due: js

chore: remove statsd (#4139)
  .gitignore
  package-lock.json
  package.json
  src/util/stats.js
  src/util/statsd.js
Due: js

chore: remove hardcode secrets
  test/integrations/destinations/klaviyo/maskedSecrets.ts
  test/integrations/destinations/klaviyo/network.ts
  test/integrations/destinations/klaviyo/processor/ecomTestData.ts
  test/integrations/destinations/klaviyo/processor/groupTestData.ts
  test/integrations/destinations/klaviyo/processor/groupTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/identifyTestData.ts
  test/integrations/destinations/klaviyo/processor/identifyTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/screenTestData.ts
  test/integrations/destinations/klaviyo/processor/screenTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/trackTestData.ts
  test/integrations/destinations/klaviyo/processor/trackTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/validationTestData.ts
  test/integrations/destinations/klaviyo/processor/validationTestDataV2.ts
  test/integrations/destinations/klaviyo/router/commonConfig.ts
  test/integrations/destinations/klaviyo/router/data.ts
  test/integrations/destinations/klaviyo/router/dataV2.ts
  test/integrations/destinations/monday/maskedSecrets.ts
  test/integrations/destinations/monday/network.ts
  test/integrations/destinations/monday/processor/data.ts
  test/integrations/destinations/monday/router/data.ts
Due: none

fix: marketo get auth token cache issue
  src/v0/destinations/ga4_v2/transform.ts
  src/v0/destinations/marketo/transform.js
  src/v0/destinations/marketo/util.js
  src/v0/destinations/marketo_static_list/transform.js
  src/v0/destinations/marketo_static_list/transformV2.js
Due: js, ts

chore: update api version in facebook destinations
  src/v0/destinations/facebook_conversions/config.js
  src/v0/destinations/facebook_pixel/config.js
  src/v0/destinations/fb/config.js
  src/v0/destinations/fb_custom_audience/config.js
  src/v0/destinations/fb_custom_audience/util.test.js
  test/integrations/destinations/facebook_conversions/processor/data.ts
  test/integrations/destinations/facebook_conversions/router/data.ts
  test/integrations/destinations/facebook_pixel/processor/ecommTestData.ts
  test/integrations/destinations/facebook_pixel/processor/validationTestData.ts
  test/integrations/destinations/facebook_pixel/router/data.ts
  test/integrations/destinations/fb_custom_audience/processor/data.ts
  test/integrations/destinations/fb_custom_audience/router/data.ts
Due: js

fix: test
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/router/deletion.ts
Due: js

fix: marketo get auth token cache issue
  src/v0/destinations/marketo/networkHandler.js
  src/v0/destinations/marketo/util.js
  src/v0/destinations/marketo/util.test.js
  src/v0/destinations/marketo_static_list/networkHandler.js
  src/v0/destinations/marketo_static_list/transform.js
  src/v0/destinations/marketo_static_list/transformV2.js
  src/v0/destinations/marketo_static_list/util.js
  src/v0/util/index.js
  test/integrations/destinations/marketo_static_list/processor/data.ts
  test/integrations/destinations/marketo_static_list/router/data.ts
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
