Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix: update regex which was discarding firstname and lastname (#3360)
  src/v0/destinations/fb_custom_audience/util.js
  test/integrations/destinations/fb_custom_audience/processor/data.ts
  test/integrations/destinations/fb_custom_audience/router/data.ts
Due: js

chore(release): 1.65.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: doc links added
  src/cdk/v2/destinations/emarsys/procWorkflow.yaml
  src/v1/destinations/emarsys/networkHandler.js
Due: js

fix: config
  src/cdk/v2/destinations/koddi/config.js
  src/cdk/v2/destinations/koddi/utils.js
Due: js

fix: gaoc store sales batching transform contract
  src/v0/destinations/google_adwords_offline_conversions/transform.js
Due: js

fix: added conversions bidders validation and improved implementation
  src/cdk/v2/destinations/koddi/config.js
  src/cdk/v2/destinations/koddi/procWorkflow.yaml
  src/cdk/v2/destinations/koddi/rtWorkflow.yaml
  src/cdk/v2/destinations/koddi/utils.js
Due: js

fix: ninetailed: modify parameter requirements and add default values
  src/cdk/v2/destinations/ninetailed/config.js
  src/cdk/v2/destinations/ninetailed/data/contextMapping.json
  src/cdk/v2/destinations/ninetailed/data/generalPayloadMapping.json
  src/cdk/v2/destinations/ninetailed/data/identifyMapping.json
  src/cdk/v2/destinations/ninetailed/data/trackMapping.json
  src/cdk/v2/destinations/ninetailed/procWorkflow.yaml
  test/integrations/destinations/ninetailed/commonConfig.ts
  test/integrations/destinations/ninetailed/processor/identify.ts
  test/integrations/destinations/ninetailed/router/data.ts
Due: js

chore: add default value for userId
  src/cdk/v2/destinations/ninetailed/data/identifyMapping.json
  src/cdk/v2/destinations/ninetailed/utils.js
  test/integrations/destinations/ninetailed/processor/identify.ts
Due: js

chore: added tests for coverage
  src/v1/destinations/monday/networkHandler.js
  test/integrations/destinations/monday/dataDelivery/data.ts
  test/integrations/destinations/monday/network.ts
Due: js

feat: onboard monday to proxy (#3347)
  src/v1/destinations/monday/networkHandler.js
  test/integrations/destinations/monday/dataDelivery/data.ts
  test/integrations/destinations/monday/network.ts
Due: js

fix: ninetailed: modify parameter requirements and add default values (#3364)
  src/cdk/v2/destinations/ninetailed/config.js
  src/cdk/v2/destinations/ninetailed/data/contextMapping.json
  src/cdk/v2/destinations/ninetailed/data/generalPayloadMapping.json
  src/cdk/v2/destinations/ninetailed/data/identifyMapping.json
  src/cdk/v2/destinations/ninetailed/data/trackMapping.json
  src/cdk/v2/destinations/ninetailed/procWorkflow.yaml
  src/cdk/v2/destinations/ninetailed/utils.js
  test/integrations/destinations/ninetailed/commonConfig.ts
  test/integrations/destinations/ninetailed/processor/identify.ts
  test/integrations/destinations/ninetailed/router/data.ts
Due: js

fix: review comments addressed
  src/cdk/v2/destinations/emarsys/procWorkflow.yaml
  src/cdk/v2/destinations/emarsys/utils.js
  src/cdk/v2/destinations/emarsys/utils.test.js
  src/v1/destinations/emarsys/networkHandler.js
Due: js

chore(release): 1.66.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: added more test cases
  test/__tests__/user_transformation.test.js
Due: none

chore: fixed the checkout action in build docker image
  .github/workflows/build-push-docker-image.yml
Due: none

chore: added function readiness as part of function update
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
  test/__tests__/user_transformation.test.js
Due: js

chore: added reconcile fn for openfaas fn pods
  src/util/customTransformer-faas.js
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
  test/__tests__/user_transformation.test.js
Due: js

chore: fixed the logging
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
Due: js

feat: onboard emersys destination (#3318)
  src/cdk/v2/destinations/emarsys/config.js
  src/cdk/v2/destinations/emarsys/procWorkflow.yaml
  src/cdk/v2/destinations/emarsys/rtWorkflow.yaml
  src/cdk/v2/destinations/emarsys/utils.js
  src/cdk/v2/destinations/emarsys/utils.test.js
  src/constants/destinationCanonicalNames.js
  src/features.json
  src/services/destination/nativeIntegration.ts
  src/v0/destinations/emarsys/deleteUsers.js
  src/v0/util/deleteUserUtils.js
  src/v1/destinations/emarsys/networkHandler.js
  test/integrations/destinations/emarsys/dataDelivery/data.ts
  test/integrations/destinations/emarsys/deleteUsers/data.ts
  test/integrations/destinations/emarsys/network.ts
  test/integrations/destinations/emarsys/processor/data.ts
  test/integrations/destinations/emarsys/router/data.ts
Due: js, ts

feat: onboard emarsys destination (#3318) (#3369)
  src/cdk/v2/destinations/emarsys/config.js
  src/cdk/v2/destinations/emarsys/procWorkflow.yaml
  src/cdk/v2/destinations/emarsys/rtWorkflow.yaml
  src/cdk/v2/destinations/emarsys/utils.js
  src/cdk/v2/destinations/emarsys/utils.test.js
  src/constants/destinationCanonicalNames.js
  src/features.json
  src/services/destination/nativeIntegration.ts
  src/v0/destinations/emarsys/deleteUsers.js
  src/v0/util/deleteUserUtils.js
  src/v1/destinations/emarsys/networkHandler.js
  test/integrations/destinations/emarsys/dataDelivery/data.ts
  test/integrations/destinations/emarsys/deleteUsers/data.ts
  test/integrations/destinations/emarsys/network.ts
  test/integrations/destinations/emarsys/processor/data.ts
  test/integrations/destinations/emarsys/router/data.ts
Due: js, ts

chore: edit changelog
  CHANGELOG.md
Due: none

fix: fixed some issue and added unit test
  src/cdk/v2/destinations/koddi/utils.js
  src/cdk/v2/destinations/koddi/utils.test.js
  src/features.json
Due: js

fix: fixed unit test issue
  src/cdk/v2/destinations/koddi/utils.test.js
Due: js

chore: update router transformation logic
  src/cdk/v2/destinations/klaviyo_bulk_upload/procWorkflow.yaml
  src/cdk/v2/destinations/klaviyo_bulk_upload/rtWorkflow.yaml
  src/cdk/v2/destinations/klaviyo_bulk_upload/utils.js
  src/features.json
Due: js

fix: upgrade zod from 3.22.4 to 3.23.3
  package-lock.json
  package.json
Due: none

fix: upgrade @aws-sdk/client-s3 from 3.485.0 to 3.556.0
  package-lock.json
  package.json
Due: none

chore: adding emarsys to regulations
  src/features.json
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

chore: add af_currency to eventValue root via config
  src/v0/destinations/af/data/AFDefaultConfig.json
  src/v0/destinations/af/transform.js
  test/integrations/destinations/af/processor/data.ts
Due: js

fix: added componenet test
  src/cdk/v2/destinations/koddi/rtWorkflow.yaml
  test/integrations/destinations/koddi/common.ts
  test/integrations/destinations/koddi/processor/clicks.ts
  test/integrations/destinations/koddi/processor/conversions.ts
  test/integrations/destinations/koddi/processor/data.ts
  test/integrations/destinations/koddi/processor/impressions.ts
  test/integrations/destinations/koddi/router/data.ts
Due: none

fix: review comment addressed
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/util.js
Due: js

fix: add test case description
  test/integrations/destinations/fb_custom_audience/processor/data.ts
Due: none

feat: facebook custom audience app secret support (#3357)
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/util.js
  test/integrations/destinations/fb_custom_audience/processor/data.ts
Due: js

chore: add test-case to validate contract for single store sales conversion in routerTransform
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
Due: none

feat(ga4): component test refactor (#3220)
  test/integrations/destinations/ga4/mocks.ts
  test/integrations/destinations/ga4/processor/data.ts
  test/integrations/destinations/ga4/processor/ecomTestData.ts
  test/integrations/destinations/ga4/processor/groupTestData.ts
  test/integrations/destinations/ga4/processor/pageTestData.ts
  test/integrations/destinations/ga4/processor/trackTestData.ts
  test/integrations/destinations/ga4/processor/validationTestData.ts
  test/integrations/testTypes.ts
  test/integrations/testUtils.ts
Due: none

Revert "fix: revert mixpanel deprecate /track (#3291)"
  src/util/prometheus.js
  src/v0/destinations/mp/config.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: js

fix: minor mapping issue in conversions
  src/cdk/v2/destinations/koddi/data/ConversionsConfig.json
  src/cdk/v2/destinations/koddi/utils.test.js
  test/integrations/destinations/koddi/processor/conversions.ts
  test/integrations/destinations/koddi/router/data.ts
Due: js

fix: update validation of event duration
  src/v0/destinations/facebook_conversions/transform.js
  src/v0/destinations/facebook_pixel/transform.js
  src/v0/destinations/facebook_pixel/utils.js
  src/v0/destinations/facebook_pixel/utils.test.js
Due: js

chore: refactor logic
  src/cdk/v2/destinations/klaviyo_bulk_upload/rtWorkflow.yaml
  src/cdk/v2/destinations/klaviyo_bulk_upload/utils.js
  test/integrations/destinations/klaviyo_bulk_upload/router/data.ts
Due: js

fix: standardize hashing for all CAPI integrations
  src/cdk/v2/destinations/reddit/procWorkflow.yaml
  src/v0/destinations/pinterest_tag/utils.js
  test/integrations/destinations/pinterest_tag/processor/data.ts
  test/integrations/destinations/reddit/processor/data.ts
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
