Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix: update gaec destination with config validation (#3847)
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

Revert "fix: add missing field for pinterest_tag single product events" (#3851)
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  test/apitests/data_scenarios/cdk_v2/failure.json
  test/apitests/data_scenarios/cdk_v2/success.json
  test/apitests/data_scenarios/destination/proc/batch_input_multiplex.json
  test/apitests/data_scenarios/destination/proc/multiplex_partial_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_success.json
  test/apitests/data_scenarios/destination/router/failure_test.json
  test/integrations/destinations/pinterest_tag/processor/data.ts
  test/integrations/destinations/pinterest_tag/router/data.ts
  test/integrations/destinations/pinterest_tag/step/data.ts
Due: none

chore(release): 1.83.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: fix tests, qparams and mocks
  src/v1/sources/shopify/transform.js
  test/integrations/sources/shopify/v1ServerSideEventsTests.ts
Due: js

fix: unsafe property getting set via set value library
  src/v0/util/index.js
  test/integrations/destinations/ga4/processor/pageTestData.ts
Due: js

chore: cleanup pinterest tag old tests (#3815)
  test/__tests__/data/pinterest_tag_input.json
  test/__tests__/data/pinterest_tag_output.json
  test/__tests__/data/pinterest_tag_router_batch_output.json
  test/__tests__/data/pinterest_tag_router_error_input.json
  test/__tests__/data/pinterest_tag_router_error_output.json
  test/__tests__/data/pinterest_tag_router_input.json
  test/__tests__/data/pinterest_tag_router_output.json
  test/__tests__/data/pinterest_tag_step_input.json
  test/__tests__/data/pinterest_tag_step_output.json
  test/__tests__/pinterestConversion-cdk.test.ts
Due: none

chore: should filter out falsey reserved attributes from Intercom destination (#3767)
  src/v0/destinations/twitter_ads/transform.js
  test/integrations/destinations/twitter_ads/processor/data.ts
Due: js

feat: add support for identity stitching for shopify pixel flow (#3818)
  src/util/prometheus.js
  src/v0/sources/shopify/util.js
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/pixelTransform.redisCartToken.test.js
Due: js

fix: add missing fields to pinterest_tag mapping (#3814)
  src/cdk/v2/destinations/pinterest_tag/config.js
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  src/cdk/v2/destinations/pinterest_tag/rtWorkflow.yaml
  src/cdk/v2/destinations/pinterest_tag/utils.js
  src/cdk/v2/destinations/pinterest_tag/utils.test.js
  src/v0/destinations/pinterest_tag/config.js
  src/v0/destinations/pinterest_tag/data/pinterestCommonConfig.json
  src/v0/destinations/pinterest_tag/data/pinterestCustomConfig.json
  src/v0/destinations/pinterest_tag/data/pinterestUserConfig.json
  src/v0/destinations/pinterest_tag/transform.js
  src/v0/destinations/pinterest_tag/utils.js
  test/__tests__/data/pinterest_tag_input.json
  test/__tests__/data/pinterest_tag_output.json
  test/__tests__/data/pinterest_tag_router_batch_output.json
  test/__tests__/data/pinterest_tag_router_input.json
  test/__tests__/data/pinterest_tag_router_output.json
  test/__tests__/pinterestConversion.test.js
  test/apitests/data_scenarios/destination/proc/batch_input_multiplex.json
  test/apitests/data_scenarios/destination/proc/multiplex_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_partial_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_success.json
  test/apitests/data_scenarios/destination/router/failure_test.json
  test/apitests/service.api.test.ts
  test/integrations/destinations/pinterest_tag/processor/data.ts
  test/integrations/destinations/pinterest_tag/router/data.ts
  test/integrations/destinations/pinterest_tag/step/data.ts
Due: js

fix: populate source destination info env set properly (#3806)
  src/warehouse/index.js
Due: js

fix: add missing field for pinterest_tag single product events
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  test/apitests/data_scenarios/cdk_v2/failure.json
  test/apitests/data_scenarios/cdk_v2/success.json
  test/apitests/data_scenarios/destination/proc/batch_input_multiplex.json
  test/apitests/data_scenarios/destination/proc/multiplex_partial_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_success.json
  test/apitests/data_scenarios/destination/router/failure_test.json
  test/integrations/destinations/pinterest_tag/processor/data.ts
  test/integrations/destinations/pinterest_tag/router/data.ts
  test/integrations/destinations/pinterest_tag/step/data.ts
Due: none

fix: update order_id in checkout events, messageId in pixel events (#3794)
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/pixelUtils.js
  src/v1/sources/shopify/pixelUtils.test.js
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
Due: js

chore(release): 1.82.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: snowpipe streaming (#3740)
  src/v0/destinations/snowpipe_streaming/transform.js
  test/__tests__/warehouse.test.js
Due: js

fix: endpoint fix for tune destination (#3833)
  src/v0/destinations/tune/transform.js
  test/integrations/destinations/tune/processor/trackTestData.ts
  test/integrations/destinations/tune/router/data.ts
Due: js

feat: support for multiple zap urls (#3825)
  src/cdk/v2/destinations/zapier/procWorkflow.yaml
  src/cdk/v2/destinations/zapier/utils.js
  test/integrations/destinations/zapier/processor/data.ts
Due: js

Should filter out falsey reserved attributes from Intercom destination (#3767)
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom/utils.test.js
Due: js

chore: allow only mapped in properties, update event name (#3830)
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/pixelUtils.js
  src/v1/sources/shopify/pixelUtils.test.js
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
Due: js

fix: str replace is not a function error (#3799)
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

feat: onboard tune destination (#3795)
  src/v0/destinations/tune/transform.js
  test/integrations/destinations/tune/processor/data.ts
  test/integrations/destinations/tune/processor/trackTestData.ts
  test/integrations/destinations/tune/router/data.ts
Due: js

chore: added mapping and test case
  src/v0/destinations/twitter_ads/data/TwitterAdsTrackConfig.json
  test/integrations/destinations/twitter_ads/processor/data.ts
Due: none

chore: add network handler file for ga4 v2 in v0 implementation flow (#3822)
  src/v0/destinations/ga4_v2/networkHandler.js
  src/v1/destinations/ga4_v2/networkHandler.ts
  test/integrations/destinations/ga4_v2/dataDelivery/business.ts
  test/integrations/destinations/ga4_v2/dataDelivery/data.ts
Due: js, ts

chore: description updated
  test/integrations/destinations/twitter_ads/processor/data.ts
  test/integrations/destinations/twitter_ads/router/data.ts
Due: none

chore(release): 1.83.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: not allowing empty string or null values for mandatory fields in zoho (#3800)
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
Due: js

chore: should filter out falsey reserved attributes from Intercom destination (#3767)
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom/utils.test.js
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
