Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: removing unwanted fields from event metadata in reddit destination (#4221)
  src/cdk/v2/destinations/reddit/procWorkflow.yaml
  src/cdk/v2/destinations/reddit/utils.js
  test/integrations/destinations/reddit/processor/data.ts
  test/integrations/destinations/reddit/router/data.ts
Due: js

fix: use UTC in getBirthdayObj to fix the ortto destination test in different timezones (#4209)
  src/cdk/v2/destinations/ortto/utils.js
Due: js

chore: address comments
  src/middlewares/baseSpreader.ts
  src/middlewares/tests/arraySpreader.test.ts
Due: ts

fix: handle fb_custom_audience oauth error
  src/v0/util/facebookUtils/networkHandler.js
  src/v0/util/facebookUtils/networkHandler.test.js
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
  test/integrations/destinations/fb_custom_audience/network.ts
Due: js

fix: use ts file
  src/v0/util/facebookUtils/networkHandler.test.ts
Due: ts

fix: review comments
  src/v0/util/facebookUtils/networkHandler.test.ts
Due: ts

chore: use google ads SDK in GAEC destination (#4177)
  src/v0/destinations/google_adwords_enhanced_conversions/config.js
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/network.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

fix(customerio): encode path parameter function (#4234)
  src/v0/destinations/customerio/util.js
  src/v0/destinations/customerio/util.test.js
Due: js

feat(mp): add validation for property limits in mixpanel destination (#4233)
  src/v0/destinations/mp/config.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
Due: js

feat: support compacted destination transformation payloads
  src/features.ts
  src/middlewares/__tests__/destTransformCompactedPayloadV1.test.ts
  src/middlewares/__tests__/routerTransformCompactedPayloadV1.test.ts
  src/middlewares/destTransformCompactedPayloadV1.ts
  src/middlewares/routerTransformCompactedPayloadV1.ts
  src/routes/destination.ts
  src/types/destinationTransformation.ts
Due: ts

chore: addressing comment
  test/integrations/destinations/mp/processor/data.ts
Due: none

feat: add spread middleware which will help to spread information around the event body (#4186)
  src/middlewares/arraySpreader.ts
  src/middlewares/baseSpreader.ts
  src/middlewares/tests/arraySpreader.test.ts
  src/middlewares/types/spreader.ts
  src/routes/destination.ts
Due: ts

fix: handle null properties for ga nonEcomGenericEvent (#4207)
  src/v0/destinations/ga/transform.js
  src/v0/destinations/ga/transform.test.ts
Due: js, ts

chore: convert test to table test
  src/v0/util/facebookUtils/networkHandler.test.ts
Due: ts

chore: ignore .orig files
  .gitignore
  src/routes/destination.ts.orig
Due: none

feat: support compacted destination transformation payloads (#4220)
  .gitignore
  src/features.ts
  src/middlewares/__tests__/destTransformCompactedPayloadV1.test.ts
  src/middlewares/__tests__/routerTransformCompactedPayloadV1.test.ts
  src/middlewares/destTransformCompactedPayloadV1.ts
  src/middlewares/routerTransformCompactedPayloadV1.ts
  src/routes/destination.ts
  src/types/destinationTransformation.ts
Due: ts

fix: handle fb_custom_audience auth error (#4237)
  src/v0/util/facebookUtils/networkHandler.js
  src/v0/util/facebookUtils/networkHandler.test.ts
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
  test/integrations/destinations/fb_custom_audience/network.ts
Due: js, ts

feat(garl): add eventstream and vdm v1 flow tests for router
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/record.ts
Due: js

feat: add record v1 support to event stream for garl (#4231)
  src/v0/destinations/google_adwords_remarketing_lists/recordTransform.js
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/record.ts
Due: js

refactor: shopify tracker logic
  src/sources/shopify/tracker/config.js
  src/sources/shopify/tracker/shopify.util.test.js
  src/sources/shopify/tracker/transform.js
  src/sources/shopify/tracker/transform.test.js
  src/sources/shopify/tracker/util.js
  src/sources/shopify/tracker/util.redis.test.js
  src/sources/shopify/tracker/util.test.js
  src/sources/shopify/utils.test.js
  src/sources/shopify/webpixelTransformations/pixelTransform.redisCartToken.test.js
  src/sources/shopify/webpixelTransformations/pixelTransform.test.js
  src/util/redis/redisConnector.js
Due: js

refactor: shopify source tracker (#4230)
  src/sources/shopify/tracker/config.js
  src/sources/shopify/tracker/shopify.util.test.js
  src/sources/shopify/tracker/transform.js
  src/sources/shopify/tracker/transform.test.js
  src/sources/shopify/tracker/util.js
  src/sources/shopify/tracker/util.redis.test.js
  src/sources/shopify/tracker/util.test.js
  src/sources/shopify/utils.test.js
  src/sources/shopify/webpixelTransformations/pixelTransform.redisCartToken.test.js
  src/sources/shopify/webpixelTransformations/pixelTransform.test.js
  src/util/redis/redisConnector.js
Due: js

chore: apply suggestions from code review
  src/v0/destinations/mp/transform.js
Due: js

fix: minor changes
  src/v0/destinations/mp/transform.js
Due: js

feat: onabord userpilot destination
  src/cdk/v2/destinations/userpilot/config.js
  src/cdk/v2/destinations/userpilot/procWorkflow.yaml
  src/cdk/v2/destinations/userpilot/utils.js
  test/integrations/destinations/userpilot/processor/data.ts
Due: js

chore: update functionality
  src/cdk/v2/destinations/userpilot/utils.js
Due: js

chore: add util tests
  src/cdk/v2/destinations/userpilot/utils.js
  src/cdk/v2/destinations/userpilot/utils.test.js
Due: js

feat: added union and append operation in mp (#4225)
  src/cdk/v2/destinations/reddit/utils.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/processor/data.ts
Due: js

feat: onboard userpilot integration (#4238)
  src/cdk/v2/destinations/userpilot/config.js
  src/cdk/v2/destinations/userpilot/procWorkflow.yaml
  src/cdk/v2/destinations/userpilot/utils.js
  src/cdk/v2/destinations/userpilot/utils.test.js
  test/integrations/destinations/userpilot/processor/data.ts
Due: js

chore(release): 1.97.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: add validation for sourceEvents array type
  src/services/source/__tests__/nativeIntegration.test.ts
  src/services/source/nativeIntegration.ts
Due: ts

feat: add validation for sourceEvents array type (#4240)
  src/services/source/__tests__/nativeIntegration.test.ts
  src/services/source/nativeIntegration.ts
Due: ts

chore(docs): update README on how to configure secrets in tests
  README.md
Due: none

fix: handle invalid logincustomerId depending on subAccount
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

fix: ensure marketo_static_list metadata is always an array
  .eslintignore
  src/v0/destinations/marketo_static_list/transform.js
  src/v0/destinations/marketo_static_list/transform.test.js
Due: js

fix: ensure marketo_static_list metadata is always an array (#4241)
  .eslintignore
  src/v0/destinations/marketo_static_list/transform.js
  src/v0/destinations/marketo_static_list/transform.test.js
Due: js

chore(docs): update README on how to configure secrets in tests (#4242)
  README.md
Due: none

chore: address comment
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/network.ts
Due: none

chore: increase test coverage
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/network.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
Due: none

fix: handle invalid logincustomerId depending on subAccount (#4243)
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/network.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

feat(salesforce): add caching to reduce API calls
  src/v0/destinations/salesforce/transform.js
Due: js
