Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: upgrade node version to 20 (#4076)
  .gitignore
  .nvmrc
  Dockerfile
  Dockerfile-ut-func
  package-lock.json
  package.json
  src/util/utils.js
  src/util/utils.test.js
  test/__tests__/user_transformation_fetch.test.js
Due: js

chore: add missing library and integration label to checkout identify payloads
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
Due: js

chore: add missing library and integration label to checkout identify payloads (#4114)
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
Due: js

docs: move config generator python script note earlier
  CONTRIBUTING.md
Due: none

chore: update tests
  src/v0/destinations/am/networkHandler.js
  test/integrations/destinations/am/dataDelivery/data.ts
Due: js

fix: network handler class name
  src/adapters/networkHandlerFactory.js
  src/v0/destinations/am/networkHandler.js
Due: js

fix: addressing comments
  src/sources/braze/transform.js
Due: js

chore: add test
  test/integrations/destinations/am/dataDelivery/data.ts
Due: none

chore: fix type references
  src/cdk/v2/destinations/bloomreach/utils.ts
  src/helpers/__tests__/serviceSelector.test.ts
  src/services/comparator.ts
  src/types/controlPlaneConfigSpec.ts
  src/types/transformation.ts
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/customerio_audience/type.ts
  src/v0/destinations/customerio_audience/utils.ts
  src/v0/destinations/ga4_v2/transform.ts
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/router/data.ts
Due: ts

chore: add test case filter support
  package-lock.json
  package.json
  test/integrations/component.test.ts
  test/integrations/testTypes.ts
  test/integrations/testUtils.ts
Due: none

feat: added more test cases
  test/integrations/sources/braze/data.ts
Due: none

feat: added tests covering more scenarios
  src/sources/braze/transform.js
  test/integrations/sources/braze/data.ts
Due: js

chore: refactor, address comments
  src/v0/destinations/am/networkHandler.js
  test/integrations/destinations/am/dataDelivery/data.ts
  test/integrations/destinations/am/network.ts
Due: js

chore: upgrade salesforce api version from v50.0 to v63.0
  src/v0/destinations/salesforce/config.js
  test/__tests__/data/salesforce_router_metadata_input.json
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce/dataDelivery/data.ts
  test/integrations/destinations/salesforce/network.ts
  test/integrations/destinations/salesforce/processor/data.ts
  test/integrations/destinations/salesforce/router/data.ts
  test/integrations/destinations/salesforce_oauth/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth/network.ts
  test/integrations/destinations/salesforce_oauth_sandbox/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth_sandbox/network.ts
Due: js

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

chore: update lockfile, add pyroscope mock
  package-lock.json
  src/middleware.test.js
Due: js

chore: add test case filter support (#4115)
  package-lock.json
  package.json
  test/integrations/component.test.ts
  test/integrations/testTypes.ts
  test/integrations/testUtils.ts
Due: none

refactor: migrate second batch of sources to v2
  src/sources/extole/mapping.json
  src/sources/extole/transform.js
  src/sources/formsort/mapping.json
  src/sources/formsort/transform.js
  src/sources/formsort/transform.test.js
  src/sources/gainsightpx/config.js
  src/sources/gainsightpx/data/customMapping.json
  src/sources/gainsightpx/data/engagementMapping.json
  src/sources/gainsightpx/data/featureMatchMapping.json
  src/sources/gainsightpx/data/feedbackMapping.json
  src/sources/gainsightpx/data/identifyMapping.json
  src/sources/gainsightpx/data/segmentIOMapping.json
  src/sources/gainsightpx/data/segmentMapping.json
  src/sources/gainsightpx/data/surveyMapping.json
  src/sources/gainsightpx/transform.js
  src/sources/gainsightpx/utils.js
  src/sources/iterable/mapping.json
  src/sources/iterable/transform.js
  src/sources/mailjet/mapping.json
  src/sources/mailjet/transform.js
  src/sources/mailmodo/mapping.json
  src/sources/mailmodo/transform.js
  src/sources/moengage/transform.js
  src/sources/monday/mapping.json
  src/sources/monday/transform.js
  src/sources/monday/util.js
  src/sources/olark/groupMapping.json
  src/sources/olark/trackMapping.json
  src/sources/olark/transform.js
  src/sources/olark/util.js
  src/sources/ortto/event_mapping.json
  src/sources/ortto/mapping.json
  src/sources/ortto/transform.js
  src/v0/sources/moengage/transform.js
Due: js

refactor: migrating rest of the sources to v2
  src/controllers/util/index.test.ts
  src/sources/pagerduty/data/eventMapping.json
  src/sources/pagerduty/data/trackMapping.json
  src/sources/pagerduty/transform.js
  src/sources/pipedream/config.js
  src/sources/pipedream/transform.js
  src/sources/pipedream/util.js
  src/sources/refiner/groupMapping.json
  src/sources/refiner/identifyMapping.json
  src/sources/refiner/trackMapping.json
  src/sources/refiner/transform.js
  src/sources/revenuecat/mapping.json
  src/sources/revenuecat/transform.js
  src/sources/satismeter/data/trackMapping.json
  src/sources/satismeter/transform.js
  src/sources/segment/transform.js
  src/sources/signl4/mapping.json
  src/sources/signl4/transform.js
  src/sources/slack/mapping.json
  src/sources/slack/transform.js
  src/sources/slack/util.js
  src/sources/slack/util.test.js
  src/sources/webhook/transform.js
  src/v0/sources/message.js
  src/v0/sources/segment/transform.js
  src/v0/sources/shopify/transform.js
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/v1/sources/shopify/webpixelTransformations/pixelUtils.js
  src/v1/sources/shopify/webpixelTransformations/pixelUtils.test.js
Due: js, ts

refactor: migrate second batch of sources to v2
  src/sources/monday/transform.js
  test/apitests/data_scenarios/source/v2/response_to_caller.json
  test/apitests/service.api.test.ts
Due: js

chore: fix code smells, lexical declaration
  src/sources/extole/transform.js
Due: js

fix: import path fix
  src/sources/extole/transform.js
Due: js

refactor: sources to v2 batch3 (#4087)
  src/v0/util/index.test.js
Due: js

chore(release): 1.91.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: add test cases for cio_audience
  src/services/comparator.ts
  src/v0/destinations/customerio_audience/transform.test.ts
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/customerio_audience/type.ts
Due: ts

chore: morph script to update secrets v1
  package-lock.json
  package.json
  test/integrations/testUtils.ts
  test/scripts/morph copy.ts
  test/scripts/morph.ts
  test/scripts/morph_temp.ts
Due: none

fix: added missing email check during primary email id filtering in zendesk destination
  src/v0/destinations/zendesk/transform.js
  test/integrations/destinations/zendesk/network.ts
  test/integrations/destinations/zendesk/processor/data.ts
Due: js

chore: simpler script to replace auth
  test/scripts/pos.ts
Due: none

fix: minor fix
  src/types/eventSpec.ts
Due: ts

fix: add module in the search url path for zoho
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/common.ts
  test/integrations/destinations/zoho/network.ts
  test/integrations/destinations/zoho/router/deletion.ts
Due: js

fix: added missing email check during primary email id filtering in zendesk destination (#4124)
  src/v0/destinations/zendesk/transform.js
  test/integrations/destinations/zendesk/network.ts
  test/integrations/destinations/zendesk/processor/data.ts
Due: js

fix: add module in the search url path for zoho (#4126)
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/common.ts
  test/integrations/destinations/zoho/network.ts
  test/integrations/destinations/zoho/router/deletion.ts
Due: js

chore: logging payload schema during source transformation error
  src/services/source/nativeIntegration.ts
Due: ts

fix: mailjet handling of v2 spec
  src/sources/mailjet/transform.js
Due: js

chore(release): 1.91.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: mailjet test case modifications
  test/integrations/sources/mailjet/data.ts
Due: none

fix: vs code debugger config
  .vscode/launch.json
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
