Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

refactor: zoho to not asssume same action in all events of a batch
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/utils.js
Due: js

chore: add stat test for cart token miss
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
Due: js

refactor: ignore warning in timestamp util
  src/v0/destinations/google_adwords_offline_conversions/helper.js
  src/v0/destinations/google_adwords_offline_conversions/helper.test.js
Due: js

refactor: ignore warning in timestamp util
  src/v0/destinations/google_adwords_offline_conversions/helper.js
Due: js

chore: integration test structure changes
  go/go.mod
  go/go.sum
  go/webhook/testcases/testcases.go
  go/webhook/testcases/testdata/testcases/adjust/simple_track_call.json
  go/webhook/testcases/testdata/testcases/adjust/simple_track_call_v2_version.json
  go/webhook/testcases/testdata/testcases/adjust/simple_track_call_with_wrong_created_at.json
  go/webhook/testcases/testdata/testcases/shopify/identify_call____customer_update_event_from_pixel_app.json
  go/webhook/testcases/testdata/testcases/shopify/identify_call_for_customers_create_event.json
  go/webhook/testcases/testdata/testcases/shopify/invalid_topic.json
  go/webhook/testcases/testdata/testcases/shopify/page_call____page_view_event_from_web_pixel.json
  go/webhook/testcases/testdata/testcases/shopify/topic_not_found.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____address_info_submitted_event_from_web_pixel.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____cart_update_event_with_no_line_items_from_pixel_app.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____cart_viewed_event_from_web_pixel.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____carts_create_.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____checkout_completed_event_from_web_pixel.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____checkout_started_event_from_pixel_app.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____checkout_started_event_from_web_pixel.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____checkout_updated_event_from_pixel_app.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____collection_viewed_event_from_web_pixel.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____contact_info_submitted_event_from_web_pixel.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____fullfillments_updated_event.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____generic_event_from_pixel_app.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____order_cancelled_event_from_pixel_app.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____order_created_event_from_pixel_app.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____order_partially_fulfilled_event.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____order_updated_event_from_pixel_app.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____payment_info_submitted_event_from_web_pixel.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____product_added_to_cart_event_from_web_pixel.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____product_removed_from_cart_event_from_web_pixel.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____product_viewed_event_from_web_pixel.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____search_submitted_event_from_web_pixel.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____shipping_info_submitted_event_from_web_pixel.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____unknown_event_from_web_pixel__should_not_be_sent_to_shopify.json
  go/webhook/testcases/testdata/testcases/shopify/track_call____unsupported_event_from_pixel_app.json
  go/webhook/testcases/testdata/testcases/shopify/unsupported_checkout_event.json
  go/webhook/testcases/testdata/testcases/shopify/unsupported_event_type.json
  test/scripts/generateJson.ts
Due: none

feat: snapchat v3
  src/v0/destinations/snapchat_conversion/config.js
  src/v0/destinations/snapchat_conversion/transformV3.js
  src/v0/destinations/snapchat_conversion/util.js
  src/v0/destinations/snapchat_conversion/utilsV3.js
Due: js

chore: adjust v2 test cases
  go/webhook/testcases/testdata/testcases/adjust/simple_track_call_with_no_query_parameters_v2_version.json
  go/webhook/testcases/testdata/testcases/adjust/simple_track_call_with_wrong_created_at_v2_version.json
  test/integrations/sources/adjust/data.ts
Due: none

chore: deprecate v0 implementation and move everything to v2
  src/sources/adjust/config.ts
  src/sources/adjust/core.js
  src/sources/adjust/mapping.json
  src/sources/adjust/transform.js
  src/sources/adjust/utils.js
  src/sources/adjust/utils.test.js
  src/v0/sources/adjust-deprecated/config.ts
  src/v0/sources/adjust-deprecated/core.js
  src/v0/sources/adjust-deprecated/mapping.json
  src/v0/sources/adjust-deprecated/transform.js
  src/v0/sources/adjust-deprecated/utils.js
  src/v0/sources/adjust-deprecated/utils.test.js
Due: js, ts

chore: add unit tests, fix docs
  src/controllers/util/index.ts
  src/sources/adjust/transform.js
  src/sources/adjust/utils.js
  src/sources/adjust/utils.test.js
Due: js, ts

fix: mp group call did not use context.traits blocking newer sdks from sending group calls
  src/v0/destinations/mp/transform.js
  test/integrations/destinations/mp/processor/data.ts
Due: js

fix: added some comments
  src/v0/destinations/twitter_ads/transform.js
Due: js

feat: added drop traits in track call feature for mixpanel (#4034)
  src/v0/destinations/mp/transform.js
  test/integrations/destinations/mp/processor/data.ts
Due: js

feat: new destination for accoil analytics
  src/cdk/v2/destinations/accoil_analytics/procWorkflow.yaml
  src/cdk/v2/destinations/accoil_analytics/rtWorkflow.yaml
  src/cdk/v2/destinations/accoil_analytics/utils.js
  test/integrations/destinations/accoil_analytics/processor/data.ts
  test/integrations/destinations/accoil_analytics/router/data.ts
Due: js

feat: removed anonymousId mapping, added ACCOIL_ANALYTICS to features.ts
  src/cdk/v2/destinations/accoil_analytics/procWorkflow.yaml
  src/features.ts
Due: ts

feat: refactored processor and router data test files
  src/cdk/v2/destinations/accoil_analytics/procWorkflow.yaml
  test/integrations/destinations/accoil_analytics/processor/data.ts
  test/integrations/destinations/accoil_analytics/router/data.ts
Due: none

chore: added mappings for v3
  src/v0/destinations/snapchat_conversion/config.js
  src/v0/destinations/snapchat_conversion/dataV3/CheckoutStartedConfigV3.json
  src/v0/destinations/snapchat_conversion/dataV3/OrderCompletedConfigV3.json
  src/v0/destinations/snapchat_conversion/dataV3/PaymentInfoEnteredConfigV3.json
  src/v0/destinations/snapchat_conversion/dataV3/ProductAddedConfigV3.json
  src/v0/destinations/snapchat_conversion/dataV3/ProductAddedToWishlistConfigV3.json
  src/v0/destinations/snapchat_conversion/dataV3/ProductListViewedConfigV3.json
  src/v0/destinations/snapchat_conversion/dataV3/ProductViewedConfigV3.json
  src/v0/destinations/snapchat_conversion/dataV3/ProductsSearchedConfigV3.json
  src/v0/destinations/snapchat_conversion/dataV3/PromotionClickedConfigV3.json
  src/v0/destinations/snapchat_conversion/dataV3/PromotionViewedConfigV3.json
  src/v0/destinations/snapchat_conversion/dataV3/SignupConfigV3.json
  src/v0/destinations/snapchat_conversion/dataV3/SnapchatTrackDefaultConfigV3.json
  src/v0/destinations/snapchat_conversion/dataV3/TrackEventCommonConfigV3.json
  src/v0/destinations/snapchat_conversion/transformV3.js
Due: js

chore: small fix
  src/v0/destinations/snapchat_conversion/utilsV3.js
Due: js

refactor: zoho to not asssume same action in all events of a batch
  src/cdk/v2/destinations/zoho/transformRecord.js
Due: js

refactor: zoho to not asssume same action in all events of a batch
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/utils.test.js
Due: js

deploy: 787269594e2b395fcf8722c47dc5c11001ca28ce
  314/app.js
  314/data/behaviors.csv
  314/data/behaviors.json
  314/data/categories.csv
  314/data/categories.json
  314/data/packages.json
  314/data/suites.csv
  314/data/suites.json
  314/data/timeline.json
  314/export/influxDbData.txt
  314/export/mail.html
  314/export/prometheusData.txt
  314/favicon.ico
  314/history/categories-trend.json
  314/history/duration-trend.json
  314/history/history-trend.json
  314/history/history.json
  314/history/retry-trend.json
  314/index.html
  314/plugin/behaviors/index.js
  314/plugin/packages/index.js
  314/plugin/screen-diff/index.js
  314/plugin/screen-diff/styles.css
  314/styles.css
  314/widgets/behaviors.json
  314/widgets/categories-trend.json
  314/widgets/categories.json
  314/widgets/duration-trend.json
  314/widgets/duration.json
  314/widgets/environment.json
  314/widgets/executors.json
  314/widgets/history-trend.json
  314/widgets/launch.json
  314/widgets/retry-trend.json
  314/widgets/severity.json
  314/widgets/status-chart.json
  314/widgets/suites.json
  314/widgets/summary.json
  index.html
  last-history/duration-trend.json
Due: none

feat: add identify support for pixel checkout step events
  src/v1/sources/shopify/pixelEventsMappings/pixelIdentifyMapping.json
  src/v1/sources/shopify/transform.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.js
  src/v1/sources/shopify/webpixelTransformations/pixelUtils.js
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutStepsTests.ts
Due: js

refactor: remove unused import in zoho tests
  src/cdk/v2/destinations/zoho/utils.test.js
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
