Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: misc
  .github/workflows/ingestion-service-test.yml
Due: none

chore: test
  .github/workflows/ingestion-service-test.yml
Due: none

chore: cleanup
  .github/workflows/ingestion-service-test.yml
Due: none

chore: run ingestion svc test after artefacts build
  .github/workflows/ingestion-service-test.yml
Due: none

chore: misc
  .github/workflows/build-pr-artifacts.yml
Due: none

chore: remmove env
  .github/workflows/ingestion-service-test.yml
Due: none

fix: test
  .github/workflows/ingestion-service-test.yml
Due: none

chore: remove branch
  .github/workflows/ingestion-service-test.yml
Due: none

chore: use go version file
  .github/workflows/ingestion-service-test.yml
Due: none

chore: pass secrets
  .github/workflows/build-pr-artifacts.yml
Due: none

chore: cleanup unused types and move anys to src/types
  src/cdk/v2/handler.ts
  src/cdk/v2/utils.ts
  src/controllers/delivery.ts
  src/controllers/eventTest.ts
  src/controllers/regulation.ts
  src/helpers/serviceSelector.ts
  src/services/destination/cdkV2Integration.ts
  src/services/destination/postTransformation.ts
  src/services/eventTest/eventTester.ts
  src/services/profile.ts
  src/services/source/nativeIntegration.ts
  src/services/source/postTransformation.ts
  src/services/userTransform.ts
  src/types/index.ts
  src/types/sourceTransformation.ts
  src/types/userRegulation.ts
  src/types/userTransformation.ts
  src/util/dynamicConfigParser.ts
  src/util/types.ts
Due: ts

feat: onboarding snapchat capi v3
  src/v0/destinations/snapchat_conversion/data/CheckoutStartedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/OrderCompletedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/PaymentInfoEnteredConfigV3.json
  src/v0/destinations/snapchat_conversion/data/ProductAddedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/ProductAddedToWishlistConfigV3.json
  src/v0/destinations/snapchat_conversion/data/ProductListViewedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/ProductViewedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/ProductsSearchedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/PromotionClickedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/PromotionViewedConfigV3.json
  src/v0/destinations/snapchat_conversion/data/SignupConfigV3.json
  src/v0/destinations/snapchat_conversion/data/SnapchatTrackDefaultConfigV3.json
  src/v0/destinations/snapchat_conversion/data/TrackEventCommonConfigV3.json
  src/v0/destinations/snapchat_conversion/transform.js
  src/v0/destinations/snapchat_conversion/transformV3.js
  src/v0/destinations/snapchat_conversion/util.js
  src/v0/destinations/snapchat_conversion/utilsV3.js
  test/integrations/destinations/snapchat_conversion/processor/dataV3.ts
  test/integrations/destinations/snapchat_conversion/router/dataV3.ts
Due: js

chore: put check for company object
  src/cdk/v2/destinations/userpilot/procWorkflow.yaml
  test/integrations/destinations/userpilot/processor/data.ts
Due: none

chore: update company check
  src/cdk/v2/destinations/userpilot/procWorkflow.yaml
  test/integrations/destinations/userpilot/processor/data.ts
Due: none

chore: update company check (#4261)
  src/cdk/v2/destinations/userpilot/procWorkflow.yaml
  test/integrations/destinations/userpilot/processor/data.ts
Due: none

chore: run ingestion svc test after artefacts build (#4196)
  .github/workflows/build-pr-artifacts.yml
  .github/workflows/ingestion-service-test.yml
Due: none

chore: update sonar action to v4
  .github/workflows/dt-test-and-report-code-coverage.yml
Due: none

feat: refactoring and some changes
  src/v0/destinations/snapchat_conversion/transform.js
  src/v0/destinations/snapchat_conversion/transformV3.js
  src/v0/destinations/snapchat_conversion/util.js
  src/v0/destinations/snapchat_conversion/utilsV3.js
Due: js

chore: minor changes
  src/v0/destinations/snapchat_conversion/transformV3.js
  src/v0/destinations/snapchat_conversion/utilsV3.js
Due: js

chore: added tests and minor refactoring
  src/v0/destinations/snapchat_conversion/transformV3.js
  src/v0/destinations/snapchat_conversion/util.js
  src/v0/destinations/snapchat_conversion/utilsV3.js
  test/integrations/destinations/snapchat_conversion/processor/dataV3.ts
Due: js

fix: minor change
  src/v0/destinations/snapchat_conversion/utilsV3.js
  test/integrations/destinations/snapchat_conversion/processor/dataV3.ts
Due: js

chore: bump sonar action to v5
  .github/workflows/dt-test-and-report-code-coverage.yml
Due: none

refactor: algolia network handler
  src/v1/destinations/algolia/networkHandler.js
Due: js

chore: move userpilot to new tests structure
  test/integrations/component.test.ts
  test/integrations/destinations/userpilot/commonConfig.ts
  test/integrations/destinations/userpilot/maskedSecrets.ts
  test/integrations/destinations/userpilot/processor/data.ts
  test/integrations/destinations/userpilot/processor/groupTestData.ts
  test/integrations/destinations/userpilot/processor/identifyTestData.ts
  test/integrations/destinations/userpilot/processor/trackTestData.ts
Due: none

chore: move userpilot to new tests structure (#4266)
  test/integrations/component.test.ts
  test/integrations/destinations/userpilot/commonConfig.ts
  test/integrations/destinations/userpilot/maskedSecrets.ts
  test/integrations/destinations/userpilot/processor/data.ts
  test/integrations/destinations/userpilot/processor/groupTestData.ts
  test/integrations/destinations/userpilot/processor/identifyTestData.ts
  test/integrations/destinations/userpilot/processor/trackTestData.ts
Due: none

chore: enable collection of cpu data
  src/middleware.js
Due: js

refactor: base network handlers using ts
  src/adapters/network.js
  src/adapters/networkHandlerFactory.js
  src/adapters/networkHandlerFactory.test.js
  src/adapters/networkHandlerFactory.test.ts
  src/adapters/networkHandlerFactory.ts
  src/adapters/networkhandler/baseNetworkHandler.test.ts
  src/adapters/networkhandler/baseNetworkHandler.ts
  src/adapters/networkhandler/genericNetworkHandler.js
  src/services/destination/__tests__/nativeIntegrationDeliver.test.ts
  src/services/destination/nativeIntegration.ts
  src/types/delivery.ts
  src/types/destinationTransformation.ts
  src/types/index.ts
  src/v1/destinations/iterable/strategies/generic.ts
  src/v1/destinations/iterable/types.ts
  swagger/components/examples/delivery/v0/response/failure.yaml
  swagger/components/examples/delivery/v0/response/success.yaml
  test/__tests__/data/proxy_output.json
  test/apitests/service.api.test.ts
  test/integrations/destinations/adobe_analytics/dataDelivery/business.ts
  test/integrations/destinations/algolia/dataDelivery/business.ts
  test/integrations/destinations/algolia/dataDelivery/constant.ts
  test/integrations/destinations/algolia/dataDelivery/other.ts
  test/integrations/destinations/braze/dataDelivery/business.ts
  test/integrations/destinations/campaign_manager/dataDelivery/business.ts
  test/integrations/destinations/marketo/dataDelivery/business.ts
  test/integrations/destinations/marketo_static_list/dataDelivery/business.ts
  test/integrations/destinations/reddit/dataDelivery/business.ts
  test/integrations/destinations/reddit/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce_oauth/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth_sandbox/dataDelivery/oauth.ts
  test/integrations/testUtils.ts
Due: js, ts

chore(pyroscope): test cases modified for init
  src/middleware.test.js
Due: js

fix: removed limit on mixpanel nested property depth level
  src/v0/destinations/mp/config.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
Due: js

fix: validate only import properties
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
Due: js

fix: property validations in mixpanel (#4269)
  src/v0/destinations/mp/config.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
Due: js

chore(release): 1.97.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: bump actions/setup-node from 4.0.4 to 4.4.0 (#4262)
  .github/workflows/allure-test-reporter.yml
  .github/workflows/commitlint.yml
  .github/workflows/draft-new-release.yml
  .github/workflows/dt-test-and-report-code-coverage.yml
  .github/workflows/publish-new-release.yml
  .github/workflows/ut-tests.yml
  .github/workflows/verify-server-start.yml
  .github/workflows/verify.yml
Due: none

fix: revert validation in mixpanel
  src/v0/destinations/mp/transform.js
Due: js

fix: revert validation in mixpanel (#4273)
  src/v0/destinations/mp/transform.js
Due: js

chore(release): 1.97.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: fix sonarqube code smell
  src/v0/destinations/zendesk/transform.js
Due: js

chore: minor change
  src/v0/destinations/zendesk/util.test.js
Due: js
