Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: gaec proxy test refactor
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/oauth.ts
Due: none

fix: review comments addressed
  src/v0/destinations/google_adwords_offline_conversions/config.js
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/google_adwords_offline_conversions/utils.test.js
  src/v0/util/googleUtils/index.js
  src/v0/util/googleUtils/index.test.js
Due: js

chore: code review changes
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_offline_conversions/network.ts
Due: none

chore: code review changes
  test/integrations/destinations/google_adwords_offline_conversions/network.ts
Due: none

chore: garl proxy test refactor (#3073)
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/data.ts
Due: none

chore: code review changes
  test/integrations/destinations/ga4/dataDelivery/business.ts
Due: none

refactor: trade desk proxy testcases (#3175)
  test/integrations/destinations/koala/processor/data.ts
  test/integrations/destinations/koala/router/data.ts
  test/integrations/destinations/the_trade_desk/common.ts
  test/integrations/destinations/the_trade_desk/delivery/business.ts
  test/integrations/destinations/the_trade_desk/delivery/data.ts
  test/integrations/destinations/the_trade_desk/delivery/other.ts
  test/integrations/destinations/the_trade_desk/mocks.ts
Due: none

fix: review comments addressed
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
Due: js

fix: send proper status to server in cm360 (#3127)
  src/v1/destinations/campaign_manager/networkHandler.js
  test/integrations/destinations/campaign_manager/dataDelivery/oauth.ts
  test/integrations/destinations/campaign_manager/dataDelivery/other.ts
Due: js

chore: adding proxy test cases for salesforce oauth (#3170)
  test/integrations/destinations/salesforce_oauth/dataDelivery/data.ts
  test/integrations/destinations/salesforce_oauth/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth/network.ts
Due: none

fix: review comments addressed
  src/v0/destinations/facebook_pixel/utils.js
  src/v0/destinations/facebook_pixel/utils.test.js
  test/integrations/destinations/facebook_pixel/processor/pageScreenTestData.ts
Due: js

fix: utils added
  src/v0/destinations/google_adwords_offline_conversions/transform.js
  src/v0/destinations/google_adwords_offline_conversions/utils.test.js
Due: js

chore: added base support for raising event per tracking plan event
  src/controllers/trackingPlan.ts
  src/services/trackingPlan.ts
  src/util/prometheus.js
  src/v0/util/index.js
Due: js, ts

fix: util function made more pluggable
  src/v0/destinations/google_adwords_offline_conversions/config.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/google_adwords_remarketing_lists/config.js
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/util/googleUtils/index.js
  src/v0/util/googleUtils/index.test.js
Due: js

fix: upload js coverage to codecov
  .github/workflows/dt-test-and-report-code-coverage.yml
Due: none

fix: upload js coverage to codecov (#3179)
  .github/workflows/dt-test-and-report-code-coverage.yml
Due: none

setup transformer code with openfaas pro deployment changes
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
  test/__tests__/user_transformation.test.js
Due: js

code refactorings
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
Due: js

chore: resolve code injection vulnerabilities (#3164)
  src/controllers/bulkUpload.ts
  src/util/fetchDestinationHandlers.ts
Due: ts

chore: refactor intercom proxy tests to new component structure (#3088)
  test/integrations/destinations/intercom/dataDelivery/business.ts
  test/integrations/destinations/intercom/dataDelivery/data.ts
  test/integrations/destinations/intercom/dataDelivery/other.ts
  test/integrations/destinations/intercom/network.ts
Due: none

chore: gaoc proxy test refactor (#3072)
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/data.ts
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_offline_conversions/network.ts
Due: none

chore: base support for raising stat per tracking plan event (#2847)
  src/controllers/trackingPlan.ts
  src/services/trackingPlan.ts
  src/util/prometheus.js
  src/v0/util/index.js
Due: js, ts

chore: ga4 proxy test refactor (#3137)
  test/integrations/destinations/ga4/dataDelivery/business.ts
  test/integrations/destinations/ga4/dataDelivery/data.ts
  test/integrations/destinations/ga4/network.ts
Due: none

feat: add support of
  src/v0/destinations/am/transform.js
  src/v0/destinations/am/util.test.js
  src/v0/destinations/am/utils.js
  test/integrations/destinations/am/processor/data.ts
Due: js

fix: lint fixes
  src/controllers/bulkUpload.ts
  src/controllers/delivery.ts
  src/controllers/destination.ts
  src/controllers/regulation.ts
  src/controllers/source.ts
  src/index.ts
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/services/misc.ts
  src/services/profile.ts
  src/services/trackingPlan.ts
  src/services/userTransform.ts
  src/util/error-extractor/index.ts
Due: ts

feat: batching on max size in bytes
  src/cdk/v2/destinations/movable_ink/config.js
  src/cdk/v2/destinations/movable_ink/rtWorkflow.yaml
Due: js

fix: fb pixel test case refactor (#3075)
  src/v0/destinations/facebook_pixel/transform.test.js
  src/v0/destinations/facebook_pixel/utils.test.js
  src/v0/util/facebookUtils/index.js
  src/v0/util/facebookUtils/index.test.js
  test/integrations/destinations/facebook_pixel/processor/configLevelFeaturesTestData.ts
  test/integrations/destinations/facebook_pixel/processor/data.ts
  test/integrations/destinations/facebook_pixel/processor/ecommTestData.ts
  test/integrations/destinations/facebook_pixel/processor/identifyTestData.ts
  test/integrations/destinations/facebook_pixel/processor/pageScreenTestData.ts
  test/integrations/destinations/facebook_pixel/processor/trackTestData.ts
  test/integrations/destinations/facebook_pixel/processor/validationTestData.ts
  test/integrations/testUtils.ts
Due: js

chore: pardot oboard to new component structure
  src/v0/destinations/pardot/networkHandler.js
  test/integrations/destinations/pardot/dataDelivery/business.ts
  test/integrations/destinations/pardot/dataDelivery/constant.ts
  test/integrations/destinations/pardot/dataDelivery/data.ts
  test/integrations/destinations/pardot/dataDelivery/oauth.ts
  test/integrations/destinations/pardot/dataDelivery/other.ts
  test/integrations/destinations/pardot/network.ts
Due: js

chore: move pardot to new component structure
  test/integrations/destinations/pardot/dataDelivery/business.ts
  test/integrations/destinations/pardot/dataDelivery/data.ts
  test/integrations/destinations/pardot/dataDelivery/oauth.ts
  test/integrations/destinations/pardot/network.ts
Due: none

fix: addressed comments
  test/integrations/destinations/pardot/dataDelivery/business.ts
Due: none

fix the error status code check on function not found
  src/util/openfaas/index.js
Due: js

fix: addressed comments
  src/v0/destinations/pardot/networkHandler.js
Due: js

chore: move pardot to new component structure (#3171)
  src/v0/destinations/pardot/networkHandler.js
  test/integrations/destinations/pardot/dataDelivery/business.ts
  test/integrations/destinations/pardot/dataDelivery/constant.ts
  test/integrations/destinations/pardot/dataDelivery/data.ts
  test/integrations/destinations/pardot/dataDelivery/oauth.ts
  test/integrations/destinations/pardot/dataDelivery/other.ts
  test/integrations/destinations/pardot/network.ts
Due: js

fix: fixed 500 for algolia dontBatch
  src/v1/destinations/algolia/networkHandler.js
Due: js

fix: removed commented code
  src/v1/destinations/algolia/networkHandler.js
Due: js

fix: fixed 500 status for algolia dontBatch (#3178)
  src/v1/destinations/algolia/networkHandler.js
Due: js

fixed the edge case of function not getting redeployed
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
Due: js

fixed the tests
  test/__tests__/user_transformation.test.js
Due: none

fix: Send FullStory user.uid field instead of user.id
  src/cdk/v2/destinations/fullstory/procWorkflow.yaml
Due: none

docs: added comments
  src/cdk/v2/destinations/movable_ink/procWorkflow.yaml
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
