Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: update test name
  test/integrations/destinations/moengage/processor/data.ts
Due: none

feat(destination): pass object data in event for moengage (#4111)
  src/v0/destinations/moengage/config.js
  src/v0/destinations/moengage/data/MOENGAGEDeviceAttributesObjectConfig.json
  src/v0/destinations/moengage/data/MOENGAGEIdentifyAttributesObjectConfig.json
  src/v0/destinations/moengage/data/MOENGAGETrackAttributesObjectConfig.json
  src/v0/destinations/moengage/transform.js
  src/v0/destinations/moengage/transform.test.js
  test/integrations/destinations/moengage/processor/data.ts
Due: js

feat: onboarding new source facebook lead ads (#4132)
  src/sources/facebook_lead_ads/mapping.json
  src/sources/facebook_lead_ads/transform.ts
  src/sources/facebook_lead_ads/type.ts
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/sources/facebook_lead_ads/data.ts
Due: js, ts

chore: use the new intgration lib in zoho vdmv2 implementation
  package-lock.json
  package.json
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/router/upsert.ts
Due: js

chore: code review changes
  src/cdk/v2/destinations/zoho/utils.js
Due: js

fix: add 2655 error handling to fb error handler at proxy
  src/v0/util/facebookUtils/networkHandler.js
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
  test/integrations/destinations/fb_custom_audience/network.ts
Due: js

chore: use the new intgration lib in zoho vdmv2 implementation (#4151)
  package-lock.json
  package.json
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/router/upsert.ts
Due: js

chore(release): 1.93.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

chore: update middleware and mocks tests for pyroscope
  src/middleware.js
  src/middleware.test.js
Due: js

chore: use common flattenParams utility from lib for fb lead ads and adjust source
  src/sources/adjust/transform.js
  src/sources/adjust/utils.js
  src/sources/adjust/utils.test.js
  src/sources/facebook_lead_ads/transform.ts
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/sources/facebook_lead_ads/data.ts
Due: js, ts

fix: minor changes
  src/cdk/v2/destinations/accoil_analytics/utils.js
  src/cdk/v2/destinations/accoil_analytics/utils.ts
Due: js, ts

feat: added masked secrets
  test/integrations/destinations/accoil_analytics/maskedSecrets.ts
  test/integrations/destinations/accoil_analytics/processor/data.ts
  test/integrations/destinations/accoil_analytics/router/data.ts
Due: none

chore: zod schema
  src/types/controlPlaneConfig.ts
  src/types/destinationTransformation.ts
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/customerio_audience/type.ts
  src/v0/destinations/customerio_audience/utils.ts
Due: ts

fix: addressing comment
  test/integrations/destinations/accoil_analytics/maskedSecrets.ts
  test/integrations/destinations/accoil_analytics/processor/data.ts
  test/integrations/destinations/accoil_analytics/router/data.ts
Due: none

chore: add skipping support to component test
  CONTRIBUTING.md
  jest.config.js
  jest.config.typescript.js
  package-lock.json
  test/integrations/component.test.ts
  test/integrations/destinations/examples/processor/data.ts
  test/integrations/destinations/examples/router/data.ts
  test/integrations/testUtils.ts
Due: none

chore: address pr comments
  test/integrations/component.test.ts
Due: none

chore: add skipping support to component test (#4157)
  CONTRIBUTING.md
  jest.config.js
  jest.config.typescript.js
  package-lock.json
  test/integrations/component.test.ts
  test/integrations/destinations/examples/processor/data.ts
  test/integrations/destinations/examples/router/data.ts
  test/integrations/testUtils.ts
Due: none

fix: apply suggestions from code review
  src/cdk/v2/destinations/accoil_analytics/procWorkflow.yaml
Due: none

chore: remove v0,v1 options from impl source folders
  src/controllers/util/index.ts
Due: ts

chore: resolved small code smells
  src/sources/shopify/tracker/config.js
  src/sources/shopify/tracker/transform.js
  src/sources/shopify/tracker/util.js
Due: js

chore: reduce cognetive complexity
  src/sources/shopify/tracker/transform.js
Due: js

chore: remove unnecessary ecom topics
  src/sources/shopify/tracker/config.js
Due: js

chore: rename function appropriately
  src/sources/shopify/transform.js
  src/sources/shopify/utils.js
Due: js

feat: onboarding new destination accoil analytics (#4156)
  src/cdk/v2/destinations/accoil_analytics/procWorkflow.yaml
  src/cdk/v2/destinations/accoil_analytics/rtWorkflow.yaml
  src/cdk/v2/destinations/accoil_analytics/utils.ts
  src/features.ts
  test/integrations/destinations/accoil_analytics/maskedSecrets.ts
  test/integrations/destinations/accoil_analytics/processor/data.ts
  test/integrations/destinations/accoil_analytics/router/data.ts
Due: ts

chore: add ingestion svc test
  .github/workflows/ingestion-service-test.yml
Due: none

Update ingestion-service-test.yml
  .github/workflows/ingestion-service-test.yml
Due: none

fix: ingestion svc file
  .github/workflows/ingestion-service-test.yml
Due: none

chore: misc
  .github/workflows/ingestion-service-test.yml
Due: none

chore: update ajv package to latest
  package-lock.json
  package.json
Due: none

chore: use different workflow runner based on labels
  .github/workflows/build-push-docker-image.yml
Due: none

chore: arm64 truffle hog ignore paths for false positives
  .truffleignore
Due: none

fix: type issues
  src/controllers/__tests__/delivery.test.ts
  src/controllers/__tests__/destination.test.ts
  src/controllers/__tests__/regulation.test.ts
  src/controllers/__tests__/source.test.ts
  test/apitests/service.api.test.ts
  test/integrations/destinations/accoil_analytics/processor/data.ts
Due: ts

fix: type issues
  .gitignore
  jest.config.js
  jest.config.typescript.js
  jest.default.config.js
  src/cdk/v2/destinations/bloomreach/types.ts
  src/cdk/v2/destinations/bloomreach/utils.ts
  src/controllers/destination.ts
  src/helpers/__tests__/serviceSelector.test.ts
  src/services/comparator.ts
  src/services/destination/cdkV2Integration.ts
  src/services/misc.ts
  src/services/userTransform.ts
  src/types/rudderEvents.ts
  src/types/zodTypes.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
  test/integrations/destinations/klaviyo/processor/validationTestDataV2.ts
  test/integrations/destinations/refiner/processor/validationTestData.ts
  test/integrations/destinations/tune/router/data.ts
  test/scripts/migrationUtils.ts
Due: ts

fix: type issues
  package.json
Due: none

chore: update ajv package to latest (#4160)
  package-lock.json
  package.json
Due: none
