Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: initial basic transformation
  src/v0/sources/shopify/transform.js
  src/v0/sources/shopify/transformPixelEvents.js
  src/v0/sources/shopify_old/config.js
  src/v0/sources/shopify_old/data/identifyMapping.json
  src/v0/sources/shopify_old/data/lineItemsMapping.json
  src/v0/sources/shopify_old/data/mapping.json
  src/v0/sources/shopify_old/data/productMapping.json
  src/v0/sources/shopify_old/shopify.util.test.js
  src/v0/sources/shopify_old/shopify_redis.util.test.js
  src/v0/sources/shopify_old/transform.js
  src/v0/sources/shopify_old/util.js
  src/v1/sources/shopify_v2/transform.js
Due: js

chore: remove extra logs
  src/adapters/network.js
  src/util/logger.js
Due: js

chore: remove extra logs - 2
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
Due: js

chore: introduce spacing
  src/adapters/network.js
Due: js

chore: revert extra space
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
Due: js

feat: supporting device token type using integrations object (#3620)
  src/constants/destinationCanonicalNames.js
  src/v0/destinations/clevertap/config.js
  src/v0/destinations/clevertap/transform.js
  src/v0/destinations/clevertap/utils.js
  src/v0/destinations/clevertap/utils.test.js
  test/integrations/destinations/clevertap/processor/data.ts
Due: js

fix: update getAuthErrCategory and update error message for garl
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
  src/v0/util/googleUtils/index.js
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_remarketing_lists/network.ts
Due: js

chore: address comment
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_remarketing_lists/network.ts
Due: none

fix: update getAuthErrCategory and update error message for garl (#3629)
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
  src/v0/util/googleUtils/index.js
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_remarketing_lists/network.ts
Due: js

chore(release): 1.73.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: address comments
  src/v0/sources/shopify/transform.js
  src/v0/sources/shopify/util.js
Due: js

check access to token
  .github/workflows/check-pr-title.yml
Due: none

chore: address comments+1
  src/v0/sources/shopify/transform.js
  src/v0/sources/shopify/util.js
Due: js

feat: add unity source support in Singular
  src/v0/destinations/singular/config.js
  src/v0/destinations/singular/data/SINGULARUnityEventConfig.json
  src/v0/destinations/singular/data/SINGULARUnitySessionConfig.json
  src/v0/destinations/singular/transform.js
  src/v0/destinations/singular/util.js
  test/integrations/destinations/singular/processor/data.ts
Due: js

chore: move mailchimp from myaxios to httpget (#3462)
  src/v0/destinations/mailchimp/transform.js
  src/v0/destinations/mailchimp/utils.js
  test/integrations/destinations/mailchimp/network.ts
  test/integrations/destinations/mailchimp/processor/data.ts
Due: js

chore: move gainsight_px from myaxios to httpget,put and post (#3464)
  src/v0/destinations/gainsight_px/transform.js
  src/v0/destinations/gainsight_px/util.js
Due: js

fix: cartToken fetching from input event
  src/util/prometheus.js
  src/v0/sources/shopify/transform.js
Due: js

fix: shopify: incorporate new shopify cart token format (#3626)
  src/util/prometheus.js
  src/util/redis/testData/shopify_source.json
  src/v0/sources/shopify/transform.js
  src/v0/sources/shopify/util.js
Due: js

chore(release): 1.74.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

refactor: use lodash to handling reserved values
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/transform.js
  src/v0/destinations/braze/util.js
  test/integrations/destinations/braze/processor/data.ts
Due: js

fix: reserved properties for braze (#3573)
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/transform.js
  src/v0/destinations/braze/util.js
  test/integrations/destinations/braze/processor/data.ts
Due: js

fix: braze alias flow with integrations obj
  src/v0/destinations/braze/transform.js
  test/integrations/destinations/braze/processor/data.ts
Due: js

fix: type null
  src/v0/util/index.js
Due: js

fix: add alias support in case alias details are present (#3579)
  src/v0/destinations/braze/transform.js
  test/integrations/destinations/braze/processor/data.ts
Due: js

fix: type null (#3637)
  src/v0/util/index.js
Due: js

chore: send slack message when prod deployment fails
  .github/workflows/build-push-docker-image.yml
  .github/workflows/prepare-for-prod-dt-deploy.yml
Due: none

fix: handle null values for braze dedup
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/util.js
Due: js

chore: removed files
  test/apitests/data_scenarios/cdk_v1/failure.json
  test/apitests/data_scenarios/cdk_v1/success.json
Due: none

chore: removed files (#3639)
  test/apitests/data_scenarios/cdk_v1/failure.json
  test/apitests/data_scenarios/cdk_v1/success.json
Due: none

fix: fixing payload structure
  src/cdk/v2/destinations/bloomreach/utils.ts
  test/integrations/destinations/bloomreach/router/data.ts
Due: ts

chore: address comment
  src/v0/destinations/singular/util.js
Due: js

Update src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/braze.util.test.js
Due: js

fix: sendgrid read root traits
  src/v0/destinations/sendgrid/util.js
  test/integrations/destinations/sendgrid/processor/data.ts
Due: js

fix: sendgrid read root traits (#3642)
  src/v0/destinations/sendgrid/util.js
  test/integrations/destinations/sendgrid/processor/data.ts
Due: js

chore(release): 1.74.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: add inline comment
  src/v0/destinations/braze/util.js
Due: js

fix: fixing network handler for catalog
  src/v1/destinations/bloomreach/networkHandler.js
  test/integrations/destinations/bloomreach/dataDelivery/business.ts
  test/integrations/destinations/bloomreach/network.ts
Due: js

fix: source transformation integration test generation
  go/webhook/testcases/testdata/testcases/close_crm/group_creation.json
  go/webhook/testcases/testdata/testcases/close_crm/lead_deletion.json
  go/webhook/testcases/testdata/testcases/close_crm/lead_update.json
  go/webhook/testcases/testdata/testcases/cordial/multiple_object_input_event_with_batched_payload.json
  go/webhook/testcases/testdata/testcases/cordial/simple_single_object_input_event_with_no_cid.json
  go/webhook/testcases/testdata/testcases/cordial/simple_single_object_input_event_with_normal_channel_and_action.json
  go/webhook/testcases/testdata/testcases/mailjet/mail_jet_when_no_email_is_present.json
  go/webhook/testcases/testdata/testcases/moengage/batch_of_events.json
  go/webhook/testcases/testdata/testcases/segment/test_0.json
  go/webhook/testcases/testdata/testcases/shopify/invalid_topic.json
  go/webhook/testcases/testdata/testcases/shopify/no_query_parameters.json
  go/webhook/testcases/testdata/testcases/shopify/topic_not_found.json
  test/integrations/sources/auth0/data.ts
  test/integrations/sources/iterable/data.ts
  test/integrations/sources/mailjet/data.ts
  test/integrations/sources/moengage/data.ts
  test/integrations/sources/segment/data.ts
  test/integrations/testTypes.ts
  test/scripts/generateJson.ts
Due: none

feat: klaviyo onboard unsubscribe profile support
  src/v0/destinations/klaviyo/batchUtil.js
  src/v0/destinations/klaviyo/batchUtil.test.js
  src/v0/destinations/klaviyo/config.js
  src/v0/destinations/klaviyo/transformV2.js
  src/v0/destinations/klaviyo/util.js
  test/integrations/destinations/klaviyo/processor/groupTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/identifyTestDataV2.ts
  test/integrations/destinations/klaviyo/router/dataV2.ts
Due: js

fix: minor change
  test/integrations/destinations/bloomreach/dataDelivery/business.ts
Due: none
