Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix(mixpanel): add support for partial batch failure hanlding
  src/adapters/network.js
  src/adapters/networkHandlerFactory.js
  src/adapters/networkHandlerFactory.test.js
  src/adapters/networkHandlerFactory.test.ts
  src/adapters/networkHandlerFactory.ts
  src/adapters/networkhandler/baseNetworkHandler.test.ts
  src/adapters/networkhandler/baseNetworkHandler.ts
  src/adapters/networkhandler/genericNetworkHandler.js
  src/services/destination/nativeIntegration.ts
  src/types/delivery.ts
  src/types/destinationTransformation.ts
  src/types/index.ts
  src/v0/destinations/mp/config.js
  src/v1/destinations/iterable/strategies/generic.ts
  src/v1/destinations/iterable/types.ts
  src/v1/destinations/mp/networkHandler.test.ts
  src/v1/destinations/mp/networkHandler.ts
  src/v1/destinations/mp/types.ts
  src/v1/destinations/mp/utils.mock.ts
  src/v1/destinations/mp/utils.test.ts
  src/v1/destinations/mp/utils.ts
  swagger/components/examples/delivery/v0/response/success.yaml
  test/__tests__/data/proxy_output.json
  test/apitests/service.api.test.ts
  test/integrations/destinations/adobe_analytics/dataDelivery/business.ts
  test/integrations/destinations/algolia/dataDelivery/business.ts
  test/integrations/destinations/algolia/dataDelivery/constant.ts
  test/integrations/destinations/algolia/dataDelivery/other.ts
  test/integrations/destinations/braze/dataDelivery/business.ts
  test/integrations/destinations/campaign_manager/dataDelivery/business.ts
  test/integrations/destinations/marketo/dataDelivery/business.ts
  test/integrations/destinations/marketo_static_list/dataDelivery/business.ts
  test/integrations/destinations/mp/dataDelivery/data.ts
  test/integrations/destinations/mp/dataDelivery/proxyV1.ts
  test/integrations/destinations/reddit/dataDelivery/business.ts
  test/integrations/destinations/reddit/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce_oauth/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth_sandbox/dataDelivery/oauth.ts
  test/integrations/testUtils.ts
Due: js, ts

fix: zendesk primary email update issue
  src/v0/destinations/zendesk/transform.js
  src/v0/destinations/zendesk/util.js
  test/integrations/destinations/zendesk/network.ts
  test/integrations/destinations/zendesk/router/data.ts
Due: js

chore: minor changes
  src/v0/destinations/zendesk/transform.js
  src/v0/destinations/zendesk/util.js
Due: js

chore: remove conplexity issue and redundant comments
  src/v0/destinations/af/transform.js
  src/v0/destinations/marketo_static_list/transformV2.js
  src/v0/destinations/snapchat_conversion/transform.js
  src/v1/destinations/emarsys/networkHandler.js
Due: js

chore: address comment
  src/v0/destinations/af/transform.js
Due: js

chore: added test for updating secondary email
  src/v0/destinations/zendesk/transform.js
  test/integrations/destinations/zendesk/network.ts
  test/integrations/destinations/zendesk/processor/data.ts
Due: js

chore: minor change
  src/v0/destinations/zendesk/transform.js
Due: js

chore: added util test
  src/v0/destinations/zendesk/util.test.js
Due: js

chore: minor change
  src/v0/destinations/zendesk/util.js
Due: js

chore: minor change
  src/v0/destinations/zendesk/util.test.js
Due: js

chore: undo minor change
  src/v0/destinations/zendesk/transform.js
Due: js

chore: fix sonarqube code smell
  src/v0/destinations/zendesk/transform.js
Due: js

chore(pyroscope): use forked pyroscope middleware with latest updates
  package-lock.json
  package.json
  src/controllers/misc.ts
  src/index.ts
  src/middleware.js
  src/middleware.test.js
  src/routes/misc.ts
  src/services/misc.ts
Due: js, ts

fix: userpilot response structure
  src/cdk/v2/destinations/userpilot/procWorkflow.yaml
  test/integrations/destinations/userpilot/processor/data.ts
Due: none

chore: fix null undefined check by optional chaining
  src/sources/shopify/webpixelTransformations/pixelUtils.js
Due: js

chore: fix null undefined check by optional chaining (#4254)
  src/sources/shopify/webpixelTransformations/pixelUtils.js
Due: js

fix: userpilot response structure (#4253)
  src/cdk/v2/destinations/userpilot/procWorkflow.yaml
  test/integrations/destinations/userpilot/processor/data.ts
Due: none

chore(release): 1.97.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: remove conplexity issue and redundant comments (#4250)
  src/v0/destinations/af/transform.js
  src/v0/destinations/marketo_static_list/transformV2.js
  src/v0/destinations/snapchat_conversion/transform.js
  src/v1/destinations/emarsys/networkHandler.js
Due: js

chore(pyroscope): use rudderstack scoped pyroscope nodejs
  package-lock.json
  package.json
  src/middleware.js
  src/middleware.test.js
Due: js

fix: userpilot transformations
  src/cdk/v2/destinations/userpilot/procWorkflow.yaml
  test/integrations/destinations/userpilot/processor/data.ts
Due: none

chore(pyroscope): scope and version change
  package-lock.json
  package.json
Due: none

fix: network handlers for mp
  src/v1/destinations/mp/networkHandler.test.ts
  src/v1/destinations/mp/networkHandler.ts
  src/v1/destinations/mp/types.ts
  src/v1/destinations/mp/utils.ts
Due: ts

chore: use google SDK in GARL destination
  package-lock.json
  package.json
  src/v0/destinations/google_adwords_remarketing_lists/config.js
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
  src/v0/destinations/google_adwords_remarketing_lists/util.js
  src/v0/destinations/google_adwords_remarketing_lists/util.test.js
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_remarketing_lists/network.ts
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
Due: js

chore: add partial failure test
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_remarketing_lists/network.ts
Due: none

chore: review comments
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
  src/v0/destinations/google_adwords_remarketing_lists/util.js
Due: js

chore: latest integration lib
  package-lock.json
  package.json
Due: none

chore: change test name
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
Due: none

chore: review comment
  .github/workflows/build-pr-artifacts.yml
Due: none

chore: add docker login
  .github/workflows/build-pr-artifacts.yml
  .github/workflows/ingestion-service-test.yml
Due: none

chore: misc
  .github/workflows/ingestion-service-test.yml
Due: none

chore: use transformer image
  .github/workflows/build-pr-artifacts.yml
  .github/workflows/ingestion-service-test.yml
Due: none

fix: test
  .github/workflows/ingestion-service-test.yml
Due: none

chore: fix workflow
  .github/workflows/ingestion-service-test.yml
Due: none

chore: pull image
  .github/workflows/ingestion-service-test.yml
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
