Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: update event mapping variable
  src/services/destination/preTransformation.ts
Due: ts

feat: fix
  src/controllers/util/index.ts
  src/features.json
  src/types/index.ts
Due: ts

feat: added logs
  src/controllers/destination.ts
  src/controllers/util/index.ts
Due: ts

feat: hs identify and custom objects finalised
  src/v0/destinations/hs/HSTransform-v3.js
  src/v0/destinations/hs/transform.js
  src/v0/destinations/hs/utilv2.js
Due: js

feat: server contract solve
  src/controllers/util/index.ts
  src/v0/destinations/hs/utilv2.js
Due: js, ts

feat: second solve
  src/v0/destinations/hs/utilv2.js
Due: js

chore: add log
  src/controllers/destination.ts
  src/controllers/util/index.ts
  src/v0/destinations/hs/HSTransform-v2.js
  src/v0/destinations/hs/HSTransform-v3.js
Due: js, ts

feat: group by endpoint
  src/v0/destinations/hs/HSTransform-v3.js
  src/v0/destinations/hs/utilv2.js
Due: js

feat: added event name
  src/controllers/util/index.ts
Due: ts

chore
  src/v0/destinations/diy/transform.js
  src/v0/destinations/diy/utils.js
Due: js

chore: add content-type and update destName
  src/controllers/util/index.ts
  src/v0/destinations/hs/utilv2.js
Due: js, ts

chore: small fixes
  src/features.json
  src/v0/destinations/diy/transform.js
  src/v0/destinations/diy/utils.js
Due: js

feat: fix
  src/controllers/util/index.ts
  src/types/index.ts
Due: ts

feat: dyi destination
  src/features.json
  src/v0/destinations/diy/transform.js
  src/v0/destinations/diy/utils.js
Due: js

feat: with track
  src/controllers/util/index.ts
  src/v0/destinations/hs/HSTransform-v3.js
  src/v0/destinations/hs/agnotstic.json
  src/v0/destinations/hs/transform.js
  src/v0/destinations/hs/utilv2.js
Due: js, ts

feat: fix
  src/v0/destinations/hs/HSTransform-v3.js
  src/v0/destinations/hs/utilv2.js
Due: js

chore: tmp
  src/v0/util/index.js
Due: js

chore: json
  package-lock.json
  package.json
Due: none

chore: add track
  src/v0/destinations/diy/transform.js
Due: js

chore: onboard process
  src/v0/destinations/diy/transform.js
Due: js

chore: small fix
  src/v0/destinations/diy/transform.js
Due: js

chore: small fixes+1
  src/v0/destinations/diy/transform.js
  src/v0/destinations/diy/utils.js
Due: js

chore: small fixes+1
  src/v0/destinations/diy/transform.js
Due: js

chore: remove high cardinality histogram metrics for UT
  src/legacy/router.js
  src/services/userTransform.ts
  src/util/customTransformer-v1.js
  src/util/customTransformer.js
  src/util/openfaas/index.js
  src/util/prometheus.js
Due: js, ts

chore: remove high cardinality histogram metrics for UT
  src/services/userTransform.ts
Due: ts

chore: add tests for metrics aggregator
  test/__tests__/metricsAggregator.test.js
Due: none

chore: remove high cardinality histogram metrics for UT (#3515)
  src/legacy/router.js
  src/services/userTransform.ts
  src/util/customTransformer-v1.js
  src/util/customTransformer.js
  src/util/openfaas/index.js
  src/util/prometheus.js
Due: js, ts

chore: add test for metric aggregation
  src/util/metricsAggregator.js
  test/__tests__/metricsAggregator.test.js
Due: js

chore: code cleanup + refactor
  src/util/cluster.js
  src/util/metricsAggregator.js
  src/util/stats.js
  src/util/worker.js
  test/__tests__/metricsAggregator.test.js
Due: js

chore: code cleanup + refactor
  src/util/metricsAggregator.js
Due: js

chore: respond with 501 if reset metrics is not implemented
  src/util/stats.js
Due: js

chore: record ut events request size in summary
  src/util/stats.js
  src/util/statsd.js
Due: js

chore: record ut events request size in summary
  src/services/userTransform.ts
Due: ts

chore: record ivm heap size used metric
  src/util/customTransformer-v1.js
  src/util/prometheus.js
Due: js

chore: handle error in case of heap statistics error
  src/util/customTransformer-v1.js
Due: js

feat: onboarding clicksend destination (#3486)
  src/cdk/v2/destinations/clicksend/config.ts
  src/cdk/v2/destinations/clicksend/procWorkflow.yaml
  src/cdk/v2/destinations/clicksend/rtWorkflow.yaml
  src/cdk/v2/destinations/clicksend/utils.js
  src/cdk/v2/destinations/clicksend/utils.test.js
  src/features.json
  src/v1/destinations/clicksend/networkHandler.js
  test/integrations/destinations/clicksend/commonConfig.ts
  test/integrations/destinations/clicksend/dataDelivery/data.ts
  test/integrations/destinations/clicksend/network.ts
  test/integrations/destinations/clicksend/processor/data.ts
  test/integrations/destinations/clicksend/processor/identify.ts
  test/integrations/destinations/clicksend/processor/track.ts
  test/integrations/destinations/clicksend/router/data.ts
Due: js, ts

chore: record ut events request size in summary (#3516)
  src/services/userTransform.ts
  src/util/stats.js
  src/util/statsd.js
Due: js, ts

chore: add ivm heap usage metrics (#3517)
  src/util/customTransformer-v1.js
  src/util/prometheus.js
Due: js
