Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: update mutliselct config schema
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/common.ts
Due: js

chore: address comment, update identify event check
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
Due: js

chore: remove redundant undefined
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
Due: js

feat: added event validation in braze source
  src/v1/sources/braze/transform.js
  test/integrations/sources/braze/data.ts
Due: js

chore: simplify test cases, swagger updates
  swagger/routes/source.yaml
  test/integrations/sources/auth0/data.ts
Due: none

chore: swagger docs example modifications
  swagger/routes/source.yaml
Due: none

chore: update the getErrorRespEvents function ref from local utils
  src/index.ts
  src/v0/destinations/lambda/transform.js
  src/v0/destinations/marketo/transform.js
  src/v0/destinations/marketo_static_list/transform.js
  src/v0/destinations/marketo_static_list/transformV2.js
  src/v0/destinations/salesforce/transform.js
  src/v0/util/index.js
  src/v0/util/recordUtils.js
Due: js, ts

chore: remove unwanted changes
  src/index.ts
Due: ts

chore: update the file name for type files
  src/types/controlPlaneConfigSpec.ts
  src/types/index.ts
  src/types/sourceTransformtion.ts
  src/types/transformation.ts
  src/types/userRegulation.ts
  src/types/userTransformation.ts
Due: ts

chore: update linkedin ads api version to latest 202502
  src/cdk/v2/destinations/linkedin_ads/config.js
  test/integrations/destinations/linkedin_ads/dataDelivery/business.ts
  test/integrations/destinations/linkedin_ads/dataDelivery/oauth.ts
  test/integrations/destinations/linkedin_ads/network.ts
  test/integrations/destinations/linkedin_ads/processor/configLevelFeaturesTestData.ts
  test/integrations/destinations/linkedin_ads/processor/trackTestData.ts
  test/integrations/destinations/linkedin_ads/processor/validationTestData.ts
  test/integrations/destinations/linkedin_ads/router/data.ts
Due: js

refactor: few sources migrated to v2 completely
  src/sources/adjust/core.js
  src/sources/appcenter/mapping.json
  src/sources/appcenter/transform.js
  src/sources/appsflyer/mapping.json
  src/sources/appsflyer/transform.js
  src/sources/auth0/eventMapping.json
  src/sources/auth0/mapping.json
  src/sources/auth0/transform.js
  src/sources/auth0/util.js
  src/sources/braze/ignore.json
  src/sources/braze/mapping.json
  src/sources/braze/transform.js
  src/sources/canny/authorMapping.json
  src/sources/canny/transform.js
  src/sources/canny/util.js
  src/sources/canny/voterMapping.json
  src/sources/close_crm/config.js
  src/sources/close_crm/transform.js
  src/sources/cordial/config.js
  src/sources/cordial/mapping.json
  src/sources/cordial/transform.js
  src/sources/customerio/config.js
  src/sources/customerio/mapping.json
  src/sources/customerio/transform.js
  src/sources/message.js
  src/v0/util/constant.js
  src/v0/util/index.js
Due: js

chore: fix code smells
  src/sources/appsflyer/transform.js
  src/sources/auth0/transform.js
  src/sources/braze/transform.js
  src/sources/customerio/transform.js
  src/v0/util/index.js
Due: js

chore: modify all test cases to use v2 spec
  test/integrations/sources/appcenter/data.ts
  test/integrations/sources/appsflyer/data.ts
  test/integrations/sources/auth0/data.ts
  test/integrations/sources/braze/data.ts
  test/integrations/sources/canny/data.ts
  test/integrations/sources/close_crm/data.ts
  test/integrations/sources/cordial/data.ts
  test/integrations/sources/customerio/data.ts
  test/integrations/sources/formsort/data.ts
  test/integrations/sources/gainsightpx/data.ts
  test/integrations/sources/iterable/data.ts
  test/integrations/sources/mailjet/data.ts
  test/integrations/sources/mailmodo/data.ts
  test/integrations/sources/moengage/data.ts
  test/integrations/sources/monday/data.ts
  test/integrations/sources/olark/data.ts
  test/integrations/sources/ortto/data.ts
  test/integrations/sources/pagerduty/data.ts
  test/integrations/sources/pipedream/data.ts
  test/integrations/sources/refiner/data.ts
  test/integrations/sources/revenuecat/data.ts
  test/integrations/sources/satismeter/data.ts
  test/integrations/sources/segment/data.ts
  test/integrations/sources/signl4/data.ts
  test/integrations/sources/slack/data.ts
Due: none

chore: unit test cases added to improve codecov
  src/v0/util/index.test.js
Due: js

chore: appsflyer utility test cases
  src/sources/appsflyer/transform.js
  src/sources/appsflyer/utils.js
  src/sources/appsflyer/utils.test.js
Due: js

chore(release): 1.91.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update error function ref (#4105)
  src/v0/destinations/lambda/transform.js
  src/v0/destinations/marketo/transform.js
  src/v0/destinations/marketo_static_list/transform.js
  src/v0/destinations/marketo_static_list/transformV2.js
  src/v0/destinations/salesforce/transform.js
  src/v0/util/index.js
  src/v0/util/recordUtils.js
Due: js

feat: zoho vdmv2
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  test/integrations/destinations/zoho/common.ts
  test/integrations/destinations/zoho/router/deletion.ts
  test/integrations/destinations/zoho/router/upsert.ts
Due: js

chore: search with expired access token
  test/integrations/destinations/zoho/network.ts
  test/integrations/destinations/zoho/router/deletion.ts
  test/integrations/destinations/zoho/router/upsert.ts
Due: none

chore: extra tests
  src/cdk/v2/destinations/zoho/transformRecordsV2.test.js
  test/integrations/destinations/zoho/router/upsert.ts
Due: js

chore: extra utils unit tests for zoho
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
Due: js

chore: fix search id function
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
Due: js

chore: small refactor and extra tests
  src/cdk/v2/destinations/zoho/transformRecordsV2.test.js
Due: js

chore: small refactor and extra tests
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/transformRecordsV2.test.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
Due: js

chore: allow identify calls for either both ids or customer object (#4101)
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
Due: js

chore: onboard am to proxy
  src/v0/destinations/am/networkHandler.js
  test/integrations/destinations/am/dataDelivery/data.ts
Due: js

fix: snapchat util function for normalizing phone number (#4093)
  src/v0/destinations/snapchat_conversion/util.js
  src/v0/destinations/snapchat_conversion/util.test.js
Due: js

chore(release): 1.91.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 1.91.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update linkedin ads api version to 202409 from 202502
  src/cdk/v2/destinations/linkedin_ads/config.js
  test/integrations/destinations/linkedin_ads/dataDelivery/business.ts
  test/integrations/destinations/linkedin_ads/dataDelivery/oauth.ts
  test/integrations/destinations/linkedin_ads/network.ts
  test/integrations/destinations/linkedin_ads/processor/configLevelFeaturesTestData.ts
  test/integrations/destinations/linkedin_ads/processor/trackTestData.ts
  test/integrations/destinations/linkedin_ads/processor/validationTestData.ts
  test/integrations/destinations/linkedin_ads/router/data.ts
Due: js

chore(release): 1.91.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: zoho vdmv2 (#4096)
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/transformRecordsV2.test.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/common.ts
  test/integrations/destinations/zoho/network.ts
  test/integrations/destinations/zoho/router/deletion.ts
  test/integrations/destinations/zoho/router/upsert.ts
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
