Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore(release): 1.57.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 1.58.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add KOALA as a routerTransform
  src/features.json
Due: none

fix: am formatting issues
  src/v0/destinations/am/transform.js
  src/v0/destinations/am/utils.js
Due: js

chore: update prepare-for-staging-deploy.yml
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

fix: prepare-for-staging-deploy.yml
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

Fix wrong attr assignment
  src/cdk/v2/destinations/koala/procWorkflow.yaml
Due: none

Add rtWorkflow file
  src/cdk/v2/destinations/koala/rtWorkflow.yaml
  test/integrations/destinations/koala/router/data.ts
Due: none

chore: resolve code injection vulnerabilities
  src/controllers/bulkUpload.ts
  src/util/fetchDestinationHandlers.ts
Due: ts

fix: release fix feat, bugfix order
  github-release.config.js
  package.json
Due: none

fix: release fix feat, bug order (#3165)
  github-release.config.js
  package.json
Due: none

fix: release action git
  github-release.config.js
Due: none

fix: release action git (#3166)
  github-release.config.js
Due: none

feat: onboard destination movable ink
  src/cdk/v2/destinations/movable_ink/procWorkflow.yaml
  src/cdk/v2/destinations/movable_ink/rtWorkflow.yaml
  src/features.json
  test/integrations/destinations/movable_ink/common.ts
  test/integrations/destinations/movable_ink/processor/data.ts
  test/integrations/destinations/movable_ink/processor/identify.ts
  test/integrations/destinations/movable_ink/processor/track.ts
  test/integrations/destinations/movable_ink/processor/validation.ts
  test/integrations/destinations/movable_ink/router/data.ts
Due: none

test: update common.ts
  test/integrations/destinations/movable_ink/common.ts
Due: none

Remove batch_mode step
  src/cdk/v2/destinations/koala/procWorkflow.yaml
Due: none

Conside properties data when collecting ko_profile_id and email
  src/cdk/v2/destinations/koala/procWorkflow.yaml
  test/integrations/destinations/koala/processor/data.ts
Due: none

chore: address comments
  test/integrations/destinations/marketo_static_list/dataDelivery/business.ts
  test/integrations/destinations/marketo_static_list/dataDelivery/other.ts
Due: none

fix: handle error-first
  src/v0/sources/slack/transform.js
Due: js

chore: add v1 proxy tests for salesforce (#3074)
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce/dataDelivery/data.ts
  test/integrations/destinations/salesforce/dataDelivery/other.ts
  test/integrations/destinations/salesforce/network.ts
Due: none

feat: algolia v1 proxy
  src/cdk/v2/destinations/algolia/rtWorkflow.yaml
  test/integrations/destinations/algolia/router/data.ts
Due: none

feat: algolia v1 proxy
  src/cdk/v2/destinations/algolia/rtWorkflow.yaml
  src/cdk/v2/destinations/algolia/util.js
  src/features.json
  src/v1/destinations/algolia/networkHandler.js
Due: js

feat: algolia v1 proxy
  src/v1/destinations/algolia/networkHandler.js
  test/integrations/destinations/algolia/router/data.ts
Due: js

fix: cleaned up
  src/cdk/v2/destinations/algolia/util.js
  src/features.json
Due: js

Update src/cdk/v2/destinations/koala/procWorkflow.yaml
  src/cdk/v2/destinations/koala/procWorkflow.yaml
Due: none

Remove tool-versions, added by mistake
  .tool-versions
Due: none

chore: adding proxy test cases for salesforce oauth access token refresh
  test/integrations/destinations/salesforce_oauth/dataDelivery/data.ts
  test/integrations/destinations/salesforce_oauth/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth/network.ts
Due: none

Use context variables
  src/cdk/v2/destinations/koala/procWorkflow.yaml
Due: none

remove event attr from identity call
  src/cdk/v2/destinations/koala/procWorkflow.yaml
Due: none

Update tests data
  test/integrations/destinations/koala/processor/data.ts
  test/integrations/destinations/koala/router/data.ts
Due: none

chore: address review comments
  test/integrations/testTypes.ts
  test/integrations/testUtils.ts
  test/scripts/testDataGenerator.ts
Due: none

chore: add support for filtering keys
  test/integrations/testUtils.ts
  test/scripts/testDataGenerator.ts
Due: none

code review suggestion
  test/integrations/destinations/salesforce_oauth/dataDelivery/oauth.ts
Due: none

chore: resolve sql injection vulnerabilities
  package-lock.json
  package.json
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
Due: js

fix: lint fixed
  src/v1/destinations/algolia/networkHandler.js
  test/integrations/destinations/salesforce/network.ts
Due: js

chore: lint fixes
  test/integrations/destinations/salesforce/network.ts
Due: none

chore: onboard script to generate testdata and test integration (#3112)
  .gitignore
  test/integrations/destinations/salesforce/network.ts
  test/integrations/testTypes.ts
  test/integrations/testUtils.ts
  test/scripts/testDataGenerator.ts
Due: none

Update test/integrations/destinations/koala/processor/data.ts
  test/integrations/destinations/koala/processor/data.ts
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
