Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: sfmc ai generated docs
  src/v0/destinations/sfmc/README.md
  src/v0/destinations/sfmc/docs/businesslogic.md
  src/v0/destinations/sfmc/docs/retl.md
Due: none

chore: sfmc api section in docs
  src/v0/destinations/sfmc/README.md
Due: none

chore: payload size middleware performance improvement
  src/index.ts
  src/middleware.js
  src/middleware.test.js
Due: js, ts

chore: payload size middleware performance improvement (#4318)
  src/index.ts
  src/middleware.js
  src/middleware.test.js
Due: js, ts

feat: implement hasDynamicConfig flag support in routerTransform flow
  package-lock.json
  package.json
  src/types/controlPlaneConfig.ts
  src/util/dynamicConfigParser.test.ts
  src/util/dynamicConfigParser.ts
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/component.test.ts
  test/test_reporter/allureReporter.ts
Due: js, ts

fix: add hasDynamicConfig flag support in routerTransform flow
  scripts/add-has-dynamic-config.js
Due: none

test: add hasDynamicConfig flag to test files
  test/integrations/destinations/iterable/router/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: none

fix: handle empty oauth secret for multiple destination
  src/v0/destinations/salesforce/utils.js
  src/v0/destinations/twitter_ads/transform.js
  src/v0/destinations/twitter_ads/util.js
  src/v0/destinations/x_audience/utils.js
  test/integrations/destinations/salesforce/processor/data.ts
  test/integrations/destinations/twitter_ads/processor/data.ts
  test/integrations/destinations/twitter_ads/router/data.ts
  test/integrations/destinations/x_audience/processor/data.ts
  test/integrations/destinations/x_audience/router/data.ts
Due: js

chore: add missing test
  src/v0/destinations/twitter_ads/utils.test.js
Due: js

fix: test
  src/v0/destinations/twitter_ads/utils.test.js
  src/v0/destinations/x_audience/utils.js
Due: js

fix: add validation for other field
  src/v0/destinations/salesforce/utils.js
  src/v0/destinations/twitter_ads/util.js
Due: js

chore: misc
  test/integrations/destinations/twitter_ads/processor/data.ts
Due: none

chore: add more test
  test/integrations/destinations/salesforce/processor/data.ts
Due: none

chore: change test
  test/integrations/destinations/salesforce/processor/data.ts
  test/integrations/destinations/twitter_ads/processor/data.ts
Due: none

chore: addressing comments
  src/v0/destinations/snapchat_conversion/transform.ts
  src/v0/destinations/snapchat_conversion/transformV3.ts
  src/v0/destinations/snapchat_conversion/types.ts
Due: ts

chore: add log to destination handler for fb
  src/v0/util/facebookUtils/networkHandler.js
Due: js

chore: test
  test/integrations/destinations/fb_custom_audience/dataDelivery/other.ts
Due: none

chore: add piscina queue size metric
  src/services/piscina/wrapper.ts
  src/util/prometheus.js
Due: js, ts

fix: mp add content-type header and follow strict for engage and group apis
  src/v0/destinations/mp/transform.js
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: js

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

fix: addressing comments
  src/v0/destinations/fb_custom_audience/util.js
Due: js

fix: add uuid as fallback to missing anonymousId in webhook events (#4276)
  src/sources/shopify/webhookTransformations/serverSideTransform.js
  src/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

fix: addressing comment
  src/v0/destinations/fb_custom_audience/util.js
  test/integrations/destinations/fb_custom_audience/router/data.ts
  test/integrations/destinations/fb_custom_audience/router/rETL.ts
Due: js

fix: review comments
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

fix: blucore optin event mapping
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreOptinEventConfig.json
  src/cdk/v2/destinations/bluecore/utils.js
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

chore: add subscription event
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

chore: add subscription event
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreSubscriptionEventConfig.json
  src/cdk/v2/destinations/bluecore/procWorkflow.yaml
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
  test/integrations/destinations/bluecore/trackTestData.ts
  test/integrations/destinations/bluecore/validationTestData.ts
Due: js

test: add hasDynamicConfig flag to test files
  scripts/add-has-dynamic-config.js
  test/integrations/destinations/algolia/processor/data.ts
  test/integrations/destinations/algolia/router/data.ts
  test/integrations/destinations/braze/processor/data.ts
  test/integrations/destinations/braze/router/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
  test/integrations/destinations/google_adwords_offline_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
  test/integrations/destinations/intercom/processor/groupTestData.ts
  test/integrations/destinations/intercom/processor/identifyTestData.ts
  test/integrations/destinations/intercom/processor/validationTestData.ts
  test/integrations/destinations/intercom/router/data.ts
  test/integrations/destinations/iterable/processor/identifyTestData.ts
  test/integrations/destinations/iterable/processor/pageScreenTestData.ts
  test/integrations/destinations/iterable/processor/trackTestData.ts
  test/integrations/destinations/iterable/router/data.ts
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/router/data.ts
  test/integrations/destinations/pinterest_tag/processor/data.ts
  test/integrations/destinations/pinterest_tag/router/data.ts
  test/integrations/destinations/tiktok_ads/router/data.ts
  test/integrations/destinations/zoho/common.ts
Due: none

chore: enable router transform for zoho_dev
  src/features.ts
Due: ts
