Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: review comments
  src/adapters/network.js
  src/adapters/network.test.js
  src/v1/destinations/mp/networkHandler.test.ts
Due: js, ts

chore: improve test
  src/v1/destinations/mp/networkHandler.test.ts
Due: ts

fix: handler
  src/v1/destinations/mp/utils.mock.ts
  src/v1/destinations/mp/utils.test.ts
Due: ts

chore: misc
  src/types/delivery.ts
  src/types/destinationTransformation.ts
  src/types/index.ts
Due: ts

chore: review comments
  src/services/destination/nativeIntegration.ts
Due: ts

feat(mixpanel): add support for partial batch failure handling (#4260)
  src/adapters/network.js
  src/adapters/network.test.js
  src/types/destinationTransformation.ts
  src/v0/destinations/mp/config.js
  src/v1/destinations/mp/networkHandler.test.ts
  src/v1/destinations/mp/networkHandler.ts
  src/v1/destinations/mp/types.ts
  src/v1/destinations/mp/utils.test.ts
  src/v1/destinations/mp/utils.ts
  test/integrations/destinations/mp/dataDelivery/data.ts
  test/integrations/destinations/mp/dataDelivery/proxyV1.ts
  test/integrations/destinations/mp/network.ts
  test/integrations/testUtils.ts
Due: js, ts

chore: upgrade salesforce api version from v50.0 to v63.0 (#4116)
  src/v0/destinations/salesforce/config.js
  test/__tests__/data/salesforce_router_metadata_input.json
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce/dataDelivery/data.ts
  test/integrations/destinations/salesforce/network.ts
  test/integrations/destinations/salesforce/processor/data.ts
  test/integrations/destinations/salesforce/router/data.ts
  test/integrations/destinations/salesforce_oauth/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth/network.ts
  test/integrations/destinations/salesforce_oauth_sandbox/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth_sandbox/network.ts
Due: js

chore(destination): migrate braze dataDelivery tests to new format
  test/integrations/component.test.ts
  test/integrations/destinations/braze/dataDelivery/data.ts
Due: none

feat: piscina workers for ut
  package-lock.json
  package.json
  src/controllers/userTransform.ts
  src/services/piscina/transform.ts
  src/services/piscina/wrapper.ts
  test/integrations/component.test.ts
Due: ts

chore: improving code coverage of snapchat conversion
  src/v0/destinations/snapchat_conversion/util.test.js
  test/integrations/destinations/snapchat_conversion/processor/data.ts
Due: js

chore: return error when gzip compression fails for mp
  src/adapters/network.js
  src/adapters/network.test.js
  test/integrations/destinations/mp/dataDelivery/proxyV1.ts
Due: js

chore: minor change
  src/v0/destinations/snapchat_conversion/util.test.js
Due: js

chore: return error when gzip compression fails (#4283)
  src/adapters/network.js
  src/adapters/network.test.js
  test/integrations/destinations/mp/dataDelivery/proxyV1.ts
Due: js

Revert "chore: upgrade salesforce api version from v50.0 to v63.0 (#4116)"
  src/v0/destinations/salesforce/config.js
  test/__tests__/data/salesforce_router_metadata_input.json
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce/dataDelivery/data.ts
  test/integrations/destinations/salesforce/network.ts
  test/integrations/destinations/salesforce/processor/data.ts
  test/integrations/destinations/salesforce/router/data.ts
  test/integrations/destinations/salesforce_oauth/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth/network.ts
  test/integrations/destinations/salesforce_oauth_sandbox/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth_sandbox/network.ts
Due: js

fix: timestamp duration in v2 api
  src/v0/destinations/snapchat_conversion/util.js
  src/v0/destinations/snapchat_conversion/util.test.js
Due: js

chore: revert "chore: upgrade salesforce api version from v50.0 to v63.0" (#4285)
  src/v0/destinations/salesforce/config.js
  test/__tests__/data/salesforce_router_metadata_input.json
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce/dataDelivery/data.ts
  test/integrations/destinations/salesforce/network.ts
  test/integrations/destinations/salesforce/processor/data.ts
  test/integrations/destinations/salesforce/router/data.ts
  test/integrations/destinations/salesforce_oauth/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth/network.ts
  test/integrations/destinations/salesforce_oauth_sandbox/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth_sandbox/network.ts
Due: js

chore: improving code coverage of snapchat conversion (#4284)
  src/v0/destinations/snapchat_conversion/util.js
  src/v0/destinations/snapchat_conversion/util.test.js
  test/integrations/destinations/snapchat_conversion/processor/data.ts
Due: js

chore(release): 1.98.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: add guide for migrating component tests for destinations
  README.md
  test/scripts/README.md
Due: none

chore: add piscina configs and tests
  src/services/piscina/__tests__/wrapper.test.ts
  src/services/piscina/wrapper.ts
  src/util/cluster.js
Due: js, ts

fix(dynamic config): fix cloning issue in getdynamicconfig method
  src/util/dynamicConfigParser.test.ts
  src/util/dynamicConfigParser.ts
Due: ts

fix: zendesk primary email update issue
  src/v0/destinations/zendesk/transform.js
  src/v0/destinations/zendesk/util.js
  test/integrations/destinations/zendesk/network.ts
  test/integrations/destinations/zendesk/router/data.ts
Due: js

chore: minor changes
  src/v0/destinations/zendesk/transform.js
  src/v0/destinations/zendesk/util.js
Due: js

chore: added test for updating secondary email
  src/v0/destinations/zendesk/transform.js
  test/integrations/destinations/zendesk/network.ts
  test/integrations/destinations/zendesk/processor/data.ts
Due: js

chore: minor change
  src/v0/destinations/zendesk/transform.js
Due: js

chore: added util test
  src/v0/destinations/zendesk/util.test.js
Due: js

chore: minor change
  src/v0/destinations/zendesk/util.js
Due: js

chore: minor change
  src/v0/destinations/zendesk/util.test.js
Due: js

chore: undo minor change
  src/v0/destinations/zendesk/transform.js
Due: js

chore: fix sonarqube code smell
  src/v0/destinations/zendesk/transform.js
Due: js

fix: addressing comments
  src/v0/destinations/zendesk/transform.js
  src/v0/destinations/zendesk/util.js
  src/v0/destinations/zendesk/util.test.js
  test/integrations/destinations/zendesk/processor/data.ts
Due: js

chore: addressing comments
  src/v0/destinations/zendesk/transform.js
Due: js

feat: enhance group router transform events with config-based grouping
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js, ts

fix: typo
  src/controllers/userTransform.ts
Due: ts

chore: cleanup test
  test/integrations/component.test.ts
Due: none

chore: fix test cases for pinterest_tag and tiktok_ads
  test/integrations/destinations/pinterest_tag/router/data.ts
  test/integrations/destinations/tiktok_ads/router/data.ts
Due: none

chore: fix test cases for gaoc
  test/integrations/destinations/google_adwords_offline_conversions/router/data.ts
Due: none

fix: use fast stable json stringify
  package-lock.json
  package.json
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

chore: dummy destination config based batching tests
  src/v0/destinations/dummy/config.ts
  src/v0/destinations/dummy/data/DummyAliasConfig.json
  src/v0/destinations/dummy/data/DummyGroupConfig.json
  src/v0/destinations/dummy/data/DummyIdentifyConfig.json
  src/v0/destinations/dummy/data/DummyPageConfig.json
  src/v0/destinations/dummy/data/DummyScreenConfig.json
  src/v0/destinations/dummy/data/DummyTrackConfig.json
  src/v0/destinations/dummy/transform.ts
  src/v0/destinations/dummy/utils.ts
  test/integrations/component.test.ts
  test/integrations/destinations/dummy/common.ts
  test/integrations/destinations/dummy/maskedSecrets.ts
  test/integrations/destinations/dummy/router/data.ts
Due: ts

feat: update destination type with optional account types
  src/types/controlPlaneConfig.ts
Due: ts

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
