Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: cache dns resolution in node
  src/util/prometheus.js
  src/util/utils.js
Due: js

chore: fix tests
  test/__tests__/user_transformation_fetch.test.js
Due: none

chore: add test-case for request & response logs
  src/adapters/network.test.js
  src/logger.js
  src/util/logger.js
Due: js

feat: add job run id level isolation
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
Due: ts

fix: email as mandatory introduced
  test/integrations/destinations/klaviyo/processor/identifyTestData.ts
Due: none

chore: upgrade packages
  package-lock.json
  package.json
Due: none

fix: email as mandatory introduced+1
  src/v0/destinations/klaviyo/transform.js
Due: js

fix: lint errors+2
  src/v0/destinations/one_signal/transformV2.js
Due: js

feat: onboard closeCRM source (#3467)
  src/v1/sources/close_crm/config.js
  src/v1/sources/close_crm/transform.js
  test/integrations/sources/close_crm/data.ts
Due: js

add worker id to metrics
  package-lock.json
  package.json
  src/middleware.js
  src/util/prometheus.js
Due: js

fix: lint errors
  src/v0/destinations/klaviyo/transform.js
  test/integrations/destinations/klaviyo/processor/identifyTestData.ts
Due: js

chore: refactor code to use processedRequest from handleHTTPRequest
  src/v0/destinations/drip/util.js
  src/v0/destinations/kustomer/util.js
  src/v0/destinations/trengo/transform.js
  test/integrations/destinations/trengo/network.ts
  test/integrations/destinations/trengo/processor/data.ts
Due: js

fix: mapping changes for aifa,andi and asid (#3465)
  src/v0/destinations/singular/data/SINGULARAndroidEventConfig.json
  src/v0/destinations/singular/data/SINGULARAndroidSessionConfig.json
Due: none

fix: endpoint
  src/v0/destinations/klaviyo/config.js
  src/v0/destinations/klaviyo/data/KlaviyoIdentifyV2.json
  test/integrations/destinations/klaviyo/processor/identifyTestData.ts
Due: js

chore: add no metadata tc
  src/adapters/network.test.js
Due: js

chore: rename file
  src/v0/destinations/one_signal/transform.js
  src/v0/destinations/one_signal/transformV2.js
  src/v0/destinations/one_signal/util.js
Due: js

chore: added tests
  test/integrations/destinations/braze/processor/data.ts
Due: none

chore: address comments
  src/v0/destinations/one_signal/utils.test.js
Due: js

chore: handle too many soql queries in salesforce
  src/v0/destinations/salesforce/utils.js
Due: js

feat: onboard user API for onesignal
  src/v0/destinations/one_signal/config.js
  src/v0/destinations/one_signal/data/OneSignalIdentifyConfigV2.json
  src/v0/destinations/one_signal/data/OneSignalSubscriptionConfig.json
  src/v0/destinations/one_signal/transform.js
  src/v0/destinations/one_signal/transformV2.js
  src/v0/destinations/one_signal/util.js
Due: js

chore: add aliases from one signal intg object
  src/v0/destinations/one_signal/transformV2.js
  src/v0/destinations/one_signal/util.js
Due: js

chore: add test cases
  test/integrations/destinations/one_signal/processor/commonConfig.ts
  test/integrations/destinations/one_signal/processor/data_v2.ts
  test/integrations/destinations/one_signal/processor/identify.ts
  test/integrations/destinations/one_signal/processor/track.ts
Due: none

chore: add test cases+1
  src/v0/destinations/one_signal/transform.js
  src/v0/destinations/one_signal/transformV2.js
  src/v0/destinations/one_signal/utils.js
  src/v0/destinations/one_signal/utils.test.js
  test/integrations/destinations/one_signal/processor/data_v2.ts
  test/integrations/destinations/one_signal/processor/group.ts
  test/integrations/destinations/one_signal/processor/identify.ts
  test/integrations/destinations/one_signal/processor/track.ts
  test/integrations/destinations/one_signal/processor/validations.ts
Due: js

chore: add test cases+2
  src/v0/destinations/one_signal/transformV2.js
  src/v0/destinations/one_signal/utils.js
  test/integrations/destinations/one_signal/processor/commonConfig.ts
  test/integrations/destinations/one_signal/processor/identify.ts
Due: js

chore: small fixes
  src/v0/destinations/one_signal/transformV2.js
  src/v0/destinations/one_signal/utils.js
  test/integrations/destinations/one_signal/processor/data_v2.ts
  test/integrations/destinations/one_signal/processor/identify.ts
  test/integrations/destinations/one_signal/processor/track.ts
Due: js

fix: lint errors
  src/v0/destinations/one_signal/transformV2.js
  src/v0/destinations/one_signal/utils.js
  test/integrations/destinations/one_signal/processor/track.ts
Due: js

fix: lint errors+1
  src/v0/destinations/one_signal/transformV2.js
  src/v0/destinations/one_signal/utils.js
Due: js

chore: log when metadata is array of objects - add test-cases
  src/adapters/network.test.js
  src/logger.js
Due: js

fix: enhancement: introduce user model for one signal (#3499)
  src/v0/destinations/one_signal/config.js
  src/v0/destinations/one_signal/data/OneSignalIdentifyConfigV2.json
  src/v0/destinations/one_signal/data/OneSignalSubscriptionConfig.json
  src/v0/destinations/one_signal/transform.js
  src/v0/destinations/one_signal/transformV2.js
  src/v0/destinations/one_signal/util.js
  src/v0/destinations/one_signal/utils.test.js
  test/integrations/destinations/one_signal/processor/commonConfig.ts
  test/integrations/destinations/one_signal/processor/data.ts
  test/integrations/destinations/one_signal/processor/data_v2.ts
  test/integrations/destinations/one_signal/processor/group.ts
  test/integrations/destinations/one_signal/processor/identify.ts
  test/integrations/destinations/one_signal/processor/track.ts
  test/integrations/destinations/one_signal/processor/validations.ts
Due: js

chore(release): 1.69.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: instead of throwing error now ignoring the undefined value in the products array
  src/v0/destinations/braze/util.js
  test/integrations/destinations/braze/processor/data.ts
Due: js

chore: filtered logging and log for all destinations refactor
  src/adapters/network.js
  src/adapters/network.test.js
Due: js

chore: remove unnecessary comments
  src/adapters/network.js
Due: js

chore: refactor code to remove duplication
  src/v0/destinations/gainsight/util.js
Due: js

chore: rename variable
  src/adapters/network.js
Due: js
