Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix: error messages in gaec (#3702)
  src/cdk/v2/destinations/webhook_v2/utils.js
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
Due: js

[Snyk] Upgrade @aws-sdk/lib-storage from 3.485.0 to 3.600.0 (#3565)
  package-lock.json
  package.json
Due: none

chore: update package-lock
  package-lock.json
Due: none

chore: small fixes
  src/features.json
  src/v0/destinations/x_audience/transform.js
  src/v0/destinations/x_audience/utils.js
  test/integrations/destinations/x_audience/common.ts
  test/integrations/destinations/x_audience/processor/data.ts
Due: js

fix: common mock value for twitter ads and audience
  test/integrations/destinations/x_audience/common.ts
Due: none

chore: source integration script filter condition
  go/webhook/testcases/testdata/testcases/pipedream/alias_type____type_and_user_id_is_given.json
  go/webhook/testcases/testdata/testcases/pipedream/identify_type____type_and_user_id_is_given.json
  test/integrations/testUtils.ts
Due: none

chore: source integration script filter condition (#3704)
  go/webhook/testcases/testdata/testcases/pipedream/alias_type____type_and_user_id_is_given.json
  go/webhook/testcases/testdata/testcases/pipedream/identify_type____type_and_user_id_is_given.json
  test/integrations/testUtils.ts
Due: none

feat: webhook v2 path variables support
  src/cdk/v2/destinations/webhook_v2/utils.js
  test/integrations/destinations/webhook_v2/common.ts
  test/integrations/destinations/webhook_v2/processor/configuration.ts
  test/integrations/destinations/webhook_v2/router/data.ts
Due: js

chore: source integration script filter initial condition
  test/integrations/testUtils.ts
Due: none

chore: source integration script filter initial condition - 1 (#3706)
  test/integrations/testUtils.ts
Due: none

chore: [Snyk] Upgrade @aws-sdk/lib-storage from 3.485.0 to 3.624.0 (#3685)
  package-lock.json
  package.json
Due: none

fix: gaoc bugsnag alert for email.trim (#3693)
  src/v0/destinations/google_adwords_offline_conversions/utils.js
Due: js

chore: update webhook event topic in mapping
  src/v1/sources/shopify/config.js
Due: js

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

chore: added parent cluster and namespace in function name
  src/util/customTransformer-faas.js
  src/util/openfaas/index.js
  test/__tests__/user_transformation.test.js
Due: js

chore: change in hashSecret position
  src/util/customTransformer-faas.js
  test/__tests__/user_transformation.test.js
Due: js

fix: add namespace and cluster labels to python transformation functions
  src/util/customTransformer-faas.js
  src/util/openfaas/index.js
  test/__tests__/user_transformation.test.js
Due: js

fix(transformation): handle circular reference response body
  src/middlewares/circularStructure.ts
  src/routes/userTransform.ts
Due: ts

chore(release): 1.77.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: circular json bugsnag
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

chore: adding a new violation type Advance-Rules-Violation
  src/util/eventValidation.js
  test/__tests__/eventValidation.test.js
  test/__tests__/trackingPlan.test.js
Due: js

chore: refactor logic
  src/v0/util/index.js
Due: js

feat: added backward compatability to support both old and new VDM
  src/v0/destinations/fb_custom_audience/config.js
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/util.js
Due: js

chore: config fallback
  src/v0/destinations/x_audience/transform.js
  src/v0/destinations/x_audience/utils.js
Due: js

fix: upgrade zod from 3.22.4 to 3.23.8
  package-lock.json
  package.json
Due: none

fix: upgrade @pyroscope/nodejs from 0.2.9 to 0.3.11
  package-lock.json
  package.json
Due: none

feat: webhook v2 path variables support (#3705)
  src/cdk/v2/destinations/webhook_v2/utils.js
  test/integrations/destinations/webhook_v2/common.ts
  test/integrations/destinations/webhook_v2/processor/configuration.ts
  test/integrations/destinations/webhook_v2/router/data.ts
Due: js

fix: update the error message to throw retry request error
  src/util/openfaas/index.js
Due: js

chore: updated mapped schema parameter
  src/v0/destinations/fb_custom_audience/util.js
Due: js

chore: onboard sfmc with record event to support mirror mode
  src/v0/destinations/sfmc/transform.js
Due: js

fix: added support for window stabilization fix through envs
  src/util/openfaas/index.js
Due: js

feat: add deletion support for record events
  src/v0/destinations/sfmc/transform.js
Due: js

fix: circular json bugsnag (#3713)
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

fix: root level batching stringification
  src/v0/destinations/x_audience/utils.js
  test/integrations/destinations/x_audience/processor/data.ts
  test/integrations/destinations/x_audience/router/data.ts
Due: js

chore: refactor
  src/v1/sources/shopify/transform.js
  src/v1/sources/shopify/utilsV2.js
Due: js

feat: onboard intercom v2 destination (initial commit)
  src/cdk/v2/destinations/intercom_v2/procWorkflow.yaml
  src/cdk/v2/destinations/intercom_v2/rtWorkflow.yaml
  src/cdk/v2/destinations/intercom_v2/utils.js
Due: js

refactor: rename webhook v2 destination to http
  src/cdk/v2/destinations/http/procWorkflow.yaml
  src/cdk/v2/destinations/http/rtWorkflow.yaml
  src/cdk/v2/destinations/http/utils.js
  test/integrations/destinations/http/common.ts
  test/integrations/destinations/http/processor/configuration.ts
  test/integrations/destinations/http/processor/data.ts
  test/integrations/destinations/http/router/data.ts
Due: js

refactor: rename webhook v2 destination to http (#3722)
  src/cdk/v2/destinations/http/procWorkflow.yaml
  src/cdk/v2/destinations/http/rtWorkflow.yaml
  src/cdk/v2/destinations/http/utils.js
  test/integrations/destinations/http/common.ts
  test/integrations/destinations/http/processor/configuration.ts
  test/integrations/destinations/http/processor/data.ts
  test/integrations/destinations/http/router/data.ts
Due: js

feat: onboard X(Twiiter) Audience (#3696)
  src/features.json
  src/v0/destinations/x_audience/config.js
  src/v0/destinations/x_audience/transform.js
  src/v0/destinations/x_audience/utils.js
  test/integrations/destinations/x_audience/common.ts
  test/integrations/destinations/x_audience/processor/data.ts
  test/integrations/destinations/x_audience/router/data.ts
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
