Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

test: add utility method without tests & have a blocking config in codecov yaml
  codecov.yml
  src/v0/util/index.js
Due: js

test: decrease threshold configuration for components & defaults in codecov
  codecov.yml
Due: none

chore: code review changes
  src/v0/destinations/sprig/deleteUsers.js
  test/integrations/destinations/sprig/deleteUsers/data.ts
  test/integrations/destinations/sprig/network.ts
Due: js

chore: review comments
  src/warehouse/config/helpers.js
  test/__tests__/warehouse.test.js
Due: js

refactor: address review comments
  src/cdk/v2/destinations/the_trade_desk/utils.js
  src/v0/destinations/the_trade_desk/networkHandler.js
Due: js

fix: error handling when payload contains toString as key (#2954)
  .gitignore
  src/warehouse/config/helpers.js
  src/warehouse/index.js
  src/warehouse/util.js
  test/__tests__/data/warehouse/events.js
  test/__tests__/warehouse.test.js
Due: js

fix: review comments addressed
  src/v0/destinations/gainsight_px/transform.js
Due: js

chore: code review changes
  src/v0/destinations/sprig/deleteUsers.js
Due: js

fix: added metadata.jobId to jobId of the payload
  src/v0/destinations/google_adwords_enhanced_conversions/data/trackConfig.json
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

fix: for gainsight px only new users to have default signUp date (#2953)
  src/v0/destinations/gainsight_px/data/GainsightPX_Identify.json
  src/v0/destinations/gainsight_px/transform.js
  test/integrations/destinations/gainsight_px/processor/data.ts
  test/integrations/destinations/gainsight_px/router/data.ts
Due: js

feat(sprig): added user deletion support (#2886)
  src/v0/destinations/sprig/deleteUsers.js
  test/integrations/destinations/sprig/deleteUsers/data.ts
  test/integrations/destinations/sprig/network.ts
Due: js

fix: enhancement and version upgrade of google ads remarketing list (#2945)
  src/v0/destinations/google_adwords_remarketing_lists/config.js
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/util/googleUtils/index.js
  src/v0/util/googleUtils/index.test.js
  test/__mocks__/data/google_adwords_remarketing_lists/proxy_response.json
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/network.ts
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
Due: js

fix: version upgrade of gaec from 14 to 15
  src/v0/destinations/google_adwords_enhanced_conversions/config.js
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/network.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

fix: lowercase null check tracl event adobe analytics
  src/v0/destinations/adobe_analytics/transform.js
Due: js

refactor: use existing utility to split batch on size
  src/cdk/v2/destinations/the_trade_desk/utils.js
Due: js

fix: version upgrade of gaec from 14 to 15 (#2966)
  src/v0/destinations/google_adwords_enhanced_conversions/config.js
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/network.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

chore: added mocks
  src/cdk/v2/destinations/the_trade_desk/config.js
  src/cdk/v2/destinations/the_trade_desk/utils.js
  src/cdk/v2/destinations/the_trade_desk/utils.test.js
  src/features.json
  test/integrations/destinations/the_trade_desk/mocks.ts
  test/integrations/destinations/the_trade_desk/router/data.ts
Due: js

refactor: throw platform error
  src/v0/destinations/the_trade_desk/networkHandler.js
  test/integrations/destinations/the_trade_desk/delivery/data.ts
Due: js

feat: onboard new destination the trade desk (#2918)
  src/adapters/network.js
  src/cdk/v2/destinations/the_trade_desk/config.js
  src/cdk/v2/destinations/the_trade_desk/rtWorkflow.yaml
  src/cdk/v2/destinations/the_trade_desk/utils.js
  src/cdk/v2/destinations/the_trade_desk/utils.test.js
  src/features.json
  src/v0/destinations/the_trade_desk/networkHandler.js
  test/integrations/destinations/the_trade_desk/common.ts
  test/integrations/destinations/the_trade_desk/delivery/data.ts
  test/integrations/destinations/the_trade_desk/mocks.ts
  test/integrations/destinations/the_trade_desk/network.ts
  test/integrations/destinations/the_trade_desk/router/data.ts
Due: js

chore: upgrade @aws-sdk/client-personalize from 3.414.0 to 3.470.0 (#2962)
  package-lock.json
  package.json
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

chore: upgrade @aws-sdk/lib-storage from 3.417.0 to 3.456.0 (#2911)
  package-lock.json
  package.json
Due: none

feat: add structured logging
  package-lock.json
  package.json
  src/controllers/bulkUpload.ts
  src/controllers/delivery.ts
  src/controllers/destination.ts
  src/controllers/regulation.ts
  src/index.ts
  src/logger/structured-logger.ts
  src/services/destination/postTransformation.ts
  src/types/index.ts
Due: ts

chore: add log-level selection support via env
  src/logger/structured-logger.ts
  src/services/destination/postTransformation.ts
Due: ts

fix: upgrade @aws-sdk/credential-providers from 3.414.0 to 3.474.0
  package-lock.json
  package.json
Due: none

fix: upgrade @aws-sdk/client-s3 from 3.438.0 to 3.474.0
  package-lock.json
  package.json
Due: none

chore: added test cases description
  test/integrations/destinations/slack/processor/data.ts
Due: none

chore: modularise plugin adapter
  src/helpers/pluginAdapter.ts
Due: ts

fix: upgrade @aws-sdk/lib-storage from 3.456.0 to 3.474.0
  package-lock.json
  package.json
Due: none

chore(release): 1.53.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

test: enable v1 proxy
  src/features.json
Due: none

chore: upgrade @aws-sdk/client-s3 from 3.438.0 to 3.474.0 (#2971)
  package-lock.json
  package.json
Due: none

chore: upgrade @aws-sdk/lib-storage from 3.456.0 to 3.474.0 (#2973)
  package-lock.json
  package.json
Due: none

chore: security upgrade axios from 1.6.0 to 1.6.4 (#2969)
  package-lock.json
  package.json
Due: none

feat(intercom): upgrade intercom version from 1.4 to 2.10
  src/cdk/v2/destinations/intercom/config.js
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  src/cdk/v2/destinations/intercom/rtWorkflow.yaml
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom/utils.test.js
  src/constants/destinationCanonicalNames.js
  src/v0/destinations/intercom/config.js
  src/v0/destinations/intercom/data/INTERCOMGroupConfig.json
  src/v0/destinations/intercom/data/INTERCOMIdentifyConfig.json
  src/v0/destinations/intercom/data/INTERCOMTrackConfig.json
  src/v0/destinations/intercom/deleteUsers.js
  src/v0/destinations/intercom/transform.js
  src/v0/destinations/intercom/util.js
  src/v0/destinations/intercom/util.test.js
  test/integrations/destinations/intercom/dataDelivery/data.ts
  test/integrations/destinations/intercom/deleteUsers/data.ts
  test/integrations/destinations/intercom/network.ts
  test/integrations/destinations/intercom/processor/data.ts
  test/integrations/destinations/intercom/router/data.ts
Due: js

feat: make loggable data available at handler level
  src/controllers/source.ts
  src/logger/structured-logger.ts
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/services/destination/postTransformation.ts
  src/services/misc.ts
  src/services/profile.ts
  src/services/trackingPlan.ts
  src/services/userTransform.ts
Due: ts

Revert "fix: tiktok add missing field brand (#2942)"
  src/v0/destinations/tiktok_ads/util.js
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: js

chore: update changelog
  CHANGELOG.md
Due: none

revert: fix: tiktok add missing field brand (#2977)
  CHANGELOG.md
  src/v0/destinations/tiktok_ads/util.js
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
