Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: reduce cognetive complexity
  src/sources/shopify/tracker/transform.js
Due: js

chore: remove unnecessary ecom topics
  src/sources/shopify/tracker/config.js
Due: js

chore: shopify v2 migration
  src/sources/shopify/tracker/shopify_redis.util.test.js
  src/sources/shopify/transform.js
  src/sources/shopify/webhookEventsMapping/identifyMapping.json
  src/sources/shopify/webhookTransformations/serverSideTransform.js
  src/sources/shopify/webpixelTransformations/pixelUtils.js
Due: js

chore: features upgradedToSourceTransformV2 is needed for now
  src/features.ts
Due: ts

chore: shopify redis test cases moved to source
  src/sources/shopify/tracker/shopify_redis.util.test.js
  test/integrations/component.test.ts
Due: js

chore: clean up source version specific code everywhere
  src/controllers/__tests__/source.test.ts
  src/controllers/source.ts
  src/controllers/util/conversionStrategies/abstractions.ts
  src/controllers/util/conversionStrategies/strategyDefault.ts
  src/controllers/util/conversionStrategies/strategyV0ToV1.ts
  src/controllers/util/conversionStrategies/strategyV1ToV0.ts
  src/controllers/util/conversionStrategies/strategyV1ToV2.ts
  src/controllers/util/conversionStrategies/strategyV2ToV0.ts
  src/controllers/util/conversionStrategies/strategyV2ToV1.ts
  src/controllers/util/index.test.ts
  src/controllers/util/index.ts
  src/controllers/util/versionConversion.ts
  src/features.ts
  src/helpers/__tests__/fetchHandlers.test.ts
  src/helpers/fetchHandlers.ts
  src/interfaces/SourceService.ts
  src/middlewares/routeActivation.ts
  src/routes/source.ts
  src/services/__tests__/misc.test.ts
  src/services/misc.ts
  src/services/source/__tests__/nativeIntegration.test.ts
  src/services/source/nativeIntegration.ts
  test/apitests/data_scenarios/source/v1/pipedream.json
  test/apitests/data_scenarios/source/v2/failure.json
  test/apitests/data_scenarios/source/v2/successful.json
  test/apitests/service.api.test.ts
  test/integrations/component.test.ts
  test/integrations/sources/shopify/webhookTestScenarios/IdentifyTests.ts
  test/integrations/testTypes.ts
Due: ts

chore: remove unnecessary types
  src/types/sourceTransformation.ts
Due: ts

fix: validation error message in ga4
  src/v0/destinations/ga4/utils.js
  test/integrations/destinations/ga4/processor/validationTestData.ts
Due: js

fix: use UTC in getBirthdayObj to fix the ortto destination test in different timezones
  src/cdk/v2/destinations/ortto/utils.js
Due: js

chore: upgrade build-scan-push version
  .github/workflows/build-push-docker-image.yml
Due: none

chore: missing digest when push is false fix
  .github/workflows/build-push-docker-image.yml
Due: none

chore: use internal build-scan-push for security scans
  .github/workflows/build-push-docker-image.yml
Due: none

chore: platform argument for right image build
  .github/workflows/build-push-docker-image.yml
Due: none

chore: testing without pushing image
  .github/workflows/build-push-docker-image.yml
Due: none

chore: arm64 truffle hog ignore paths for false positives
  .truffleignore
Due: none

chore: test cases fixed to pass trufflehog
  .truffleignore
  test/integrations/destinations/emarsys/constants.ts
  test/integrations/destinations/emarsys/dataDelivery/data.ts
  test/integrations/destinations/emarsys/deleteUsers/data.ts
  test/integrations/destinations/emarsys/network.ts
  test/integrations/destinations/emarsys/processor/data.ts
  test/integrations/destinations/emarsys/router/data.ts
  test/integrations/destinations/hs/network.ts
  test/integrations/destinations/hs/processor/data.ts
  test/integrations/destinations/hs/router/data.ts
  test/integrations/destinations/one_signal/processor/data.ts
  test/integrations/sources/refiner/data.ts
Due: none

chore: false positives in system files
  .truffleignore
Due: none

chore: requires push true for successful cosign
  .github/workflows/build-push-docker-image.yml
Due: none

chore: use different workflow runner based on labels
  .github/workflows/build-push-docker-image.yml
Due: none

chore: clean up truffleignore file
  .truffleignore
Due: none

chore: truffleignore for false positives
  .truffleignore
Due: none

fix: add empty check for timestamp value for airship
  src/v0/destinations/airship/utils.ts
  test/integrations/destinations/airship/processor/business.ts
Due: ts

chore(release): 1.95.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: enable code rabbit for PR review (#4205)
  .coderabbit.yaml
Due: none

feat: some changes
  src/cdk/v2/destinations/loops/procWorkflow.yaml
Due: none

chore: test
  .github/workflows/ingestion-service-test.yml
Due: none

fix: support update action type for linkedin audience destination
  src/cdk/v2/destinations/linkedin_audience/config.ts
  src/cdk/v2/destinations/linkedin_audience/utils.ts
  test/integrations/destinations/linkedin_audience/processor/business.ts
Due: ts

fix: remove hard check for timestamp for airship
  src/v0/destinations/airship/utils.test.ts
  src/v0/destinations/airship/utils.ts
Due: ts

fix: remove hard check for timestamp for airship
  src/v0/destinations/airship/utils.ts
Due: ts

chore: addressing comments
  src/cdk/v2/destinations/ortto/utils.js
Due: js

feat: add app_name and app_namespace mapping in track call (#4203)
  src/v0/destinations/mp/data/MPEventPropertiesConfig.json
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: none

feat: use type
  test/integrations/destinations/loops/processor/data.ts
Due: none

fix: support update action type for linkedin audience destination (#4213)
  src/cdk/v2/destinations/linkedin_audience/config.ts
  src/cdk/v2/destinations/linkedin_audience/utils.ts
  test/integrations/destinations/linkedin_audience/processor/business.ts
Due: ts

fix: removing unwanted fields from event metadata in reddit destination
  src/cdk/v2/destinations/reddit/procWorkflow.yaml
  src/cdk/v2/destinations/reddit/utils.js
  test/integrations/destinations/reddit/processor/data.ts
  test/integrations/destinations/reddit/router/data.ts
Due: js

fix: remove hard check for timestamp for airship (#4214)
  src/v0/destinations/airship/utils.test.ts
  src/v0/destinations/airship/utils.ts
Due: ts

chore(release): 1.96.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: features cleanup, rename functions, test cases fixed
  src/features.ts
  src/middlewares/routeActivation.ts
  src/routes/source.ts
  test/apitests/service.api.test.ts
  test/integrations/sources/shopify/webhookTestScenarios/IdentifyTests.ts
Due: ts

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
