Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: remove unwanted data form destination config
  test/integrations/destinations/zoho/router/account.ts
Due: none

chore: add string check for phone in gaoc
  src/v0/destinations/google_adwords_offline_conversions/utils.js
Due: js

chore: improve types
  src/v0/destinations/snapchat_conversion/transform.ts
  src/v0/destinations/snapchat_conversion/transformV3.ts
  src/v0/destinations/snapchat_conversion/types.ts
Due: ts

chore: improving the types
  src/v0/destinations/snapchat_conversion/transform.ts
  src/v0/destinations/snapchat_conversion/transformV3.ts
  src/v0/destinations/snapchat_conversion/types.ts
  src/v0/destinations/snapchat_conversion/util.test.ts
  src/v0/destinations/snapchat_conversion/util.ts
  src/v0/destinations/snapchat_conversion/utilsV3.ts
Due: ts

chore: minor change
  src/v0/destinations/snapchat_conversion/types.ts
Due: ts

chore: minor change
  src/v0/destinations/snapchat_conversion/config.ts
  src/v0/destinations/snapchat_conversion/transform.ts
  src/v0/destinations/snapchat_conversion/transformV3.ts
  src/v0/destinations/snapchat_conversion/types.ts
  src/v0/destinations/snapchat_conversion/util.ts
  src/v0/destinations/snapchat_conversion/utilsV3.ts
Due: ts

chore: address comment
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/utils.js
  src/types/controlPlaneConfig.ts
Due: js, ts

chore(release): 1.99.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: update destination type with optional account types (#4291)
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  src/cdk/v2/utils.ts
  src/constants/destinationCanonicalNames.js
  src/types/controlPlaneConfig.ts
  test/integrations/destinations/zoho/router/account.ts
  test/integrations/destinations/zoho/router/data.ts
Due: js, ts

chore: update braze docs
  src/v0/destinations/braze/README.md
  src/v0/destinations/braze/docs/businesslogic.md
  src/v0/destinations/braze/docs/retl.md
Due: none

chore: fix status in mailchimp, fix cognitive complexity, add unit tests
  src/v0/destinations/mailchimp/utils.js
  src/v0/destinations/mailchimp/utils.test.js
Due: js

chore: fix PR comments for mailchimp tests
  src/v0/destinations/mailchimp/utils.test.js
Due: js

test: add tests for error cases to improve code coverage
  src/v0/destinations/mailchimp/utils.test.js
Due: js

chore: addressing comments
  src/v0/destinations/snapchat_conversion/transform.ts
  src/v0/destinations/snapchat_conversion/transformV3.ts
  src/v0/destinations/snapchat_conversion/types.ts
  src/v0/destinations/snapchat_conversion/util.test.ts
  src/v0/destinations/snapchat_conversion/util.ts
  src/v0/destinations/snapchat_conversion/utilsV3.ts
Due: ts

chore: add unit test
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/google_adwords_offline_conversions/utils.test.js
Due: js

feat: remove hardcoded node_options
  package.json
Due: none

refactor: tests to use proper types
  src/v0/destinations/slack/transform.js
  test/integrations/destinations/slack/processor/data.ts
  test/integrations/destinations/slack/router/data.ts
  test/scripts/README.md
Due: js

chore: add multiplexing section
  src/v0/destinations/braze/README.md
  src/v0/destinations/braze/docs/businesslogic.md
Due: none

chore(destination): migrate slack destination tests to new format (#4279)
  README.md
  src/v0/destinations/slack/transform.js
  test/integrations/component.test.ts
  test/integrations/destinations/slack/common.ts
  test/integrations/destinations/slack/processor/data.ts
  test/integrations/destinations/slack/router/data.ts
  test/scripts/README.md
  test/test_reporter/allureReporter.ts
Due: js

feat: remove hardcoded node_options (#4316)
  package.json
Due: none

chore(release): 1.100.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: correct dotenv import
  src/index.ts
  src/middlewares/routeActivation.ts
  src/routes/index.ts
Due: ts

feat: onboarding facebook value based audience
  src/v0/destinations/fb_custom_audience/config.js
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/fb_custom_audience/util.js
  test/integrations/destinations/fb_custom_audience/router/data.ts
  test/integrations/destinations/fb_custom_audience/router/rETL.ts
Due: js

chore: minor change
  src/v0/destinations/fb_custom_audience/util.js
Due: js

chore: update condition
  src/v0/destinations/google_adwords_offline_conversions/utils.js
Due: js

chore: fix status in mailchimp, fix cognitive complexity, add unit tests (#4314)
  src/v0/destinations/mailchimp/utils.js
  src/v0/destinations/mailchimp/utils.test.js
Due: js

chore: addressing comments
  src/v0/destinations/snapchat_conversion/types.ts
Due: ts

fix: add optional chaining to prevent undefined errors in Mailchimp and Marketo destinations
  src/v0/destinations/mailchimp/utils.js
  src/v0/destinations/mailchimp/utils.test.js
  src/v0/destinations/marketo/util.js
  src/v0/destinations/marketo/util.test.js
Due: js

chore(braze): added docs for braze destination (#4297)
  src/v0/destinations/braze/README.md
  src/v0/destinations/braze/docs/businesslogic.md
  src/v0/destinations/braze/docs/retl.md
Due: none

chore: fix status in mailchimp, fix cognitive complexity, add unit tests (#4314)
  src/v0/destinations/mailchimp/utils.js
Due: js

chore: ai generated docs with no manual reviews
  src/v0/destinations/am/README.md
  src/v0/destinations/am/docs/businesslogic.md
  src/v0/destinations/am/docs/retl.md
Due: none

fix: minor issue
  src/v0/destinations/fb_custom_audience/recordTransform.js
Due: js

chore: mixpanel ai generated documentation
  src/v0/destinations/mp/README.md
  src/v0/destinations/mp/docs/businesslogic.md
  src/v0/destinations/mp/docs/retl.md
Due: none

chore: add string check for phone in gaoc (#4311)
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/google_adwords_offline_conversions/utils.test.js
Due: js

feat: make emarsys destination max batch size env config driven
  src/cdk/v2/destinations/emarsys/config.js
Due: js

chore: correct dotenv import (#4320)
  src/index.ts
  src/middlewares/routeActivation.ts
  src/routes/index.ts
Due: ts

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
