Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

feat: add type definitions for test cases
  src/services/destination/postTransformation.ts
  src/types/index.ts
  src/types/zodTypes.ts
  test/integrations/destinations/klaviyo/processor/ecomTestData.ts
  test/integrations/destinations/klaviyo/processor/groupTestData.ts
  test/integrations/destinations/klaviyo/processor/identifyTestData.ts
  test/integrations/destinations/klaviyo/processor/screenTestData.ts
  test/integrations/destinations/klaviyo/processor/trackTestData.ts
  test/integrations/destinations/klaviyo/processor/validationTestData.ts
  test/integrations/destinations/klaviyo/router/data.ts
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/router/data.ts
  test/integrations/destinations/the_trade_desk/common.ts
  test/integrations/testTypes.ts
  test/integrations/testUtils.ts
Due: ts

fix: allow stringification for subscription properties only
  src/v0/destinations/clevertap/transform.js
  test/integrations/destinations/clevertap/processor/data.ts
  test/integrations/destinations/clevertap/router/data.ts
Due: js

fix: update networkHandler for rakuten
  src/v0/destinations/rakuten/networkHandler.js
  src/v0/destinations/rakuten/networkHandler.test.js
Due: js

feat: adding zod validations (#3066)
  src/services/destination/postTransformation.ts
  src/types/index.ts
  src/types/zodTypes.ts
  src/v0/destinations/rakuten/networkHandler.js
  src/v0/destinations/rakuten/networkHandler.test.js
  test/integrations/destinations/klaviyo/processor/ecomTestData.ts
  test/integrations/destinations/klaviyo/processor/groupTestData.ts
  test/integrations/destinations/klaviyo/processor/identifyTestData.ts
  test/integrations/destinations/klaviyo/processor/screenTestData.ts
  test/integrations/destinations/klaviyo/processor/trackTestData.ts
  test/integrations/destinations/klaviyo/processor/validationTestData.ts
  test/integrations/destinations/klaviyo/router/data.ts
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/router/data.ts
  test/integrations/destinations/the_trade_desk/common.ts
  test/integrations/testTypes.ts
  test/integrations/testUtils.ts
Due: js, ts

chore: update delivery test cases for criteo audience
  test/integrations/destinations/criteo_audience/dataDelivery/business.ts
  test/integrations/destinations/criteo_audience/dataDelivery/data.ts
  test/integrations/destinations/criteo_audience/dataDelivery/oauth.ts
  test/integrations/destinations/criteo_audience/dataDelivery/other.ts
  test/integrations/destinations/criteo_audience/network.ts
Due: none

Revert "chore: update delivery test cases for criteo audience"
  test/integrations/destinations/criteo_audience/dataDelivery/business.ts
  test/integrations/destinations/criteo_audience/dataDelivery/data.ts
  test/integrations/destinations/criteo_audience/dataDelivery/oauth.ts
  test/integrations/destinations/criteo_audience/dataDelivery/other.ts
  test/integrations/destinations/criteo_audience/network.ts
Due: none

feat: upgrade to node v20
  .nvmrc
  package-lock.json
  package.json
Due: none

chore: adding a metric to capture event batch size
  src/services/userTransform.ts
  src/util/prometheus.js
Due: js, ts

chore: ga4 proxy test refactor
  test/integrations/destinations/ga4/dataDelivery/business.ts
  test/integrations/destinations/ga4/dataDelivery/data.ts
  test/integrations/destinations/ga4/network.ts
Due: none

fix: dns resolution error format
  src/util/utils.js
  test/__tests__/user_transformation_fetch.test.js
Due: js

feat: upgrade to node v20 in docker files
  Dockerfile
  Dockerfile-ut-func
Due: none

chore: gaoc proxy test refactor
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/data.ts
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/oauth.ts
Due: none

chore: garl proxy test refactor
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/data.ts
Due: none

chore: code review changes
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/business.ts
Due: none

chore: 1
  test/integrations/component.test.ts
Due: none

fix: use no node snapshot option for app start
  package.json
  src/controllers/userTransform.ts
  src/util/ivmFactory.js
Due: js, ts

chore: add initial business tests
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce/dataDelivery/data.ts
  test/integrations/destinations/salesforce/dataDelivery/other.ts
  test/integrations/destinations/salesforce/network.ts
Due: none

chore: add type def for proxy v1 test
  src/types/index.ts
  test/integrations/destinations/campaign_manager/dataDelivery/business.ts
  test/integrations/destinations/campaign_manager/dataDelivery/oauth.ts
  test/integrations/destinations/campaign_manager/dataDelivery/other.ts
  test/integrations/testTypes.ts
  test/integrations/testUtils.ts
Due: ts

chore: fix generateMetdata func
  test/integrations/testUtils.ts
Due: none

chore: cleanup
  test/integrations/destinations/salesforce/dataDelivery/business.ts
Due: none

fix: initial commit
  src/v0/destinations/facebook_pixel/transform.js
  test/integrations/destinations/facebook_pixel/processor/data.ts
  test/integrations/destinations/facebook_pixel/processor/data1.ts
  test/integrations/destinations/facebook_pixel/processor/identifyTestData.ts
  test/integrations/destinations/facebook_pixel/processor/validationTestData.ts
Due: js

fix: custify user-regulation logic
  src/v0/destinations/custify/deleteUsers.js
  test/integrations/destinations/custify/deleteUsers/data.ts
  test/integrations/destinations/custify/network.ts
Due: js

address comments
  test/integrations/common/criteo/network.ts
  test/integrations/common/network.ts
  test/integrations/destinations/criteo_audience/dataDelivery/business.ts
  test/integrations/destinations/criteo_audience/dataDelivery/data.ts
  test/integrations/destinations/criteo_audience/dataDelivery/oauth.ts
  test/integrations/destinations/criteo_audience/dataDelivery/other.ts
  test/integrations/destinations/criteo_audience/network.ts
Due: none

udpate old testcases according to correct format
  test/integrations/component.test.ts
  test/integrations/destinations/criteo_audience/dataDelivery/data.ts
  test/integrations/destinations/criteo_audience/dataDelivery/oauth.ts
Due: none

fix: adding identify call
  src/v0/destinations/bluecore/data/bluecoreIdentifyConfig.json
  src/v0/destinations/bluecore/transform.js
  src/v0/destinations/bluecore/util.js
Due: js

fix: adding product array support
  src/v0/destinations/bluecore/config.js
  src/v0/destinations/bluecore/data/bluecoreTrackConfig.json
  src/v0/destinations/bluecore/transform.js
  src/v0/destinations/bluecore/util.js
Due: js

chore: add other scenario test, refactor
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce/dataDelivery/data.ts
  test/integrations/destinations/salesforce/dataDelivery/other.ts
Due: none

fix: amplitude batching
  src/v0/destinations/am/transform.js
  test/apitests/data_scenarios/destination/batch/failure_batch.json
  test/integrations/destinations/am/batch/data.ts
Due: js

refactor: remove commented code
  src/v0/destinations/am/transform.js
Due: js

refactor: remove redundant import
  test/integrations/destinations/am/batch/data.ts
Due: none

chore: partial failure tests added
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_offline_conversions/network.ts
Due: none

fix: amplitude: Error handling for missing event type
  src/v0/destinations/am/transform.js
  test/integrations/destinations/am/processor/data.ts
Due: js

chore: upgrade workflow engine to 0.7.2
  .gitignore
  package-lock.json
  package.json
  src/cdk/v2/handler.ts
Due: ts

fix: adding unit test cases
  src/v0/destinations/bluecore/config.js
  src/v0/destinations/bluecore/transform.js
  src/v0/destinations/bluecore/transform.test.js
  src/v0/destinations/bluecore/util.js
  src/v0/destinations/bluecore/util.test.js
Due: js

fix: adding check for action field value other than identify
  src/v0/destinations/bluecore/util.js
  src/v0/destinations/bluecore/util.test.js
Due: js

chore: small fix for undefined userDefinedTemplate
  src/v0/destinations/am/transform.js
  test/integrations/destinations/am/processor/data.ts
Due: js

fix: adding test cases for identify response builder
  src/v0/destinations/bluecore/transform.js
  src/v0/destinations/bluecore/transform.test.js
Due: js

fix: amplitude batch output metadata (#3077)
  src/v0/destinations/am/transform.js
  test/apitests/data_scenarios/destination/batch/failure_batch.json
  test/integrations/destinations/am/batch/data.ts
Due: js

Update src/v0/destinations/am/transform.js
  src/v0/destinations/am/transform.js
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
