Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: adding cost labels to openfaas fn pods
  src/util/openfaas/index.js
Due: js

chore: address comments
  test/integrations/destinations/rakuten/processor/transformationFailure.ts
Due: none

fix: address review comments
  src/v0/destinations/awin/utils.js
Due: js

fix: addressed review comments
  src/v0/destinations/hs/util.js
  test/integrations/destinations/hs/processor/data.ts
Due: js

fix: shopify: send 500 for identifier call in case of failure (#3235)
  src/util/redis/testData/shopify_source.json
  src/v0/sources/shopify/transform.js
Due: js

fix: addressed review comments
  src/cdk/v2/destinations/reddit/procWorkflow.yaml
  src/cdk/v2/destinations/reddit/utils.js
Due: js

fix: fixed userId mapping, now mapping to uid instead of id
  src/cdk/v2/destinations/fullstory/procWorkflow.yaml
  test/integrations/destinations/fullstory/processor/data.ts
Due: none

fix: util test cases update
  src/cdk/v2/destinations/reddit/utils.test.js
Due: js

fix: hs bugsnag error (#3252)
  src/v0/destinations/hs/util.js
  test/integrations/destinations/hs/processor/data.ts
Due: js

feat: for reddit adding currency and value for addToCart, viewConent event as well (#3239)
  src/cdk/v2/destinations/reddit/procWorkflow.yaml
  src/cdk/v2/destinations/reddit/utils.js
  src/cdk/v2/destinations/reddit/utils.test.js
  test/integrations/destinations/reddit/processor/data.ts
  test/integrations/destinations/reddit/router/data.ts
Due: js

chore: add util test file
  src/v0/destinations/impact/utils.test.js
Due: js

feat: adding product level tracking for awin (#3246)
  src/v0/destinations/awin/transform.js
  src/v0/destinations/awin/utils.js
  src/v0/destinations/awin/utils.test.js
  test/integrations/destinations/awin/data.ts
Due: js

feat: rakuten: adding a default value for tr (#3240)
  src/cdk/v2/destinations/rakuten/data/propertiesMapping.json
  test/integrations/destinations/rakuten/processor/commonConfig.ts
  test/integrations/destinations/rakuten/processor/track.ts
  test/integrations/destinations/rakuten/processor/transformationFailure.ts
Due: none

fix: comments addressed
  src/v0/destinations/sfmc/transform.js
  test/integrations/destinations/sfmc/processor/data.ts
Due: js

feat: do away myaxios (#3222)
  src/v0/destinations/sfmc/transform.js
  test/integrations/destinations/sfmc/network.ts
  test/integrations/destinations/sfmc/processor/data.ts
Due: js

fix: marketo bulk ignore null while checking data type mismatch
  src/v0/destinations/marketo_bulk_upload/marketo_bulk_upload.util.test.js
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

fix: fixed userId mapping, now mapping to uid instead of id (#3262)
  src/cdk/v2/destinations/fullstory/procWorkflow.yaml
  test/integrations/destinations/fullstory/processor/data.ts
Due: none

fix: marketo bulk ignore null while checking data type mismatch (#3263)
  src/v0/destinations/marketo_bulk_upload/marketo_bulk_upload.util.test.js
  src/v0/destinations/marketo_bulk_upload/util.js
Due: js

feat: logger upgrade in services, dest, source (#3228)
  .eslintrc.json
  package-lock.json
  package.json
  src/cdk/v2/handler.ts
  src/controllers/bulkUpload.ts
  src/controllers/delivery.ts
  src/controllers/destination.ts
  src/controllers/regulation.ts
  src/controllers/source.ts
  src/controllers/userTransform.ts
  src/index.ts
  src/interfaces/DestinationService.ts
  src/interfaces/SourceService.ts
  src/services/comparator.ts
  src/services/destination/__tests__/nativeIntegration.test.ts
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/services/destination/postTransformation.ts
  src/services/misc.ts
  src/services/source/__tests__/nativeIntegration.test.ts
  src/services/source/nativeIntegration.ts
  src/util/redis/redisConnector.test.js
  src/v0/destinations/campaign_manager/transform.js
  src/v0/destinations/mailchimp/utils.js
  src/v0/destinations/twitter_ads/transform.js
  src/v0/sources/canny/transform.js
  src/v0/sources/shopify/transform.js
  src/v0/sources/shopify/util.js
  test/__tests__/pinterestConversion-cdk.test.ts
  test/apitests/service.api.test.ts
Due: js, ts

chore: add logs on dns errors (#3257)
  src/util/utils.js
Due: js

fix: adding check for reserved key words
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

chore: add caching layer to dns resolved ips
  src/util/utils.js
Due: js

chore: added gainsight tests
  test/integrations/destinations/gainsight/network.ts
  test/integrations/destinations/gainsight/processor/data.ts
Due: none

chore: added tests for delighted
  test/integrations/destinations/delighted/network.ts
  test/integrations/destinations/delighted/processor/data.ts
Due: none

chore: added tests for delighted
  src/v0/destinations/delighted/util.js
  test/integrations/destinations/delighted/processor/data.ts
Due: js

Revert "feat: logger upgrade in services, dest, source (#3228)"
  .eslintrc.json
  package-lock.json
  package.json
  src/cdk/v2/handler.ts
  src/controllers/bulkUpload.ts
  src/controllers/delivery.ts
  src/controllers/destination.ts
  src/controllers/regulation.ts
  src/controllers/source.ts
  src/controllers/userTransform.ts
  src/index.ts
  src/interfaces/DestinationService.ts
  src/interfaces/SourceService.ts
  src/services/comparator.ts
  src/services/destination/__tests__/nativeIntegration.test.ts
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/services/destination/postTransformation.ts
  src/services/misc.ts
  src/services/source/__tests__/nativeIntegration.test.ts
  src/services/source/nativeIntegration.ts
  src/util/redis/redisConnector.test.js
  src/v0/destinations/campaign_manager/transform.js
  src/v0/destinations/mailchimp/utils.js
  src/v0/destinations/twitter_ads/transform.js
  src/v0/sources/canny/transform.js
  src/v0/sources/shopify/transform.js
  src/v0/sources/shopify/util.js
  test/__tests__/pinterestConversion-cdk.test.ts
  test/apitests/service.api.test.ts
Due: js, ts

added env to capture the gunicorn workers and threads
  src/util/openfaas/index.js
Due: js

fixed the scale target proportion
  src/util/openfaas/index.js
Due: js

chore: setup transformer code with openfaas pro deployment changes
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
  test/__tests__/user_transformation.test.js
Due: js

fix: review comments addressed
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

fix: adding check for reserved key words in extract custom fields (#3264)
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

chore: setup transformer code with openfaas pro deployment changes (#3180)
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
  test/__tests__/user_transformation.test.js
Due: js

chore: address comments
  src/v0/destinations/impact/util.js
  src/v0/destinations/impact/utils.test.js
Due: js

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

fix: no-case-declarations
  src/v0/destinations/mp/transform.js
Due: js

fix: impact: support custom product mapping (#3249)
  src/v0/destinations/impact/util.js
  src/v0/destinations/impact/utils.test.js
  test/integrations/destinations/impact/processor/data.ts
Due: js

refactor: deprecate mixpanel /track endpoint (#2833)
  src/util/prometheus.js
  src/v0/destinations/mp/config.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: js

chore: address comments
  src/v0/destinations/hs/HSTransform-v2.js
  src/v0/destinations/hs/util.js
Due: js
