Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: validate http destination api url
  src/cdk/v2/destinations/http/utils.js
  src/cdk/v2/destinations/http/utils.test.js
Due: js

chore: addressed review comments
  src/v0/destinations/fb_custom_audience/transform.js
Due: js

chore: update cart viewed logic
  src/v1/sources/shopify/utilsV2.js
Due: js

docs: add contribution guide for source integration
  CONTRIBUTING.md
Due: none

docs: contribution guide for destination integration
  CONTRIBUTING.md
Due: none

fix: updated the error message matching condition for race condition when spinning up the fn
  src/util/openfaas/index.js
Due: js

chore: add fallback to destination and source ids
  src/v0/util/index.js
Due: js

chore: revert test cases
  src/v0/util/index.js
  test/integrations/destinations/algolia/router/data.ts
  test/integrations/destinations/iterable/router/data.ts
Due: js

fix: added support for window stabilization fix through envs (#3720)
  src/util/openfaas/index.js
Due: js

chore: refactor to use sources.job_id to group events
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

feat: add source id isolation for reverse etl (#3496)
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js, ts

fix: poc handling object like string
  test/__tests__/warehouse.test.js
Due: none

feat: onboard Amazon Audience
  src/v0/destinations/amazon_audience/config.js
  src/v0/destinations/amazon_audience/transform.js
  src/v0/destinations/amazon_audience/utils.js
  test/integrations/destinations/amazon_audience/common.ts
  test/integrations/destinations/amazon_audience/processor/data.ts
  test/integrations/destinations/amazon_audience/router/data.ts
Due: js

chore: check if object is converted to string and stringify it
  src/warehouse/index.js
  test/__tests__/warehouse.test.js
Due: js

add more tests
  src/warehouse/index.js
  test/__tests__/warehouse.test.js
Due: js

chore: adding a new violation type Advance-Rules-Violation (#3715)
  src/util/eventValidation.js
  test/__tests__/eventValidation.test.js
  test/__tests__/trackingPlan.test.js
Due: js

fix: handle circular structure response payload
  src/controllers/userTransform.ts
Due: ts

feat: add support for vdm next to fb custom audiences
  src/types/index.ts
  src/v0/destinations/fb_custom_audience/config.js
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/util.js
  src/v0/util/constant.js
  src/v0/util/index.js
  test/integrations/component.test.ts
  test/integrations/destinations/fb_custom_audience/mocks.ts
  test/integrations/destinations/fb_custom_audience/processor/data.ts
  test/integrations/destinations/fb_custom_audience/router/data.ts
  test/integrations/destinations/fb_custom_audience/router/recordV1.ts
  test/integrations/destinations/fb_custom_audience/router/recordV2.ts
  test/integrations/testUtils.ts
Due: js, ts

chore: add missing tests
  src/v0/destinations/fb_custom_audience/recordTransform.js
  test/integrations/destinations/fb_custom_audience/router/data.ts
  test/integrations/destinations/fb_custom_audience/router/record.ts
  test/integrations/destinations/fb_custom_audience/router/recordV2.ts
Due: js

posthog user agent report field updated
  src/v0/destinations/posthog/data/PHPropertiesConfig.json
Due: none

Added correct referrer parsing to posthog
  src/v0/destinations/posthog/data/PHPropertiesConfig.json
Due: none

chore: refactor fbca
  package-lock.json
  package.json
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/util.js
  test/integrations/destinations/fb_custom_audience/router/audienceList.ts
  test/integrations/destinations/fb_custom_audience/router/data.ts
  test/integrations/destinations/fb_custom_audience/router/eventStream.ts
  test/integrations/destinations/fb_custom_audience/router/rETL.ts
Due: js

chore: update docs
  src/v0/destinations/fb_custom_audience/recordTransform.js
Due: js

add support for group
  src/warehouse/index.js
  test/__tests__/warehouse.test.js
Due: js

fix tests for group
  src/warehouse/index.js
  test/__tests__/warehouse.test.js
Due: js

fix tests and address review comments
  src/warehouse/index.js
  test/__tests__/warehouse.test.js
Due: js

chore: add configurable ivm execution timeout
  src/util/customTransformer-v1.js
Due: js

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

chore: refactor pixel code logic and tests
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/data/cartViewedEventMapping.json
  src/v1/sources/shopify/data/checkoutStartedCompletedEventMapping.json
  src/v1/sources/shopify/data/contextualFieldMapping.json
  src/v1/sources/shopify/data/productListViewedEventMapping.json
  src/v1/sources/shopify/data/productToCartEventMapping.json
  src/v1/sources/shopify/data/productViewedEventMapping.json
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/shopify.util.test.js
  src/v1/sources/shopify/transform.js
  src/v1/sources/shopify/util.js
  src/v1/sources/shopify/utilV2.js
  src/v1/sources/shopify/utilsV2.js
  test/integrations/sources/shopify/data.ts
Due: js

fix: library version for old and new serverside events
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/transform.js
Due: js

feat: intercom v2 native integration
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom_v2/procWorkflow.yaml
  src/cdk/v2/destinations/intercom_v2/rtWorkflow.yaml
  src/cdk/v2/destinations/intercom_v2/utils.js
  src/features.json
  src/v0/destinations/intercom_v2/config.js
  src/v0/destinations/intercom_v2/data/IntercomGroupConfig.json
  src/v0/destinations/intercom_v2/data/IntercomIdentifyConfig.json
  src/v0/destinations/intercom_v2/data/IntercomTrackConfig.json
  src/v0/destinations/intercom_v2/networkHandler.js
  src/v0/destinations/intercom_v2/transform.js
  src/v0/destinations/intercom_v2/utils.js
  test/integrations/destinations/intercom_v2/common.ts
  test/integrations/destinations/intercom_v2/dataDelivery/business.ts
  test/integrations/destinations/intercom_v2/dataDelivery/data.ts
  test/integrations/destinations/intercom_v2/dataDelivery/oauth.ts
  test/integrations/destinations/intercom_v2/network.ts
  test/integrations/destinations/intercom_v2/router/data.ts
Due: js

fix: lint error
  test/integrations/destinations/intercom_v2/router/data.ts
Due: none

chore: add configurable ivm execution timeout (#3732)
  src/util/customTransformer-v1.js
Due: js

chore(release): 1.78.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: add contribution guide for source integration (#3724)
  CONTRIBUTING.md
Due: none

chore: enable router transform for http destination
  src/features.json
Due: none

chore: enable router transform for http destination (#3736)
  src/features.json
Due: none

fix: use destination definition name in place of string for custom object
  src/v0/destinations/salesforce/transform.js
Due: js

chore: add tests
  test/integrations/destinations/salesforce/network.ts
  test/integrations/destinations/salesforce/router/data.ts
Due: none
