Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

fix: reviews comments
  src/cdk/v2/destinations/bluecore/data/bluecoreSubscriptionEventConfig.json
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

chore: add stats to ascertain batching efficiency in emarsys
  src/cdk/v2/destinations/emarsys/utils.js
  src/cdk/v2/destinations/emarsys/utils.test.js
  src/util/prometheus.js
Due: js

fix: thread safety issue in emarsys destination implementation
  src/cdk/v2/destinations/emarsys/config.js
  src/cdk/v2/destinations/emarsys/utils.js
  src/cdk/v2/destinations/emarsys/utils.test.js
Due: js

chore: adding benchmarks framework
  .dockerignore
  .gitignore
  Dockerfile
  Makefile
  bench-compose.yml
  scripts/benchmarks/collect-stats.sh
  scripts/benchmarks/config.yaml
  scripts/benchmarks/run.sh
  scripts/start-service.sh
Due: none

fix: start-service.sh
  scripts/start-service.sh
Due: none

chore: working benchmarks
  cmd/benchmark-report/go.mod
  cmd/benchmark-report/go.sum
  cmd/benchmark-report/main.go
  scripts/benchmarks/collect-stats.sh
  scripts/benchmarks/config.yaml
  scripts/benchmarks/run.sh
Due: none

chore: tuning benchmarks
  bench-compose.yml
  scripts/benchmarks/config.yaml
Due: none

chore: adding support of UT_IMAGE
  scripts/benchmarks/run.sh
Due: none

chore: remove parsing for /customTransform
  scripts/benchmarks/config.yaml
  src/controllers/userTransform.ts
  src/index.ts
  src/routes/userTransform.ts
  src/services/piscina/transform.ts
  src/services/piscina/wrapper.ts
Due: ts

chore: blucore add internal doc and migrate test
  src/cdk/v2/destinations/bluecore/README.md
  src/cdk/v2/destinations/bluecore/docs/businesslogic.md
  src/cdk/v2/destinations/bluecore/docs/retl.md
  test/integrations/component.test.ts
  test/integrations/destinations/bluecore/common.ts
  test/integrations/destinations/bluecore/data.ts
  test/integrations/destinations/bluecore/ecommTestData.ts
  test/integrations/destinations/bluecore/identifyTestData.ts
  test/integrations/destinations/bluecore/trackTestData.ts
  test/integrations/destinations/bluecore/validationTestData.ts
Due: none

chore: remove parsing for /customTransform
  bench-compose.yml
  scripts/benchmarks/config.yaml
  scripts/benchmarks/run.sh
  scripts/start-service.sh
Due: none

refactor: optimize dynamicConfigParser to avoid deep cloning entire event
  src/util/dynamicConfigParser.ts
Due: ts

chore: add node version logging to service startup script
  scripts/start-service.sh
Due: none

chore: migrate tiktok_ads to new test
  test/integrations/component.test.ts
  test/integrations/destinations/tiktok_ads/dataDelivery/data.ts
  test/integrations/destinations/tiktok_ads/processor/data.ts
  test/integrations/destinations/tiktok_ads/router/data.ts
Due: none

chore: adding perf support
  Dockerfile
  bench-compose.yml
  scripts/benchmarks/run.sh
  scripts/start-service.sh
Due: none

chore: adding perf support
  bench-compose.yml
  scripts/benchmarks/config.yaml
  scripts/start-service.sh
Due: none

chore: add deepFreeze for compaction middle ware
  package-lock.json
  package.json
  src/middlewares/destTransformCompactedPayloadV1.ts
  src/middlewares/routerTransformCompactedPayloadV1.ts
  src/util/dynamicConfigParser.ts
Due: ts

refactor: update customerio_audience to use RudderRecordV2Schema
  src/types/rudderEvents.ts
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/customerio_audience/type.ts
  src/v0/destinations/customerio_audience/utils.test.ts
  src/v0/destinations/customerio_audience/utils.ts
  test/integrations/destinations/customerio_audience/router/data.ts
Due: ts

refactor: remove z.null() from identifiers type in RudderRecordV2Schema
  src/types/rudderEvents.ts
  src/v0/destinations/customerio_audience/type.ts
  src/v0/destinations/customerio_audience/utils.test.ts
  test/integrations/destinations/customerio_audience/router/data.ts
Due: ts

refactor: rename RecordActionType to RecordAction
  src/types/rudderEvents.ts
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/customerio_audience/type.ts
  src/v0/destinations/customerio_audience/utils.ts
Due: ts

chore: mp add content type header to all apis
  src/v0/destinations/mp/transform.js
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: js

fix: mp add content-type header and follow strict for engage and group apis
  src/v0/destinations/mp/transform.js
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: js

chore: proper cpu profiling
  bench-compose.yml
  scripts/benchmarks/run.sh
  scripts/start-service.sh
Due: none

refactor: implement CodeRabbit suggestions for customerio_audience
  src/v0/destinations/customerio_audience/type.ts
  test/integrations/destinations/customerio_audience/router/data.ts
Due: ts

fix: blucore optin event mapping
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreOptinEventConfig.json
  src/cdk/v2/destinations/bluecore/utils.js
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

chore: add subscription event
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/data/bluecoreSubscriptionEventConfig.json
  src/cdk/v2/destinations/bluecore/procWorkflow.yaml
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
  test/integrations/destinations/bluecore/trackTestData.ts
  test/integrations/destinations/bluecore/validationTestData.ts
Due: js

fix: review comments
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

chore: add subscription event
  src/cdk/v2/destinations/bluecore/utils.js
Due: js

chore: adding support for several profiling techniques
  bench-compose.yml
  scripts/benchmarks/config.yaml
  scripts/benchmarks/run.sh
  scripts/start-service.sh
Due: none

chore: adding proper support for prof
  scripts/benchmarks/config.yaml
  scripts/benchmarks/run.sh
Due: none

fix: trace sync io
  scripts/benchmarks/config.yaml
  scripts/benchmarks/run.sh
Due: none

fix: redirect stderr to stdout in docker logs for sync IO tracing
  scripts/benchmarks/run.sh
Due: none

refactor: make RudderRecordV2Schema extend RudderMessageSchema
  src/types/rudderEvents.ts
  test/integrations/destinations/customerio_audience/router/data.ts
Due: ts

chore: pass copy of metadata to avoid actual metadata modifications
  src/util/ivmFactory.js
Due: js

fix: review comments
  src/cdk/v2/destinations/bluecore/procWorkflow.yaml
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/bluecore/utils.test.js
  test/integrations/destinations/bluecore/trackTestData.ts
Due: js

fix: review comments
  src/cdk/v2/destinations/bluecore/procWorkflow.yaml
Due: none

chore: addressing comments
  src/v0/destinations/fb_custom_audience/util.test.js
Due: js

chore: populate metadata object before passing to ivmcontext
  src/util/customTransformer.js
  src/util/ivmFactory.js
Due: js

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
