Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: addressed comments
  src/types/index.ts
  test/integrations/destinations/fb_custom_audience/router/data.ts
Due: ts

chore: addressed comments
  src/v0/destinations/fb_custom_audience/util.test.js
Due: js

chore: add log to trck the request for offline conversion creation for GAOC
  src/v0/destinations/google_adwords_offline_conversions/networkHandler.js
Due: js

chore: update loglevel to warn for request and response logs
  src/logger.js
Due: js

fix: bugsnag issue fix for zendesk
  src/v0/destinations/zendesk/transform.js
  test/integrations/destinations/zendesk/processor/data.ts
Due: js

chore: added credentials at event level for python transformations
  src/util/customTransformer.js
Due: js

chore: refactored tests
  test/integrations/destinations/fb_custom_audience/router/audienceList.ts
  test/integrations/destinations/fb_custom_audience/router/batchingRecord.ts
  test/integrations/destinations/fb_custom_audience/router/data.ts
  test/integrations/destinations/fb_custom_audience/router/eventStream.ts
  test/integrations/destinations/fb_custom_audience/router/record.ts
Due: none

fix: klaviyo remove duplicate profile due anonymousId mapped as externalId
  src/v0/destinations/klaviyo/data/KlaviyoIdentify.json
  test/integrations/destinations/klaviyo/processor/identifyTestData.ts
  test/integrations/destinations/klaviyo/router/data.ts
Due: none

fix: added env values for gunicorn workers and threads in openfaas
  src/util/openfaas/index.js
Due: js

fix: add gunicorn values in env vars
  src/util/openfaas/index.js
Due: js

feat: changes for supporting record event in FB audience (#3351)
  src/types/index.ts
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/util.js
  src/v0/destinations/fb_custom_audience/util.test.js
  test/integrations/destinations/fb_custom_audience/router/audienceList.ts
  test/integrations/destinations/fb_custom_audience/router/batchingRecord.ts
  test/integrations/destinations/fb_custom_audience/router/data.ts
  test/integrations/destinations/fb_custom_audience/router/eventStream.ts
  test/integrations/destinations/fb_custom_audience/router/record.ts
Due: js, ts

fix(user-transformation): pass tf id in common metadata
  src/services/userTransform.ts
Due: ts

chore: add corresponding router test
  test/integrations/destinations/facebook_pixel/router/data.ts
Due: none

chore(release): 1.68.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: add request_ip as fallback for mixpanel group call (#3421)
  src/v0/destinations/mp/transform.js
Due: js

chore: upgrade packages
  package-lock.json
  package.json
Due: none

fix: review comments addressed
  test/integrations/destinations/af/processor/validation.ts
  test/integrations/testUtils.ts
Due: none

feat: add v3 api support to appsflyer (#3412)
  src/v0/destinations/af/config.js
  src/v0/destinations/af/transform.js
  test/integrations/destinations/af/processor/validation.ts
  test/integrations/testUtils.ts
Due: js

chore: added test case and func
  src/cdk/v2/destinations/webhook/utils.js
  test/integrations/destinations/webhook/router/data.ts
  test/integrations/destinations/webhook/router/multipleMethodTestData.ts
Due: js

feat: modified group call to attach user and add tags to company
  src/cdk/v2/destinations/intercom/config.js
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  src/cdk/v2/destinations/intercom/rtWorkflow.yaml
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom/utils.test.js
  test/integrations/destinations/intercom/network.ts
  test/integrations/destinations/intercom/router/data.ts
Due: js

fix: allowing traffic type dynamically for split.io (#3425)
  src/v0/destinations/splitio/data/EventConfig.json
  src/v0/destinations/splitio/transform.js
  test/integrations/destinations/splitio/processor/data.ts
Due: js

fix: bugsnag issue fix for zendesk (#3439)
  src/v0/destinations/zendesk/transform.js
  test/integrations/destinations/zendesk/processor/data.ts
Due: js

chore: add metrics for braze alias failures
  src/util/prometheus.js
  src/v0/destinations/braze/transform.js
  src/v0/destinations/braze/util.js
Due: js

chore: collect metric after conditional
  src/v0/destinations/braze/transform.js
Due: js

feat: added some tests
  src/cdk/v2/destinations/intercom/utils.js
  src/cdk/v2/destinations/intercom/utils.test.js
  test/integrations/destinations/intercom/network.ts
  test/integrations/destinations/intercom/router/data.ts
Due: js

refactor: use json templates for custom mappings
  package-lock.json
  package.json
  src/v0/destinations/ga4/customMappingsHandler.js
  src/v0/util/index.js
Due: js

chore: added logging for the error types
  src/v0/destinations/braze/transform.js
  src/v0/destinations/braze/util.js
Due: js

chore: fix metrics name
  src/util/prometheus.js
Due: js

chore: handle for undefined and null scneario for brazeResponse
  src/v0/destinations/braze/util.js
Due: js

chore: add metrics for braze alias failures (#3452)
  src/util/prometheus.js
  src/v0/destinations/braze/transform.js
  src/v0/destinations/braze/util.js
Due: js

chore: onboard ga4 v2
  src/v0/destinations/ga4/transform.js
  src/v0/destinations/ga4_v2/customMappingsHandler.js
  src/v0/destinations/ga4_v2/transform.ts
  test/integrations/destinations/ga4/processor/data.ts
  test/integrations/destinations/ga4_v2/mocks.ts
  test/integrations/destinations/ga4_v2/processor/customMappings.ts
  test/integrations/destinations/ga4_v2/processor/data.ts
Due: js, ts

chore(release): 1.69.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

refactor: use sync implementation of json template
  src/v0/destinations/ga4_v2/customMappingsHandler.js
  src/v0/util/index.js
Due: js

chore: update regex for sonar hotspot for map with json path
  src/v0/util/mapWithJSONPath.js
Due: js

chore: move trengo from myaxios to httpget
  src/v0/destinations/trengo/transform.js
Due: js

chore: refactor with different convention of log levels
  benchmark/metaLogger.js
  src/logger.js
Due: js

chore: move drip from myaxios to httpget and httppost
  src/v0/destinations/drip/util.js
Due: js

chore: add custom properties
  src/cdk/v2/destinations/klaviyo_bulk_upload/utils.js
  test/integrations/destinations/klaviyo_bulk_upload/processor/data.ts
Due: js

fix: handle for other event types
  src/v0/destinations/ga4_v2/transform.ts
Due: ts

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
