Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: replace with dummy token
  test/integrations/destinations/salesforce/network.ts
  test/integrations/destinations/salesforce/processor/data.ts
  test/integrations/destinations/salesforce/router/data.ts
Due: none

feat: customerio segment onboard
  src/cdk/v2/destinations/customerio_segment/config.js
  src/cdk/v2/destinations/customerio_segment/rtWorkflow.yaml
  src/cdk/v2/destinations/customerio_segment/transformRecord.js
  src/cdk/v2/destinations/customerio_segment/utils.js
  src/cdk/v2/destinations/customerio_segment/utils.test.js
Due: js

chore: address comments, refactorx1
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/transform.js
  src/v1/sources/shopify/util.js
Due: js

chore: add test
  test/integrations/sources/shopify/data.ts
Due: none

chore: add testsx2
  test/integrations/sources/shopify/data.ts
Due: none

chore: update version naming from config
  src/v1/sources/shopify/transform.js
  test/integrations/sources/shopify/data.ts
Due: js

fix: remove response comparision typecast
  src/v0/destinations/salesforce/transform.js
Due: js

chore: add network handler with tests
  src/v0/destinations/amazon_audience/config.js
  src/v0/destinations/amazon_audience/networkHandler.js
  src/v0/destinations/amazon_audience/transform.js
  src/v0/destinations/amazon_audience/utils.js
  test/integrations/destinations/amazon_audience/common.ts
  test/integrations/destinations/amazon_audience/dataDelivery/data.ts
  test/integrations/destinations/amazon_audience/network.ts
  test/integrations/destinations/amazon_audience/processor/data.ts
  test/integrations/destinations/amazon_audience/router/data.ts
Due: js

feat: snowpipe streaming
  src/v0/destinations/snowpipe_streaming/transform.js
Due: js

chore: keep old v0 logic intact, refactor
  src/v0/sources/shopify/config.js
  src/v0/sources/shopify/transform.js
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/data/identifyMapping.json
  src/v1/sources/shopify/data/lineItemsMapping.json
  src/v1/sources/shopify/data/mapping.json
  src/v1/sources/shopify/data/productMapping.json
  src/v1/sources/shopify/pixelEventsMappings/cartViewedEventMapping.json
  src/v1/sources/shopify/pixelEventsMappings/checkoutStartedCompletedEventMapping.json
  src/v1/sources/shopify/pixelEventsMappings/contextualFieldMapping.json
  src/v1/sources/shopify/pixelEventsMappings/productListViewedEventMapping.json
  src/v1/sources/shopify/pixelEventsMappings/productToCartEventMapping.json
  src/v1/sources/shopify/pixelEventsMappings/productViewedEventMapping.json
  src/v1/sources/shopify/shopify.util.test.js
  src/v1/sources/shopify/shopify_redis.util.test.js
  src/v1/sources/shopify/transform.js
  src/v1/sources/shopify/util.js
Due: js

chore: update equality logic, add tests
  src/v0/destinations/salesforce/transform.js
  test/integrations/destinations/salesforce/network.ts
  test/integrations/destinations/salesforce/router/data.ts
Due: js

fix: add gunicorn values in env vars
  src/util/openfaas/index.js
Due: js

fix: added env values for gunicorn workers and threads in openfaas
  src/util/openfaas/index.js
Due: js

fix: add env dns resolver
  src/util/openfaas/index.js
Due: js

feat: gaec configData updates
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
Due: js

feat: add support for vdm next to fb custom audiences (#3729)
  package-lock.json
  package.json
  src/types/index.ts
  src/v0/destinations/fb_custom_audience/config.js
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/util.js
  src/v0/util/constant.js
  src/v0/util/index.js
  test/integrations/component.test.ts
  test/integrations/destinations/fb_custom_audience/mocks.ts
  test/integrations/destinations/fb_custom_audience/processor/data.ts
  test/integrations/destinations/fb_custom_audience/router/audienceList.ts
  test/integrations/destinations/fb_custom_audience/router/batchingRecord.ts
  test/integrations/destinations/fb_custom_audience/router/data.ts
  test/integrations/destinations/fb_custom_audience/router/eventStream.ts
  test/integrations/destinations/fb_custom_audience/router/rETL.ts
  test/integrations/testUtils.ts
Due: js, ts

feat: bq custom partitioning
  src/warehouse/index.js
  test/__tests__/data/warehouse/integration_options_events.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/identifies.js
  test/__tests__/warehouse.test.js
Due: js

chore: sonarcloud reliability check fix
  src/v1/sources/shopify/pixelTransform.js
Due: js

chore: small fixes
  src/v0/destinations/amazon_audience/config.js
  src/v0/destinations/amazon_audience/networkHandler.js
  test/integrations/destinations/amazon_audience/network.ts
Due: js

fix: fixing lytics user_id and anonymousId mapping
  src/cdk/v2/destinations/lytics/procWorkflow.yaml
  test/integrations/destinations/lytics/processor/data.ts
Due: none

chore: update util file names
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/pixelUtils.js
  src/v1/sources/shopify/pixelUtils.test.js
  src/v1/sources/shopify/transform.js
Due: js

fix: use destination definition name in place of string for custom object
  src/v0/destinations/salesforce/transform.js
Due: js

chore: add tests
  test/integrations/destinations/salesforce/network.ts
  test/integrations/destinations/salesforce/router/data.ts
Due: none

chore: move webhook specific logic for v2 pixel, address comments
  src/v0/sources/shopify/transform.js
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/pixelWebhookEventTransform.js
  src/v1/sources/shopify/transform.js
  test/integrations/sources/shopify/data.ts
Due: js

fix: use destination definition name in place of string for custom object (#3746)
  src/v0/destinations/salesforce/transform.js
  test/integrations/destinations/salesforce/network.ts
  test/integrations/destinations/salesforce/processor/data.ts
  test/integrations/destinations/salesforce/router/data.ts
Due: js

chore(release): 1.79.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: more refactoring, update userId and anonymousid from customer object
  src/v0/sources/shopify/transform.js
  src/v1/sources/shopify/pixelWebhookEventTransform.js
  src/v1/sources/shopify/transform.js
Due: js

chore: update library name for pixel and webhook events in pixel app flow
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/pixelWebhookEventTransform.js
  test/integrations/sources/shopify/data.ts
Due: js

chore: refactor pixel tests to seperate directory, remove reduntant test data
  src/v1/sources/shopify/transform.js
  test/integrations/sources/shopify/constants.ts
  test/integrations/sources/shopify/data.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
  test/integrations/sources/shopify/v1ServerSideEventsTests.ts
Due: js

fix: support different lookup fields and custom_attributes for rETL events
  src/cdk/v2/destinations/intercom/procWorkflow.yaml
  src/cdk/v2/destinations/intercom/utils.js
  test/integrations/destinations/intercom/network.ts
  test/integrations/destinations/intercom/processor/identifyTestData.ts
Due: js

chore: update to require in test
  test/__tests__/snakecase.test.js
Due: none

chore: address review comments
  src/warehouse/index.js
  src/warehouse/snakecase/snakecase.js
  src/warehouse/snakecase/unicodeWords.js
  src/warehouse/util.js
  src/warehouse/v1/util.js
  test/__tests__/data/warehouse/events.js
  test/__tests__/data/warehouse/integration_options_events.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/aliases.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/extract.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/groups.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/pages.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/screens.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/tracks.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/aliases.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/extract.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/groups.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/pages.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/screens.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/tracks.js
  test/__tests__/snakecase.test.js
  test/__tests__/warehouse.test.js
  test/integrations/destinations/gcs_datalake/processor/data.ts
Due: js

chore: source pull
  test/__tests__/snakecase.test.js
Due: none

chore: use commonJs syntax
  src/warehouse/snakecase/snakecase.js
  src/warehouse/snakecase/unicodeWords.js
Due: js

chore: some minor changes
  test/__tests__/warehouse.test.js
Due: none

chore: properly indent events.js
  test/__tests__/data/warehouse/events.js
  test/__tests__/warehouse.test.js
Due: none

chore: develop pull
  src/warehouse/index.js
  src/warehouse/util.js
  src/warehouse/v0/util.js
  src/warehouse/v1/util.js
  test/__tests__/data/warehouse/events.js
  test/__tests__/data/warehouse/integration_options_events.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/aliases.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/extract.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/groups.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/pages.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/screens.js
  test/__tests__/data/warehouse/integrations/jsonpaths/legacy/tracks.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/aliases.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/extract.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/groups.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/identifies.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/pages.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/screens.js
  test/__tests__/data/warehouse/integrations/jsonpaths/new/tracks.js
  test/__tests__/warehouse.test.js
  test/integrations/destinations/gcs_datalake/processor/data.ts
Due: js
