Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: add flag to disable summary metric collection
  src/util/prometheus.js
  src/util/stats.js
Due: js

chore: fixed the checkout action in build docker image
  .github/workflows/build-push-docker-image.yml
Due: none

chore: added more test cases
  test/__tests__/user_transformation.test.js
Due: none

chore: added function readiness as part of function update
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
  test/__tests__/user_transformation.test.js
Due: js

chore: added reconcile fn for openfaas fn pods
  src/util/customTransformer-faas.js
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
  test/__tests__/user_transformation.test.js
Due: js

move to debug logs
  src/util/openfaas/index.js
Due: js

refactor: deprecate mixpanel /track endpoint (#2833)
  src/util/prometheus.js
  src/v0/destinations/mp/config.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: js

refactor: responseBuilderSimple
  src/v0/destinations/mp/transform.js
Due: js

feat: address review comments
  src/v0/destinations/ga4/customMappingsHandler.js
  src/v0/destinations/ga4/utils.js
  test/integrations/destinations/ga4/processor/customMappings.ts
Due: js

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

chore: add logging capability at integration level
  src/adapters/utils/networkUtils.js
  src/controllers/destination.ts
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/services/misc.ts
  src/services/source/nativeIntegration.ts
  src/v0/destinations/google_adwords_offline_conversions/config.js
  src/v0/destinations/google_adwords_offline_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/util/index.js
  test/integrations/destinations/am/dataDelivery/data.ts
Due: js, ts

chore: add structured logger in klaviyo
  src/v0/destinations/google_adwords_offline_conversions/networkHandler.js
  src/v0/destinations/klaviyo/config.js
  src/v0/destinations/klaviyo/transform.js
  src/v0/destinations/klaviyo/util.js
  src/v0/util/index.js
Due: js

chore: add structured logger to src transform & proxyV1 integrations
  src/util/redis/redisConnector.js
  src/v0/sources/canny/transform.js
  src/v0/sources/shopify/transform.js
  src/v1/destinations/campaign_manager/networkHandler.js
  src/v1/destinations/monday/networkHandler.js
Due: js

fix: fb custom audience html response
  src/v0/util/facebookUtils/index.js
  src/v0/util/facebookUtils/index.test.js
  src/v0/util/facebookUtils/networkHandler.js
  test/integrations/destinations/fb_custom_audience/dataDelivery/other.ts
  test/integrations/destinations/fb_custom_audience/network.ts
Due: js

chore: added health
  src/grpc/server.js
  src/proto/health.proto
  src/proto/health_grpc_pb.js
  src/proto/health_pb.js
Due: js

chore: health check for proto
  .eslintrc.json
  package.json
  src/grpc/server.js
  src/index.ts
  src/proto/health_grpc_pb.js
  src/proto/health_pb.js
  src/proto/transform_grpc_pb.js
  src/proto/transform_pb.js
Due: js, ts

fix: proto output
  package-lock.json
  package.json
  src/generated/transform_pb.js
  src/grpc/server.js
  src/index.ts
  src/proto/transform.proto
  src/proto/transform_grpc_pb.js
  src/proto/transform_pb.js
Due: js, ts

chore: grcp implementation
  package-lock.json
  package.json
  src/generated/transform_grpc_pb.js
  src/generated/transform_pb.js
  src/grpc/server.js
  src/proto/transform.proto
Due: js

fix: apply suggestions from code review
  src/v0/destinations/awin/transform.js
  test/integrations/destinations/awin/data.ts
Due: js

fix: comments addressed
  src/v0/util/facebookUtils/index.test.js
Due: js

fix: comments addressed
  src/v0/util/facebookUtils/index.js
  src/v0/util/facebookUtils/index.test.js
Due: js

feat: garl record event support
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/destinations/google_adwords_remarketing_lists/transformV2.js
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
Due: js

fix: removed unnessary mock
  test/integrations/destinations/fb_custom_audience/network.ts
Due: none

fix: removed unnessary mock
  src/v0/util/facebookUtils/index.test.js
Due: js

feat: add validations
  src/v0/destinations/ga4/customMappingsHandler.js
  test/integrations/destinations/ga4/processor/customMappings.ts
Due: js

chore: refactor klaviyo id and anonymous id logic
  src/cdk/v2/destinations/klaviyo_bulk_upload/utils.js
Due: js

feat: add new util file for mapwithjsonpath
  src/v0/destinations/ga4/customMappingsHandler.js
  src/v0/destinations/ga4/utils.js
  src/v0/util/mapWithJSONPath.js
Due: js

chore: refactor webhook processor component test cases
  test/integrations/destinations/webhook/commonConfig.ts
  test/integrations/destinations/webhook/processor/data.ts
Due: none

refactor: deprecate mixpanel /track endpoint (#2833) (#3399)
  src/util/prometheus.js
  src/v0/destinations/mp/config.js
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/common.ts
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: js

feat: bun 2
  src/util/trackingPlan.js
Due: js

feat: bun hackathon
  bunRuntimee/.eslintrc.json
  bunRuntimee/.gitignore
  bunRuntimee/README.md
  bunRuntimee/bun.lockb
  bunRuntimee/k6test.js
  bunRuntimee/load.js
  bunRuntimee/package.json
  bunRuntimee/src/index.ts
  bunRuntimee/src/logger.js
  bunRuntimee/src/validation.js
  bunRuntimee/tsconfig.json
Due: none

feat: bun hackathon rename
  bunRuntime/.eslintrc.json
  bunRuntime/.gitignore
  bunRuntime/README.md
  bunRuntime/bun.lockb
  bunRuntime/k6test.js
  bunRuntime/load.js
  bunRuntime/package.json
  bunRuntime/src/index.ts
  bunRuntime/src/logger.js
  bunRuntime/src/validation.js
  bunRuntime/tsconfig.json
Due: none

fix: standardise hashing for all CAPI integrations (#3379)
  src/cdk/v2/destinations/reddit/procWorkflow.yaml
  src/v0/destinations/facebook_offline_conversions/utils.js
  src/v0/destinations/fb/transform.js
  src/v0/destinations/google_adwords_enhanced_conversions/data/trackConfig.json
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/impact/transform.js
  src/v0/destinations/pinterest_tag/utils.js
  src/v0/destinations/yahoo_dsp/util.js
  test/integrations/destinations/facebook_offline_conversions/processor/data.ts
  test/integrations/destinations/fb/processor/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/processor/data.ts
  test/integrations/destinations/google_adwords_offline_conversions/processor/data.ts
  test/integrations/destinations/impact/processor/data.ts
  test/integrations/destinations/pinterest_tag/processor/data.ts
  test/integrations/destinations/reddit/processor/data.ts
  test/integrations/destinations/yahoo_dsp/processor/data.ts
Due: js

fix: tiktok_v2 remove default value for content-type for custom events (#3383)
  src/v0/destinations/tiktok_ads/data/TikTokTrackV2.json
  src/v0/destinations/tiktok_ads/transformV2.js
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: js

chore: refactor code
  src/v1/destinations/hs/networkHandler.js
  test/integrations/destinations/hs/dataDelivery/business.ts
  test/integrations/destinations/hs/dataDelivery/other.ts
Due: js

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

chore: add processor tests
  test/integrations/destinations/klaviyo_bulk_upload/processor/data.ts
Due: none

feat: filtering unknown events in awin (#3392)
  src/v0/destinations/awin/transform.js
  test/integrations/destinations/awin/data.ts
Due: js
