Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: updated test cases
  src/v0/destinations/tune/transform.js
  test/integrations/destinations/tune/processor/trackTestData.ts
Due: js

chore: small fix
  src/v0/destinations/tune/transform.js
Due: js

chore: description updated
  test/integrations/destinations/twitter_ads/processor/data.ts
  test/integrations/destinations/twitter_ads/router/data.ts
Due: none

chore: router test cases added
  src/v0/destinations/tune/transform.js
  test/integrations/destinations/tune/processor/trackTestData.ts
  test/integrations/destinations/tune/router/data.ts
Due: js

chore: update logic
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/transform.js
Due: js

chore: add tests
  test/integrations/destinations/ga4_v2/dataDelivery/business.ts
  test/integrations/destinations/ga4_v2/dataDelivery/data.ts
Due: none

fix: apply suggestions from code review
  src/v0/destinations/salesforce/utils.js
Due: js

chore: add network handler file for ga4 v2 in v0 implementation flow (#3822)
  src/v0/destinations/ga4_v2/networkHandler.js
  src/v1/destinations/ga4_v2/networkHandler.ts
  test/integrations/destinations/ga4_v2/dataDelivery/business.ts
  test/integrations/destinations/ga4_v2/dataDelivery/data.ts
Due: js, ts

fix: code review change
  src/v0/destinations/salesforce/utils.js
  test/integrations/destinations/salesforce/dataDelivery/business.ts
  test/integrations/destinations/salesforce/dataDelivery/data.ts
  test/integrations/destinations/salesforce/dataDelivery/other.ts
Due: js

chore(release): 1.82.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: snowpipe streaming (#3740)
  src/v0/destinations/snowpipe_streaming/transform.js
  test/__tests__/warehouse.test.js
Due: js

chore: update error handling
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/transform.js
Due: js

fix: code review changes
  src/v0/destinations/salesforce/utils.js
Due: js

fix: code review changes
  src/v0/destinations/salesforce/utils.js
  test/integrations/destinations/salesforce/dataDelivery/data.ts
Due: js

fix: fix test cases
  test/integrations/destinations/salesforce_oauth/dataDelivery/oauth.ts
  test/integrations/destinations/salesforce_oauth_sandbox/dataDelivery/oauth.ts
Due: none

chore: minor fix
  src/v0/destinations/tune/transform.js
Due: js

chore: refactor
  src/v0/sources/shopify/util.js
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/transform.js
Due: js

chore: salesforce refactor
  src/v0/destinations/salesforce/networkHandler.js
  src/v0/destinations/salesforce/transform.js
  src/v0/destinations/salesforce_oauth/networkHandler.js
  src/v0/destinations/salesforce_oauth_sandbox/networkHandler.js
  src/v0/util/salesforce/common.ts
  src/v0/util/salesforce/factory.ts
  src/v0/util/salesforce/legacy.ts
  src/v0/util/salesforce/oauth.ts
  src/v0/util/salesforce/types.ts
Due: js, ts

chore: refactor token for pixel events
  src/v1/sources/shopify/pixelTransform.js
Due: js

feat: onboard tune destination (#3795)
  src/v0/destinations/tune/transform.js
  test/integrations/destinations/tune/processor/data.ts
  test/integrations/destinations/tune/processor/trackTestData.ts
  test/integrations/destinations/tune/router/data.ts
Due: js

fix: update ttl with correct import
  src/v0/util/salesforce/factory.ts
Due: ts

chore: move from enums to dest def
  src/v0/destinations/salesforce/config.js
  src/v0/destinations/salesforce/networkHandler.js
  src/v0/destinations/salesforce_oauth/networkHandler.js
  src/v0/destinations/salesforce_oauth_sandbox/networkHandler.js
  src/v0/util/salesforce/factory.ts
  src/v0/util/salesforce/legacy.ts
  src/v0/util/salesforce/oauth.ts
Due: js, ts

chore: add tests
  src/v0/sources/shopify/util.js
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/pixelTransform.redisCartToken.test.js
Due: js

feat: support for multiple zap urls
  src/cdk/v2/destinations/zapier/procWorkflow.yaml
  src/cdk/v2/destinations/zapier/utils.js
  test/integrations/destinations/zapier/processor/data.ts
Due: js

fix: update endpoint to array
  src/cdk/v2/destinations/zapier/procWorkflow.yaml
Due: none

fix: use forEach instead of map, remove unused dependency
  src/cdk/v2/destinations/zapier/procWorkflow.yaml
  src/cdk/v2/destinations/zapier/utils.js
Due: js

chore: use clientId instead of anonymousid, add tests
  src/v0/sources/shopify/util.js
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/pixelTransform.redisCartToken.test.js
Due: js

chore: address comments
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/pixelTransform.redisCartToken.test.js
Due: js

fix: add missing field for pinterest_tag single product events
  src/cdk/v2/destinations/pinterest_tag/procWorkflow.yaml
  test/apitests/data_scenarios/cdk_v2/failure.json
  test/apitests/data_scenarios/cdk_v2/success.json
  test/apitests/data_scenarios/destination/proc/batch_input_multiplex.json
  test/apitests/data_scenarios/destination/proc/multiplex_partial_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_success.json
  test/apitests/data_scenarios/destination/router/failure_test.json
  test/integrations/destinations/pinterest_tag/processor/data.ts
  test/integrations/destinations/pinterest_tag/router/data.ts
  test/integrations/destinations/pinterest_tag/step/data.ts
Due: none

chore: update carttoken storage struvcture to object in redis, add stats
  src/util/prometheus.js
  src/v1/sources/shopify/pixelTransform.js
Due: js

fix: customerIo test cases
  test/integrations/destinations/customerio/common.ts
  test/integrations/destinations/customerio/processor/data.ts
  test/integrations/destinations/customerio/processor/groupData.ts
  test/integrations/destinations/customerio/processor/identifyData.ts
  test/integrations/destinations/customerio/processor/trackData.ts
  test/integrations/destinations/customerio/processor/validationData.ts
Due: none

feat: support for multiple zap urls (#3825)
  src/cdk/v2/destinations/zapier/procWorkflow.yaml
  src/cdk/v2/destinations/zapier/utils.js
  test/integrations/destinations/zapier/processor/data.ts
Due: js

fix: str replace is not a function error (#3799)
  src/v0/destinations/google_adwords_enhanced_conversions/transform.js
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/destinations/google_adwords_enhanced_conversions/router/data.ts
Due: js

chore: address comments, refactor extractToken
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/pixelTransform.redisCartToken.test.js
Due: js

chore: address comments
  src/v1/sources/shopify/pixelTransform.js
Due: js

chore: refactor, modularize functions, add tests
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/pixelTransform.redisCartToken.test.js
Due: js

chore: remove reduntant assign for anonymousid
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/pixelTransform.redisCartToken.test.js
Due: js

feat: add support for identity stitching for shopify pixel flow (#3818)
  src/util/prometheus.js
  src/v0/sources/shopify/util.js
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/pixelTransform.js
  src/v1/sources/shopify/pixelTransform.redisCartToken.test.js
Due: js

feat: iterable EUDC
  src/v0/destinations/iterable/config.js
  src/v0/destinations/iterable/transform.js
  src/v0/destinations/iterable/util.js
  test/integrations/destinations/iterable/processor/aliasTestData.ts
  test/integrations/destinations/iterable/processor/identifyTestData.ts
  test/integrations/destinations/iterable/processor/pageScreenTestData.ts
  test/integrations/destinations/iterable/processor/trackTestData.ts
  test/integrations/destinations/iterable/router/data.ts
Due: js

chore(release): 1.83.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
