Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

feat: add support for idenitify calls when anonymousid userId both present
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
Due: js

refactor: move to ts for dcm_floodlight
  src/cdk/v2/destinations/dcm_floodlight/utils.js
  src/cdk/v2/destinations/dcm_floodlight/utils.test.ts
  src/cdk/v2/destinations/dcm_floodlight/utils.ts
Due: js, ts

refactor: move to ts for dynamic yield
  src/cdk/v2/destinations/dynamic_yield/config.js
  src/cdk/v2/destinations/dynamic_yield/config.ts
Due: js, ts

refactor: move to ts for eloqua
  src/cdk/v2/destinations/eloqua/config.js
  src/cdk/v2/destinations/eloqua/config.ts
  src/cdk/v2/destinations/eloqua/utils.test.ts
  src/cdk/v2/destinations/eloqua/utils.ts
Due: js, ts

chore: update code, add test
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
Due: js

refactor: move to ts for emarsys
  src/cdk/v2/destinations/algolia/procWorkflow.yaml
  src/cdk/v2/destinations/emarsys/config.js
  src/cdk/v2/destinations/emarsys/config.ts
  src/cdk/v2/destinations/emarsys/types.ts
  src/cdk/v2/destinations/emarsys/utils.test.js
  src/cdk/v2/destinations/emarsys/utils.test.ts
  src/cdk/v2/destinations/emarsys/utils.ts
  src/v0/util/index.js
Due: js, ts

fix: snapchat util function for normalizing phone number
  src/v0/destinations/snapchat_conversion/util.js
  src/v0/destinations/snapchat_conversion/util.test.js
Due: js

fix: snapchat util function for normalizing phone number (#4093)
  src/v0/destinations/snapchat_conversion/util.js
  src/v0/destinations/snapchat_conversion/util.test.js
Due: js

chore(release): 1.91.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: address comments, add action support in identifier event
  src/v1/sources/shopify/utils.js
  src/v1/sources/shopify/utils.test.js
Due: js

feat: added base version of piscina run in ut
  index.js
  package-lock.json
  package.json
  src/routes/userTransformer.js
  src/services/piscinaEcho.js
  src/services/piscinaUserTransform.js
  src/util/cluster.js
  src/util/customTransformer-v1.js
  src/util/customTransformer.js
  src/util/ivmFactory.js
Due: js

chore: enabled and disable hosted alerts prs
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/update-operator-alerts.yml
Due: none

chore: enabled and disable hosted alerts prs
  .github/workflows/update-operator-alerts.yml
Due: none

chore: cleaning up
  src/util/customTransformer-v1.js
  src/util/customTransformer.js
  src/util/ivmFactory.js
Due: js

chore: add worker_id to the metadata
  src/services/piscinaUserTransform.js
Due: js

chore: traits are inside context
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
Due: js

chore: better error handling for prs
  .github/workflows/update-operator-alerts.yml
Due: none

chore: dockerising piscina
  .dockerEnv
  .dockerignore
  Dockerfile-piscina
  main.js
  src/services/piscinaUserTransform.js
Due: js

chore: integrate semantic release
  .github/workflows/publish-new-release.yml
  .releaserc.js
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e03e388f780bcaf29e874273c30c3a13308a08af
Due: none

chore: better logs, npm version upgrade changes
  .github/workflows/publish-new-release.yml
  .releaserc.js
  package.json
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
