Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: add tests for processor and router transformation
  test/integrations/destinations/sfmc_v2/network.ts
  test/integrations/destinations/sfmc_v2/processor/accessToken.ts
  test/integrations/destinations/sfmc_v2/processor/contact.ts
  test/integrations/destinations/sfmc_v2/processor/data.ts
  test/integrations/destinations/sfmc_v2/processor/dataExtension.ts
  test/integrations/destinations/sfmc_v2/router/data.ts
Due: none

fix: revert preprocessing changes after suggestion
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/customerio_audience/type.ts
  src/v0/destinations/customerio_audience/utils.ts
  test/integrations/destinations/customerio_audience/network.ts
  test/integrations/destinations/customerio_audience/router/data.ts
Due: ts

fix: some minor comments
  src/v0/destinations/customerio_audience/utils.ts
Due: ts

feat(http): enclose constants with quotes in mappings
  src/cdk/v2/destinations/http/utils.js
  src/cdk/v2/destinations/http/utils.test.js
  test/integrations/destinations/http/common.ts
  test/integrations/destinations/http/processor/configuration.ts
  test/integrations/destinations/http/router/data.ts
Due: js

fix: add phone e164 format validation for klaviyo (#4025)
  package-lock.json
  package.json
  src/v0/destinations/klaviyo/util.js
  test/integrations/destinations/klaviyo/processor/screenTestDataV2.ts
  test/integrations/destinations/klaviyo/processor/trackTestDataV2.ts
  test/integrations/destinations/klaviyo/router/dataV2.ts
Due: js

chore: avoid forEach for better code readability
  src/v0/destinations/customerio_audience/transform.ts
Due: ts

chore: add validation fix for zoho
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  src/controllers/util/index.test.ts
  src/types/index.ts
  test/integrations/component.test.ts
  test/integrations/destinations/zoho/router/data.ts
  test/integrations/destinations/zoho/router/deletion.ts
  test/integrations/destinations/zoho/router/upsert.ts
  test/integrations/testTypes.ts
  test/scripts/migrationUtils.ts
Due: js, ts

fix: lint issue
  src/cdk/v2/destinations/zoho/utils.js
Due: js

chore: refactor customerio utils
  src/v0/destinations/customerio_audience/utils.ts
Due: ts

fix: added Config validation
  src/v0/destinations/customerio_audience/transform.ts
  test/integrations/destinations/customerio_audience/router/data.ts
Due: ts

feat(http): enclose constants with quotes in mappings (#4037)
  src/cdk/v2/destinations/http/utils.js
  src/cdk/v2/destinations/http/utils.test.js
  test/integrations/destinations/http/common.ts
  test/integrations/destinations/http/processor/configuration.ts
  test/integrations/destinations/http/router/data.ts
Due: js

fix: added types
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/customerio_audience/type.ts
  src/v0/destinations/customerio_audience/utils.ts
Due: ts

fix: added tests and some minor change
  src/v0/destinations/customerio_audience/config.ts
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/customerio_audience/utils.ts
  test/integrations/destinations/customerio_audience/common.ts
  test/integrations/destinations/customerio_audience/router/data.ts
Due: ts

fix: minor change
  src/v0/destinations/customerio_audience/transform.ts
Due: ts

chore: simplify types and generalise existing types
  src/types/index.ts
  src/v0/destinations/customerio_audience/type.ts
  src/v0/destinations/customerio_audience/utils.ts
Due: ts

fix: minor change
  src/types/index.ts
  src/v0/destinations/customerio_audience/type.ts
Due: ts

fix: addressing comments
  src/v0/destinations/customerio_audience/transform.ts
  test/integrations/destinations/customerio_audience/router/data.ts
Due: ts

feat: onboarding customerio segment destination (#4028)
  src/features.ts
  src/types/index.ts
  src/v0/destinations/customerio_audience/config.ts
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/customerio_audience/type.ts
  src/v0/destinations/customerio_audience/utils.ts
  test/integrations/destinations/customerio_audience/common.ts
  test/integrations/destinations/customerio_audience/mocks.ts
  test/integrations/destinations/customerio_audience/router/data.ts
Due: ts

chore: address comments
  src/cdk/v2/destinations/sfmc_v2/procWorkflow.yaml
  test/integrations/destinations/sfmc_v2/processor/accessToken.ts
  test/integrations/destinations/sfmc_v2/processor/contact.ts
  test/integrations/destinations/sfmc_v2/processor/dataExtension.ts
Due: none

chore(release): 1.90.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: remove redundant template strings
  src/cdk/v2/destinations/sfmc_v2/config.ts
  src/cdk/v2/destinations/sfmc_v2/utils.test.ts
  src/cdk/v2/destinations/sfmc_v2/utils.ts
Due: ts
