Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: update twitter_ads transform.js
  src/v0/destinations/twitter_ads/transform.js
Due: js

Revert "chore: update twitter_ads transform.js"
  src/v0/destinations/twitter_ads/transform.js
Due: js

refactor: zoho record processing (#4054)
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  src/util/common.js
  src/util/common.test.js
Due: js

chore: refactor adjust source to webhook v2
  go/go.mod
  go/go.sum
  src/features.ts
  src/sources/adjust/transform.js
  src/v0/sources/adjust/core.js
  src/v0/sources/adjust/transform.js
  src/v0/sources/adjust/utils.js
Due: js, ts

chore: refactor adjust source to webhook v2
  .eslintignore
  .github/workflows/verify.yml
Due: none

chore: features v2 flag disabled post testing
  src/features.ts
Due: ts

chore: remove unnecessary comments
  src/sources/adjust/transform.js
  src/v0/sources/adjust/transform.js
Due: js

chore: add unit tests, fix docs
  src/controllers/util/index.ts
  src/sources/adjust/transform.js
  src/sources/adjust/utils.js
  src/sources/adjust/utils.test.js
Due: js, ts

chore: remove deprecated adjust code
  src/v0/sources/adjust-deprecated/config.ts
  src/v0/sources/adjust-deprecated/core.js
  src/v0/sources/adjust-deprecated/mapping.json
  src/v0/sources/adjust-deprecated/transform.js
  src/v0/sources/adjust-deprecated/utils.js
  src/v0/sources/adjust-deprecated/utils.test.js
Due: js, ts

chore: deprecate v0 implementation and move everything to v2
  src/sources/adjust/config.ts
  src/sources/adjust/core.js
  src/sources/adjust/mapping.json
  src/sources/adjust/transform.js
  src/sources/adjust/utils.js
  src/sources/adjust/utils.test.js
  src/v0/sources/adjust-deprecated/config.ts
  src/v0/sources/adjust-deprecated/core.js
  src/v0/sources/adjust-deprecated/mapping.json
  src/v0/sources/adjust-deprecated/transform.js
  src/v0/sources/adjust-deprecated/utils.js
  src/v0/sources/adjust-deprecated/utils.test.js
Due: js, ts

chore: migrate tests to v2 for adjust
  test/integrations/sources/adjust/data.ts
Due: none

chore: revert go changes to same as develop
  .eslintignore
  .github/workflows/verify.yml
  go/go.mod
  go/go.sum
Due: none

chore: update flatten params function and improve tests structure
  src/sources/adjust/utils.js
  src/sources/adjust/utils.test.js
Due: js

chore: convert bingads audience to typescript
  src/cdk/v2/destinations/bingads_audience/config.js
  src/cdk/v2/destinations/bingads_audience/config.ts
Due: js, ts

refactor: clicksend and cordial to ts
  src/cdk/v2/destinations/clicksend/config.ts
  src/cdk/v2/destinations/clicksend/utils.test.js
  src/cdk/v2/destinations/clicksend/utils.test.ts
  src/cdk/v2/destinations/clicksend/utils.ts
  src/cdk/v2/destinations/cordial/config.js
  src/cdk/v2/destinations/cordial/config.ts
  src/cdk/v2/destinations/cordial/utils.js
  src/cdk/v2/destinations/cordial/utils.test.ts
  src/cdk/v2/destinations/cordial/utils.ts
Due: js, ts

fix: content_price should be a number with decimal point in twitter ads (#4075)
  src/v0/destinations/twitter_ads/transform.js
  test/integrations/destinations/twitter_ads/processor/data.ts
  test/integrations/destinations/twitter_ads/router/data.ts
Due: js

chore: add userId enrichment for server side events
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/utils.test.js
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.js
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
Due: js

chore: modify all test cases to use v2 spec
  test/integrations/sources/appcenter/data.ts
  test/integrations/sources/appsflyer/data.ts
  test/integrations/sources/auth0/data.ts
  test/integrations/sources/braze/data.ts
  test/integrations/sources/canny/data.ts
  test/integrations/sources/close_crm/data.ts
  test/integrations/sources/cordial/data.ts
  test/integrations/sources/customerio/data.ts
  test/integrations/sources/formsort/data.ts
  test/integrations/sources/gainsightpx/data.ts
  test/integrations/sources/iterable/data.ts
  test/integrations/sources/mailjet/data.ts
  test/integrations/sources/mailmodo/data.ts
  test/integrations/sources/moengage/data.ts
  test/integrations/sources/monday/data.ts
  test/integrations/sources/olark/data.ts
  test/integrations/sources/ortto/data.ts
  test/integrations/sources/pagerduty/data.ts
  test/integrations/sources/pipedream/data.ts
  test/integrations/sources/refiner/data.ts
  test/integrations/sources/revenuecat/data.ts
  test/integrations/sources/satismeter/data.ts
  test/integrations/sources/segment/data.ts
  test/integrations/sources/signl4/data.ts
  test/integrations/sources/slack/data.ts
Due: none

chore: now fetching docker hub token from DOCKERHUB_TOKEN instead of DOCKERHUB_PROD_TOKEN
  .github/workflows/build-pr-artifacts.yml
  .github/workflows/build-push-docker-image.yml
  .github/workflows/prepare-for-dev-deploy.yml
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

chore: updated all references of DOCKERHUB_PROD_TOKEN to DOCKERHUB_TOKEN
  .github/workflows/build-pr-artifacts.yml
  .github/workflows/build-push-docker-image.yml
  .github/workflows/prepare-for-dev-deploy.yml
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

chore: now fetching docker hub token from DOCKERHUB_TOKEN instead of DOCKERHUB_PROD_TOKEN (#4081)
  .github/workflows/build-pr-artifacts.yml
  .github/workflows/build-push-docker-image.yml
  .github/workflows/prepare-for-dev-deploy.yml
  .github/workflows/prepare-for-prod-dt-deploy.yml
  .github/workflows/prepare-for-prod-ut-deploy.yml
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

refactor: few sources migrated to v2 completely
  src/sources/adjust/core.js
  src/sources/appcenter/mapping.json
  src/sources/appcenter/transform.js
  src/sources/appsflyer/mapping.json
  src/sources/appsflyer/transform.js
  src/sources/auth0/eventMapping.json
  src/sources/auth0/mapping.json
  src/sources/auth0/transform.js
  src/sources/auth0/util.js
  src/sources/braze/ignore.json
  src/sources/braze/mapping.json
  src/sources/braze/transform.js
  src/sources/canny/authorMapping.json
  src/sources/canny/transform.js
  src/sources/canny/util.js
  src/sources/canny/voterMapping.json
  src/sources/close_crm/config.js
  src/sources/close_crm/transform.js
  src/sources/cordial/config.js
  src/sources/cordial/mapping.json
  src/sources/cordial/transform.js
  src/sources/customerio/config.js
  src/sources/customerio/mapping.json
  src/sources/customerio/transform.js
  src/sources/message.js
  src/v0/util/constant.js
  src/v0/util/index.js
Due: js

chore(release): 1.91.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

refactor: migrate second batch of sources to v2
  src/sources/extole/mapping.json
  src/sources/extole/transform.js
  src/sources/formsort/mapping.json
  src/sources/formsort/transform.js
  src/sources/formsort/transform.test.js
  src/sources/gainsightpx/config.js
  src/sources/gainsightpx/data/customMapping.json
  src/sources/gainsightpx/data/engagementMapping.json
  src/sources/gainsightpx/data/featureMatchMapping.json
  src/sources/gainsightpx/data/feedbackMapping.json
  src/sources/gainsightpx/data/identifyMapping.json
  src/sources/gainsightpx/data/segmentIOMapping.json
  src/sources/gainsightpx/data/segmentMapping.json
  src/sources/gainsightpx/data/surveyMapping.json
  src/sources/gainsightpx/transform.js
  src/sources/gainsightpx/utils.js
  src/sources/iterable/mapping.json
  src/sources/iterable/transform.js
  src/sources/mailjet/mapping.json
  src/sources/mailjet/transform.js
  src/sources/mailmodo/mapping.json
  src/sources/mailmodo/transform.js
  src/sources/moengage/transform.js
  src/sources/monday/mapping.json
  src/sources/monday/transform.js
  src/sources/monday/util.js
  src/sources/olark/groupMapping.json
  src/sources/olark/trackMapping.json
  src/sources/olark/transform.js
  src/sources/olark/util.js
  src/sources/ortto/event_mapping.json
  src/sources/ortto/mapping.json
  src/sources/ortto/transform.js
  src/v0/sources/moengage/transform.js
Due: js

refactor: reddit and bluecore to ts
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/config.ts
  src/cdk/v2/destinations/bluecore/utils.test.js
  src/cdk/v2/destinations/bluecore/utils.test.ts
  src/cdk/v2/destinations/bluecore/utils.ts
  src/cdk/v2/destinations/reddit/config.ts
  src/cdk/v2/destinations/reddit/utils.js
  src/cdk/v2/destinations/reddit/utils.test.js
  src/cdk/v2/destinations/reddit/utils.test.ts
  src/cdk/v2/destinations/reddit/utils.ts
Due: js, ts

refactor: migrate second batch of sources to v2
  src/sources/monday/transform.js
  test/apitests/data_scenarios/source/v2/response_to_caller.json
  test/apitests/service.api.test.ts
Due: js
