Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

refactor: improve the code coverage (#4023)
  src/adapters/network.test.js
  src/middleware.test.js
  src/routerUtils.js
  src/routerUtils.test.js
  src/v0/destinations/adobe_analytics/utils.test.js
Due: js

chore: add test for missing lines
  test/integrations/component.test.ts
  test/integrations/destinations/fb_custom_audience/router/data.ts
  test/integrations/destinations/fb_custom_audience/router/rETL.ts
Due: none

refactor: iterable util unit tests
  src/v0/destinations/iterable/util.test.js
  test/integrations/component.test.ts
Due: js

chore: use internal build-scan-push for security scans
  .github/workflows/build-push-docker-image.yml
Due: none

chore: cleanup native intercom destination
  src/v0/destinations/intercom/config.js
  src/v0/destinations/intercom/data/INTERCOMGroupConfig.json
  src/v0/destinations/intercom/data/INTERCOMIdentifyConfig.json
  src/v0/destinations/intercom/data/INTERCOMTrackConfig.json
  src/v0/destinations/intercom/transform.js
  src/v0/destinations/intercom/util.js
  src/v0/destinations/intercom/util.test.js
Due: js

refactor: revert intercom as it will be deleted soon
  src/v0/destinations/intercom/transform.js
Due: js

chore: consolidate buckets
  src/util/prometheus.js
Due: js

moved to counter stat
  src/util/prometheus.js
Due: js

moved to counter stat
  src/services/userTransform.ts
Due: ts

chore: add support for hashed cart token as anonymousid
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

chore: cart token hash in all events traits
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

chore: add tests
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  test/integrations/sources/shopify/mocks.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
Due: js

chore: cleanup native intercom destination (#4045)
  src/v0/destinations/intercom/config.js
  src/v0/destinations/intercom/data/INTERCOMGroupConfig.json
  src/v0/destinations/intercom/data/INTERCOMIdentifyConfig.json
  src/v0/destinations/intercom/data/INTERCOMTrackConfig.json
  src/v0/destinations/intercom/transform.js
  src/v0/destinations/intercom/util.js
  src/v0/destinations/intercom/util.test.js
Due: js

chore: update src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/transform.js
Due: js

chore: add unused-imports eslint rule
  .eslintrc.json
  package-lock.json
  package.json
  src/v0/destinations/ga4_v2/customMappingsHandler.js
Due: js

chore: remove unused-imports eslint rule
  .eslintrc.json
  package-lock.json
  package.json
Due: none

refactor: fix sonar issues in various components (#4017)
  package-lock.json
  src/v0/destinations/braze/util.js
  src/v0/destinations/clevertap/transform.js
  src/v0/destinations/fb_custom_audience/recordTransform.js
  src/v0/destinations/ga4_v2/customMappingsHandler.js
  src/v0/destinations/google_cloud_function/util.js
  test/integrations/component.test.ts
  test/integrations/destinations/fb_custom_audience/router/data.ts
  test/integrations/destinations/fb_custom_audience/router/rETL.ts
Due: js

chore: use uuid from integrations lib
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
Due: js

chore: update lib version used
  package-lock.json
  package.json
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
