Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

chore: code review changes
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/network.ts
Due: js

chore: resolve sql injection vulnerabilities (#3172)
  package-lock.json
  package.json
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
Due: js

chore: code review changes
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/data.ts
Due: none

chore: code review changes
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/data.ts
Due: none

chore: gaec proxy test refactor (#3177)
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/data.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/dataDelivery/oauth.ts
  test/integrations/destinations/google_adwords_enhanced_conversions/network.ts
Due: js

chore: test case addition algolia proxy
  test/integrations/destinations/algolia/dataDelivery/business.ts
  test/integrations/destinations/algolia/dataDelivery/constant.ts
  test/integrations/destinations/algolia/dataDelivery/data.ts
  test/integrations/destinations/algolia/network.ts
Due: none

chore: algolia compoennt tests
  src/v1/destinations/algolia/networkHandler.js
  test/integrations/destinations/algolia/dataDelivery/business.ts
  test/integrations/destinations/algolia/dataDelivery/constant.ts
  test/integrations/destinations/algolia/dataDelivery/data.ts
  test/integrations/destinations/algolia/dataDelivery/other.ts
  test/integrations/destinations/algolia/network.ts
Due: js

chore: onboard adobe to proxy v1 tests
  test/integrations/destinations/adobe_analytics/dataDelivery/business.ts
  test/integrations/destinations/adobe_analytics/dataDelivery/data.ts
  test/integrations/destinations/adobe_analytics/network.ts
Due: none

chore: fix lint
  test/integrations/destinations/adobe_analytics/dataDelivery/business.ts
Due: none

chore: fix lintx2
  test/integrations/destinations/adobe_analytics/dataDelivery/business.ts
  test/integrations/destinations/adobe_analytics/dataDelivery/data.ts
Due: none

chore: add request size metric
  src/controllers/userTransform.ts
  src/services/userTransform.ts
  src/util/prometheus.js
Due: js, ts

chore: algolia component tests (#3183)
  src/v1/destinations/algolia/networkHandler.js
  test/integrations/destinations/algolia/dataDelivery/business.ts
  test/integrations/destinations/algolia/dataDelivery/constant.ts
  test/integrations/destinations/algolia/dataDelivery/data.ts
  test/integrations/destinations/algolia/dataDelivery/other.ts
  test/integrations/destinations/algolia/network.ts
Due: js

chore: adding a metric to capture event batch size DAT-909 (#3070)
  src/controllers/userTransform.ts
  src/services/userTransform.ts
  src/util/prometheus.js
Due: js, ts

chore: adding more package systems to dependabot
  .github/dependabot.yml
Due: none

feat: onboard new destination bloomreach
  src/cdk/v2/destinations/bloomreach/config.ts
  src/cdk/v2/destinations/bloomreach/data/BloomreachCustomerPropertiesConfig.json
  src/cdk/v2/destinations/bloomreach/procWorkflow.yaml
  src/cdk/v2/destinations/bloomreach/rtWorkflow.yaml
  src/cdk/v2/destinations/bloomreach/utils.ts
  src/constants/destinationCanonicalNames.js
  test/integrations/destinations/bloomreach/common.ts
  test/integrations/destinations/bloomreach/mocks.ts
  test/integrations/destinations/bloomreach/processor/data.ts
  test/integrations/destinations/bloomreach/processor/identify.ts
  test/integrations/destinations/bloomreach/processor/page.ts
  test/integrations/destinations/bloomreach/processor/track.ts
  test/integrations/destinations/bloomreach/processor/validation.ts
  test/integrations/destinations/bloomreach/router/data.ts
Due: js, ts

chore: onboard adobe to proxy v1 tests (#3163)
  test/integrations/destinations/adobe_analytics/dataDelivery/business.ts
  test/integrations/destinations/adobe_analytics/dataDelivery/data.ts
  test/integrations/destinations/adobe_analytics/network.ts
Due: none

feat: onboard destination movable ink (#3167)
  src/cdk/v2/destinations/movable_ink/config.js
  src/cdk/v2/destinations/movable_ink/procWorkflow.yaml
  src/cdk/v2/destinations/movable_ink/rtWorkflow.yaml
  src/features.json
  test/integrations/destinations/movable_ink/common.ts
  test/integrations/destinations/movable_ink/processor/data.ts
  test/integrations/destinations/movable_ink/processor/identify.ts
  test/integrations/destinations/movable_ink/processor/track.ts
  test/integrations/destinations/movable_ink/processor/validation.ts
  test/integrations/destinations/movable_ink/router/data.ts
Due: js

feat: consent field support for ga4
  src/v0/destinations/ga4/transform.js
  src/v0/destinations/ga4/utils.js
  src/v0/destinations/ga4/utils.test.js
  test/integrations/destinations/ga4/processor/data.ts
Due: js

refactor: move code to typescript
  src/cdk/v2/destinations/bloomreach/config.ts
  src/cdk/v2/destinations/bloomreach/utils.ts
  test/integrations/destinations/bloomreach/mocks.ts
Due: ts

fix(ga4): test case cred changes
  test/integrations/destinations/ga4/processor/data.ts
Due: none

chore(release): 1.59.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: update correct staging deployment file
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

fix: update correct staging deployment file (#3189)
  .github/workflows/prepare-for-staging-deploy.yml
Due: none

feat: add proxy and partial handling support
  src/v1/destinations/bloomreach/networkHandler.js
Due: js

feat: onboard on router
  src/features.json
Due: none

chore: add validation for movable ink destination
  src/cdk/v2/destinations/movable_ink/procWorkflow.yaml
  src/cdk/v2/destinations/movable_ink/utils.js
  test/integrations/destinations/movable_ink/processor/validation.ts
Due: js

chore: add event validation for movable ink destination (#3190)
  src/cdk/v2/destinations/movable_ink/procWorkflow.yaml
  src/cdk/v2/destinations/movable_ink/utils.js
  test/integrations/destinations/movable_ink/processor/validation.ts
Due: js

fix: upgrade @aws-sdk/client-s3 from 3.485.0 to 3.521.0
  package-lock.json
  package.json
Due: none

fix: fixed userId mapping, now mapping to uid instead of id
  src/cdk/v2/destinations/fullstory/procWorkflow.yaml
  test/integrations/destinations/fullstory/processor/data.ts
Due: none

chore: add proxy testcases
  test/integrations/destinations/bloomreach/common.ts
  test/integrations/destinations/bloomreach/dataDelivery/business.ts
  test/integrations/destinations/bloomreach/dataDelivery/data.ts
  test/integrations/destinations/bloomreach/dataDelivery/other.ts
  test/integrations/destinations/bloomreach/network.ts
Due: none

chore: updated CHANGELOG
  CHANGELOG.md
Due: none

chore: enable proxy v1
  src/features.json
Due: none

feat: onboarding linkedin conversion api
  src/cdk/v2/destinations/linkedin_ads/config.js
  src/cdk/v2/destinations/linkedin_ads/data/linkedinUserInfoConfig.json
  src/cdk/v2/destinations/linkedin_ads/procWorkflow.yaml
  src/cdk/v2/destinations/linkedin_ads/rtWorkflow.yaml
  src/cdk/v2/destinations/linkedin_ads/utils.js
  src/cdk/v2/destinations/linkedin_ads/utils.test.js
  src/features.json
  src/v1/destinations/linkedin_ads/networkHandler.js
Due: js

fix: tests fixed
  src/controllers/bulkUpload.ts
  src/controllers/delivery.ts
  src/controllers/destination.ts
  src/controllers/regulation.ts
  src/controllers/source.ts
  src/index.ts
  src/services/misc.ts
  src/services/profile.ts
  src/services/trackingPlan.ts
  src/services/userTransform.ts
  src/types/index.ts
  src/v0/destinations/campaign_manager/transform.js
Due: js, ts

feat: add support for subscribing for RETL flow
  src/v0/destinations/klaviyo/klaviyoUtil.test.js
  src/v0/destinations/klaviyo/transform.js
  src/v0/destinations/klaviyo/util.js
Due: js

chore: component tests webhook
  src/types/zodTypes.ts
  test/integrations/destinations/webhook/processor/data.ts
  test/integrations/destinations/webhook/router/data.ts
Due: ts

feat: ninetailed: add a default value to context.location
  src/cdk/v2/destinations/ninetailed/data/contextMapping.json
  test/integrations/destinations/ninetailed/commonConfig.ts
  test/integrations/destinations/ninetailed/processor/identify.ts
Due: none

fix: heap: make userId as required for track and idenitfy call
  src/cdk/v2/destinations/heap/procWorkflow.yaml
  test/integrations/destinations/heap/processor/data.ts
Due: none

feat: ninetailed: add default value for context.location as {} (#3197)
  src/cdk/v2/destinations/ninetailed/data/contextMapping.json
  test/integrations/destinations/ninetailed/commonConfig.ts
  test/integrations/destinations/ninetailed/processor/identify.ts
Due: none

Path conditions:
  js: any of: src/**/*.js
  ts: any of: src/**/*.ts
