Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: add ingestion svc test (#4159)
  .github/workflows/ingestion-service-test.yml
Due: none

chore: run ingestion svc test after artefacts build
  .github/workflows/ingestion-service-test.yml
Due: none

chore: add test cases
  src/middlewares/arraySpreader.ts
  src/middlewares/secretSpreader.ts
  src/middlewares/tests/arraySpreader.test.ts
  src/routes/destination.ts
Due: ts

chore: fix test cases
  src/middlewares/arraySpreader.ts
  src/routes/destination.ts
Due: ts

fix: review comment
  src/v0/destinations/hs/util.test.js
  test/integrations/destinations/hs/network.ts
Due: js

added $ip tracking in identify call
  src/v0/destinations/mp/data/MPIdentifyConfig.json
Due: none

fix: test
  .github/workflows/ingestion-service-test.yml
Due: none

chore: convert bingads audience to typescript
  src/cdk/v2/destinations/bingads_audience/config.js
  src/cdk/v2/destinations/bingads_audience/procWorkflow.yaml
Due: js

refactor: reddit and bluecore to ts
  src/cdk/v2/destinations/bluecore/config.js
  src/cdk/v2/destinations/bluecore/config.ts
  src/cdk/v2/destinations/bluecore/utils.test.js
  src/cdk/v2/destinations/bluecore/utils.test.ts
  src/cdk/v2/destinations/bluecore/utils.ts
  src/cdk/v2/destinations/reddit/config.ts
  src/cdk/v2/destinations/reddit/utils.js
  src/cdk/v2/destinations/reddit/utils.test.js
  src/cdk/v2/destinations/reddit/utils.test.ts
  src/cdk/v2/destinations/reddit/utils.ts
Due: js, ts

refactor: clicksend and cordial to ts
  src/cdk/v2/destinations/clicksend/config.ts
  src/cdk/v2/destinations/clicksend/utils.test.js
  src/cdk/v2/destinations/clicksend/utils.test.ts
  src/cdk/v2/destinations/clicksend/utils.ts
  src/cdk/v2/destinations/cordial/config.js
  src/cdk/v2/destinations/cordial/config.ts
  src/cdk/v2/destinations/cordial/utils.js
  src/cdk/v2/destinations/cordial/utils.test.ts
  src/cdk/v2/destinations/cordial/utils.ts
Due: js, ts

refactor: move to ts for dcm_floodlight
  src/cdk/v2/destinations/dcm_floodlight/utils.js
  src/cdk/v2/destinations/dcm_floodlight/utils.test.ts
  src/cdk/v2/destinations/dcm_floodlight/utils.ts
Due: js, ts

refactor: move to ts for dynamic yield
  src/cdk/v2/destinations/dynamic_yield/config.js
  src/cdk/v2/destinations/dynamic_yield/config.ts
Due: js, ts

refactor: move to ts for eloqua
  src/cdk/v2/destinations/eloqua/config.js
  src/cdk/v2/destinations/eloqua/config.ts
  src/cdk/v2/destinations/eloqua/utils.test.ts
  src/cdk/v2/destinations/eloqua/utils.ts
Due: js, ts

refactor: use common types
  .gitignore
  src/types/rudderEvents.ts
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/customerio_audience/type.ts
  src/v0/util/index.js
  test/integrations/component.test.ts
Due: js, ts

fix: remove hubspot system defined field from payload (#4193)
  src/v0/destinations/hs/HSTransform-v1.js
  src/v0/destinations/hs/HSTransform-v2.js
  src/v0/destinations/hs/config.js
  src/v0/destinations/hs/util.js
  src/v0/destinations/hs/util.test.js
  test/integrations/destinations/hs/maskedSecrets.ts
  test/integrations/destinations/hs/network.ts
  test/integrations/destinations/hs/processor/data.ts
Due: js

fix: correctly handle timestamp and date for airship
  src/v0/destinations/airship/transform.js
  src/v0/destinations/airship/utils.ts
Due: js, ts

chore: add test
  src/v0/destinations/airship/config.js
  src/v0/destinations/airship/utils.test.ts
  src/v0/destinations/airship/utils.ts
  test/integrations/destinations/airship/processor/business.ts
Due: js, ts

chore: remove v2 prefix
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/transformRecords.test.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/common.ts
  test/integrations/destinations/zoho/router/deletion.ts
  test/integrations/destinations/zoho/router/upsert.ts
Due: js

chore: clean up old zoho logic after releasing vdmv2
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/rtWorkflow.yaml
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/common.ts
  test/integrations/destinations/zoho/router/deletion.ts
  test/integrations/destinations/zoho/router/upsert.ts
Due: js

chore: remove v2 prefix
  test/integrations/destinations/zoho/router/deletion.ts
  test/integrations/destinations/zoho/router/upsert.ts
Due: none

chore: remove unused config
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/utils.js
Due: js

chore: fix tests
  src/cdk/v2/destinations/zoho/transformRecordsV2.test.js
Due: js

fix: add more test
  src/v0/destinations/airship/utils.ts
  test/integrations/destinations/airship/processor/business.ts
Due: ts

chore: update draft list initiator
  .github/workflows/draft-new-release.yml
Due: none

chore: add manish
  .github/workflows/create-hotfix-branch.yml
  .github/workflows/draft-new-release.yml
Due: none

chore: misc
  .github/workflows/create-hotfix-branch.yml
  .github/workflows/draft-new-release.yml
Due: none

chore: update draft release initiator (#4175)
  .github/workflows/create-hotfix-branch.yml
  .github/workflows/draft-new-release.yml
Due: none

fix: add test
  src/v0/destinations/airship/utils.test.ts
  src/v0/destinations/airship/utils.ts
  test/integrations/destinations/airship/processor/business.ts
Due: ts

fix: correctly handle timestamp and date for airship (#4201)
  src/v0/destinations/airship/config.js
  src/v0/destinations/airship/transform.js
  src/v0/destinations/airship/utils.test.ts
  src/v0/destinations/airship/utils.ts
  test/integrations/destinations/airship/processor/business.ts
Due: js, ts

feat: add app_name and app_namespace mapping in track call
  src/v0/destinations/mp/data/MPEventPropertiesConfig.json
  test/integrations/destinations/mp/processor/data.ts
  test/integrations/destinations/mp/router/data.ts
Due: none

chore(release): 1.95.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: enable code rabbit for PR review
  .coderabbit.yaml
Due: none

chore: update config yaml
  .coderabbit.yaml
Due: none

fix: handle null properties for ga nonEcomGenericEvent
  src/v0/destinations/ga/transform.js
  src/v0/destinations/ga/transform.test.ts
Due: js, ts

chore: clean up source version specific code everywhere
  src/controllers/__tests__/source.test.ts
  src/controllers/source.ts
  src/controllers/util/conversionStrategies/abstractions.ts
  src/controllers/util/conversionStrategies/strategyDefault.ts
  src/controllers/util/conversionStrategies/strategyV0ToV1.ts
  src/controllers/util/conversionStrategies/strategyV1ToV0.ts
  src/controllers/util/conversionStrategies/strategyV1ToV2.ts
  src/controllers/util/conversionStrategies/strategyV2ToV0.ts
  src/controllers/util/conversionStrategies/strategyV2ToV1.ts
  src/controllers/util/index.test.ts
  src/controllers/util/index.ts
  src/controllers/util/versionConversion.ts
  src/features.ts
  src/helpers/__tests__/fetchHandlers.test.ts
  src/helpers/fetchHandlers.ts
  src/interfaces/SourceService.ts
  src/middlewares/routeActivation.ts
  src/routes/source.ts
  src/services/__tests__/misc.test.ts
  src/services/misc.ts
  src/services/source/__tests__/nativeIntegration.test.ts
  src/services/source/nativeIntegration.ts
  test/apitests/data_scenarios/source/v1/pipedream.json
  test/apitests/data_scenarios/source/v2/failure.json
  test/apitests/data_scenarios/source/v2/successful.json
  test/apitests/service.api.test.ts
  test/integrations/component.test.ts
  test/integrations/sources/shopify/webhookTestScenarios/IdentifyTests.ts
  test/integrations/testTypes.ts
Due: ts

chore: rename function appropriately
  src/sources/shopify/transform.js
Due: js

chore: resolved small code smells
  src/sources/shopify/tracker/config.js
  src/sources/shopify/tracker/transform.js
Due: js
