Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: remove config generator link
  CONTRIBUTING.md
Due: none

fix: one_signal: Encode external_id in endpoint
  src/v0/destinations/one_signal/transform.js
  test/integrations/destinations/one_signal/processor/data.ts
  test/integrations/destinations/one_signal/router/data.ts
Due: js

fix: convert to string from null in hs
  src/v0/destinations/hs/util.js
  src/v0/util/index.js
  test/integrations/destinations/hs/processor/data.ts
Due: js

fix: convert to string from null in hs
  test/integrations/destinations/hs/processor/data.ts
Due: none

chore: addressed comments
  src/v0/destinations/hs/util.js
  test/integrations/destinations/hs/processor/data.ts
Due: js

fix: convert to string from null in hs (#3136)
  src/v0/destinations/hs/util.js
  src/v0/util/index.js
  test/integrations/destinations/hs/processor/data.ts
Due: js

test: update testcases
  test/integrations/destinations/klaviyo/processor/identifyTestData.ts
Due: none

chore: code review changes
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/business.ts
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/oauth.ts
Due: none

feat: add support for interaction events in sfmc (#3109)
  src/v0/destinations/sfmc/config.js
  src/v0/destinations/sfmc/transform.js
  src/v0/destinations/sfmc/transform.test.js
  test/integrations/destinations/sfmc/processor/data.ts
Due: js

chore: formatting updates
  src/v0/destinations/sfmc/config.js
Due: js

chore: address commentsx1
  src/v0/destinations/redis/transform.js
  src/v0/destinations/redis/utils.js
Due: js

fix: version deprecation failure false positive (#3104)
  src/v0/destinations/gainsight_px/util.js
  src/v0/destinations/sfmc/config.js
  test/integrations/destinations/gainsight_px/network.ts
  test/integrations/destinations/gainsight_px/router/data.ts
Due: js

fix(algolia): added check for objectIds or filters to be non empty (#3126)
  src/cdk/v2/destinations/algolia/procWorkflow.yaml
  test/integrations/destinations/algolia/processor/data.ts
Due: none

chore: fb app events v1 tests
  src/services/destination/nativeIntegration.ts
  test/integrations/destinations/fb/dataDelivery/business.ts
  test/integrations/destinations/fb/dataDelivery/data.ts
  test/integrations/destinations/fb/network.ts
Due: ts

chore: fb app events v1 tests
  test/integrations/destinations/fb/dataDelivery/data.ts
  test/integrations/destinations/fb/dataDelivery/other.ts
Due: none

fix: one_signal: Encode external_id in endpoint (#3140)
  src/v0/destinations/one_signal/transform.js
  test/integrations/destinations/one_signal/processor/data.ts
  test/integrations/destinations/one_signal/router/data.ts
Due: js

feat: klaviyo profile mapping (#3105)
  src/v0/destinations/klaviyo/data/KlaviyoIdentify.json
  src/v0/destinations/klaviyo/data/KlaviyoProfile.json
  test/integrations/destinations/klaviyo/processor/identifyTestData.ts
Due: none

fix: eslint issues
  src/cdk/v2/destinations/ninetailed/config.js
  src/cdk/v2/destinations/ninetailed/data/trackMapping.json
  test/integrations/destinations/ninetailed/commonConfig.ts
  test/integrations/destinations/ninetailed/processor/identify.ts
  test/integrations/destinations/ninetailed/processor/validation.ts
  test/integrations/destinations/ninetailed/router/basicProperties.ts
Due: js

fix: lowercase null check for track event adobe analytics
  src/v0/destinations/adobe_analytics/transform.js
  src/v0/util/index.js
Due: js

fix: added test cases
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

feat: garl consent mode
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/util/googleUtils/index.js
  src/v0/util/googleUtils/index.test.js
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/network.ts
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
Due: js

chore: addressed comments
  src/v0/util/index.js
Due: js

chore: refactorx1
  src/v0/destinations/redis/transform.js
  src/v0/destinations/redis/utils.js
  test/integrations/destinations/redis/processor/data.ts
Due: js

Update endpoint url
  .tool-versions
  src/cdk/v2/destinations/koala/procWorkflow.yaml
  test/integrations/destinations/koala/processor/data.ts
Due: none

fix: add error handling for tiktok ads
  src/v0/destinations/tiktok_ads/transform.js
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: js

feat: onboard new destination ninetailed (#3106)
  src/cdk/v2/destinations/ninetailed/config.js
  src/cdk/v2/destinations/ninetailed/data/contextMapping.json
  src/cdk/v2/destinations/ninetailed/data/generalPayloadMapping.json
  src/cdk/v2/destinations/ninetailed/data/identifyMapping.json
  src/cdk/v2/destinations/ninetailed/data/pageMapping.json
  src/cdk/v2/destinations/ninetailed/data/trackMapping.json
  src/cdk/v2/destinations/ninetailed/procWorkflow.yaml
  src/cdk/v2/destinations/ninetailed/rtWorkflow.yaml
  src/cdk/v2/destinations/ninetailed/utils.js
  src/features.json
  test/integrations/destinations/ninetailed/commonConfig.ts
  test/integrations/destinations/ninetailed/mocks.ts
  test/integrations/destinations/ninetailed/processor/data.ts
  test/integrations/destinations/ninetailed/processor/identify.ts
  test/integrations/destinations/ninetailed/processor/page.ts
  test/integrations/destinations/ninetailed/processor/track.ts
  test/integrations/destinations/ninetailed/processor/validation.ts
  test/integrations/destinations/ninetailed/router/basicProperties.ts
  test/integrations/destinations/ninetailed/router/data.ts
Due: js

chore: addressed comments
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

chore: removed unused constants
  test/integrations/destinations/fb/dataDelivery/business.ts
Due: none

feat: add event mapping support for branch destination (#3135)
  src/v0/destinations/branch/transform.js
  src/v0/destinations/branch/utils.js
  src/v0/destinations/branch/utils.test.js
  test/integrations/destinations/branch/processor/data.ts
Due: js

fix: marketo bulk upload zero and null value allowed (#3134)
  src/v0/destinations/marketo_bulk_upload/transform.js
  test/integrations/destinations/marketo_bulk_upload/processor/data.ts
Due: js

chore(release): 1.57.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: add tests
  test/integrations/destinations/marketo/dataDelivery/business.ts
  test/integrations/destinations/marketo/network.ts
Due: none

start capturing max concurrent workers in env to the service
  src/util/openfaas/index.js
Due: js

fix: event fix and added utility (#3142)
  src/v0/destinations/adobe_analytics/transform.js
  src/v0/util/index.js
  src/v0/util/index.test.js
Due: js

fix: review comments addressed
  test/integrations/destinations/facebook_pixel/processor/configLevelFeaturesTestData.ts
  test/integrations/destinations/facebook_pixel/processor/data1.ts
  test/integrations/destinations/facebook_pixel/processor/ecommTestData.ts
  test/integrations/destinations/facebook_pixel/processor/identifyTestData.ts
  test/integrations/destinations/facebook_pixel/processor/pageScreenTestData.ts
  test/integrations/destinations/facebook_pixel/processor/trackTestData.ts
  test/integrations/destinations/facebook_pixel/processor/validationTestData.ts
Due: none

feat: consent mode support for google adwords remarketing list (#3143)
  src/v0/destinations/google_adwords_remarketing_lists/transform.js
  src/v0/util/googleUtils/index.js
  src/v0/util/googleUtils/index.test.js
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/network.ts
  test/integrations/destinations/google_adwords_remarketing_lists/processor/data.ts
  test/integrations/destinations/google_adwords_remarketing_lists/router/data.ts
Due: js

chore: code review changes
  test/integrations/destinations/reddit/dataDelivery/business.ts
  test/integrations/destinations/reddit/dataDelivery/oauth.ts
Due: none

feat: add slack source
  src/v0/sources/slack/mapping.json
  src/v0/sources/slack/transform.js
  src/v0/sources/slack/util.js
Due: js
