Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: address comments
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.js
  src/v1/sources/shopify/webpixelTransformations/pixelUtils.js
Due: js

chore: add stat for serverside missing cart token
  src/util/prometheus.js
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
Due: js

chore: add unit test for utm param extractfunction
  src/v1/sources/shopify/webpixelTransformations/pixelUtils.test.js
Due: js

fix: sonar issues in various components (#4006)
  .eslintignore
  benchmark/index.js
  benchmark/metaLogger.js
  sonar-project.properties
  src/adapters/network.js
  src/cdk/v2/destinations/bluecore/utils.js
  src/cdk/v2/destinations/clicksend/utils.js
  src/util/customTransformer-faas.js
  src/v0/destinations/active_campaign/transform.js
  test/integrations/component.test.ts
  test/integrations/destinations/bluecore/identifyTestData.ts
Due: js

chore: updated regex to resolve sonal issue
  src/cdk/v2/destinations/http/utils.js
Due: js

fix: airship mapping and iterable device token
  src/v0/destinations/airship/transform.js
  test/integrations/destinations/airship/processor/data.ts
Due: js

fix: airship array handling
  src/constants/destinationCanonicalNames.js
  src/v0/destinations/airship/transform.js
  src/v0/destinations/airship/utils.test.ts
  src/v0/destinations/airship/utils.ts
Due: js, ts

feat: add redis support in shopify pixel for id stitching (#4001)
  src/util/prometheus.js
  src/v0/sources/shopify/util.js
  src/v1/sources/shopify/pixelEventsMappings/campaignObjectMappings.json
  src/v1/sources/shopify/transform.js
  src/v1/sources/shopify/transformV1.js
  src/v1/sources/shopify/utils.js
  src/v1/sources/shopify/utils.test.js
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.js
  src/v1/sources/shopify/webpixelTransformations/pixelUtils.js
  src/v1/sources/shopify/webpixelTransformations/pixelUtils.test.js
  test/integrations/sources/shopify/constants.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
Due: js

fix: casing fix added to group response builder
  src/v0/destinations/airship/transform.js
Due: js

chore: fix sonar issues in wh index js
  src/warehouse/index.js
Due: js

feat: add DATA WAREHOUSE to integrations object in shopify pixel source (#3980)
  src/v1/sources/shopify/webhookTransformations/serverSideUtlis.js
  src/v1/sources/shopify/webpixelTransformations/pixelTransform.js
  src/warehouse/index.js
  src/warehouse/util.js
  test/__tests__/shopify_warehouse.test.js
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/CheckoutStepsTests.ts
  test/integrations/sources/shopify/pixelTestScenarios/ProductEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/GenericTrackTests.ts
  test/integrations/sources/shopify/webhookTestScenarios/IdentifyTests.ts
Due: js

chore: update order cancelled test
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
Due: none

chore: update order cancelled, property datatypes (#4007)
  src/v1/sources/shopify/config.js
  src/v1/sources/shopify/webhookEventsMapping/productMapping.json
  src/v1/sources/shopify/webhookTransformations/serverSideTransform.js
  test/integrations/sources/shopify/webhookTestScenarios/CheckoutEventsTests.ts
Due: js

chore: logs to verify device token registration flow
  src/v0/destinations/iterable/transform.js
Due: js

fix: iterable register device token flow
  src/v0/destinations/iterable/transform.js
  src/v0/destinations/iterable/util.js
  src/v0/destinations/iterable/util.test.js
  test/integrations/destinations/iterable/processor/identifyTestData.ts
Due: js

fix: is identify category comparision simplification
  src/v0/destinations/iterable/util.js
Due: js

chore(release): 1.88.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update draft-new-release.yml
  .github/workflows/draft-new-release.yml
Due: none

fix: iterable device token registration api issues (#4013)
  .github/workflows/draft-new-release.yml
  src/v0/destinations/iterable/transform.js
  src/v0/destinations/iterable/util.js
  src/v0/destinations/iterable/util.test.js
  test/integrations/destinations/iterable/processor/identifyTestData.ts
Due: js
