Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

feat: small edit
  src/v0/sources/adjust/transform.js
  test/integrations/sources/adjust/data.ts
Due: js

chore: added credentials to javascript transformations
  src/types/index.ts
  src/util/customTransformer-v1.js
  src/util/customTransformer.js
  src/util/customTransformerFactory.js
  src/util/ivmFactory.js
Due: js, ts

chore: minor fix
  src/util/customTransformer.js
Due: js

chore(user-transformer): move some high cardinality metrics to summaries
  src/legacy/router.js
  src/middleware.js
  src/services/userTransform.ts
  src/util/customTransformer-v1.js
  src/util/customTransformer.js
  src/util/customTransforrmationsStore-v1.js
  src/util/customTransforrmationsStore.js
  src/util/openfaas/index.js
  src/util/prometheus.js
  src/util/stats.js
  src/util/statsd.js
Due: js, ts

chore(user-transformer): move some high cardinality metrics to summaries
  src/middleware.js
Due: js

chore: add flag to disable summary metric collection
  src/util/prometheus.js
  src/util/stats.js
Due: js

chore: minor fix
  src/util/openfaas/index.js
Due: js

feat: sre 456 ut move high cardinality histogram metrics to summaries cp (#3409)
  src/legacy/router.js
  src/services/userTransform.ts
  src/util/customTransformer-v1.js
  src/util/customTransformer.js
  src/util/customTransforrmationsStore-v1.js
  src/util/customTransforrmationsStore.js
  src/util/openfaas/index.js
  src/util/prometheus.js
  src/util/stats.js
  src/util/statsd.js
Due: js, ts

chore(release): 1.67.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: added tests
  test/__tests__/data/user_transformation_input_credentials.json
  test/__tests__/user_transformation.test.js
Due: none

chore: added description for all the test cases
  test/integrations/destinations/webhook/basicProperties.ts
  test/integrations/destinations/webhook/processor/data.ts
  test/integrations/destinations/webhook/router/data.ts
Due: none

chore: small edit for successCriteria
  test/integrations/destinations/webhook/processor/data.ts
Due: none

feat: initial commit
  src/v0/destinations/af/config.js
  src/v0/destinations/af/transform.js
Due: js

chore: add unit tests
  src/v0/destinations/hs/transform.js
  src/v0/destinations/hs/util.js
  src/v1/destinations/hs/networkHandler.js
  test/integrations/destinations/hs/dataDelivery/business.ts
  test/integrations/destinations/hs/network.ts
  test/integrations/destinations/hs/router/data.ts
Due: js

chore: change in credentials structure
  src/util/customTransformer.js
  test/__tests__/data/user_transformation_input_credentials.json
Due: js

feat: update mapping name for events
  src/v0/destinations/ga4/customMappingsHandler.js
  test/integrations/destinations/ga4/processor/customMappings.ts
Due: js

feat: onboarding adjust source (#3395)
  src/v0/sources/adjust/config.ts
  src/v0/sources/adjust/mapping.json
  src/v0/sources/adjust/transform.js
  test/integrations/sources/adjust/data.ts
Due: js, ts

feat: handle user proeprties for correct format
  src/v0/destinations/ga4/customMappingsHandler.js
  src/v0/destinations/ga4/utils.js
Due: js

feat: cm360 enhanced conversions
  package-lock.json
  package.json
  src/v0/destinations/campaign_manager/config.js
  src/v0/destinations/campaign_manager/data/CampaignManagerEnhancedConversionConfig.json
  src/v0/destinations/campaign_manager/transform.js
  src/v0/destinations/campaign_manager/util.js
  src/v0/destinations/campaign_manager/util.test.js
  src/v0/util/data/GenericFieldMapping.json
  test/integrations/destinations/campaign_manager/processor/data.ts
Due: js

chore: refactor code
  src/v0/destinations/hs/transform.js
Due: js

chore: update error message
  src/v1/destinations/hs/networkHandler.js
  test/integrations/destinations/hs/dataDelivery/business.ts
  test/integrations/destinations/hs/dataDelivery/other.ts
Due: js

fix: updated regex to identify html
  src/v0/util/facebookUtils/index.js
  src/v0/util/facebookUtils/index.test.js
Due: js

chore: add logging to gaec
  src/v0/destinations/google_adwords_enhanced_conversions/config.js
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
Due: js

fix: updated regex to identify html
  src/v0/util/facebookUtils/index.js
Due: js

fix: fb custom audience html response (#3402)
  src/v0/util/facebookUtils/index.js
  src/v0/util/facebookUtils/index.test.js
  src/v0/util/facebookUtils/networkHandler.js
  test/integrations/destinations/fb_custom_audience/dataDelivery/other.ts
  test/integrations/destinations/fb_custom_audience/network.ts
Due: js

chore(release): 1.68.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: add structured logger to transformer logger & use it for gaec response logging
  src/logger.js
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
Due: js

chore: structured logger referred from transformer logger refactor
  src/cdk/v2/handler.ts
  src/controllers/bulkUpload.ts
  src/controllers/delivery.ts
  src/controllers/destination.ts
  src/controllers/regulation.ts
  src/controllers/source.ts
  src/controllers/userTransform.ts
  src/index.ts
  src/interfaces/DestinationService.ts
  src/interfaces/SourceService.ts
  src/logger.js
  src/services/comparator.ts
  src/services/destination/__tests__/nativeIntegration.test.ts
  src/services/destination/__tests__/postTransformation.test.ts
  src/services/destination/cdkV2Integration.ts
  src/services/destination/nativeIntegration.ts
  src/services/misc.ts
  src/services/source/__tests__/nativeIntegration.test.ts
  src/services/source/nativeIntegration.ts
  src/util/errorNotifier/bugsnag.js
  src/util/redis/redisConnector.js
  src/util/redis/redisConnector.test.js
  src/util/utils.js
  src/v0/destinations/campaign_manager/transform.js
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/networkHandler.js
  src/v0/destinations/google_adwords_offline_conversions/utils.js
  src/v0/destinations/klaviyo/util.js
  src/v0/destinations/mailchimp/utils.js
  src/v0/sources/canny/transform.js
  src/v0/sources/shopify/transform.js
  src/v0/sources/shopify/util.js
  src/v0/util/index.js
  src/v1/destinations/campaign_manager/networkHandler.js
  src/v1/destinations/monday/networkHandler.js
  test/__tests__/pinterestConversion-cdk.test.ts
Due: js, ts

chore: response logging in garl
  src/v0/destinations/google_adwords_remarketing_lists/config.js
  src/v0/destinations/google_adwords_remarketing_lists/networkHandler.js
Due: js

chore: add support for request logging in logger & gaec handler
  src/logger.js
  src/v0/destinations/google_adwords_enhanced_conversions/networkHandler.js
Due: js

chore: merge context & metadata for default notifier into a single object while logging error
  src/util/errorNotifier/default.js
Due: js

chore: update response log message & responseDetails
  src/v0/destinations/klaviyo/util.js
Due: js

fix: updated the code to pin to github sha of the pull request
  .github/workflows/build-push-docker-image.yml
Due: none

chore: added reconcile fn for openfaas fn pods
  src/util/customTransformer-faas.js
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
  test/__tests__/user_transformation.test.js
Due: js

chore: added reconcile fn for openfaas fn pods (#3420)
  src/util/customTransformer-faas.js
  src/util/openfaas/faasApi.js
  src/util/openfaas/index.js
  test/__tests__/user_transformation.test.js
Due: js

feat: add request_ip as fallback for mixpanel
  src/v0/destinations/mp/transform.js
Due: js

chore: updating changelog
  CHANGELOG.md
Due: none

fix: add event name for custom mappings
  src/v0/destinations/ga4/customMappingsHandler.js
  test/integrations/destinations/ga4/processor/customMappings.ts
Due: js
