Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

chore: code review changes
  test/integrations/destinations/intercom/dataDelivery/business.ts
Due: none

chore: code review changes
  test/integrations/destinations/google_adwords_remarketing_lists/dataDelivery/business.ts
Due: none

chore: code review changes
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/business.ts
Due: none

chore: code review changes
  test/integrations/destinations/google_adwords_offline_conversions/dataDelivery/oauth.ts
Due: none

chore: code review changes
  test/integrations/destinations/ga4/dataDelivery/business.ts
  test/integrations/destinations/ga4/dataDelivery/data.ts
  test/integrations/destinations/ga4/network.ts
Due: none

chore: reddit proxy test refactor (#3096)
  test/integrations/destinations/reddit/dataDelivery/business.ts
  test/integrations/destinations/reddit/dataDelivery/data.ts
  test/integrations/destinations/reddit/dataDelivery/oauth.ts
  test/integrations/destinations/reddit/delivery/data.ts
Due: none

chore: facebook_pixel to v1 proxy tests
  src/services/destination/nativeIntegration.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/business.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/other.ts
  test/integrations/destinations/facebook_pixel/network.ts
Due: ts

chore: updated tests
  test/integrations/destinations/facebook_conversions/processor/data.ts
  test/integrations/destinations/facebook_pixel/processor/data.ts
Due: none

chore: code review changes
  test/integrations/destinations/ga4/dataDelivery/business.ts
Due: none

refactor: generatePageOrScreenCustomEventName
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
Due: js

added env values for gunicorn workers and threads in openfaas
  src/util/openfaas/index.js
Due: js

fix: skip event trimming
  src/v0/destinations/mp/util.js
Due: js

feat(facebook): update content_type mapping logic for fb pixel and fb conversions (#3113)
  src/v0/destinations/facebook_conversions/utils.js
  src/v0/destinations/facebook_pixel/utils.js
  test/integrations/destinations/facebook_conversions/processor/data.ts
  test/integrations/destinations/facebook_pixel/processor/data.ts
Due: js

chore: updated tests
  test/integrations/destinations/facebook_pixel/dataDelivery/business.ts
Due: none

chore: address comment
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: none

feat: add support of custom page/screen event name in mixpanel (#3098)
  src/v0/destinations/mp/transform.js
  src/v0/destinations/mp/util.js
  src/v0/destinations/mp/util.test.js
  test/integrations/destinations/mp/processor/data.ts
Due: js

fix: filtering url verification event via evvent type
  src/v0/sources/slack/mapping.json
  src/v0/sources/slack/transform.js
  src/v0/sources/slack/util.js
Due: js

chore: updated tests
  test/integrations/destinations/facebook_pixel/dataDelivery/business.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
Due: none

chore: updated tests
  test/integrations/destinations/facebook_pixel/dataDelivery/business.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/other.ts
  test/integrations/destinations/facebook_pixel/network.ts
Due: none

chore: updated tests
  test/integrations/destinations/fb_custom_audience/dataDelivery/business.ts
  test/integrations/destinations/fb_custom_audience/dataDelivery/other.ts
Due: none

chore: updated tests
  test/integrations/destinations/fb/dataDelivery/business.ts
  test/integrations/destinations/fb/dataDelivery/other.ts
Due: none

Update src/cdk/v2/destinations/koala/procWorkflow.yaml
  src/cdk/v2/destinations/koala/procWorkflow.yaml
Due: none

chore: fb app events v1 tests (#3141)
  src/services/destination/nativeIntegration.ts
  test/integrations/destinations/fb/dataDelivery/business.ts
  test/integrations/destinations/fb/dataDelivery/data.ts
  test/integrations/destinations/fb/dataDelivery/other.ts
  test/integrations/destinations/fb/network.ts
Due: ts

chore: fb_custom_audience v1 tests (#3095)
  test/integrations/destinations/fb_custom_audience/dataDelivery/business.ts
  test/integrations/destinations/fb_custom_audience/dataDelivery/data.ts
  test/integrations/destinations/fb_custom_audience/dataDelivery/other.ts
Due: none

chore: address commentsx2
  test/integrations/common/network.ts
  test/integrations/destinations/marketo/dataDelivery/business.ts
  test/integrations/destinations/marketo/dataDelivery/other.ts
  test/integrations/destinations/marketo/network.ts
Due: none

fix: upgrade @aws-sdk/credential-providers from 3.485.0 to 3.511.0
  package-lock.json
  package.json
Due: none

fix: upgrade @aws-sdk/lib-storage from 3.485.0 to 3.511.0
  package-lock.json
  package.json
Due: none

chore: address commentsx2
  test/integrations/destinations/salesforce/dataDelivery/other.ts
Due: none

chore: refactorx2
  src/v0/destinations/redis/transform.js
Due: js

fix: add originalTimestamp from slack ts property
  src/v0/sources/slack/mapping.json
  src/v0/sources/slack/transform.js
  src/v0/sources/slack/util.js
Due: js

feat: add identify event and the latest slack event schema
  src/v0/sources/slack/mapping.json
  src/v0/sources/slack/transform.js
  src/v0/sources/slack/util.js
Due: js

chore: updated tests
  test/integrations/destinations/facebook_pixel/dataDelivery/business.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/oauth.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/other.ts
Due: none

fix: add error handling for tiktok ads (#3144)
  src/v0/destinations/tiktok_ads/transform.js
  test/integrations/destinations/tiktok_ads/processor/data.ts
Due: js

chore: facebook_pixel to v1 proxy tests (#3149)
  test/integrations/destinations/facebook_pixel/dataDelivery/business.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/data.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/oauth.ts
  test/integrations/destinations/facebook_pixel/dataDelivery/other.ts
  test/integrations/destinations/facebook_pixel/network.ts
Due: none

fix: amplitude fix for user operations
  src/v0/destinations/am/transform.js
Due: js

chore: upgrade node version to v18.19.1 to resolve synk vulnerabilities
  .nvmrc
  Dockerfile
Due: none

chore: clean up and add test cases
  src/v0/destinations/am/transform.js
  src/v0/destinations/am/util.test.js
  src/v0/destinations/am/utils.js
Due: js
