Repository rudderlabs/rudder-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: js, ts

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 0.001%
      # js:
      #   target: auto
      #   flags:
      #     - js 
      # ts:
      #   informational: true
      #   target: auto
      #   flags:
      #     - ts

component_management:
  individual_components:
    - component_id: js  # this is an identifier that should not be changed
      name: js  # this is a display name, and can be changed freely
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 80%
          threshold: 0.001%
      paths:
        - "src/**/*.js"
    - component_id: ts
      statuses:
        - type: project
          target: auto
          threshold: 0.001%%
        - type: patch
          target: 90%
          threshold: 0.001%
      name: ts
      paths:
        - "src/**/*.ts"

fix: code duplication
  src/cdk/v2/destinations/zoho/utils.js
Due: js

fix: marketo get auth token cache issue
  src/v0/destinations/marketo/util.test.js
Due: js

fix: use lib function
  src/v0/destinations/moengage/transform.js
Due: js

chore: capture the pool clearing interval rather than count of executions
  src/util/openfaas/index.js
Due: js

fix: addressing comments
  src/v0/util/index.js
Due: js

fix: remove hardcode secrets
  src/v0/destinations/profitwell/utils.test.js
  test/integrations/common/secrets.ts
  test/integrations/destinations/active_campaign/network.ts
  test/integrations/destinations/active_campaign/processor/data.ts
  test/integrations/destinations/algolia/dataDelivery/constant.ts
  test/integrations/destinations/algolia/processor/data.ts
  test/integrations/destinations/algolia/router/data.ts
  test/integrations/destinations/autopilot/processor/data.ts
  test/integrations/destinations/autopilot/router/data.ts
  test/integrations/destinations/clicksend/dataDelivery/data.ts
  test/integrations/destinations/clicksend/network.ts
  test/integrations/destinations/clickup/maskedSecrets.ts
  test/integrations/destinations/clickup/processor/data.ts
  test/integrations/destinations/clickup/router/data.ts
  test/integrations/destinations/dynamic_yield/processor/data.ts
  test/integrations/destinations/iterable/deleteUsers/data.ts
  test/integrations/destinations/iterable/network.ts
  test/integrations/destinations/lytics/processor/data.ts
  test/integrations/destinations/mailmodo/processor/data.ts
  test/integrations/destinations/mailmodo/router/data.ts
  test/integrations/destinations/mp/deleteUsers/data.ts
  test/integrations/destinations/ometria/processor/data.ts
  test/integrations/destinations/ometria/router/data.ts
  test/integrations/destinations/ortto/processor/data.ts
  test/integrations/destinations/ortto/router/data.ts
  test/integrations/destinations/persistiq/processor/data.ts
  test/integrations/destinations/persistiq/router/data.ts
  test/integrations/destinations/profitwell/maskedSecrets.ts
  test/integrations/destinations/profitwell/processor/data.ts
  test/integrations/destinations/profitwell/router/data.ts
  test/integrations/destinations/signl4/processor/data.ts
  test/integrations/destinations/signl4/router/data.ts
  test/integrations/destinations/singular/processor/data.ts
  test/integrations/destinations/singular/router/data.ts
  test/integrations/destinations/sprig/deleteUsers/data.ts
  test/integrations/destinations/sprig/maskedSecrets.ts
  test/integrations/destinations/sprig/network.ts
  test/integrations/destinations/sprig/processor/data.ts
Due: js

chore: shopify v2 migration
  src/sources/shopify/config.js
  src/sources/shopify/pixelEventsMappings/campaignObjectMappings.json
  src/sources/shopify/pixelEventsMappings/cartViewedEventMapping.json
  src/sources/shopify/pixelEventsMappings/checkoutStartedCompletedEventMapping.json
  src/sources/shopify/pixelEventsMappings/contextualFieldMapping.json
  src/sources/shopify/pixelEventsMappings/productListViewedEventMapping.json
  src/sources/shopify/pixelEventsMappings/productToCartEventMapping.json
  src/sources/shopify/pixelEventsMappings/productViewedEventMapping.json
  src/sources/shopify/tracker/config.js
  src/sources/shopify/tracker/data/identifyMapping.json
  src/sources/shopify/tracker/data/lineItemsMapping.json
  src/sources/shopify/tracker/data/mapping.json
  src/sources/shopify/tracker/data/productMapping.json
  src/sources/shopify/tracker/shopify.util.test.js
  src/sources/shopify/tracker/shopify_redis.util.test.js
  src/sources/shopify/tracker/shopify_source.json
  src/sources/shopify/tracker/transform.js
  src/sources/shopify/tracker/util.js
  src/sources/shopify/transform.js
  src/sources/shopify/transformPixel.js
  src/sources/shopify/utils.js
  src/sources/shopify/utils.test.js
  src/sources/shopify/webhookEventsMapping/identifyMapping.json
  src/sources/shopify/webhookEventsMapping/lineItemsMapping.json
  src/sources/shopify/webhookEventsMapping/mapping.json
  src/sources/shopify/webhookEventsMapping/productMapping.json
  src/sources/shopify/webhookTransformations/serverSideTransform.js
  src/sources/shopify/webhookTransformations/serverSideUtils.test.js
  src/sources/shopify/webhookTransformations/serverSideUtlis.js
  src/sources/shopify/webpixelTransformations/pixelTransform.js
  src/sources/shopify/webpixelTransformations/pixelTransform.redisCartToken.test.js
  src/sources/shopify/webpixelTransformations/pixelUtils.js
  src/sources/shopify/webpixelTransformations/pixelUtils.test.js
  src/util/redis/redisConnector.test.js
  src/v1/sources/shopify/transform.js
Due: js

chore: mask secrets in headers 2 (#4142)
  src/v0/destinations/profitwell/utils.test.js
  test/integrations/common/secrets.ts
  test/integrations/destinations/active_campaign/network.ts
  test/integrations/destinations/active_campaign/processor/data.ts
  test/integrations/destinations/algolia/dataDelivery/constant.ts
  test/integrations/destinations/algolia/processor/data.ts
  test/integrations/destinations/algolia/router/data.ts
  test/integrations/destinations/autopilot/processor/data.ts
  test/integrations/destinations/autopilot/router/data.ts
  test/integrations/destinations/clicksend/dataDelivery/data.ts
  test/integrations/destinations/clicksend/network.ts
  test/integrations/destinations/clickup/maskedSecrets.ts
  test/integrations/destinations/clickup/processor/data.ts
  test/integrations/destinations/clickup/router/data.ts
  test/integrations/destinations/dynamic_yield/processor/data.ts
  test/integrations/destinations/iterable/deleteUsers/data.ts
  test/integrations/destinations/iterable/network.ts
  test/integrations/destinations/lytics/processor/data.ts
  test/integrations/destinations/mailmodo/processor/data.ts
  test/integrations/destinations/mailmodo/router/data.ts
  test/integrations/destinations/mp/deleteUsers/data.ts
  test/integrations/destinations/ometria/processor/data.ts
  test/integrations/destinations/ometria/router/data.ts
  test/integrations/destinations/ortto/processor/data.ts
  test/integrations/destinations/ortto/router/data.ts
  test/integrations/destinations/persistiq/processor/data.ts
  test/integrations/destinations/persistiq/router/data.ts
  test/integrations/destinations/profitwell/maskedSecrets.ts
  test/integrations/destinations/profitwell/processor/data.ts
  test/integrations/destinations/profitwell/router/data.ts
  test/integrations/destinations/signl4/processor/data.ts
  test/integrations/destinations/signl4/router/data.ts
  test/integrations/destinations/singular/processor/data.ts
  test/integrations/destinations/singular/router/data.ts
  test/integrations/destinations/sprig/deleteUsers/data.ts
  test/integrations/destinations/sprig/maskedSecrets.ts
  test/integrations/destinations/sprig/network.ts
  test/integrations/destinations/sprig/processor/data.ts
Due: js

fix(destination): use coql api to delete record for zoho (#4134)
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/transformRecordV2.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/common.ts
  test/integrations/destinations/zoho/network.ts
  test/integrations/destinations/zoho/router/deletion.ts
Due: js

fix: marketo get auth token cache issue (#4140)
  src/v0/destinations/marketo/networkHandler.js
  src/v0/destinations/marketo/transform.js
  src/v0/destinations/marketo/util.js
  src/v0/destinations/marketo/util.test.js
  src/v0/destinations/marketo_static_list/networkHandler.js
  src/v0/destinations/marketo_static_list/transform.js
  src/v0/destinations/marketo_static_list/transformV2.js
  src/v0/destinations/marketo_static_list/util.js
  src/v0/util/index.js
  test/integrations/destinations/marketo_static_list/processor/data.ts
  test/integrations/destinations/marketo_static_list/router/data.ts
Due: js

chore: shopify redis test cases moved to source
  src/services/__tests__/misc.test.ts
  src/sources/shopify/tracker/shopify_redis.util.test.js
  test/integrations/component.test.ts
Due: js, ts

chore: truffleignore for false positives
  .truffleignore
Due: none

fix: types
  src/types/controlPlaneConfig.ts
  src/types/destinationTransformation.ts
  src/types/index.ts
  src/types/rudderEvent.ts
  src/types/sourceTransformation.ts
  src/types/userTransformation.ts
  src/v0/destinations/customerio_audience/type.ts
  src/v0/destinations/ga4_v2/transform.ts
Due: ts

chore: add zod schemas
  src/types/destinationTransformation.ts
  src/types/index.ts
  src/types/rudderEvent.ts
  src/types/rudderEvents.ts
  src/types/userTransformation.ts
  src/v0/destinations/customerio_audience/transform.ts
  src/v0/destinations/customerio_audience/type.ts
Due: ts

chore: fix allure workflow
  .github/workflows/allure-test-reporter.yml
Due: none

chore: test cases fixed to pass trufflehog
  .truffleignore
  test/integrations/destinations/emarsys/constants.ts
  test/integrations/destinations/emarsys/dataDelivery/data.ts
  test/integrations/destinations/emarsys/deleteUsers/data.ts
  test/integrations/destinations/emarsys/network.ts
  test/integrations/destinations/emarsys/processor/data.ts
  test/integrations/destinations/emarsys/router/data.ts
  test/integrations/destinations/hs/network.ts
  test/integrations/destinations/hs/processor/data.ts
  test/integrations/destinations/hs/router/data.ts
  test/integrations/destinations/one_signal/processor/data.ts
  test/integrations/sources/refiner/data.ts
Due: none

chore: missing digest when push is false fix
  .github/workflows/build-push-docker-image.yml
Due: none

chore: false positives in system files
  .truffleignore
Due: none

fix: add test for mergeCustomAttributes
  src/v0/destinations/moengage/transform.js
  src/v0/destinations/moengage/transform.test.js
Due: js

chore: fix allure workflow (#4144)
  .github/workflows/allure-test-reporter.yml
Due: none

fix: add test for destination endpoint
  src/v0/destinations/moengage/transform.js
  src/v0/destinations/moengage/transform.test.js
Due: js

chore: update tagged participants in gh new release workflow (#4138)
  .github/workflows/publish-new-release.yml
Due: none

chore: update hotfix release workflow actors
  .github/workflows/create-hotfix-branch.yml
Due: none

chore: update release workflow actors
  .github/workflows/create-hotfix-branch.yml
  .github/workflows/draft-new-release.yml
Due: none

fix: wrong method during update call when dont batch true
  src/v0/destinations/hs/HSTransform-v2.js
  src/v0/destinations/hs/util.js
  test/integrations/destinations/hs/processor/data.ts
  test/integrations/destinations/hs/router/data.ts
Due: js

fix: wrong method during update call when dont batch true (#4146)
  src/v0/destinations/hs/HSTransform-v2.js
  src/v0/destinations/hs/util.js
  test/integrations/destinations/hs/processor/data.ts
  test/integrations/destinations/hs/router/data.ts
Due: js

chore(release): 1.92.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: test secret scanning
  test/integrations/destinations/am/batch/data.ts
  test/integrations/destinations/am/dataDelivery/data.ts
  test/integrations/destinations/am/deleteUsers/data.ts
  test/integrations/destinations/am/processor/data.ts
  test/integrations/destinations/am/router/data.ts
Due: none

fix: use masked secret
  src/v0/destinations/moengage/transform.js
  test/integrations/destinations/moengage/processor/data.ts
Due: js

chore: platform argument for right image build
  .github/workflows/build-push-docker-image.yml
Due: none

chore: fixing hs component test to use masked secret
  test/integrations/destinations/hs/router/data.ts
Due: none

fix: addressing comments
  src/sources/facebook_lead_ads/transform.ts
  src/v0/util/index.js
  src/v0/util/index.test.js
  test/integrations/sources/facebook_lead_ads/data.ts
Due: js, ts

chore: fixing hs component test to use masked secret (#4150)
  test/integrations/destinations/hs/router/data.ts
Due: none
